[2017-12-22 07:39] #347 closed

[2018-01-03 18:00] ioskunal opened #352 "Max attachment size is different every time."
- SDK version: 1.11.2.1
- Xcode version: 9.0
- iOS or Simulator: Simulator
- iOS Version: 9.0
- Swift version: 3

Steps to Reproduce:

1. Click on Add attachment
2.Select a photo
3. Pops up comes up as `Max attachment size is 1.7 MB`
 The max limit keeps on changing every time I select another photo.

[2018-01-04 14:06] baz8080 commented on #352
Hi @ioskunal

Thanks for reporting this. It's a bug. We use that string in two places, and in one it uses the actual image size and in the other it uses the maximum attachment size. I've created an issue to track this internally.

[2018-01-04 15:55] ioskunal commented on #352
Thanks @baz8080 , Please update and close it. This is very very critical.Thanks for your quick response. Its appreciated.

[2018-01-04 16:15] baz8080 commented on #352
@ioskunal We'll look at fixing it in the next release. We're currently working on a major update, and it's unlikely we'll release a patch for this before that because it's not a crash.

[2018-01-06 04:08] ssshen opened #353 "actionSheet is under keyboard, but keyboard can't hide"
- SDK version: 1.11.2.1
- Xcode version: 9.2
- iOS or Simulator: iphone6s
- iOS Version:11.2
- Swift version: OC

Steps to Reproduce:

1. install sdk

2.enter support center, new ticket, click attach file button

![img_3543](https://user-images.githubusercontent.com/28528399/34636364-3bbe84a2-f2da-11e7-9d70-e37826d23c3c.PNG)

actionSheet is under keyboard, but keyboard can't hide

[2018-01-08 03:05] ssshen commented on #353
OMG，my version is 1.10.0.1. I'm sorry to trouble you

[2018-01-08 03:05] #353 closed

[2018-01-16 10:28] divo commented on #350
@ce98118mir @platedbay This was a mistake on our part. Confusion on where to document this change resulted in it not being documented at all. Our sincere apologies for letting this slip through the cracks.

We have added a note to the [integration documention](https://developer.zendesk.com/embeddables/docs/ios/set_an_identity)

[2018-01-19 03:05] zoxin opened #354 "There is a "Contact us" still exist with ZDKContactUsVisibilityOff"
- SDK version:1.11.2.1
- Xcode version:9.1
- iOS or Simulator:IOS
- iOS Version:
- Swift version:

Steps to Reproduce:

1. disable ContactUs function, we don't need this
-(ZDKContactUsVisibility)active {
    return ZDKContactUsVisibilityOff;
}
2.search something that does not exist in help center. There is a "Contact us" in the result page. It's should not exist.

[2018-01-19 10:12] RonanMcH commented on #354
Hi @zoxin ,
To hide the the "contact us" in the empty search you set a bool on the `ZDKHelpCenterOverviewContentModel` like so:
[code]
Hope this helps,
Ronan

[2018-01-22 03:50] zoxin commented on #354
@RonanMcH Thanks 👍

[2018-01-22 14:28] #354 closed

[2018-01-23 11:31] tecknut commented on #339
Hey @rhaining,

This has been sitting here for some time without an update, apologies for that.

Would it be possible for you to share the navigation bar subclass? It may go a ways to helping us reproduce the issue here.

Thanks,
Alan

[2018-01-25 19:51] welshm commented on #350
What does this mean for end users who are agents or administrators for other Zendesk accounts? Or does it only affect agents/admins of the target support account?

[2018-01-26 09:53] divo commented on #350
@welshm Its per account so agents will still be able to create tickets in other Zendesk instances.

[2018-01-26 09:58] divo commented on #339
@rhaining It looks like this was introduced when the SDK was patched for the iPhone X. Setting `isTranslucent = true` on the navigation bar results in an error in our layout. We hope to patch this in the next month or two.

[2018-01-26 15:38] rhaining commented on #339
thanks @divo

[2018-01-27 03:53] Alonsoo opened #355 "Ticket failed to send"
- SDK version: 1.11.2.1
- Xcode version: 9.2
- iOS or Simulator: Both
- iOS Version: Any
- Swift version: 4

Every time I try to send a ticket, an error banner saying "Ticket failed to send" appears.

Steps to Reproduce:
1. Initialize SDK in app delegate:
[code]
This code was copied and pasted from the Zendesk admin site (with our app id, url and client id of course)

2. Identify User:
[code]

3.

[2018-01-29 12:31] eepDev commented on #355
Hi @Alonsoo,

One reason why ticket submission fails might be due to setting an identity with email address that belongs to an agent. More info here; https://support.zendesk.com/hc/en-us/articles/360000040167-Why-do-all-requests-from-the-Mobile-Support-SDK-suddenly-fail-with-a-403-Forbidden-error-code-. If that's not the case, can you please include the full log output.

Thanks,
Elvis

[2018-01-30 10:36] RonanMcH commented on #355
Hi @Alonsoo ,
We see this error sometimes when changing authentication type within an app.  Usually a simple deletion of the app from the simulator or phone and a clean reinstall will fix this error. Can you let us know if this solves the issue and then we can do a little more of a deep dive into the issue?
Thanks,
Ronan.

[2018-01-30 10:37] RonanMcH commented on #351
Hi @Bashta ,
just wanted to follow up again and see if this issue still persists for you?
Thanks,
Ronan.

[2018-01-31 14:51] harrygt commented on #249
Any news on this?

[2018-02-01 11:22] batjo commented on #300
I'm running into the same issue, do you remember how you fixed it?

[2018-02-01 18:22] Alonsoo commented on #355
Hi, thanks for responding,
I am using an email address that does not belong to an agent and the problem persists, deleting the app from the device and reinstalling did not work either.
These are all the logs I'm getting:

[code]

I know the first set of warnings are there because I installed Zendesk in both a dynamic framework and my app target, so far that hasn't been a problem with any of the ot

[2018-02-03 21:23] AnujD7781 commented on #300
@batjo I had an Obj-C category for UITextView to add placeholder text, which caused this issue to occur. I believe it was interfering with Zendesks own placeholder logic. Tested after removing that call and it started working just fine.

[2018-02-04 18:40] ReeceHumphreys opened #356 "ZDKHelpCenter data not displaying on iPhone X"
- SDK version: 1.11.2.1
- Xcode version: 9.2
- iOS or Simulator: Simulator
- iOS Version: 9.2
- Swift version: 4

Steps to Reproduce:

1. Setup Zendesk integration through Fabric.
2. Launch help center integration with
ZDKHelpCenter.presentOverview(controller, with: ZDKHelpCenterOverviewContentModel.defaultContent())

Currently, no spinner is displayed and none of the articles appear on iPhone X r

[2018-02-05 11:25] baz8080 commented on #249
Hi All,

A fix for iOS is not available just yet, but it is fixed in the 2.0 beta of the Android SDK, which has been available since mid December. If you'd like to have a look at that, it's here: https://support.zendesk.com/hc/en-us/community/posts/115010033908-Start-here-Zendesk-Support-Mobile-SDK-v2-beta

We don't give exact ETAs, but the GA of 2.0 is getting quite close now.

[2018-02-05 13:09] Bashta commented on #351
We have updated the SDK and it is not happening anymore.

[2018-02-06 13:18] patrick-doyle commented on #356
I have had a look at this issue and was unable to recreate it. Is it happening consistently? Can you enable logging for zendesk and see what is being logged?

[2018-02-07 18:04] divo commented on #355
@Alonsoo the logs indicate an identity is not being set. Can you share all the files where you interact with the SDK? It may be best open a ticket at support.zendesk.com to do this.

[2018-02-07 18:06] divo commented on #351
@xGoPox are you still seeing this issue?

[2018-02-07 18:07] divo commented on #249
@JeromeRiiot At the moment there is no plan for an iOS beta but 2.0 is on the way for both platforms.

[2018-02-07 19:55] JeromeRiiot commented on #249
Ok, Thanks.

[2018-02-07 21:24] charles-packer commented on #351
I have the latest SDK and I'm seeing this issue.

[2018-02-07 23:58] amtung commented on #356
@patrick-doyle I have a similar issue, I'm currently testing in sandbox mode. For iPhoneX, help center shows up as blank. But it works perfectly fine in versions 9.3 & 10.3.1 & 11.2 on other devices.

This is the log when launching in iPhoneX, what I don't understand is the Help Center is activated, but is not showing only for the X.

`2018-02-07 18:54:17.449230-0500 talktala[33754:5010433] hello

[2018-02-08 10:46] RonanMcH commented on #356
Hi @amtung,
I continued to try replicate this issue and couldn't succeed in reproducing it. From the logs, it says "Help Center is disabled. Cannot show the view." but I'm guessing you have it enabled it since it works on other devices. We cache settings for one hour on device so it is possible that if you had Help Center disabled when you deployed it onto the iPhoneX and it has cached the Help Ce

[2018-02-08 11:38] baz8080 commented on #351
@charles-packer

1. Are you using the standard or preview build system?
2. Can you verify that all of the SDK bundles are in your app bundle?

[2018-02-08 14:55] amtung commented on #356
@RonanMcH Got cha, it works now - thanks so much!

[2018-02-08 15:09] ReeceHumphreys commented on #356
@RonanMcH It is working now for me too. I believe you were correct with the caching the help center settings. Thanks again for confirming.

[2018-02-08 15:09] #356 closed

[2018-02-14 10:42] tecknut commented on #355
Hey @Alonsoo, just following up on this.

Have you made any progress? Do you need anything else?
Thanks,
Alan

[2018-02-14 10:43] tecknut commented on #351
Hey @charles-packer are you still experiencing this?

[2018-02-15 01:07] Alonsoo commented on #355
I haven't made any progress on this sadly :( . Sorry for taking so long to answer, I haven't been able to work on this issue for a few days. Unfortunately I cannot share those files. But I will try to replicate the issue in a sample project and share it with you as soon as I can. Thanks for all the help, and I will let you know as soon as I find anything.

[2018-02-16 10:47] divgunsingh commented on #355
I was facing the same issue, just add Zendesk pod in the Flint_Library or in the Flint App.
Adding pod to both of them causes problems in the zendesk sdk.

[2018-02-19 11:34] iDevo commented on #351
Hi there! I've the same issue. In my case it depends between simulator (which is working just fine) and testing the App / SupportCenter on any iPhone, example iPhone X with 11.2.5 installed.
I'm also using the latest version of the SDK installed via CocoaPods and set up with anonymous login using Swift 4:

[code]

[2018-02-19 13:26] divo commented on #351
@iDevo
Are you using XCode 9.3 beta? Are you using the preview build system too?

[2018-02-19 15:01] iDevo commented on #351
@divo I‘m using the standard xCode 9.2 from the AppStore (build: 9C40b)

[2018-02-20 13:29] RonanMcH commented on #351
@iDevo , this loop can also happen when the `xib`s we ship for Help Center aren't included in your app correctly. We ship these in `ZendeskSDK.bundle`.  Can you check the contents of your built app to ensure this bundle is in there and let us know?

[2018-02-20 17:13] iDevo commented on #351
Hi @RonanMcH thank you for your answer. Yes I can confirm, that the `ZendeskSDK.bundle` and `ZendeskSDKStrings.bundle` is located in the archive. The path is:
`MyApp.xcodearchive  >  Products  >  Applications  >  MyApp.app  >  ZendeskSDK.bundle`

[2018-02-20 19:36] ioskunal commented on #352
Do you have any estimate by when you would be able close this issue?

[2018-02-21 14:01] baz8080 commented on #352
Hi @ioskunal We'll look at it in a patch when we GA version 2 of the SDK. It is expected soon, but I can't give an ETA now.

[2018-02-21 14:10] baz8080 commented on #355
@divgunsingh Do you need to add the Zendesk pod to both projects? Does Flint App depend on Flint_Library? If so, can you just add it to Flint_Library, and use it from there?

[2018-02-21 15:00] divgunsingh commented on #355
@baz8080
Zendesk pod should be added to only one project , either library or app project.
I added pod in the my application project then the zendesk UI was working fine.

[2018-02-21 15:47] baz8080 commented on #355
@divgunsingh Thanks, I was wondering if that's what you meant, or if you wanted to add it to both :)
Hopefully this helps @Alonsoo

[2018-02-21 16:14] baz8080 commented on #351
@iDevo Thanks for the additional information. We can only reproduce this locally when the nibs or xibs are not present. For us it doesn't make a difference if we're deploying to a device or a simulator. I'll leave the issue open so others can get some ideas, and so we can try to get more data on the issue.

[2018-02-22 03:33] ioskunal commented on #223
Have you fixed this issue?
Because my app asks for the camera permission but still does not ask for the permission while accessing photos.

[2018-02-26 19:56] Alonsoo commented on #355
@divgunsingh Removing the Zendesk pod from Flint_Library worked like a charm. Again, sorry for taking so long. Anyway, I did need the pod in both projects at first, but I just made some simple changes and removed the pod from the library target and everything is working fine now.
Thanks for all the help!

[2018-02-26 19:56] #355 closed

[2018-03-01 11:43] divo commented on #351
@iDevo In your copy files build phase do you have "Copy only when installing" checked?

[2018-03-05 15:26] barfoon opened #357 "index 0 beyond bounds for empty array"
Seeing the following reported by Fabric:

- SDK version:
1.11.2.1
- Xcode version:
9.2
- iOS or Simulator:
iOS
- iOS Version:
iOS 11
- Swift version:
4

![image](https://user-images.githubusercontent.com/1120510/36983154-a5f99ba6-205f-11e8-94f6-b55f1e2a3f26.png)

![image](https://user-images.githubusercontent.com/1120510/36983169-ac0f4ef0-205f-11e8-8fef-1f3f2519ad29.png)

[2018-03-05 18:03] RonanMcH commented on #357
Hi @barfoon ,
Can you recreate this locally? Seems very common. If so, could you provide some recreation steps and we will do our best to track the issue?
Thanks,
Ronan.

[2018-03-05 20:51] barfoon commented on #357
Hey Ronan, thanks for the quick reply. Unfortunately I have not been able to reproduce this locally, but thought I'd pass along all the details we had.

[2018-03-13 18:45] creister commented on #330
@tecknut I didn't realize this was still open, sorry for not responding.

The view currently is a UITableView where sections are `ZDKCategory`s and rows are `ZDKSection`s.

To work around the limit on `getFlatArticlesWithCallback` I ended up fetching categories and sections for each separately. Would be nice to streamline with a single request however.

[2018-03-14 16:58] baz8080 commented on #330
@creister Thanks for the info. As @tecknut mentioned we've tracked this issue and will update here when it is fixed. Thanks!

[2018-03-20 15:20] tecknut commented on #350
@viccarre

Error Domain=ZDDispatcher Code=3 "(null)" UserInfo={zd_dispatcher_err=HTTP Error: 413}

Is it possible that the image file size on an iPhone 5s is less than the attachment file size max and the iPhone 8 file sizes for an image is larger? (assuming that the attachments you are uploading are photos)

[2018-03-23 20:38] QoT commented on #316
@lucianocn What was the problem?

[2018-03-30 13:16] tecknut commented on #357
Hey @barfoon we've released version 2 of the SDK. The release includes a new request UI.

This adds a much improved UI. Please check it out and update.

Thank you,
Alan

[2018-03-30 13:24] tecknut commented on #351
Hi @iDevo, we're closing this issue. We have just released version 2 of the SDK. This versions is a dynamic framework which is itself a bundle and contains all resources required. This issues should no longer occur.

FYI, It is currently still necessary to include the strings bundle.

Thanks,
Alan

[2018-03-30 13:24] #351 closed

[2018-03-30 13:38] tecknut commented on #352
Hey @ioskunal we have just released version 2 of the SDK which has resolved this issue.

Thank you,
Alan

[2018-03-30 13:38] #352 closed

[2018-03-30 13:41] tecknut commented on #346
Hey @zoxin we just released version 2 of the SDK.

This feature has been added. The request ui can be configured with a `RequestUiConfiguration` which has a `fileAttachments` property.

https://developer.zendesk.com/embeddables/docs/ios_support_sdk/configure

Thank you,
Alan

[2018-03-30 13:41] #346 closed

[2018-03-30 13:43] tecknut commented on #283
Hi @haydenholligan we just released version 2 of the SDK. This update resolves this issue.

Thank you,
Alan

[2018-03-30 13:43] #283 closed

[2018-03-30 13:44] tecknut commented on #321
Hi @jaz-ah we just released version 2 of the SDK which resolves this issue. The request UI has been completely reworked.

Thank you,
Alan

[2018-03-30 13:44] #321 closed

[2018-03-30 13:46] tecknut commented on #287
Hi @Laevand it's taken a while, but this issue is no longer present in the SDK. We've just released a big update which has completely reworked the request ui.

Please try it out and get back to us.

Thanks,
Alan

[2018-03-30 13:46] #287 closed

[2018-03-30 13:48] tecknut commented on #200
Hi @nikita-leonov we've just released version 2 of the SDK. We've reworked the request creation UI and commenting UI.

This issue is no longer present in the SDK.

Thanks,
Alan

[2018-03-30 13:48] #200 closed

[2018-03-30 16:51] baz8080 commented on #249
Hi All,

We have release version 2.0 of the SDK and it has a lot of improvements, including fixing the order of Help Center content. Please [check it out](https://developer.zendesk.com/embeddables/docs/ios_support_sdk/nutshell)

[2018-03-30 16:51] #249 closed

[2018-03-30 16:52] baz8080 commented on #315
I'm going to close this issue. We have released [version 2.0](https://developer.zendesk.com/embeddables/docs/ios_support_sdk/nutshell) and I'd advise you to check it out.

[2018-03-30 16:52] #315 closed

[2018-04-02 14:45] barfoon commented on #357
Thanks Alan

[2018-04-03 09:51] harrygt opened #360 "Module compiled with Swift 4.0.3 cannot be imported in Swift 4.1"
- SDK version: 2.0.0
- Xcode version: 9.3 (9E145)
- iOS or Simulator: iOS
- iOS Version: 11.3
- Swift version: 4.1

Steps to Reproduce:

1. Manually add latest SDK to project
2. Build
3. Receive error in the title

When will support for Swift 4.1 be added or is there a way to get around this for the time being?

[2018-04-03 14:28] georgbachmann opened #361 "HelpCenter isn't properly loading"
- SDK version: 1.11.2.1
- Xcode version: 9.3
- iOS or Simulator: Happening on both
- iOS Version: 11.3
- Swift version: 4.1, though this code is still written in ObjC

Steps to Reproduce:

1.
I want to open the help using the following lines of code:

      ZDKHelpCenterOverviewContentModel *contentModel = [ZDKHelpCenterOverviewContentModel defaultContent];
      [ZDKHelpCenter pushHelpCenterOverv

[2018-04-03 14:38] RonanMcH commented on #361
Hi @georgbachmann ,
enabling logging is detailed [here](https://developer.zendesk.com/embeddables/docs/ios/debug).
Let us know if you need anymore help.
Thanks,
Ronan.

[2018-04-03 14:52] JakubMazur commented on #360
I'm having the same issue, cannot really build project anymore because of this issue.

[2018-04-03 14:53] georgbachmann commented on #361
Hm... strange...

2018-04-03 16:51:55.193907+0200 xxx[3162:1424069] [DEBUG]: Response code [0x1c4019590]: 200
2018-04-03 16:51:55.194183+0200 xxx[3162:1424069] [DEBUG]: Request success: [0x1c4019590]: https://xxx.zendesk.com/hc/api/mobile/de/articles.json?sort_by=created_at&sort_order=desc&include=categories,sections&limit=5&per_page=1000
2018-04-03 16:51:55.195256+0200 xxx[3162:1424069] [INFO]: L

[2018-04-03 14:58] tecknut commented on #361
@georgbachmann Do you see anything in the response if you try the url in your browser? If you have an public HC you should be able to see raw json.

[2018-04-03 15:10] patrick-doyle commented on #360
Thanks for raising issue. We are currently working on it. We will update here when its available.

[2018-04-03 15:36] JakubMazur commented on #360
Thanks, @patrick-doyle in the meantime, I've created walkaround for this issue, so if @harrygt you want to use it: https://github.com/JakubMazur/zendesk_sdk_ios/tree/swift_4.1

[2018-04-04 06:08] georgbachmann commented on #361
Great... thank you for this hint... now we found the problem! Thank you very much!

[2018-04-04 06:08] #361 closed

[2018-04-04 10:26] shunkit opened #363 "RequestUi's textView doesn't work correctly in Japanese"
- SDK version: 2.0.0
- Xcode version: 9.2
- iOS or Simulator: iOS
- iOS Version: 11.2
- Swift version: 4.0.3

Steps to Reproduce:

1. Push RequestUi ViewController
[code]

2. Input some text with Japanese keyboard

[code]

3. Input text duplicates while editing

[code]

I think this problem is the same with below.
https://stackoverflow.com/questions/31430308/uitextview-attributedtext-with-japanese

[2018-04-04 13:04] divo commented on #363
@shunkit Thanks for reporting this. I have added a bug to our internal backlog. We are working fixing some small UI issues at the moment.

[2018-04-04 14:40] Sethmr opened #364 "I can't update to version 2.0.0"
Version 2.0.0 isn't available in the pod repo. Follow these steps to see issue.

1. In terminal type 'pod repo update'.
2. In terminal type 'pod search ZendeskSDK'
3. The RESULTS:

-> ZendeskSDK (1.11.2.1)
   Zendesk SDK 1.11.2.1
   pod 'ZendeskSDK', '~> 1.11.2.1'
   - Homepage: https://github.com/zendesk/zendesk_sdk_ios
   - Source:   https://github.com/zendesk/zendesk_sdk_ios.git
   - Versions:

[2018-04-04 14:44] divo commented on #364
@sethmr we have not yet published the release to Cocoapods. There are still some questions we need to answer surrounding the release of a Swift framework on Cocoapods.

[2018-04-04 15:26] divo commented on #360
@harrygt @JakubMazur We just released 2.0.1 with Swift 4.1 support.

[2018-04-04 15:26] #360 closed

[2018-04-11 10:05] datamaru opened #366 "Crash when opening RequestUIViewController in v2.0.0"
- SDK version: 2.0.0
- Xcode version: 9.3
- iOS or Simulator: iOS
- iOS Version: 11.1.2
- Swift version: 4.1

Steps to Reproduce:

1. Push RequestUI View Controller
`let requestScreen = RequestUi.buildRequestUi()
self.navigationController?.pushViewController(requestScreen, animated: true)`

It only happen with RequestUi.buildRequestUi(). I tried to use RequestUi.buildRequestList() and it opened ju

[2018-04-11 10:49] datamaru commented on #366
Zendesk log using `CoreLogger.logLevel = .debug`:
`"ios.ZDKRequests.createRequest.title" = "Contact us";`

There' nothing displayed when using `CoreLogger.logLevel = .error`

How to see the stack trace? Because there's nothing regarding the crash in the debugging console.

[2018-04-11 10:55] dcooper87 opened #367 "Custom help_center_article_style.css not working"
- SDK version: 2.0.1
- Xcode version: 9.3 (9E145)
- iOS or Simulator: Both
- iOS Version: 11.3 (Simulator) 10.0.2 (Device)
- Swift version: 4.1

Steps to Reproduce:

1. Add custom `help_center_article_style.css` per https://developer.zendesk.com/embeddables/docs/ios_support_sdk/customize_the_look#change-the-style-of-help-center-articles
2. Run app and select article. The article styling is ignorin

[2018-04-11 11:53] divo commented on #366
You need to enable logging as well as set the level.
https://developer.zendesk.com/embeddables/docs/ios_support_sdk/debug

[2018-04-11 17:10] satindar commented on #364
@divo Glad to hear you're working on the Cocoapods release! I was trying to build with Cococpods 1.5.0 and I'm seeing a few of these errors when trying to build static libraries:

`Include of non-modular header inside framework module 'ZendeskSDK.ZDKArticleViewController'`

That one is from `ZDKArticleViewController.h` on the import for `<ZendeskProviderSDK/ZDKHelpCenterConversationsUIDelegate.h>`

[2018-04-12 08:26] tecknut commented on #367
Can you confirm that the css file is being copied to your app bundle in your projects build phases?

[2018-04-12 08:43] dcooper87 commented on #367
Yeh - just double checked and it's definitely being copied.

[2018-04-12 12:50] iDevo commented on #351
Sorry for not getting back to you so long (busy time), I really appreciate your work guys! Thanks! 👌🏽

[2018-04-12 18:40] datamaru commented on #366
Sorry for the late reply. This is the full stack trace leading to the crash https://pastebin.com/H5aK4bS3

[2018-04-12 19:01] EugeneGordin2303 opened #368 "Update to V2 using PODS"
Hi guys, is it possible to update to v2 of the SDK using PODS?

I tried running pod update ZendeskSDK and it didn't work. It listed my current version as ZendeskSDK (1.11.2.1).

Are you planning on adding v2 update to PODS any time soon? Thank you

[2018-04-13 07:48] divo commented on #368
@EugeneGordin2303 please see https://github.com/zendesk/zendesk_sdk_ios/issues/364

[2018-04-13 07:48] #368 closed

[2018-04-13 08:17] tecknut commented on #366
Thanks for the update @datamaru, we're looking into this now. We'll update as we find out more information.

[2018-04-13 10:17] capecrawler opened #369 "Crashing when calling a search API from provider using an agent's email address"
- SDK version: 2.0
- Xcode version: 9.2
- iOS or Simulator: Simulator
- iOS Version: 11.2
- Swift version: 4.0

Steps to Reproduce:

1. Authenticate using an agent email address
2. Use provider to search for an article
3. Crash

[2018-04-13 15:10] bolshedvorsky commented on #366
I've got the same issue on iOS 11.3. RequestUIViewController crashes the app from both RequestUi.buildRequestUi() and RequestListViewController.

[2018-04-16 10:00] DrBreen opened #370 "ZDKCustomField is not filled in created issue if field type is dropdown and field value contains spaces"
- SDK version: 2.0.0
- Xcode version: 9.3
- iOS or Simulator: Reproducible on both.
- iOS Version: 11.3
- Swift version: 3.0

Steps to Reproduce:

1. In Zendesk agen console, create field with type "Drop-down"
2. Create two values, one without space in it, like "Complaint" and one with space, like "Technical Support"
3. Write minimum code needed to create ticket that contains the following: subjec

[2018-04-16 16:24] divo commented on #370
@DrBreen  Thanks for reporting this, I have added it to our backlog. We are currently working on a patch to the fix should be out in the coming weeks.

[2018-04-16 16:32] divo commented on #369
@capecrawler Thanks for reporting this. We do not allow users with agent emails in the SDK, please see [setting an identity](https://developer.zendesk.com/embeddables/docs/ios/set_an_identity#must-do-set-an-identity-authentication).

I am unable to replicate the crash, but I do get a stack trace. Can you post the stack trace you are seeing please?

[2018-04-16 16:51] divo commented on #366
@datamaru @bolshedvorsky Can you confirm you followed [the integration instructions?](https://developer.zendesk.com/embeddables/docs/ios_support_sdk/sdk_add)

There are a good few steps now, especially if your app is not already using Swift.

[2018-04-17 10:50] sheff1422 opened #371 "Integer literal 'xxxxxxxxxxxx' overflows when stored into 'Int'"
- SDK version: 2.0
- Xcode version: 9.3
- iOS or Simulator: Simulator
- iOS Version: 11.3
- Swift version: 4.0

Steps to Reproduce:

1. Try to set such config and compile
let hcConfig = HelpCenterUiConfiguration()
        hcConfig.groupType = .section
        hcConfig.groupIds = [123456789012]

[2018-04-17 15:01] Alak commented on #366
Same problem here. iOS 11.3, xcode 9.3 swift 4.1.

Happening on `RequestUi.buildRequestUi(requestId: "id")`

[2018-04-17 15:07] bolshedvorsky commented on #366
Yes, I followed the instructions. Our app is written in Swift 4.1, there were no issues with 1.x version of Zendesk SDK.

The RequestListViewController can be opened using ZendeskSDK 2.0.1, but the RequestViewController crashes.

I've got the same stack trace as https://pastebin.com/H5aK4bS3. As you can see from the stack trace it crashes inside of the ZendeskSDK: ZendeskSDK.RequestContainerReduce

[2018-04-17 15:58] bolshedvorsky commented on #366
This happens with Swift 4.1 as I'm not able to use Swift 4.0.2 or Swift 4.0 due to my project being compiled with Swift 4.1.

![screen shot 2018-04-17 at 16 57 19](https://user-images.githubusercontent.com/16137590/38881752-7851a77a-4260-11e8-9734-3e2d94c8967f.png)

[2018-04-17 15:59] bolshedvorsky commented on #366
I'm using an anonymous identity initialised with the name / email.

[2018-04-17 16:01] bolshedvorsky commented on #366
This request happens when I present the 'RequestUi.buildRequestList()' and tap on Start A Conversation button.

![screen shot 2018-04-17 at 17 00 41](https://user-images.githubusercontent.com/16137590/38881984-07de745e-4261-11e8-82b3-6ba6b80cfb3f.png)

[2018-04-17 16:02] divo commented on #366
@bolshedvorsky Can you enable Suas logging,  `SuasDebugLogger.enabled = true`,  and post the results please?

[2018-04-17 16:02] bolshedvorsky commented on #366
This was enabled, no logs, except for the line '[INFO]: Localization key and value : "ios.ZDKRequests.createRequest.title" = "Contact us";'

[2018-04-17 16:04] divo commented on #366
Suas logging should produce a torrent. Are you doing a debug build?

[2018-04-17 17:35] divo commented on #366
[be downloaded here ](url)

[2018-04-17 17:35] divo commented on #366
[be downloaded here ](url)

[2018-04-18 10:32] divo commented on #366
I have pulled 2.0.1 until we have a fix or a workaround

[2018-04-19 14:58] Alak commented on #366
any news about xcode 9.3 support ? @divo

[2018-04-19 14:59] divo commented on #366
We are working on it now. All going well it should be out next week. _All going well_

[2018-04-19 15:05] ahmetalsan opened #373 "incompatible versions of Swift"
- SDK version: 2.0.0
- Xcode version: Version 9.3 (9E145)
- iOS or Simulator:
- iOS Version:
- Swift version: Using Objective-C

Steps to Reproduce:

1. Add frameworks
2. Build
3. Xcode gives error:
Zendesk/ZendeskProviderSDK.framework/ZendeskSDKStrings.bundle/_CodeSignature/CodeSignature: Failed to parse Mach-O: Reached end of file while looking for: uint32_t.
error: The following binaries use in

[2018-04-20 02:57] dannyhertz commented on #373
@ronan-mch hey Ronan, curious if you had a soft ETA on Swift 4.1 compatibility? Thanks!

[2018-04-20 14:40] joaogouveia89 commented on #49
Having the same issue.

I'm initializing the SDK like

ZendeskConfig.INSTANCE.init(this,
                ZENDESK_URL,
                APP_ID,
                OAUTH_CLIENT_ID);

Identity identity = new AnonymousIdentity.Builder()
                .withNameIdentifier(name)
                .withEmailIdentifier(email)
                .build();

ZendeskConfig.INSTANCE.setIdentity(identity);

RequestProv

[2018-04-25 12:25] pkhbdb commented on #373
@RonanMcH Hi Ronan! I'll be rehiterating Danny's question here, but do you have an approximate ETA for Swift 4.1 compatibility ? Thank you !

[2018-04-25 13:05] RonanMcH commented on #373
Hi @dannyhertz and @pkhbdb ,
we are hoping to have a release out by end of next with Swift 4.1 compatibility.
Thanks,
Ronan.

[2018-04-25 13:09] pkhbdb commented on #373
Alright, thank you for your reply!
Alexandre

[2018-04-26 14:30] RonanMcH commented on #373
Hi @dannyhertz and @pkhbdb ,
We just released version 2.0.2 of the Support SDK with Swift 4.1 compatibility.
Thanks,
Ronan.

[2018-04-26 14:30] #373 closed

[2018-04-26 14:31] RonanMcH commented on #371
Hi @sheff1422 ,
We just published Support SDK version 2.0.2 with a fix for this issue.
Thanks,
Ronan.

[2018-04-26 14:31] #371 closed

[2018-04-26 14:34] divo commented on #366
We have release 2.0.2 with Swift 4.1 support

[2018-04-26 14:34] RonanMcH commented on #366
Hi @Alak , @bolshedvorsky and @datamaru,
We just released version 2.0.2 of the SupportSDK with Swift 4.1 (xcode 9.3) . This crash should not be present any more.
Thanks for your patience,
Ronan.

[2018-04-26 14:34] #366 closed

[2018-04-27 07:05] dannyhertz opened #375 "Selecting "Contact us" button (from any screen) causes enclosing NavController to dismiss itself"
- SDK version: 2.0.2
- Xcode version: 9.3
- iOS or Simulator: Sim
- iOS Version: 11.3
- Swift version: 4.1

Steps to Reproduce:

1.  Create overview VC
[code]

2. Click "compose" icon in top right nav bar

3. Click "start a conversation"

4. Enclosing Nav controller dismisses

[2018-04-27 08:17] divo commented on #375
@dannyhertz can you [enable logging](https://developer.zendesk.com/embeddables/docs/ios_support_sdk/debug) and post the output please?

[2018-04-27 15:01] dannyhertz commented on #375
@divo Ah intersting. It keeps complaining about no identity being set

[code]

However I am 100% setting an identity in the correct order like so

`        Zendesk.instance?.setIdentity(Identity.createAnonymous(name: "danny", email: "test@test.com"))
`

[2018-04-27 16:41] dannyhertz commented on #375
Looks like enabling the articles section in the zendesk dashboard made the error go away. A little strange but glad its working now.

[2018-04-30 18:30] jgavris opened #376 "RequestUi crashes when trying to attach media from photo library"
- SDK version: 2.0.2
- Xcode version: 9.3
- iOS or Simulator: iOS 11.3.1
- iOS Version: iOS 11.3.1
- Swift version: 4.1

Steps to Reproduce:

1. Build a RequestUi and run on a device. Tap the 'attach' paperclip, then the '...' button. The app will crash with an unexpected nil value in an optional.

![img_49fa919f8c89-1](https://user-images.githubusercontent.com/178749/39443560-fcfe50f0-4c82-11e8-8

[2018-05-01 08:33] divo commented on #376
@jgavris Have you [enabled iCloud permissions?](https://developer.zendesk.com/embeddables/docs/ios_support_sdk/sdk_add#add-icloud-permissions). We attempt to detect them and show the button only if they are enabled but there is no way to explicitly do this. An app will crash if the iCloud APIs are used without the proper permissions.

[2018-05-01 13:02] jgavris commented on #376
@divo Yes, this bundle identifier has all 3 iCloud services enabled (key-value storage, icloud documents, and cloudkit).

[2018-05-01 13:02] jgavris commented on #376
Also, what if we don't want / need CloudKit? Can we configure the request ui to just allow camera / photo roll?

[2018-05-01 13:13] divo commented on #376
We don't offer a way to disable iCloud sharing in the SDK. The idea is if the capability is available we display the button, if not we don't.

Can you post the logs you get from the crash? Please see [here to enable logging](https://developer.zendesk.com/embeddables/docs/ios_support_sdk/debug), although I'm more interested in the system logs, not the SDK logs.

Can you also take a look at `FileMan

[2018-05-01 15:24] sheff1422 opened #377 "Close button is present in the Help center which does nothing"
- SDK version: 2.02
- Xcode version: 9.3
- iOS or Simulator: Simulator
- iOS Version: 11.3
- Swift version: 4.1

Close button is present in the Help center which does nothing. http://prntscr.com/jce6ip
Is there a chance to have a config which removes it?

Steps to Reproduce:

1. TabBar based application
2. One of tabBarItem leads directly to help center
3. UINavigationController in viewDidAppear a

[2018-05-01 15:36] divo commented on #377
@sheff1422 Can you try embedding HelpCenter in another ViewController. Just nest it inside a controller inside your tabBarItem.

[2018-05-01 15:49] sheff1422 commented on #377
@divo Thanks for the hint but create ticket button is missing now http://prntscr.com/jcehhd

[2018-05-01 15:49] sheff1422 commented on #371
@RonanMcH Updated to 2.02 and the issue is still there while archiving.

[2018-05-02 10:44] brendan-fahy commented on #377
Hey @sheff1422, this looks like a feature gap on our side. We're looking into it to see if we can find a workaround for you, or whether it'll require a code change from us.

[2018-05-02 10:55] brendan-fahy commented on #375
Hey @dannyhertz, the lack of an identity would definitely explain why the screen was dismissing itself, as the SDK can't really function without one. Are you still seeing those logs regarding no identity being set? The fix here is more likely to be related to the identity than to toggling Help Center in the dashboard, but it would be good to be sure.

[2018-05-02 17:44] sheff1422 commented on #377
@brendan-fahy  Thank you. Will be looking forward for some further info from you

[2018-05-03 09:51] tecknut commented on #377
Hey @sheff1422,

We have a workaround which might work for you.

[code]

Can you try this and let us know if your happy with it?

Thank you,
Alan

[2018-05-03 11:32] sheff1422 commented on #377
@tecknut  Thanks for this hint. I created smth similar but without observer and button returns back each time when i am returning back from some article in help center.  I will try this one and give you the feedback !

[2018-05-03 11:54] sheff1422 commented on #377
@tecknut Works like a charm. Thank you!

[2018-05-03 11:55] sheff1422 opened #378 "Integer literal 'xxxxxxxxxxxx' overflows when stored into 'Int' [still present in 2.02]"
#371 still a problem in 2.02. Please reopen it.

[2018-05-04 13:02] baz8080 commented on #350
I'm going to close this issue. We needed to prevent agents from using the SDK to mitigate a security issue.

[2018-05-04 13:02] #350 closed

[2018-05-04 14:20] divo commented on #371
@sheff1422 Can you try passing `123456789012` as an `NSNumber` and not an `Int`?

[2018-05-04 14:26] baz8080 commented on #378
@sheff1422

I'm not a Swift/iOS dev*, but I think this should work.

[code]

* The SDK devs do rotating support (Android, iOS, repeat).

[2018-05-05 04:10] adamtait opened #379 "ZendeskSDK compiled with older version of Swift language (4.0)"
- SDK version: 4.0.2
- Xcode version: 9.3
- iOS or Simulator: N/A
- iOS Version: 11.2
- Swift version: 4.1

Steps to Reproduce:

1. Create a new xcode project. iOS app. Swift
2. follow directions from https://developer.zendesk.com/embeddables/docs/ios_support_sdk/sdk_add#objective-c-adding-the-support-sdk-manually-in-xcode
3. Build
4. Profit! - with a linker error.

Linker error: `ZendeskSDK.frame

[2018-05-05 04:14] adamtait commented on #379
I found [another issue that suggested version 4.0.1 was compiled with Swift 4.1](https://github.com/zendesk/zendesk_sdk_ios/issues/360). Something must have happened to 4.0.2, I guess.

[2018-05-05 04:35] adamtait commented on #379
Ah, your Github release versions don't match the SDK versions. That's confusing.

I was able to build the project using the 2.0.2 release with the 4.1 SDK (but not with the 4.0.2 SDK).

[2018-05-05 04:35] #379 closed

[2018-05-08 10:46] eepDev commented on #377
Glad to hear it worked!
We created a JIRA story to track this issue internally and address it. Please keep an eye out on our release notes for further updates!
I'm going to close this issue for now.

Thanks,
Elvis

[2018-05-08 10:46] #377 closed

[2018-05-08 14:27] divo commented on #376
@jgavris Sorry for the delay, we do support duty on a rotating basis.

I was able to recreate the crash. The fix is to set to set `UINavigationBar.appearance().tintColor`. This is because we are attempting to fix an issue in `UIDocumentPickerViewController`. Unfortunately `tintColor` is implicitly forced unwrapped for us so if it's not set we crash when we access it.

Thank you for bringing this t

[2018-05-09 14:19] divo commented on #376
@jgavris we have just released 2.0.3 to fix this issue.

[2018-05-09 14:42] jgavris commented on #376
Thanks! Will try it out. When will it hit cocoapods? I would recommend adding your framework binaries as git LFS files. I noticed this repo is quite large as we've added it as a submodule since it's not available on cocoapods.

[2018-05-09 14:58] divo commented on #376
We haven't released 2.0 on Cocoapods yet because of a few things we were unsure of. I'm looking at it now. Let us know how you get on with 2.0.3 anyway.

[2018-05-09 15:37] divo commented on #376
Ok, it's on CocoaPods

[2018-05-09 15:37] divo commented on #364
We have just released SDK 2.0 to Cocoapods

[2018-05-09 15:37] #364 closed

[2018-05-09 16:02] jgavris commented on #376
Perfect thanks!

[2018-05-09 16:02] #376 closed

[2018-05-09 19:19] jeffremer opened #382 "Swift stdlib tool throws a warning while processing ZendeskSDKStrings.bundle"
I'm observing a warning coming from build step where `builtin-swiftStdLibTool` scans and signs binaries. I'm fairly certain I have things set up according to the integration instructions.

[Here's a sample project](https://github.com/jeffremer/ZendeskWarning) showing the warning.

- SDK version: 2.0.2
- Xcode version: 9.3
- iOS or Simulator: iPhone X device and any iPhone simulator
- iOS Version:

[2018-05-10 09:49] divo commented on #382
@jeffremer we released 2.0.3 yesterday, it does not emit this warning.

I don't know what caused it or what fixed it. It _looks_ like it's due to something in the toolchain, not the SDK. It does seem harmless and it's no longer an issue so I'm going to close this.

Thank you for reporting this and taking the time to create a project that reproduces the issue. It was very helpful in verifying 2.0.3

[2018-05-10 09:49] #382 closed

[2018-05-10 09:57] divo commented on #367
We have a fix for this and plan to release a patch for this and other small issues in the coming weeks.

[2018-05-10 09:58] divo commented on #341
I'm going to close this as it was handled in a ticket.

[2018-05-10 09:58] #341 closed

[2018-05-10 10:02] divo commented on #332
Going to close this. The SDK API is correct, and the compiler won't accept an integer literal if it is longer than 32 bits. The compiler needs a little hint to use the correct type.

[2018-05-10 10:02] #332 closed

[2018-05-11 13:28] arshiacont opened #383 "RequestUI crash on bad audio attachment"
- SDK version: 2.0.3
- Xcode version: 9.3
- iOS or Simulator: Simulator iPhone 6
- iOS Version: 11.3
- Swift version: 4

Steps to Reproduce:

Using API Provider to (successfully) submit a Support Ticket with 3 attachments (2 audio files and 1 txt file). Agent responds to the message. Attempting to go Zendesk UI with RequestList. Openning this specific conversation thread results to systematic cras

[2018-05-11 14:00] patrick-doyle commented on #383
HI,

Taking a look at this and we cant reproduce it in our UI. Can you add the code that uses the provider to create ticket and attachments? Also can you link a file that causes the crash?

Thanks

[2018-05-11 14:28] arshiacont commented on #383
@patrick-doyle I just found the cause of the error: It is caused (on the iOS UI) if an [audio] attachment has "bad" content such as the corrupted audio file. If as an agent I attach this to a response, it'll cause the UI to crash (whether the corrupted file comes from Agent or User it's the same result).

(I compressed the .wav file here to pass)
[solo_687_2018-05-11-13-21-57.wav.zip](https://gith

[2018-05-11 21:58] mad102190 commented on #277
This happens to me as well. Most devices/users can access it fine, however some can **never** connect and others connect intermittently. We've verified that this isn't due to a network issue. We have plenty of content in our Help Center and for the most part it works ok, but we need to figure out why this is happening to some users, preventing them from EVER seeing the help center in our app.

[2018-05-14 10:39] divo commented on #383
@arshiacont I can replicate the bug and have a fix on master. The bug isn't specifically for corrupted files and has a very low probability of happening, you just happened to be unlucky. Thank you for reporting it.

We will patch it in the coming weeks.

[2018-05-14 13:30] arshiacont commented on #383
Thank you @divo ! We will put 2.0.3 in production on our side and looking forward to the next Pod update.

[2018-05-14 15:15] cgilboy opened #384 "iPad modal (formsheet) presentation causes search bar layout problem"
- SDK version: 2.0.3
- Xcode version: 9.3.1
- iOS or Simulator: 11.3 sim
- iOS Version: 11.3
- Swift version: 4.1

Steps to Reproduce:

1. Present help center UI as modal formsheet
2. Tap search bar to bring up keyboard

Expected: Search bar maintains reasonable margins
Actual: Search bar becomes adjacent to top of modal view without any margin.

<img width="418" alt="screen shot 2018-05-14 at 11

[2018-05-15 15:11] xanexpt commented on #49
any news about this issue? I'm also getting http 450 when trying to submit a new support ticket

[2018-05-16 15:29] tecknut commented on #384
Hi @cgilboy,

This has been the expected functionality since this feature was introduced.

We can surface an api for disabling the search controller from hiding the navigation bar. If you would like this please submit a feature request [here](https://develop.zendesk.com/hc/en-us/community/topics/360000018828-Mobile-SDKs).

Thank you,
Alan

[2018-05-18 18:42] welshm opened #385 "Providers pod spec doesn't have Core as a dependency"
- SDK version:
2.0.3

- Xcode version:
9.3.1

- iOS or Simulator:
Not applicable

- iOS Version:
Not applicable

- Swift version:
Objective-C

Steps to Reproduce:

Use pod 'ZendeskSDK/Providers', '2.0.3' in your podfile.

Can't use the SDK unless I also add
pod 'ZendeskSDK/Core', '2.0.3'

[2018-05-21 07:47] anta-semenov opened #386 "Custom ticket fields are empty on iOS"
- SDK version: 1.11.2.1
- Xcode version: 9.3.1
- iOS or Simulator: both Simulator and iPhone 8
- iOS Version: 11.3
- Swift version: use Objective-C code

Steps to Reproduce:

1. Set up ticket fields in Zendesk agent (Text type)
2. Select `Editable for end-user` permissions
3. Set custom ticket fields with code
[code]
We use react-native and path fields as Dictionary from JS side.
4. Send a ticket

[2018-05-22 11:21] fenroar opened #387 "Hiding contact button from article view controllers"
- SDK version:
2.0.3

When presenting a view controller instantiated by a ZDKHelpCenterArticle, is there a way to hide the contact button on the navigation bar?

<img width="375" alt="screen shot 2018-05-22 at 12 20 57" src="https://user-images.githubusercontent.com/1408640/40359433-a0f77356-5dba-11e8-9855-ee37ba50cd0a.png">

[2018-05-22 12:03] KillianSmith0 commented on #387
Hi @fenroar, thanks for reaching out.
We have come across this issue before, and have it in our backlog. Here is a [suggested workaround](https://github.com/zendesk/zendesk_sdk_ios/issues/377#issuecomment-386244051), that might help you for now. Although you will need to replace `leftBarButtonItem` with `rightBarButtonItem`, to remove the contact button.

Don't hesitate to follow up with questions

[2018-05-22 12:09] parth51 commented on #350
Do we have any solution for this issue? We are using v1 ZENDESK SDK. We have almost 20+ testers account with agent email address. Can't we use that for Zendesk?

[2018-05-22 12:22] KillianSmith0 commented on #386
Hi @anta-semenov,

Can you ensure that the `customFields` keys match the FieldID of the desired field from your instance of Zendesk support settings?
<img width="1200" alt="screen shot 2018-05-22 at 13 17 16" src="https://user-images.githubusercontent.com/11029499/40361897-bbd1223c-5dc2-11e8-9249-badae7c9e6c0.png">

Also here is a [sample app (Swift)](https://github.com/zendesk/ios_sdk_demo_apps/t

[2018-05-22 12:25] KillianSmith0 commented on #386
Also @anta-semenov, these fieldID's generally tend to be a very high number, I can see you're using `key.intValue`, you may want to make sure it doesn't have an integer overflow, maybe with `key.longValue`?

[2018-05-22 12:32] KillianSmith0 commented on #385
Hi @welshm, thanks for reaching out.

Our `ZendeskSDK/Providers` pod depends on the `ZendeskSDK/Core` pod. Core contains Authentication and instantiation of the SDK. Without it the providers won't be able to access your instance of Zendesk.

I'm going to close this ticket as it's not an issue, any further questions, feel free to open it again.

[2018-05-22 12:34] welshm commented on #385
[code]

Does not contain

`ss.dependency 'ZendeskSDK/Core'`

[2018-05-22 12:40] KillianSmith0 commented on #385
Hi @welshm, thanks for getting back to us, and finding this issue, we'll make the required changes and get back to you as soon as.

[2018-05-22 12:43] welshm commented on #385
@KillianSmith0 No worries! Thanks for taking a look at this. If there's a reason that it can't be a dependency, that's fine too. Just took me a while scratching my head trying to figure out why it didn't work (as it will fail if you just follow the SDK installation instructions provided on the Zendesk website - which say you can just use the Providers subspec)

[2018-05-22 13:20] KillianSmith0 commented on #385
@welshm
No problem, you're right it should be a dependency, it was a good spot! We've updated the podspec in the repo.
However, Cocoapods will not allow us to update the Pod without bumping the version number. We are currently working on a patch for the SDK, and the fix for this will be included. Unfortunately that means you will have to include the `Core` pod also. Hopefully this doesn't cause a

[2018-05-22 15:18] hamdshah opened #389 "Pod not found for 2.0.0"
I wanted to import version 2.0.0 because currently we are on swift version 4.0 but the latest version is compiled using 4.1. But cocoapod can't find the version 2.0.0.
Any workaround to import it in swift 4.0 ?

- SDK version: 2.0.0
- Xcode version: 9.2
- iOS or Simulator:
- iOS Version: 10.0
- Swift version: 4.0

Steps to Reproduce:

1. Add the pod to pod file for version 2.0.0

PS

Seems like th

[2018-05-22 15:22] anta-semenov commented on #386
Thanks, will try to use `key.longValue`

[2018-05-22 15:46] hamdshah commented on #389
@KillianSmith0
Oh okay, thanks for the instance response. 👍

[2018-05-22 15:48] KillianSmith0 commented on #389
👍🏼

[2018-05-22 15:48] #389 closed

[2018-05-22 16:27] fenroar commented on #387
Thanks, it works 👍

[2018-05-22 16:27] #387 closed

[2018-05-23 23:29] jeffremer commented on #382
No update on this? I tried just manually deleting the `_CodeSignature` directory under `ZendeskProviderSDK.framework/ZendeskSDKStrings.bundle/` which resolves the warning. I was able to archive and validate it, so hopefully that's just safe to do.

[2018-05-23 23:35] jeffremer opened #390 "Showing a single article by pushing an article view controller doesn't render the article the first time"
When you create a view controller for a single article the very first time, push it onto the navigation stack the article view controller appears to try to render off screen. If you go back and then try to view the article again it renders properly. You can see an activity indicator off in the corner of the screen.

- SDK version: 2.0.3
- Xcode version: 9.3.1
- iOS or Simulator: iPhone 8 Simulator

[2018-05-25 05:56] TranLuongTuanAnh opened #391 "[HelpCenter Modal Localization] How to set localization as 'Cancel', 'Contact us' in HelpCenter Modal?[Resolved]"
- SDK version: 1.11.2.1
- Xcode version: 9.1
- iOS or Simulator: Simulator
- iOS Version: 11.0

Steps to Reproduce:

I change iphone language and location to Japanese, but title of Navigation Bar Items of Help Center Modal not show as expected.
How to set this title to japanese?

![simulator screen shot - iphone 8 - 2018-05-25 at 14 04 31](https://user-images.githubusercontent.com/6303302/40528343

[2018-05-25 17:00] jeffremer commented on #390
It's been two days and this issue has not been acknowledged. Seems like a pretty fundamental part of this SDK is broken.

[2018-05-28 06:27] fycadw commented on #363
The same problem in Chinese.

[2018-05-28 09:42] baz8080 commented on #390
Hi Jeff,

Sorry for the lateness. We (the devs) do a rotating support duty (Android, iOS...), and this has been confounded by a lot of the developers being at conferences and / or travelling. We'll try to debug this for you this week.

[2018-05-28 10:18] surjeetsg opened #392 "Issue with Zendesk sdk V2.0"
- SDK version: 2.0.3
- Xcode version: 9.3.1
- iOS or Simulator: Any
- iOS Version: 11.3
- Swift version: 4.0

I upgrade sdk version from 1.x to 2.x, and tested app. App was working as expected. Now after few days, When I try to raise a Ticket on Zendesk, IT doesn't Work.

Then I test zendesk sample app, and sample app for support also not working.

Steps to Reproduce:
Attached Video for steps.
[ze

[2018-05-28 10:53] maxbrunner commented on #391
Hi @TranLuongTuanAnh

There are a couple of things that maybe going on. Can you try to to configure your XCode development language to Japanese, as here:

![e4abdb83-b2e2-4d68-9081-30aa32e51e0e-20471-0000130663ae59d6](https://user-images.githubusercontent.com/1657704/40550984-a59f5e52-6033-11e8-82ae-36f9124b9744.JPG)

If this don't solve the problem, we will need some more information and then it

[2018-05-28 15:27] maxbrunner commented on #392
Hi surjeetsg. Which user are you using as an identity? The Zendesk Support SDK is intended for end-users only. Authenticating with an agent/admin/owner email address will cause a 403 authentication error (which may be the cause of the problem you're facing).

[2018-05-29 01:33] TranLuongTuanAnh commented on #391
@maxbrunner Thanks your reply! I sloved it by add Japanese to Localizations in Project Info
![localization](https://user-images.githubusercontent.com/6303302/40633588-8a10c176-632b-11e8-8ee8-23799f8920c2.png)

[2018-05-29 01:45] #391 closed

[2018-05-29 10:07] #392 closed

[2018-05-29 10:10] surjeetsg commented on #390
I am also facing this issue with latest version of sdk.

[2018-05-29 10:43] KillianSmith0 commented on #390
Hi @surjeetsg, we are currently looking into this.. Can you confirm how you replicated the issue?
Eg. From above:
SDK version: 2.0.3
Xcode version: 9.3.1
iOS or Simulator: iPhone 8 Simulator
iOS Version: 11.3
Swift version: 4.1

Thanks

[2018-05-29 11:26] surjeetsg commented on #390
Hello KillianSmith0,

SDK version: 2.0.3
Xcode version: 9.3.1
iOS or Simulator: iPhone 8 Simulator / iPhone 8 / iPhoneX
iOS Version: 11.3
Swift version: 4.1

I did same steps as mentioned by @jeffremer, and face this issue. This issue is random and could not reproduce each time, But mostly occurs when launch app and open first article.

[2018-05-29 11:55] KillianSmith0 commented on #390
Thanks @surjeetsg for getting back, I also found this to be random, therefore it's quite awkward to debug. I'll keep looking into the issue and get back to this post when I have an update

[2018-05-29 15:04] jeffremer commented on #390
@KillianSmith0 - it seems to be pretty easily reproducible if you look at the article right after freshly installing the app. Give this a try:

1. Delete the app from the simulator
2. Run
3. Try to view the article

With the [sample app that I linked](https://github.com/jeffremer/ZendeskWarning) I can reproduce it 100% of the time repeating those steps.

[2018-05-29 21:08] KillianSmith0 commented on #390
@jeffremer - I was able to replicate with your sample app but will have to change the setup of our dev env to further debug the problem. As I am the only iOS dev available at the moment, there is a number of issue I've had to attend to. I'll make this a priority tomorrow and hopefully have an answer for you by the end of the week. Sorry about the delay

[2018-05-29 21:22] EugeneGordin2303 opened #393 "Empty ticket list in the iOS app"
- SDK version: ZendeskSDK 2.0.3
- Xcode version: 9.3.1
- iOS or Simulator: 11.2.6
- iOS Version: 11.2.6
- Swift version: 4
Steps to Reproduce:

1. I submit a ticket from my app
2. I'm getting ticket properly created in the Zendesk portal
3. I see the ticket in the iOS tickets list
4. close the iOS app
5. open the iOS app
6. go to tickets list

Observed: no tickets

Is this a bug or a feature? I th

[2018-05-29 21:29] KillianSmith0 commented on #393
Hi @EugeneGordin2303, this is not expected behaviour of the app. It's possible that you might be setting the identity of the Zendesk instance, in a place that is called every time the app is opened. Try setting it one of the AppDelegate methods.

[2018-05-29 21:39] EugeneGordin2303 commented on #393
Hi @KillianSmith0 are you saying that identity should be set only once per launch? We set it whenever we get response for getUser...so we actually can set this identity per user basis

[2018-05-29 21:58] EugeneGordin2303 commented on #393
OK, I followed your suggestion and removed calls that do the identity initialization from everywhere besides my getUser callback and it started to work properly. Thank you, @KillianSmith0 !

[2018-05-29 21:59] KillianSmith0 commented on #393
@EugeneGordin2303 - yes well the device should be sent once, per device. The tickets are cached to the device per instance of an identity, if the identity is reset the cache will clear. So you should set the identity, only on the initial response for getUser.

If you want a user's tickets to always be linked to a certain user, you'll have to set up for JWT auth.
For more info give [Setting an Iden

[2018-05-30 15:12] #393 closed

[2018-05-31 19:38] ShotJP opened #394 "ZDKRequestProvider().getUpdatesForDevice inconsistent"
- SDK version: 1.11.1.1
- Xcode version: 9.3.1
- iOS or Simulator: iPhone 8 Plus
- iOS Version: 11.3

In our application we have a couple places where we use `ZDKRequestProvider().getUpdatesForDevice` to apply badging in various places. When I open the app this will be 0 (specifically `requestUpdates!.requestsWithUpdates.count`). If I navigate to the request list (`ZDKRequests.pushRequestList`) th

[2018-06-01 10:07] KillianSmith0 commented on #394
Hi @ShotJP,
It sounds like you're using it right however, you might want to make a call to `getUpdatesForDevice` when you start the view up, maybe in the viewDidLoad?

Here is a sample app of the Support SDK V2 using [request updates](https://github.com/zendesk/ios_sdk_demo_apps/blob/master/SupportSDKSamples/support_request_updates_sample/RequestUpdatesVC.swift), same rules apply for v1!

[2018-06-01 11:16] KillianSmith0 commented on #390
@jeffremer, @surjeetsg - apologies for the delay on this issue, as mentioned above we are down a few bodies at the moment. I've pinned down the exact problem with the issue and currently working on the fix. We have a patch release coming shortly, and the fix will be included. Sorry for any inconvenience.

[2018-06-01 14:51] ShotJP commented on #394
It is indeed being called in `viewWillAppear` in a couple different places. Once the user has seen the request list it properly returns the value but not on a new session start (when the user would need to know if they received a response)

[2018-06-01 15:12] KillianSmith0 commented on #394
@ShotJP Ah ok now I understand the issue, sorry.
The Support SDK only caches new tickets to device when the ticket list is refreshed and pulled from the network again. So a user must reload their ticket list.
For a user to seamlessly find out if they have received a response, you would have to set up [Push Notifications](https://developer.zendesk.com/embeddables/docs/ios_support_sdk/handle_push_no

[2018-06-01 18:07] ShotJP commented on #394
Push notifications aren't in the cards for us right now, wrapping this in a `getAllRequestsWithCallback` seems to solve the problem though. Still confusing to me to have to do this step but it'll work for our purposes

[2018-06-01 18:07] #394 closed

[2018-06-04 00:50] iDevo opened #395 "Disable ticket creation not working"
Hey there!
I'm currently implementing my Help Center into my App using your new SDK 2.
I followed your required instructions and setup up everything in the AppDelegate and in my custom view controller, in order to show the Help Center and it worked fine so far! (Great work btw, it's way easier than in SDK 1 now!)

In the final step, I'd like to disable the the opportunity to create a ticket inside

[2018-06-04 01:10] tecknut commented on #395
Hey @iDevo,

Can you option click your `let helpCenter` declaration? It should reveal whether it's type is correct:
[code]

Above is what should show. The [definition of that builder method](https://github.com/zendesk/zendesk_sdk_ios/blob/5dd0d5976be7ad00b34b7055777f9ba777d33110/ZendeskSDK/4.0.2/ZendeskSDK.framework/Headers/ZDKHelpCenterUi.h#L44) returns such a value.

[code]
I've tried out the sn

[2018-06-04 01:32] iDevo commented on #395
Hey @tecknut,
thank you for your quick answer at a Sunday - It's working now thanks to you!

The option click says it's a common ViewController:
`let helpCenter: UIViewController`

The printing description is:
`<ZDKHelpCenterOverviewController: 0x7fb2d5570310>`

I've no idea, why xCode it's saying that because when I cast the variable `helpCenter` to your type, xCode is doing fine with setting the

[2018-06-04 01:33] #395 closed

[2018-06-04 04:51] shamikumar commented on #390
@KillianSmith0 Please update here, Once you guys release a patch with this fix.

[2018-06-04 04:52] surjeetsg commented on #390
@KillianSmith0 Please update here, Once you guys release a patch with this fix.

[2018-06-05 01:51] mad102190 commented on #277
Bump.

I've figured out that some users who try to access the help center in our app get a 403 response. It looks like the app is actually trying to call the `https://varomoney.zendesk.com/hc/api/mobile/en-us/articles.json` endpoint *first* with a null auth token, then they get a 401, then it tries to call `https://varomoney.zendesk.com/access/sdk/anonymous` and gets a 403.

With users who *can* a

[2018-06-05 09:49] KillianSmith0 commented on #394
@ShotJP - that's good news that you found a workaround. After further looking into this issue though the getUpdatesForDevice method should work. If you are storing the the value of `requestWithUpdates.count`, somewhere can you make sure you're not setting it to 0 when you are entering that screen?

If not the case, and you are unhappy with you're workaround could you try and replicate the issue
in

[2018-06-06 14:06] jeffremer opened #396 "UIKit calls periodically made off the main thread crashes"
This may either be very related or the same as #390. The Zendesk SDK is currently the leading cause of crashes in our app (Strava). It appears that Zendesk is calling UIKit off the main thread, trying to render a web view in the background. Below are some examples of the main thread sanitizer catching an instance of this and I've also attached an example stack trace we've gathered from Crashlytics

[2018-06-06 15:55] KillianSmith0 commented on #396
Hi @jeffremer,

Thanks for the heads up, I've also come across this crash while debugging the previous issue. I've prioritised these problems and plan to have a solution as soon as possible, which will be resolved in the next patch. You'll be alerted when this occurs
Sorry for the inconvenience

[2018-06-07 02:12] egfojas opened #397 "Debugging ZDKHelpCenterUi view controller"
- SDK version: 2.0
- Xcode version: 9.2
- iOS or Simulator: 8+ Simulator
- iOS Version: 11.2
- Swift version: 3.2

Steps to Reproduce:

1.  Open Article using [ZDKHelpCenterUi buildHelpCenterArticleWithArticleId:andConfigs:]
2. Open any redirection link within the loaded article
3. Zendesk View Controller failed to load redirected article.

Is there any way to see the actual URLRequests/httpurl/ar

[2018-06-07 11:20] aravika08 opened #398 "Crash in RequestListViewController when operator replied."
- SDK version:
SDK v2 ZendeskSDK 4.1
- Xcode version:
9.4
- iOS or Simulator:
iOS and Simulator
- iOS Version:
iOS 11
- Swift version:
4.1

Steps to Reproduce:
Hi!
I added SDK in my project, get the crash:
1. Go to empty RequestListViewController:
let viewController = RequestUi.buildRequestList()
self.navigationController?.pushViewController(viewController, animated: true)
2. Empty list. Create ne

[2018-06-07 12:46] KillianSmith0 commented on #398
Hi @aravika08, thanks for reaching out,

Currently working on replicating this issue, it only appears to not work in certain languages (eg. Russian), can you confirm for me if it works in a different language like english? I wasn't able to replicate a crash but the button doesn't work. Does the crash occur every time the button is pressed?

[2018-06-07 14:20] KillianSmith0 commented on #398
Hi @aravika08,

I'm currently working on replicating the issue. I was unable to replicate the problem, can you first clean build and delete derived data and see if the issue persists? And also looking through your crash logs, can you confirm the state of your operator/agent's avatar? Did they upload their own profile image, or are they using the dafault avatar?

[2018-06-07 20:23] chaseacton opened #399 "Article View - Don't open links in Safari"
When viewing a single support article, it would be great if URLs opened in an internal web view rather than taking the user to Safari. Can we get this added as a config option?

[2018-06-08 08:59] KillianSmith0 commented on #397
Hi @egfojas, This was a known issue in Zendesk 2.0, can you update to 2.0.3 and see if the issue still occurs?

[2018-06-08 09:36] baz8080 commented on #399
@chaseacton Are you talking about links that go outside of your Help Center articles?

[2018-06-08 10:13] jackjpark opened #400 "Cant compile in XCode 10 Beta"
- SDK version: 2.0.3
- Xcode version: 10
- iOS or Simulator: Sim
- iOS Version: iOS 12
- Swift version: 4.1.5

Steps to Reproduce:

1. Try to compile app
2. Fails on Zendesk SDK, error: `Module compiled with Swift 4.1 cannot be imported in Swift 4.1.50`

[2018-06-08 17:02] chaseacton commented on #332
Please fix this in your documentation: https://developer.zendesk.com/embeddables/docs/ios_support_sdk/help_center#filter-articles-by-category

[2018-06-08 17:38] chaseacton commented on #399
In our case, these are links to other articles on our Zendesk site.

[2018-06-08 18:43] dhsu210 commented on #396
Hi @KillianSmith0 I've also been experiencing the same issue. Not sure if it helps to look at my crash logs, which I've referenced in the [developer community site](https://develop.zendesk.com/hc/en-us/community/posts/360002892708-iOS-v2-article-view-crashing-messages-not-going-through-when-testing-on-iPhone).

SDK version: 2.0.3
Xcode version: 9.4 beta
iOS or Simulator: iPhone 8 Plus
iOS Version:

[2018-06-08 18:50] dhsu210 commented on #396
@jeffremer Strange that this crash isn't occurring periodically for me, but pretty consistently 100% of the time.

[2018-06-08 18:52] jeffremer commented on #396
I can reproduce it consistently from a fresh install and if I view the article quickly - however viewing the article after it has been loaded once (and maybe cached?) doesn't crash.

[2018-06-11 06:13] egfojas commented on #397
Hi @KillianSmith0!  Yes, both the links are HC articles as well. Updating to 2.0.3 fixed the problem. Thank you very much!

[2018-06-11 08:08] KillianSmith0 commented on #397
@egfojas - no problem , gonna close the issue 👍🏼

[2018-06-11 08:08] #397 closed

[2018-06-11 08:21] KillianSmith0 commented on #399
Hi @chaseacton, we already have a deeplinking feature as part of the SDK, which seems to be not working for you for some reason.. Can you confirm that the url of the articles matches the URL belonging to your apps configs?
For example:
URL: `https://z3ntestkillian.zendesk.com`
Article: `https://z3ntestkillian.zendesk.com/hc/en-us/articles/xxxarticleIDxxx-article-name`

[2018-06-11 09:39] abekert opened #401 "Wrong type in header"
- SDK version: 2.0.3
- Xcode version: 9.4
- iOS or Simulator: Both
- iOS Version: 11
- Swift version: 4

Steps to Reproduce:

1. Open **ZDKHelpCenterUi.h**
2. Look at methods:
`+ (UIViewController <ZDKHelpCenterDelegate>*) buildHelpCenterOverviewWithConfigs:(NSArray<ZDKUiConfiguration> *)configs;`
`+ (UIViewController<ZDKHelpCenterDelegate>*) buildHelpCenterArticle:(ZDKHelpCenterArticle *)article

[2018-06-11 10:35] KillianSmith0 commented on #401
Hi @abekert,

I'm not sure I follow, the ZDKHelpCenter method `buildHelpCenterOverviewWithConfigs`, will only ever take in a list of `ZDKUiConfigurations`. Do you have an example of why you would need an array of `<id<ZDKUiConfiguration>>`?

[2018-06-11 10:59] abekert commented on #401
Sure. Here is an example. I want to build and present help center view controller. So I write something like:
`            __auto_type configurations = @[/* my configurations or empty */];`
`            __auto_type helpCenter = [ZDKHelpCenterUi buildHelpCenterOverviewWithConfigs:configurations];`

And I got an error:
`Incompatible pointer types sending 'NSArray *' to parameter of type 'NSArray<ZDK

[2018-06-11 14:53] KillianSmith0 commented on #401
`__auto_type` is only inferring that the object your assigning to `configurations` is an `NSArray *`, this might be because ZDKUiConfiguration isn't an object/class, but only a protocol.
Here is a set of documentation that shows different ways to set up [configs for the SDK](https://developer.zendesk.com/embeddables/docs/ios_support_sdk/help_center#filter-articles-by-category), I would suggest fol

[2018-06-11 14:53] #401 closed

[2018-06-11 15:01] abekert commented on #401
You are right about `__auto_type`.

But have you ever try the code from the documentation?
`UIViewController *helpCenter = [ZDKHelpCenterUi buildHelpCenterOverviewWithConfigs:@[]];`
gives an error, as I said before
`Incompatible pointer types sending 'NSArray *' to parameter of type 'NSArray<ZDKUiConfiguration> * _Nonnull'`

[2018-06-11 15:11] abekert commented on #401
Please, look thoughtfully one more time on methods. What do you expect to receive here? What should adopt the protocol? A container? Or the members of that container?

[2018-06-11 15:55] KillianSmith0 commented on #401
@abekert, these aren't breaking errors, they are only warnings, and won't crash code.
The method takes in `NSArray<ZDKUiConfiguration>`, which is an array of different types of configs used for building the help centre i.e. `ZDKHelpCenterUiConfig` / `ZDKRequestUiConfig`.. `ZDKUiConfiguration` allows an integrator to have different configs set up to style their HC to their needs.

The issue raised

[2018-06-11 16:03] abekert commented on #401
As you said, you want **an array of different types of configs used for building the help centre**, then you need an array of elements, where every element is a config — `NSArray<id<ZDKUiConfiguration>>`.

But currently you have an array of what-ever-things-possible, but array itself should be a config — `NSArray<ZDKUiConfiguration>`. That's wrong.

These aren't breaking errors, you are true, but

[2018-06-11 16:26] chaseacton commented on #399
Thank you, that solved it. I was initializing the SDK with our Zendesk subdomain URL, but the articles linked to our custom domain. Updating the config fixed the problem.

[2018-06-11 16:26] #399 closed

[2018-06-11 17:17] swillsea commented on #400
Hi @KillianSmith0,

I'd appreciate it if your team reconsidered. Many of us have apps with Zendesk already integrated, and you're the only roadblock to us moving forward. A lack of full support is understandable, but getting the SDK to compile as a bare minimum seems like a reasonable request.

[2018-06-11 21:02] chrisballinger commented on #400
One way to solve this problem is to define something like `USE_ZENDESK_SDK` to conditionally import it. For example in "Other Swift Flags" in only your "Release" configuration add `-DUSE_ZENDESK_SDK`. Then wherever you import or use it, put it behind `#if`:

[code]

This way it's not compiled for Debug builds, but you can still use it in your Release configuration.

Alternatively you can permanent

[2018-06-11 21:34] swillsea commented on #400
@chrisballinger true! I'll probably end up doing something similar in the meantime.

[2018-06-12 08:34] KillianSmith0 commented on #401
@abekert unfortunately we are not in the position to change our API's as they aren't broken. As you're treating warnings as errors, you are going to have to apply the cast you initially had, in order to suppress them. Sorry for the inconvenience

[2018-06-12 08:40] abekert commented on #401
What do you mean saying **our API's as they aren't broken**?
**It is broken.**
Your header is assuming another type of variable and it's a mistake. I don't understand why you can't accept it.

[2018-06-12 09:45] KillianSmith0 commented on #401
Thanks for your time on this discussion. Our development repo is actually a private repo, and therefore we can't merge your PR. We will take these changes into account, for an upcoming release.

[2018-06-12 12:29] yellowgmk opened #403 "Have a build for Xcode 10/Swift 4.1.5"
- SDK version: 2.0.3
- Xcode version: 10.0 beta
- Swift version: 4.1.5

Could you please make a build of the SDK that could be integrated in Xcode 10 beta, which uses Swift 4.1.5 ?

[2018-06-12 13:03] NickNko commented on #403
I am also looking for a Build which I can use with Xcode 10 and iOS 12

[2018-06-13 11:26] jackjpark opened #404 "Ticket view doesnt dismiss on successful submission"
- SDK version: 2.0.3
- Xcode version: 9
- iOS or Simulator: Sim / iOS
- iOS Version: 11
- Swift version: Latest

Steps to Reproduce:

1. Create ticket via `RequestUi.buildRequestUi(with: [config])`
2. Display with `navController.pushViewController(viewController, animated: true)`
3. User enters name, email, content and clicks send
4. Confirm message comes up at bottom of view and ticket submits fi

[2018-06-13 12:14] HamstringAssassin commented on #403
Thanks, @NickNko & @yellowgmk. We're looking into this. I'm afraid I can't give any timelines at the moment though. Thanks for your patience.

I'll keep this issue open so anyone else looking can see any updates.

[2018-06-15 08:17] harrygt commented on #367
Any news on when this fix will be released?

[2018-06-15 12:27] KillianSmith0 commented on #367
@harrygt - we should have a patch released by the end of next week. If not, the week after. This patch will include a fix for this. Will update this issue when the patch is in 👍

[2018-06-15 12:41] harrygt commented on #367
That's perfect timing for us! Well done! 👍

[2018-06-15 13:44] KillianSmith0 commented on #370
Hi @DrBreen,
As you can see where you design your custom dropdown field, there is a checkbox to see the `tags` that belong to the values of your custom dropdown. The tags are what needed to be passed in to `andValue`. A tag is the snake case of the value. Eg.  value = `Technical Support`, tag = `technical_support`.

It seems the method param is misleading. Thanks for bringing this to our attention

[2018-06-15 13:44] #370 closed

[2018-06-15 23:21] dhsu210 commented on #396
@jeffremer while we're waiting for the latest release SDK, I was wondering -- are you presenting the article view directly on top of the VC? What I'm currently doing is adding it as a childVC to a navigation controller, and then presenting that navigation controller. Not sure if this might have something to do with the crashing.

[2018-06-15 23:33] jeffremer commented on #396
Not exactly @dhsu210 - this is happening in our app which has an abstraction around it so that code isn't really helpful to look at, but it boils down to the same code in #390 - I attached a sample project in that ticket as well.

[2018-06-18 22:13] dhsu210 commented on #396
@jeffremer It doesn't seem to be crashing for me anymore, not sure if they fixed something remotely on their end. just FYI

[2018-06-19 05:47] ZWXAllen commented on #403
xcode 10.0 beta
dyld: Symbol not found: __T0BOWV
  Referenced from: /private/var/containers/Bundle/Application/39416F76-6076-4659-8DB6-E3821E8BD217/EcovacsHome.app/Frameworks/ZendeskCoreSDK.framework/ZendeskCoreSDK
  Expected in: /private/var/containers/Bundle/Application/39416F76-6076-4659-8DB6-E3821E8BD217/EcovacsHome.app/Frameworks/libswiftCore.dylib
 in /private/var/containers/Bundle/Applicati

[2018-06-19 23:59] dhsu210 commented on #396
@KillianSmith0 I noticed this crash only occurs for me when I am signed in with the same email in our app as Zendesk admin/agent email. If I am logged in my app with a regular customer's email, then the articles load without crashing. Hope this helps!

[2018-06-20 21:16] harrygt commented on #403
We are also having this issue.

Anyway for you guys to build this so that it doesn't break projects when a new swift version is released? Zendesk is our only dependancy that has this problem (we have 9 others).

[2018-06-21 09:21] fenroar opened #405 "Article languages do not update"
- SDK version: 2.0.3
- iOS or Simulator: iOS

I have an article published in both English and German. If I install my app and the device language is set to German, when viewing the article, it is in German. However, when I then change the language and go back to view the article, the article does not change to English.

I assume there is some caching mechanism in place as if I uninstall the app an

[2018-06-21 15:29] brendan-fahy commented on #405
Hey @fenroar, this sounds to me like it's our SDK settings being cached that's causing this issue. The settings cache expires after 1 hour, at which point the new locale would be used. Does that solve the issue for you or do need something more immediate?

[2018-06-21 15:45] brendan-fahy commented on #403
Hi all, our normal release build process has some issues when building with Xcode 10 (problems with test apps linking with fat binaries created during release). The only thing we've been able to do successfully so far is build for the active architecture only. If that's any good to you, we can share that. In the meantime it's something we'll have to keep looking into.

[2018-06-21 15:48] harrygt commented on #403
I think that would be useful for the time being. That should allow us to at least build our products and then make sure there are no other problems. I know its still early beta stages for iOS 12 but being able to run the apps is definitely something we want to do earlier rather than later 👍

[2018-06-21 15:50] brendan-fahy commented on #396
Hey @dhsu210, currently the back-end rejects admin/agent emails, we get 403s if you try to use them. This has come up a few times and there are ongoing conversations about changing that behaviour, but for the moment, that's how it is. That being said, we shouldn't be crashing just because we got a 403. That sounds bad. Is it specifically viewing articles that crashes for you in this case?

[2018-06-21 17:47] dhsu210 commented on #396
@brendan-fahy Yes, when using an admin/agent email it causes a crash when loading an article from the help center. Does not crash when I use a non admin/agent email.

[2018-06-22 08:13] KillianSmith0 commented on #396
@dhsu210 The crash in relation to the Article VC is caused by UI stuff being called on a background thread, judging by your previous comments it sounds like your embedding the VC in one too many views which is causing an overload, resulting in an earlier crash than usual. The fix in the patch should resolve your issue, irregardless you should probably take a closer look into how you're presenting

[2018-06-22 09:29] tecknut commented on #369
Hi @capecrawler,

We haven't heard back from you in a while. Just checking in with you to see if you have had a chance to capture a stack trace?

Thanks,
Alan

[2018-06-22 10:28] tecknut commented on #375
Hey @dannyhertz

Haven't heard back from you in a while. We're going to close this issue for now. If you need any further assistance please get back in touch.

[2018-06-22 10:28] #375 closed

[2018-06-25 09:13] fenroar commented on #405
If there is a way to clear the cache immediately, that would be most ideal in our situation.

[2018-06-26 13:47] Abdul-Hannan commented on #403
@brendan-fahy at least we could build that way. I would suggest publishing a branch with that temporary fix and in our podfile, we can use your branch instead of master

[2018-06-26 17:00] jeffremer commented on #396
@KillianSmith0 any update/ETA? This remains our largest crash, by an order of magnitude - it's affecting thousands of users.

[2018-06-27 09:03] tecknut commented on #403
@inso- That is indeed our usual release process. This is where the issue lies for us.

When testing our release builds the linker is complaining about missing symbols for architectures. We've used `nm` to look for the symbols which the linker says are missing. `nm` reports the symbols in the fat framework.

At the moment we are trying to figure out why the linker is not picking up on these symbols

[2018-06-28 08:42] arnab-ios opened #406 "Unable to Load Help Center or Zendesk Article"
- SDK version: 1.11.2.1
- Xcode version: 9.3
- iOS or Simulator: both iOS and Simulator
- iOS Version: 11.3
- Swift version: 4.1

Steps to Reproduce:

1. Configured SDK on `didFinishLaunchingWithOptions`

[code]

2. Tried to open Article by ID:

[code]
ERROR LOG:

[code]

[2018-06-28 09:35] KillianSmith0 commented on #406
Hi @arnab-ios,

Can you [enable logging)[https://developer.zendesk.com/embeddables/docs/ios_support_sdk/debug] and send on the logs from the debug console, thanks.. Also you are using an outdated version of the SDK, are up-to-date version is v2.0.3, which we'd recommended migrating to.

[2018-06-28 10:32] arnab-ios commented on #406
Hi, thanks for quick reply. Here is the log:

[code]

I have also tried with v2.0.3, but same error occurs there also.

[2018-06-28 11:58] KillianSmith0 commented on #406
@arnab-ios can you initialise the SDK with an anonymous identity and see if the issue still occurs? It might be an problem with your JWT Identity

[2018-06-28 12:09] KillianSmith0 commented on #403
Apologies for the delay, we are having issues with the release build for the SDK on Xcode10-beta, as mentioned above. However I was able to throw together a debug build of the SDK, which is a temporary solution, so you can integrate the SDK into your apps on beta. This will only work on Simulator.

Here is the steps to get them working:
1. Download the zip and add it to your frameworks folder
2. D

[2018-06-28 13:44] KillianSmith0 commented on #396
@jeffremer - Unfortunately I'm unable to promise you a specific ETA, but this fix will be available in our next release for iOS. I'll keep you posted as soon as it goes out.

[2018-06-29 08:21] KillianSmith0 commented on #398
@aravika08 - We have a fix for this and will be included in one of our upcoming patches. Closing this for now, feel free to reopen

[2018-06-29 08:21] #398 closed

[2018-06-29 10:52] divo commented on #405
@fenroar, unfortunately, we don't offer this to protect against abuse.

The next release of the SDK will include an API to override the local we use to fetch Help Center content. It should be released in the coming weeks.

[2018-07-03 04:18] nguyenquocdathcmus commented on #376
hi. @divo  . I also have a problem with UINavigationBar.appearance().tintColor. Can you tell me how to fix it?

[2018-07-03 14:33] divo commented on #367
@harrygt @dcooper87 we have just released 2.0.4. It addresses this issue

[2018-07-03 14:33] #367 closed

[2018-07-03 14:34] KillianSmith0 commented on #396
@jeffremer Hi Jeff, we have just release the update for this fix on v2.0.4. This update includes a fix for both your open issues. Thanks for your patience

[2018-07-03 14:34] #396 closed

[2018-07-03 14:34] divo commented on #363
@shunkit @fycadw thank you for your patience. We have just released 2.0.4. It addresses this issue

[2018-07-03 14:34] #363 closed

[2018-07-03 14:34] #390 closed

[2018-07-03 14:35] divo commented on #385
@welshm we have just released 2.0.4. The provider subspec should work correctly now. Thanks for reporting this.

[2018-07-03 14:35] #385 closed

[2018-07-03 14:35] divo commented on #383
@arshiacont we have just released 2.0.4. It addresses this issue. Thanks for reporting it.

[2018-07-03 14:35] #383 closed

[2018-07-03 14:38] divo commented on #339
@rhaining Thanks for reporting this issue. We have just released 2.0.4. which should fix it.

[2018-07-03 14:38] #339 closed

[2018-07-03 14:41] KillianSmith0 commented on #405
@fenroar - We have released the patch which includes the API mentioned above. Follow these steps to [override the device locale](https://developer.zendesk.com/embeddables/docs/ios_support_sdk/help_center#overriding-device-locale). Just update the SDK to the newest version

[2018-07-03 14:41] #405 closed

[2018-07-03 14:45] KillianSmith0 commented on #322
@chrismanderson we've released a new version of our SDK (v2.0.4), this delegate method is now optional.

[2018-07-03 14:45] #322 closed

[2018-07-04 08:02] arnab-ios commented on #406
Hello @KillianSmith0,

Sorry for the delay. I have checked with anonymous identity. It worked for sometimes after that. But again it's showing "Unable to connect". After further investigation, it seems like changing the device may cause the error (when same user is logging into another device), but not sure. Here is how we're initialising JWT Identity with UUID string

[code]

Any idea if it is ca

[2018-07-04 17:04] reallyseth commented on #403
@KillianSmith0 I just tried this, and am still seeing build errors. When adding the frameworks from the zip into my frameworks folder, is that the folder underneath the Pods folder? Or do you mean the frameworks folder in the workspace browser?

[2018-07-05 08:43] KillianSmith0 commented on #403
Here you go
[Xcode10-3.zip](https://github.com/zendesk/zendesk_sdk_ios/files/2165746/Xcode10-3.zip)

[2018-07-05 09:05] yellowgmk commented on #403
@reallyseth There should not be incompatibility problems between the same Swift version... With other libraries, we've been using the same binaries with Xcode 10 beta 1, beta 2, and beta 3 without the need of recompiling.

@KillianSmith0 @HamstringAssassin @tecknut Any progress on having a framework that works both on devices and simulator?

[2018-07-07 20:14] rainypixels commented on #382
I'm still seeing it as well...

[2018-07-09 15:17] rhaining commented on #339
thanks @divo!

[2018-07-09 16:58] KillianSmith0 commented on #339
@rhaining we’ve had to rollback our v2.0.4 as it introduced an issue with scrolling in articles in iOS 9 and 10. v2.0.5 will be out in the next day or two with the fix for this issue. Will put a comment out when we release

[2018-07-09 20:30] welshm commented on #385
Should this be re-opened since the release was reverted?

[2018-07-10 07:57] matkuznik opened #410 "Invalid response object from ZDKRequestProvider createRequest method."
- SDK version:
2.0.3
- Xcode version:
9.4.1
- iOS or Simulator:
iPhone X
- iOS Version:
11.3
- Swift version:
Apple Swift version 4.1.2 (swiftlang-902.0.54 clang-902.0.39.2)

Steps to Reproduce:
1. Create `ZDKRequestProvider` object
2. Create `ZDKCreateRequest` with required fields
3. Use `[ZDKRequestProvider  createRequest:(ZDKCreateRequest*)request withCallback:(ZDKCreateRequestCallback)callback

[2018-07-10 08:46] tecknut commented on #410
Hi @matkuznik,

Thanks for you reaching out to us.

The [`ZDKCreateRequestCallback`](https://github.com/zendesk/zendesk_sdk_ios/blob/master/ZendeskSDK/4.0/ZendeskProviderSDK.framework/Headers/ZDKRequestProvider.h#L65) result type is actually an `id`.

The [`ZDKDispatcherResponse`](https://github.com/zendesk/zendesk_sdk_ios/blob/master/ZendeskSDK/4.0/ZendeskProviderSDK.framework/Headers/ZDKDispatch

[2018-07-10 13:06] KillianSmith0 commented on #385
We've just released to 2.0.5, the pod should be available to update in the next hour or so, thanks for your patience

[2018-07-10 13:12] KillianSmith0 commented on #339
@rhaining v2.0.5 has just been released 👍

[2018-07-10 13:17] KillianSmith0 commented on #382
Can you's update to 2.0.5 and see if the issue persists? I wasn't able to replicate, thanks

[2018-07-10 14:49] rhaining commented on #339
thanks @KillianSmith0 !

[2018-07-10 17:08] welshm commented on #403
Any timeline on when this might get into the main branch? We're looking at developing iOS 12 features, but are blocked by this.

[2018-07-11 03:42] jeffremer commented on #382
This still happens with 2.0.5.

<img width="616" alt="screen shot 2018-07-10 at 8 41 23 pm" src="https://user-images.githubusercontent.com/99528/42549585-c23bf166-8481-11e8-89c7-3ca5a6d724c1.png">

[2018-07-11 05:52] jeffremer commented on #367
Thanks @divo, just updated to 2.0.5 and verified it fixes this 👍

[2018-07-11 05:54] jeffremer commented on #396
Thanks @KillianSmith0, we've updated to 2.0.5. Much appreciated. 👍

[2018-07-11 08:49] tecknut commented on #403
@welshm iOS 12 is still in beta. We won't release a version of the SDK targeted at iOS 12 until the build tools for iOS are out of beta.

[2018-07-11 08:52] tecknut commented on #403
@yellowgmk We are having issues with the beta build tools in Xcode 10. When we build for both device and simulator and combine the binaries into a fat framework the linker complains about missing symbols.
So far we've been able to validate that the symbols the linker is complaining about are actually present in the fat binary.
We're still looking into this with each new beta version that's release

[2018-07-11 08:55] matkuznik commented on #410
hi,
thanks for the quick response :).

So, this is the intended approach.
I'm used to that create request returns an object that was created and I assumed that you have a missing mapping.

What I want to achieve is to present some success state for the user and if I would have a created request object, then I could use data which for sure are saved in your system. Also, an id of a created object c

[2018-07-11 09:02] tecknut commented on #410
There is a request object in that response, though there is also a comment object.

Are you building your own UI?

[2018-07-11 09:55] matkuznik commented on #410
Yes, we are.

In `ZDKDispatcherResponse` has two properties: an `NSHTTPURLResponse` and an `NSData` which is a JSON.

Or I miss something?

[2018-07-11 11:19] AndreyLunevich commented on #367
2.0.5 not work for me. Can anyone help with this @divo @jeffremer  ?

[2018-07-11 12:16] KillianSmith0 commented on #367
@AndreyLunevich - Can you make sure you follow the setup correctly, ensure your css file name is exactly `help_center_article_style .css`, it's in the root directory of your project folder, and then import the project into your directory
Ref: https://developer.zendesk.com/embeddables/docs/ios_support_sdk/customize_the_look#change-the-style-of-help-center-articles

[2018-07-11 12:42] tecknut commented on #410
You can deserialise the data to a Dictionary. This will contain two objects keyed by `request` and `last_comment`.

[`ZDKRequest`](https://github.com/zendesk/zendesk_sdk_ios/blob/master/ZendeskSDK/4.0/ZendeskProviderSDK.framework/Headers/ZDKRequest.h#L112) can be initialised from a dictionary. Which should will give you want you want.

It's worth mentioning that [we also have an API](https://githu

[2018-07-11 15:00] KillianSmith0 commented on #406
@arnab-ios - Here is documentation on [troubleshooting your JWT endpoints](https://develop.zendesk.com/hc/en-us/articles/360001075248#troubleshooting), can you just test [it with cURL](https://develop.zendesk.com/hc/en-us/articles/360001075248#endpoint) it works with a valid unique user token.. It might be an issue with how the unique IDs are generated

[2018-07-11 15:20] KillianSmith0 commented on #403
@welshm if you are using CocoaPods, you can put the contents of the `Xcode10-3.zip` in your `Pods>ZendeskSDK>ZendeskSDK` folder, it should work in Xcode10-beta. Make sure not to run `pod update` though.

[2018-07-11 16:44] welshm commented on #403
@KillianSmith0 Thanks! That will work for a dev branch with simulator, hopefully something for device later...

[2018-07-11 17:07] matkuznik commented on #410
Awesome.

Thank you for your help :)

[2018-07-11 17:07] #410 closed

[2018-07-12 08:07] AndreyLunevich commented on #367
@KillianSmith0 I sure that everything is configured right, because at 1.x version everything worked.

[2018-07-12 13:21] aravika08 opened #413 "Localizable doesn't work"
- SDK version:
4.1
- Xcode version:
9.4.1

Steps to Reproduce:

1. Installl SDK, added in project ZendeskSDKStrings.bundle
2. Change language in device
3. Open chat application
_____
Result: Change language from en to ru docent work

Path strings:
zendesk_sdk_ios/ZendeskSDK/4.1/ZendeskSDKStrings.bundle/ru.lproj/Localizable.strings

[2018-07-16 23:07] juanpdelat opened #414 "No way to know when a user taps Ticket Creation button from HelpCenterUi"
- SDK version: 2.0.3
- Xcode version: 9.4.1
- iOS or Simulator: Both
- iOS Version: 10
- Swift version: 4.1

There are no methods in the ZDKHelpCenterConversationsUIDelegate to detect when an event has occurred, in fact, ZDKHelpCenterConversationsUIDelegate is more like a Data Source, because it doesn't really allow the delegating object to handle events, just setting up data to be used for presen

[2018-07-17 13:54] AndreyLunevich commented on #405
@KillianSmith0 no possibility to change language
![screen shot 2018-07-17 at 4 53 04 pm](https://user-images.githubusercontent.com/1756686/42821802-0f6da4f6-89e2-11e8-83f8-ad25ab261a1c.png)

Zendesk: 2.0.5

[2018-07-17 20:29] jeffremer opened #416 "Showing a single article with no network results in a less than graceful error state"
When you show a single article the article view controller shows an OK looking error message but still tries to render the article, resulting in a screen that has "(null) (null)".

- SDK version: 2.0.5
- Xcode version: 9.3
- iOS or Simulator: Sim and device
- iOS Version: 11.3
- Swift version: 4.1

Steps to Reproduce:

1. Turn on airplane mode or turn off wifi
2. Show a single article

The error m

[2018-07-17 20:38] camanjj commented on #390
@KillianSmith0 I am also getting this issue even after updating the Zendesk SDK to 2.0.5. The effects are similar to the others. It randomly occurs when pushing an article and only on first load of an article. Any insight or help?

[2018-07-19 11:45] HamstringAssassin commented on #416
Hi @jeffremer,

Cheers for letting us know. I've reproduced it here and created a bug on our backlog. Ive linked the issue here so when its updated/fixed we should be able to update this issue.

In the meantime I'll leave it open and mark it as a bug.

Thanks again for getting in touch.

Cheers,
Al

[2018-07-19 15:44] HamstringAssassin commented on #414
Hi @juanpdelat,

Thanks for getting in touch. You're correct, I'm afraid that functionality isn't available. Another option for you might be to roll your own UI. We have provider methods available. More information can be found here:
https://developer.zendesk.com/embeddables/docs/ios_support_sdk/api_provider_using

We also keep an eye here for feature requests so that could be a perfect place to p

[2018-07-19 15:44] #414 closed

[2018-07-20 14:19] KillianSmith0 commented on #403
Here is a build for [Xcode10-beta4](https://github.com/zendesk/zendesk_sdk_ios/files/2214223/Xcode10-4SDKv2.1.zip). It also includes the most recent version update, so would recommend everyone else to use this one.

Unfortunately it is still for simulator-only as our SDK continues to disagree with the beta build process.There is still some issues with the build-system according to the Xcode beta-r

[2018-07-23 13:57] tecknut commented on #413
Hi @aravika08,

Have you any update for us?

Thanks

[2018-07-23 15:43] CraigSiemens commented on #403
Would you be able to put that build into a branch? That would allow dependency managers like CocoaPods and Carthage to be pointed at that branch without large project changes to change how Zendesk is included.

[2018-07-23 16:03] KillianSmith0 commented on #403
@CraigSiemens
Just did it there, branch name `xcode10-beta` 👍  let me know if there's any issues.. There's only a build for the Swift 4.1 artefacts

[2018-07-23 20:12] CraigSiemens opened #419 "Constraint warnings when viewing a Request"
- SDK version: 2.1.0
- Xcode version: 9.4
- iOS or Simulator: Both
- iOS Version: 11.4
- Swift version: 4.1.2

### Steps to Reproduce
1. Navigate to a request
2. View warnings in the console

### Warnings

[code]

[2018-07-23 20:45] CraigSiemens opened #420 "Can't swipe to go back from Request to Request List"
- SDK version: 2.1.0
- Xcode version: 9.4
- iOS or Simulator: Both
- iOS Version: 11.4
- Swift version: 4.1.2

Steps to Reproduce:
1. Present the request list modally
[code]
2. Navigate to a request
3. Try to swipe from the left edge of the screen to go back to the request list

[2018-07-24 02:40] camanjj opened #421 "Crashing on Zendesk initialization"
- SDK version: 2.0.5
- Xcode version: 9.4.1
- iOS or Simulator: iOS
- iOS Version: 11
- Swift version: 4.2

Zendesk seems to crash randomly when it is being initialized. This is our stacktrace:
[code]
We cannot find a way to reproduce the issue. Zendesk is initialized with constants so there is nothing changing in between the the launches of our app.

This is how we initialize the Zendesk instance

[2018-07-24 13:33] KillianSmith0 commented on #369
Hi @capecrawler,

I'm going to close this issue due to inactivity, feel free to reopen when you can bring back a stack trace 👍

[2018-07-24 13:33] #369 closed

[2018-07-24 14:03] KillianSmith0 commented on #421
Hi @camanjj ,

We had to rollback our 2.0.5 release, can you update to v2.1.0 and see if the issue still occurs?

Thanks,
Killian

[2018-07-24 14:14] KillianSmith0 commented on #420
Hi @CraigSiemens ,

This is the expected behaviour of our SDK. The reason for this is caused by the discard message alert message. We can't catch the event on swipe, so the type message will be lost. If you like you could [submit a feature request](https://develop.zendesk.com/hc/en-us/community/topics/360000000788-Feature-Requests), but there's no current plans to implement this gesture.

Regards,

[2018-07-24 14:14] #420 closed

[2018-07-24 17:48] KillianSmith0 commented on #421
@camanjj ok no worries, did you initialize it with an identity? Anonymous/JWT?

[2018-07-24 17:58] camanjj commented on #421
@KillianSmith0 we do use Anonymous identities in our app via `createAnonymous`. The issue is that the crash occurs before the setting the identity, (while initializing the Zendesk instance) `Support.initialize(withZendesk: Zendesk.instance)`.

[2018-07-25 05:54] arnab-ios commented on #406
Hi @KillianSmith0,

Was not able to troubleshoot as mentioned, made some other solutions to solve the issue for now. Thank you for your time and help.

[2018-07-25 07:44] baz8080 commented on #406
Hi @arnab-ios thanks for letting us know! I'll close the issue now.

[2018-07-25 07:44] #406 closed

[2018-07-25 15:44] baz8080 commented on #419
Hi @CraigSiemens, can you give us some more information about where you're starting the SDK from, and what sort of Navigation controller it's in etc? We haven't seen this reported before so all the information you can give us will be really useful.

[2018-07-25 16:11] CraigSiemens commented on #419
Just just they together a sample project to test the issue. I sinsitialis the SDK ins `applicaitonDidFinishLaunching`

[code]

Then I setup an empty view controller with a single button to show the RequestList.

[code]

The warning happens when you tap either the compose button or and existing request.

[2018-07-25 16:58] ngoclt opened #422 "UI element is not hittable after integrated Zendesk SDK 2.1.0"
- SDK version: 2.1.0
- Xcode version: 9.4.1
- iOS or Simulator: Simulator
- iOS Version: 11.4.1
- Swift version: 3.3

Steps to Reproduce:

1. Previously we were using Zendesk SDK 1.6, all of the UI tests works well.
2. However, after update to ZendeskSDK 2.1.0 via Cocoapods.
3. All of the UI tests are failed.

Issue: The element is not hittable. ( `tap()` function doesn't work at all).

Our UI tes

[2018-07-25 18:16] camanjj commented on #421
Seems like the update did fix the issue. Thanks @KillianSmith0

[2018-07-25 22:45] camanjj commented on #421
@KillianSmith0 Called it too early and unfortunately the crash still occurs with the same stacktrace. I forgot to add that the crash is due to a BAD_ACCESS: `Crashed: com.apple.main-thread
EXC_BAD_ACCESS KERN_INVALID_ADDRESS 0x0000000108588000`

[2018-07-26 17:42] eepDev commented on #419
Hi @CraigSiemens,

We were able to reproduce the warning, recorded the issue in our internal backlog to keep track of it and we will notify you once it's resolved.

Thanks for the info and reproduction steps.

Elvis

[2018-07-26 18:48] eepDev commented on #421
Hi @camanjj,

In order to troubleshoot this issue and identify the root cause behind the crash we need to collect some information around your setup:

- when & where is the SDK initialised?
- version of the build system used; legacy or the new one?
- how often the crash occurs, in debug/release build or both?
- any non-standard setup around optimisations, swift compilation and packaging?

Thanks,

[2018-07-26 19:54] camanjj commented on #421
@eepDev

- The SDK is being initialized whenever something needs to be change (like the identity) so it is lazy loaded. We have a small wrapper to handle the initialization that uses constants (see first post)
- We are using the  New Build System that is currently in preview (Xcode 9.4.1)
- It has crashed 108 times for 97 users in the past 30 days for our release build. We are not able to reproduc

[2018-07-27 10:41] tecknut commented on #421
Hi @camanjj,

FYI It's not necessary to reinitialise the SDK if you are only changing an Identity.

We've found this [issue](https://bugs.swift.org/browse/SR-7743?page=com.atlassian.jira.plugin.system.issuetabpanels%3Aall-tabpanel), which seems to have a very similar stack trace. We'll keep looking into this.

[2018-07-27 20:49] drastawi commented on #421
Hi @tecknut, would you mind verifying the `compilation mode` and `optimization mode` settings you guys use when to compile the Zendesk framework binary for release? I verified it fixes the bug you've linked.

[2018-07-27 22:39] mstar0125 opened #423 "Help Center SearchBar background color"
Hello,
I am adding Help Center in my app. I customized navigation bar with custom color, but couldn't update SearchBar background, so it looks weird.

Could you please help me how to do this?

![img_0190](https://user-images.githubusercontent.com/5414823/43349188-c39e8160-9230-11e8-8fb7-4d6d027c7118.png)

[2018-07-29 14:45] mstar0125 commented on #337
Hello @MaximusMcCann @Thuran
Could you please explain how to set search bar background same as navigation bar?
Here is what I got so far when changing the background color of navigation bar.

![img_0190](https://user-images.githubusercontent.com/5414823/43367531-1265ccc6-9381-11e8-9915-b36b8a78b40e.png)

[2018-07-31 11:10] divo commented on #423
@mstar0125 What iOS versions are you seeing this on? How are you styling your navigation bar? Can you try `UINavigationBar.appearance.barTintColor` ?

[2018-07-31 14:17] divo commented on #421
@camanjj We have seen issues with the New Build System causing crashes. Can you try using the Standard Build System and report back? Also can you try and reproduce it with a release build as it may be due to a bug in the Swift optimizer. We have currently have an issue around this for the `ZendeskSDK` framework.

@drastawi Our `SWIFT_COMPILATION_MODE` is `singlefile` for all three frameworks that

[2018-07-31 14:58] divo commented on #422
@ngoclt this sounds like it will be very tough to track down.

I did find a few places [talking about adding a delay](https://stackoverflow.com/questions/37276597/xcuielement-tap-not-working) after your tests start. It's possible initializing the ZendeskSDK has added enough of a startup delay to break your tests.

Failing that, can you make a sample project that recreates the issue? We need someth

[2018-08-01 08:36] ngoclt commented on #422
Hi,

Thank you very much for your response. Our temporary solution is reverting the SDK back to v1. It works well for our UI test. For the moment, we don't have time for creating a sample. But will do it during this weekend.

Btw, since Cocoapods supports for static framework now, could you please add this clarification `s.static_framework = true` into your Podspec file?

[2018-08-01 08:39] divo commented on #422
@ngoclt 2.0 is now a dynamic framework so we can't add this to our podfile

[2018-08-01 08:56] ngoclt commented on #422
Yes, I meant adding to version v1.11.2.2
But it's fine anyway.

I will update this ticket by the end of this week.

Thanks,

[2018-08-01 17:45] drastawi commented on #421
Thanks, @divo. I verified that to walk around the swift bug you need to use either Xcode 10 compiler or the `whole module` `SWIFT_COMPILATION_MODE` in Xcode 9.3, 9.4. To test I used the repo here: https://github.com/stoyanmar/CodableTest. There is a chance this might be a different bug, but the stack trace looks essentially the same.

[2018-08-01 21:17] OpExNetworks opened #424 "Branch to Xcode10-beta4 error"
- SDK version: xcode10-beta4 branch
- Xcode version: Version 10.0 beta 5 (10L221o)
- iOS or Simulator:
- iOS Version:
- Swift version: 4.2

Steps to Reproduce:

1. build

run custom shell script "Run Script"

PhaseScriptExecution Run\ Script /Users/david.holeman/Library/Developer/Xcode/DerivedData/ZenFAQ-cvfmzsrgpaprvicehgkaqxsqgsjv/Build/Intermediates.noindex/SwiftMigration/ZenFAQ/Intermediates.n

[2018-08-02 09:05] aravika08 commented on #413
Yeah, sorry. I was on vacation.
Localization in our application is not implemented by standard means, so as it turned out it was necessary to simply adjust the project settings.

Thank you for your time!

[2018-08-02 09:05] #413 closed

[2018-08-03 14:48] KillianSmith0 commented on #424
@OpExNetworks -

Go to your target's Build Phase settings and comment out the `strip-frameworks.sh` script. This needs to be removed to get the SDK to run in the beta.
Follow these steps mentioned in the other [Xcode beta issue](https://github.com/zendesk/zendesk_sdk_ios/issues/403#issuecomment-401012904), to get the SDK building.

If reverting back to Xcode 9, remember to uncomment the script.

[2018-08-03 14:48] #424 closed

[2018-08-06 03:15] benguild commented on #403
Can we get an update on the release schedule here? The GM will be out soon.

[2018-08-07 10:34] divo commented on #403
The issues with our build seems to be resolved in XCode 10 beta 5. I have pushed artifacts to `xcode10-beta` branch, you can find them in the 4.2 folder.

We will do an official release when XCode 10 drops.

[2018-08-07 16:35] CraigSiemens opened #425 "Crash deep in the SDK"
- SDK version: 2.1.0
- Xcode version: 9.4
- iOS or Simulator: iOS
- iOS Version: 11.4
- Swift version: 4.1.2

While using the app, the zendesk sdk caused a crash. When relaunching the app it continues to crash until the app is uninstalled and reinstalled.

Steps to Reproduce:
- Unable to reproduce

## Crash logs

<details><summary>First crash log</summary>

[code]

</details>

<details><summary>Fo

[2018-08-07 21:08] jeffremer commented on #390
This is still reproducible in 2.0.5 for us as well. Please reopen this issue.

[2018-08-08 08:14] SandissM commented on #423
@divo Hey, I've same exact result as @mstar0125 and I'm setting custom color exactly as you suggested with .barTintColor

[2018-08-08 08:18] KillianSmith0 commented on #390
@camanjj, @jeffremer - this issue should be resolved in our most recent release v2.1.0. Can you update accordingly, and let me know if the issue persists? Thanks

[2018-08-08 08:27] KillianSmith0 commented on #423
@SandissM - can you confirm what version of iOS you are testing on? Is it 10/below? Thanks

[2018-08-08 08:28] SandissM commented on #423
I'm using iOS 11

[2018-08-08 08:44] KillianSmith0 commented on #423
@SandissM can you also try and set the color of `UISearchBar.appearance().barTintColor`, and see if this solves the issue?

[2018-08-08 08:50] SandissM commented on #423
Sadly, it didn't.
![screen shot 2018-08-08 at 11 49 01](https://user-images.githubusercontent.com/33860247/43826898-23f6001e-9b01-11e8-8b76-ec1ef8772632.png)

Well everything would be fine if it would be possible to at least add padding to that search bar it looks kinda weird being so close.

[2018-08-08 09:26] KillianSmith0 commented on #423
@SandissM I'm having difficulties replicating the issue, can you provide an insight as to how you're presenting the HelpCenter?

[2018-08-08 09:42] KillianSmith0 commented on #425
@CraigSiemens - have you been able to replicate this issue a number of times? Do you know if there's anything that triggered the crash initially? Is `SupportMessageCounter` one of your own classes? After first look of the logs, it's possible it might be doing some UI calls on a background thread

[2018-08-08 09:53] SandissM commented on #423
@KillianSmith0 Sure,

So for presenting(modally):

`
let identity = Identity.createAnonymous()
  Zendesk.instance?.setIdentity(identity)

  let hcConfig = HelpCenterUiConfiguration()
  hcConfig.hideContactSupport = true

 let vc = ZDKHelpCenterUi.buildHelpCenterOverview(withConfigs: [hcConfig])
 vc.uiDelegate = self

let nc = UINavigationController(rootViewController: vc)
nc.addStyle(style: .zende

[2018-08-08 13:26] NickNko commented on #403
I am having an issue integrating the SDK into my AppDelegate. I updated my Podfile to use the xcode10-beta branch. `Support.initialize(withZendesk:` Zendesk.instance)` in my AppDelegate gives me the error shown in the screenshot.
<img width="512" alt="grafik" src="https://user-images.githubusercontent.com/40205185/43839491-7f61e2ca-9b1e-11e8-8057-6aceb77c9812.png">

I am currently using Swift 4.1,

[2018-08-08 14:05] KillianSmith0 commented on #403
@NickNko - if you are using CocoaPods, you can manually put the contents of the 4.2 folder from the `xcode10-beta` branch, into your `Pods>ZendeskSDK>ZendeskSDK` folder, it should work in Xcode10-beta. Make sure **not** to run pod update/install, as it will overwrite it.

Let me know if you have further issues

[2018-08-08 17:30] jeffremer commented on #382
This still happens in 2.1.0 @KillianSmith0. The `_CodeSignature` directory in `ZendeskSDKStrings.bundle` appears unnecessary and I have to delete it manually every time I update the SDK.

[2018-08-08 17:48] CraigSiemens commented on #425
I just figured out how to replicate it.

1. Run the app
1. Close the app
1. Wait 1 hour (cache time from `getUpdatesForDevice`)
1. Relaunch the app

This will cause the crash when calling `getUpdatesForDevice`.

`SupportMessageCounter` is one of my classes that gets the unread count from the SDK to show a badge in the tab bar. It is getting triggered to run by the `UIApplicationDidBecomeActive` no

[2018-08-08 17:59] jeffremer commented on #390
Thanks, yes, looks good so far in 2.1.0.

[2018-08-08 19:04] CraigSiemens commented on #425
You can also get the issue by setting the device clock ahead 1 hour. Setting the clock back to the current time causes the crash to stop happening until the hour is up.

The first crash log is if the app is in the background and is brought to the foreground after an hour. The section crash log is when the app has been quit and is relaunching after an hour.

[2018-08-09 08:32] NickNko commented on #403
I resolved my issue by building for the Simulator. Previously I was trying to build onto a physical device, which seems to be unsopported in the beta. @KillianSmith0 when do you plan on supporting physical devices, as the release of iOS 12 is coming closer?

[2018-08-09 09:07] J-Mendes opened #426 "Issue with capturing photo to send to ticket"
- SDK version: 2.1.0
- Xcode version: 9.4.1
- iOS or Simulator: iOS
- iOS Version: 11.2.5
- Swift version: 4.1

Steps to Reproduce:

1. Open a ticket
2. Take a photo

Keep in mind that this doesn't happen always.

Crash log

[code]

[2018-08-10 09:13] divo commented on #426
@J-Mendes I am unable to reproduce this. Can you give some indication of frequency? Does it happen over multiple runs of the app or does it happen if you open the ticketing screen a few times in a row?

Any details you can provide are appreciated.

[2018-08-10 09:42] divo commented on #423
@SandissM I'm following what you are doing exactly and I still can't replicate this.
However, I see you are styling an instance of UINavigationController and then presenting it with another.
Can you try styling it, in the same way, but using UIAppearance?
So `navigationBar.tintColor = .white` -> `UINavigationBar.appearance.tintColor` etc

[2018-08-10 09:46] divo commented on #421
@drastawi thank you for the information and the example project. It helps a lot.
I'll make some time next week to investigate this further and work what to do.

[2018-08-10 10:06] J-Mendes commented on #426
From the crash logs I can tell you that it occurs like 6% percent of the times, on multiple runs, not when you open the screen multiple times.

[2018-08-10 15:41] CraigSiemens commented on #425
Ahh... that might be it. The SDK is initialized before it is used but I was creating an instance of `ZDKRequestProvider` before it was initialized which must be enough of a "use" to cause the crash later.

Since the documentation isn't clear on it, is a `ZDKRequestProvider` intended to be used as a one off object or can it be reused multiple times?

[2018-08-13 13:25] SandissM commented on #423
@divo Tried replacing ```navigationBar``` with ```UINavigationBar.appearance()```, but unfortunately with no luck.

_However, I see you are styling an instance of UINavigationControllers UINavigationBar and then presenting it with another._
```(self.navigationController ?? self).present(nc, animated: true, completion: nil)```
Well not exactly im presenting it **onto** another, not with another.

[2018-08-13 18:59] jeffremer commented on #403
When building with Xcode 10 Beta 6 (available as of today) I can get the app to execute to the dynamic library loading stage, but then it fails to find a symbol in libswiftDispatch.dylib:

[code]

I'm integrating the SDK manually, not using Cocoapods - does this error indicate that I'm missing something or should I expect this to be resolved in another SDK update?

[2018-08-14 07:44] NickNko commented on #403
I am getting the same error

[2018-08-14 09:38] EfeAcikgoz opened #427 "RequestProvider has no initWithZendesk method on Objective C"
- SDK version:
4.1
- Xcode version:
9.4.1
- iOS or Simulator:
iPhone X
- iOS Version:
11.4.1
- Swift version:
Using Objective-C

Following the guide Support SDK v2 iOS to implement the Check for ticket updates.
The guide initializes the RequestProvider using initWithZendesk:[ZDKZendesk instance], but if I try to initialize it like that, I get the error "No visible @interface for 'ZDKRequestProvide

[2018-08-14 09:42] hertanu commented on #403
Same issue

[2018-08-14 10:03] EfeAcikgoz commented on #427
Adding
- (instancetype)initWithZendesk:(ZDKZendesk *)zendesk; to ZDKRequestProvider.h under ZDKRequestProvider interface fixes the issue, and I can can get the updates again

[2018-08-14 16:11] divo commented on #423
@SandissM I still can't replicate this with the code you have provided. I have no idea how `UIAppearance` wouldn't work.

Can you replicate the issue in a sample project and send it to us?

[2018-08-14 16:15] divo commented on #427
@EfeAcikgoz you can just use `init`. There is no need to pass it the Zendesk instance. This was a bit confused when we launched 2.0, it is explained [in our documentation.](https://developer.zendesk.com/embeddables/docs/ios_support_sdk/migration_guide#update-the-provider-references)

[2018-08-14 16:38] txaiwieser commented on #137
This is not an acceptable "alternative" to not supporting Carthage the right way. How are we suppoused to implement in our CI if it fails and you should "ignore the error"... 🙄
At least give us a .json with precompiled links for each version.

https://github.com/Carthage/Carthage#supporting-carthage-for-your-framework

Zendesk really can't have a developer to implement that, in a day?

[2018-08-14 16:57] divo commented on #403
Thanks for letting us know. It's still a beta after all so it's pretty understandable the artifacts produced by different versions are not compatible.

I will try and get a build up soon.

[2018-08-14 17:30] EfeAcikgoz commented on #427
Rechecked it, now it's working with just init too.
When I first implemented it with init, I was always getting 0 totalUpdates from the method.
I'm not sure what changed, but it seems to be working fine right now with just init, so I'm closing the issue.

[2018-08-14 17:30] #427 closed

[2018-08-14 17:42] mxcl commented on #137
Well, it's not an error, it's a warning. So is CI safe unless Carthage returns non-zero for warnings.

[2018-08-14 17:43] mxcl commented on #137
And yes, in my experience Carthage is much easier to support than CocoaPods and takes about 30 minutes to implement. I've put Carthage in about 40 projects.

[2018-08-15 07:08] SandissM commented on #423
I found the place which where breaking it, set from another place where these parameters which broke the visual look of it.

Code which broke behaviour:

[code]

![Uploading Screen Shot 2018-08-15 at 10.07.19.png…]()

[2018-08-15 20:11] hertanu commented on #403
Would be great to get a new version so we can work with the most updated xCode. Thanks!

[2018-08-16 10:01] KillianSmith0 commented on #403
@here the Xcode10 beta 6 artefacts are now available on `xcode10-beta` branch, for all interested

[2018-08-16 16:05] hertanu commented on #403
Thanks. Can you please add a zip file to with them?

[2018-08-16 17:36] jeffremer commented on #403
You can download the repository at that particular ref as a [zip file](
https://github.com/zendesk/zendesk_sdk_ios/archive/xcode10-beta.zip).

[2018-08-17 10:33] pixyzehn opened #428 "Text cursor moves to the end automatically in a request view in Japanese"
- SDK version 2.1.0:
- Xcode version 9.4.1:
- iOS or Simulator iOS:
- iOS Version 11.4.1:
- Swift version 4.1:

Steps to Reproduce:

1. Open a request view composed by `RequestUi.buildRequestUi`.
2. Type a message in Japanese.
3. Move the cursor between words and type a message in Japanese.
4. After finishing a conversion mode, the cursor ends up moving in the end.

Result: The cursor shouldn't mo

[2018-08-17 11:09] brendan-fahy commented on #416
Hi @jeffremer, no update at this time I'm afraid. I'll bump it with our product manager.

[2018-08-18 12:13] Blockwallet opened #429 "Module compiled with Swift 4.1 cannot be imported by the Swift 4.2 compiler"
- SDK version: 2.1.0
- Xcode version: 10.0 beta 6
- iOS or Simulator:
- iOS Version: 10.13.6
- Swift version: 4.2

Steps to Reproduce:

1. Build or Run
2. Get error "Module compiled with Swift 4.1 cannot be imported by the Swift 4.2 compiler" by "import ZendeskSDK"

Is there a workaround?

[2018-08-20 10:07] tecknut commented on #429
Hi @Blockwallet there is an [issue tracking the beta versions of Xcode](https://github.com/zendesk/zendesk_sdk_ios/issues/403).

Thank you

[2018-08-20 10:07] #429 closed

[2018-08-20 10:09] tecknut commented on #428
Hey @pixyzehn, thanks for raising this. We'll look into this and update you here.

[2018-08-21 09:51] jamfly opened #430 "Help Center searchBar background color transition animation"
- SDK version: 2.1.0
- Xcode version: 9.4.1
- iOS or Simulator: ios and simulator
- iOS Version: 11.4.1
- Swift version: 4.1

Steps to Reproduce:

1. open a help center view composed by `ZDKHelpCenterUi.buildHelpCenterOverview()`
2. tap random question
3. tap back button

Result:
search bar background color supposed to be as same as navigation bar, but it turn out that it is black.

![bug0](https:

[2018-08-21 10:07] RonanMcH commented on #430
HI @jamfly ,
I have not been able to reproduce this issue. Are you on the latest version of the SDK?
Thanks,
Ronan.

[2018-08-21 10:08] jamfly commented on #430
Hi @RonanMcH
I am using 2.1.0

[2018-08-21 10:32] RonanMcH commented on #430
Great,
I'm still struggling to reproduce this. Are you setting any properties on your navBar globally or in the navController?
Thanks,
Ronan.

[2018-08-21 10:42] jamfly commented on #430
@RonanMcH

    [[UIBarButtonItem appearanceWhenContainedInInstancesOfClasses:@[[UISearchBar class], [UINavigationController class]]] setTintColor:[UIColor whiteColor]];

    [[UITextField appearanceWhenContainedInInstancesOfClasses:@[[UISearchBar class], [UINavigationController class]]] setBackgroundColor:[UIColor ic_darkRed]];

    [[UISearchBar appearanceWhenContainedInInstancesOfClasses:

[2018-08-21 15:46] RonanMcH commented on #430
Hi @jamfly ,
I still haven't reproduced this issue. I made a sample project with this code in it and still could not see the black bars appearing in your app. Could you possibly send us a sample project with the problem replicated?
Thanks,
Ronan.

[2018-08-21 16:10] jamfly commented on #430
HI @RonanMcH
Thank you for your respond

But, I am afraid I can't give you sample project. If possibly that property or method in somewhere causes it?  And I changed it without even notice. And could you tell me what's the best move to customize help center's ui. cause i also had tried `[ZDKTheme currentTheme].primaryColor = [UIColor orangeColor]` but it didn't work. Also I want to ask if possibly

[2018-08-22 09:37] johnny77221 commented on #403
Tried set pod file to specified git url and branch to xcode10-beta does not work.
instead, the following works for me on device and simulator:
1. specify pod 'ZendeskSDK', '2.1.0'  and pod install
2. on GitHub page, switch branch Xcode10-beta and download zip
3. open the Zendesk dir in project's pod dir, replace 4.1 folder with the 4.2 folder in the zip file
4. search project and replace pod build

[2018-08-28 14:32] divo commented on #430
@jamfly `primaryColor` only sets a few accent colors within our UI.

Can I suggest you create a sample integration and apply your apps styling until the bug manifests? That should help you figure out what exactly is going wrong. We are still not able to replicate this with the information you have provided.

[2018-08-28 14:43] divo commented on #423
@SandissM  I'm glad you found the issue.

The second screen shot you posted looks correct to me, what exactly is the issue?

[2018-08-28 14:44] divo commented on #425
@CraigSiemens any further info or can we close this?

[2018-08-28 14:48] SandissM commented on #423
@divo Ideally search bar should be in the middle of yellow box I guess. Basically simulate zendesk v1 default UI but its aligned to top

[2018-08-28 14:52] divo commented on #423
@SandissM afaik we aren't modifying the layout of the search bar. This is the system default. I would guess it's supposed to be the same color as the nav bar as it copies its appearance by default.

[2018-08-31 17:33] nyeu opened #432 "Can't install Zendesk through Cocoapods"
- SDK version: Trying to install 2.0.4
- Xcode version: 9.4
- iOS or Simulator: Both
- iOS Version: 11.3
- Swift version: 4.1

Steps to Reproduce:

1. Add `pod 'ZendeskSDK'` to my Podfile as said in the installing tutorial.
2. Run `pod install`
3. This message appears
[code]

<img width="1067" alt="screen shot 2018-08-31 at 19 32 04" src="https://user-images.githubusercontent.com/7888779/44927379-

[2018-09-03 08:26] KillianSmith0 commented on #432
Or try running `pod update`

[2018-09-03 09:59] nyeu commented on #432
The combination of both worked, thank you.

[2018-09-03 09:59] #432 closed

[2018-09-03 10:04] KillianSmith0 commented on #432
@nyeu I would recommend removing the `, '~> 2.1'` as it will point you to the 2.1 version only.. When there is a new version of the SDK, you won't be pointed towards the new version when you run `pod update` next

[2018-09-03 15:14] tecknut commented on #430
Hi @jamfly,

The `preferredStatusBarStyle` property on view controllers can only be overridden internally. Unfortunately.

I've been trying to find the source of the black search bar with no luck so far. I'm not sure how this is occurring in the gif above. We have no code which alters appearance during view will appear.

Out of curiosity, do you require view controller based status bar style?

[2018-09-03 15:19] tecknut commented on #423
Hey @SandissM,

We've looked back through the code which adds the search bar. Nothing has changed since v1 in terms of how the search bar is added on screen. If there is a change in layout this was not intended.

Have you confirmed that the search bar is in the middle of the yellow box in v1?

Thanks,
Alan

[2018-09-03 15:36] jamfly commented on #430
Hi @tecknut
If I just use default theme, the whole white one, and I set `preferredStatusBarStyle` to be `UIBarStyleBlack` It would simply be whole black, that's fair enough, but it will also produce that black bar animation.  Can I just turn the animation off, or set StatusBar color by navigation bar's color.

Thanks,
Jamfly

[2018-09-03 15:41] tecknut commented on #430
The animation is a system one. We're not actually animating anything during the transition.

[2018-09-03 15:43] jamfly commented on #430
@tecknut so, that black bar just cannot solve, right? cause if you don't wanna your status bar be white, that would appear.

[2018-09-04 07:33] boazFrenkel commented on #403
I'm using CocoaPods
- I set the pod file to:
pod 'ZendeskSDK', :git => 'https://github.com/zendesk/zendesk_sdk_ios.git', :branch => 'xcode10-beta'
- I run pod install
- I deleted the strip-frameworks.sh script

When building with Xcode 10 Beta 6 I can Build the project but then I get an crash as @jeffremer:

dyld: Symbol not found: _$S8Dispatch0A3QoSV0B6SClassO7defaultyA2EmFWC
  Referenced from: /

[2018-09-04 08:09] KillianSmith0 commented on #403
@boazFrenkel First can you just try to run pod update, and see if the issue persists? Also what folder is the Core artefact 'Expected in:..' is it your Pods folder.?

Second attempt: can you download the artefacts and try to manually put them into you're `Pods/ZendesKSDK/` folder, and see if the issue persists?

[2018-09-04 08:13] boazFrenkel commented on #403
Thanks for the instant reply!
Can I reply here?

[2018-09-04 09:07] boazFrenkel commented on #403
@KillianSmith0

1) I set the pod file to:
pod 'ZendeskSDK', :git => 'https://github.com/zendesk/zendesk_sdk_ios.git', :branch => 'xcode10-beta'
I run pod update ZendeskSDK.  *(successfully)
I deleted the strip-frameworks.sh script

The issue persists here is a full description:

dyld: Symbol not found: _$S8Dispatch0A3QoSV0B6SClassO7defaultyA2EmFWC
  Referenced from: /Users/boaz/Library/Developer/C

[2018-09-04 10:40] RonanMcH commented on #403
Hi @boazFrenkel,
The podspec is actually pointing at the beta4. This was a mistake that we updated the artefacts but didn't point the podspec at the correct folder with the correct artefacts. I'll update the podspec on that branch now and let you know.
Thanks,
Ronan.

[2018-09-04 10:44] RonanMcH commented on #403
HI @boazFrenkel ,
I fixed that. Try run `pod update` again and let us know if it works.
Thanks,
Ronan.

[2018-09-04 13:01] RonanMcH commented on #430
HI @jamfly ,
this seems to be an Apple bug in iOS 11 when you set the `navigationItem`s `searchController` to be a `UISearchController` the appearance seems to get set to the `searchBar` after it has finished animating on to the screen when navigating back on the nav stack, which is why the color appears to pop on.
The reason it doesn't happen on other versions of iOS is because our code sets the

[2018-09-04 13:08] RonanMcH commented on #423
Hey @SandissM ,
this seems to a bug in iOS 11 with Apple's appearance selector for the searchBar when the `navigationItem`s `searchController` is set to be a `UISearchController`. Here is a simple [sample app](https://drive.google.com/file/d/1MKSBDk9iO_xIuzxIKHdsmo8Xc7q67Pr7/view) showing the issue.
Thanks,
Ronan.

[2018-09-04 15:59] RonanMcH commented on #422
Hi @ngoclt ,
Is this issue still persisting for you?
Thanks,
Ronan.

[2018-09-04 16:03] RonanMcH commented on #426
Hi @J-Mendes ,
We haven't yet heard any other reports of this crash and haven't seen any crashes like this in our own testing. Are you still seeing high numbers for this crash?
Thanks,
Ronan.

[2018-09-04 16:08] RonanMcH commented on #425
Hi @CraigSiemens ,
I'm going to tentatively close this issue since we haven't heard from you in a while. Feel free to reopen it if the issue still persists.
Thanks,
Ronan.

[2018-09-04 16:08] #425 closed

[2018-09-04 17:12] J-Mendes commented on #426
Hi,
Lately I've have way less reports of this crash.

[2018-09-05 07:02] boazFrenkel commented on #403
Hi @RonanMcH
It works after running pod update.
Thanks for the quick response!

[2018-09-07 04:08] jamfly commented on #430
Hi @RonanMcH
sorry for the lately respond, and thank you for your help
so I just change my style to whole white.
And no more ugly black bar show up again.

[2018-09-07 09:17] RonanMcH commented on #430
Hi @jamfly ,
that's great.
Thanks,
Ronan.

[2018-09-07 09:17] #430 closed

[2018-09-10 08:03] BharatAgarSoftTech commented on #337
@mstar0125 set barTint with pattern image like this

UIImage *navImg = [_globalGDXData imageWithGradient:kColorAppPurple endColor:kColorAppOrange];
[[UINavigationBar appearance] setBarTintColor:[UIColor colorWithPatternImage: navImg]];

[2018-09-11 18:57] JoaqStar commented on #403
I just installed Xcode 10 Beta 6 and added this to my Podfile:

pod 'ZendeskSDK', :git => 'https://github.com/zendesk/zendesk_sdk_ios.git', :branch => 'xcode10-beta'

I ran pod update and this is what I got:

[!] Failed to load 'ZendeskSDK' podspec:
[!] Invalid `ZendeskSDK.podspec` file: undefined method `swift_version=' for #<Pod::Specification name="ZendeskSDK">.

 #  from /var/folders/t3/y9q3m9

[2018-09-13 01:32] rhysforyou opened #433 "Swift 4.2 Support"
With the Xcode 10 GM Seed now available, and Apple accepting submissions compiled against the iOS 12 SDK, it'd be helpful to have a version of the Zendesk SDK which works with Swift 4.2

- SDK version: 2.1.0
- Xcode version: Version 10.0 (10A254a)
- iOS or Simulator: Simulator and Device
- iOS Version: 12.0
- Swift version: 4.2

Steps to Reproduce:

1. Install the SDK
2. Build the app

[2018-09-13 06:52] Stunba commented on #403
When you guys gonna release a build with Xcode 10 GM?

[2018-09-13 08:55] SoFx00 commented on #403
Hi! When will you build your library with XCode 10 GM?
It is very important for us because it is the only one release blocker.

[2018-09-13 08:56] benguild commented on #403
It's been an internal release blocker here for over a month

[2018-09-13 09:05] RonanMcH commented on #403
Hey guys,
We are working on a release for Xcode 10 GM today so watch this space. @benguild , we had builds for the some xcode betas up with cocoapods support so this shouldn't have blocked you from an internal release. Could you provide some feedback as to why this was the case?
Thanks,
Ronan.

[2018-09-13 09:07] benguild commented on #403
@RonanMcH We couldn't convince everyone to switch to the Xcode beta because of the headaches

[2018-09-13 09:43] Stunba commented on #403
Hey @ronan-mch,
Beta release from branch xcode10-beta doesn't work for me. Could you specify what it was build for? which swift version?
I have my project build with external libraries targeting swift 4.1 version but zendesk sdk doesn't compile.(using both current stable version and xcode10-beta branch version).
Thanks.

[2018-09-13 11:51] andreyberillo commented on #403
Hi @Stunba
https://github.com/zendesk/zendesk_sdk_ios/tree/xcode10-beta/ZendeskSDK/4.2
You could use frameworks from "4.2" folder, cause only them currently supports xcode 10.
Try to replace content of <your_project_name>/Pods/ZendeskSDK/ZendeskSDK/4.1/

[2018-09-13 12:02] harrygt commented on #403
I've just tried that @andreyberillo but I get this:

[code]

[2018-09-13 12:03] Stunba commented on #403
Thanks @andreyberillo
It works

[2018-09-13 12:37] harrygt commented on #403
Will doing this support Testflight betas?

Not sure why Zendesk is the only cocoapod we have that is causing problems here. All the others just seem to work fine.

[2018-09-13 12:42] hertanu commented on #403
When today do you expect to have the release ready?

[2018-09-13 16:16] RonanMcH commented on #433
Hi guys,
We just released version 2.1.1 of the Support SDK with swift 4.2 support.
Thanks,
Ronan.

[2018-09-13 16:17] RonanMcH commented on #403
Hi guys,
We just released version 2.1.1 of the Support SDK with swift 4.2 support.
Thanks,
Ronan.

[2018-09-13 16:32] #403 closed

[2018-09-13 16:32] #433 closed

[2018-09-13 18:35] wrags commented on #433
🙌Thanks!

[2018-09-14 09:29] egfojas opened #435 "HelpCenterCategoryViewModel' is unavailable: cannot find Swift declaration for this class"
- SDK version:  2.0.2
- Xcode version: 9.4.1
- iOS or Simulator: Simulator
- iOS Version: 11.1
- Swift version:  4.1

Steps to Reproduce:

1. Use HelpCenterCategoryViewModel, HelpCenterSectionViewModel, or HelpCenterArticleViewModel in swift class

Error seen: HelpCenterCategoryViewModel' is unavailable: cannot find Swift declaration for this class
App successfully builds but still showing said er

[2018-09-14 10:32] brendan-fahy commented on #426
Hey @J-Mendes,
We still haven't been able to reproduce this issue in our own testing or debugging. Without more in-depth logging, it's very hard for us to look into it.

Is this something that's come in via crash reports or have you been able to reproduce it yourself? If so, can you give us an indication of what versions of iOS or the SDK that the crashes are coming from? Has it changed lately, wi

[2018-09-14 18:03] J-Mendes commented on #426
Hi,
I'm not able to reproduce it. It has come on the crash report tool and I have some users that reach me reporting this behaviour. From there I can see that on the last days it doesn't occur. If I find anymore information about it or if I'm able to reproduce it I will come back to you.
Thanks

[2018-09-14 18:41] chrismanderson opened #436 "`Theme` Swift class name is too generic"
- SDK version: 2.1.1
- Xcode version: 10
- Swift version: 4.2

The Swift class name `Theme` for the `ZDKTheme` Objective C class is too generic. I already have a `Theme` class in my app, and I would assume many other developers do as well as it's a pretty common and well-defined term. It's also not listed under a module, as something like `ZDK.Theme` doesn't work.

While `Theme` is a Swiftier-name

[2018-09-17 09:17] tecknut commented on #436
Hi @chrismanderson,

`Theme` is infact namespaced in Objective C to `ZDKTheme`. Additionally, in Swift, it is namespaced under the SDK module `ZendeskSDK.Theme`.

It's possible to typealias this to something shorter if required.

`

[2018-09-17 09:18] #436 closed

[2018-09-17 10:31] tecknut commented on #428
Hi @pixyzehn we've been trying to replicate this, and for us the cursor stays in the middle after typing.

Can you give us some more specific reproduction steps please?

Thank you,
Alan

[2018-09-17 10:38] tecknut commented on #426
Thanks for the update @J-Mendes, we'll leave this open for now. Please get back to us with any further information.

[2018-09-17 10:42] pixyzehn commented on #428
@tecknut Yes, I can.

Steps to Reproduce:

1. Type `てすと` in Japanese.
2. Move the cursor from end to the betwee `て` and `す`.
3. Type a character and tap the enter which is `確定` in Japanese.

The result: The cursor end up moving to the end.

Also, you can reproduce similar issues if you delete `て` from `てすと`. The cursor will move to the end as well. Hope you can figure out the problem.

[2018-09-17 12:53] tecknut commented on #428
I've tried the steps above and It's not happening here for me.

![keyboard-issue](https://user-images.githubusercontent.com/2079547/45623883-9ef16300-ba80-11e8-9720-340714ee9c9c.gif)

Am I missing something?

[2018-09-17 12:59] pixyzehn commented on #428
@tecknut As far as I can see, we use this text field part in Contact us. Please let me know if you need something.

<img src="https://user-images.githubusercontent.com/2482478/45624266-6732ed00-ba79-11e8-975f-d0691519e63a.jpg" width="320">

[2018-09-17 13:11] tecknut commented on #428
Ah yes great! I can replicate this now. I'll have a deeper look at this and get back to you.

[2018-09-18 00:43] jeffremer commented on #390
@KillianSmith0 this is _still_ happening, or happening again, and it's easily reproducible in our app. The first time you go to an article it doesn't appear. It'll get the title but the rest of the screen will be blank.

[2018-09-20 00:01] hfutrell opened #437 "issue with MODULES_DISABLED macro"
- SDK version: 2.1.1
- Xcode version: Version 10.0 (10A255)

ZendeskSDK.framework/Headers/ZendeskSDK.h includes the following macro usage:

[code]

This looks like it'd be handy if Zendesk is inadvertently included from a context where Objective-C modules (i.e `@import`) do not work such as Objective-C++. Unfortunately slightly higher up in `ZendeskSDK.h` we have:

[code]

and then in `ZDKHelpCent

[2018-09-20 00:07] yahalawa commented on #403
Hi so I just started using ZendeskSDK v2.1.1 and it has the fix for Xcode 10 which is great, but it does not work on Xcode 9 (regardless of which build system I choose). I get the following error on first launch of app:
dyld: Symbol not found: _$SBOWV
  Referenced from: /private/var/containers/Bundle/Application/...Frameworks/ZendeskCoreSDK.framework/ZendeskCoreSDK
  Expected in: /private/var/cont

[2018-09-20 00:08] yahalawa opened #438 "Xcode 9 crash on ZendeskSDK 2.1.1"
Hi so I just started using ZendeskSDK v2.1.1 and it has the fix for Xcode 10 which is great, but it does not work on Xcode 9 (regardless of which build system I choose). I get the following error on first launch of app:
dyld: Symbol not found: _$SBOWV
Referenced from: /private/var/containers/Bundle/Application/...Frameworks/ZendeskCoreSDK.framework/ZendeskCoreSDK
Expected in: /private/var/containe

[2018-09-20 08:08] KillianSmith0 commented on #438
@yahalawa Xcode 10 uses Swift 4.2, and Xcode 9.4 uses Swift 4.1.2. Since Swift isn't abi compatible, you will have to choose the set of frameworks that were built with the aligning Xcode command line tools..
If you're integrating via cocoapods, you will have to drag the Swift 4.1.2 binaries, into your Pods/ZendeskSDK/ folder.. Same applies for manual integration, just pull in the required set of b

[2018-09-20 08:08] #438 closed

[2018-09-20 08:22] rusdariusalex opened #439 "Set language for Help Center"
- SDK version: 4.2
- Xcode version: 10.0
- iOS or Simulator: 12.0
- iOS Version: 12.0
- Swift version: Objective-C

Is there any way to change the language of the Help Center? For example the phone language is English but you want to change the app language to French. I would like to force the Help Center content language to French. (something like [ZDKHelpCenterUi buildHelpCenterOverviewWithLangu

[2018-09-20 08:29] RonanMcH commented on #403
Hi @yahalawa ,
The release 2.1.1 is just a new build for only xcode 10. Version 2.1.0 is the same code, just built for xcode 9.4 so you should use that!
Thanks,
Ronan.

[2018-09-20 08:30] KillianSmith0 commented on #439
You weren't too far off: [Overriding device locale](https://developer.zendesk.com/embeddables/docs/ios_support_sdk/help_center#overriding-device-locale)

`Support.instance().helpCenterLocaleOverride = "fr"`

[2018-09-20 08:30] #439 closed

[2018-09-20 09:00] gvsharma commented on #403
I am facing this issue with logic junction sdk as well.

[2018-09-20 10:17] rusdariusalex commented on #439
Thank you.

Just one more question:

First time when I call [ZDKRequestUi buildRequestUi], it uses the strings from Localizable.strings. But if I call the same method again after I changed the language of the app the strings have the value of the previous language and localizedStringForKey method is not called any more

[2018-09-20 14:14] dylancopeland commented on #403
Going forward, are fixes going to be back-ported into an Xcode 9 compatible version or is support for Xcode 9 being dropped immediately?

[2018-09-20 17:37] yahalawa commented on #438
@KillianSmith0 can you elaborate more on how to drag the Swift 4.1.2 binaries? Where do I find them? Also I thought Xcode 10 comes with Swift 4.2 but it is not enabled by default (meaning we would have to perform a migration) so In my case we still have not done that so both Xcode 9 and 10 should be on Swift 4.0 right now

[2018-09-21 09:20] gransell opened #440 "Crash when accessing WebCore on non main thread"
Hi.

We are seeing a number of crashes because Zendesk is accessing WebCore on a non main thread. I haven't been able to reproduce my self but attaching crash logs.

- SDK version: 2.1.1
- Xcode version: Xcode 10
- iOS or Simulator: iOS
- iOS Version: 11
- Swift version: 4.2

[code]

[2018-09-24 13:47] nyeu commented on #400
Since Xcode 10 is not in beta anymore, can we have the SDK working for it?

[2018-09-25 17:31] jeffremer opened #441 "Showing a single article by pushing an article view controller doesn't render the article on the first try"
If you try to view an article in a freshly installed app for the first time it doesn't appear. This is very confusing and a poor user experience, especially as a first time user of an app looking for help content.

I first filed [this issue](https://github.com/zendesk/zendesk_sdk_ios/issues/390) four months ago. I posted that the issue persists over a week ago and haven't received a reply so I'm o

[2018-09-28 08:23] hawflakes opened #444 "Why does it take over my UINavigationBar customization?"
I lost my custom back indicator and the little hairline I put in my navigationBar. How do I customize those?

- SDK version: 2.1.1
- Xcode version: 10
- iOS or Simulator: both
- iOS Version: 12
- Swift version: 4.2

Steps to Reproduce:

1.  Have a custom NavigationBar in your NavigationController
2. Push a Zendesk Controller
this one kinda works:
[code]

this one breaks:
[code]

separately, there

[2018-09-28 08:31] hawflakes commented on #444
Before I open up a new ticket I have a nice hairline. Afterwards it's gone.

![simulator screen shot - iphone 8 - 2018-09-28 at 01 28 10](https://user-images.githubusercontent.com/232777/46197285-34c99100-c2be-11e8-9da7-1d0bef5c505b.png)
![simulator screen shot - iphone 8 - 2018-09-28 at 01 28 12](https://user-images.githubusercontent.com/232777/46197286-34c99100-c2be-11e8-88a7-6948c4506641.png)
!

[2018-10-01 12:19] tecknut commented on #437
Hey @hfutrell,

Apologies for the late reply to your issue. This is indeed an oversight. Thank you for bringing it to our attention.

It will be fixed in our release.

Thank you,
Alan

[2018-10-01 12:30] tecknut commented on #440
Hi @gransell,

I've been looking through our `ZDKArticleViewController` and `ZDKArticleView`, and I've not been able to find any obvious places where we're doing work on a background thread. We make no direct calls to `WebCore`.

How often is this occurring? I'm guessing you've not been able to reproduce this?

Thanks,
Alan

[2018-10-02 17:39] pixyzehn opened #445 "Text view in request view is hidden in iPad with using external keyboard"
- SDK version 2.1.0:
- Xcode version 10:
- iOS or Simulator iOS:
- iOS Version 12:
- Swift version 4.1:

Steps to Reproduce:

1. Open a request view composed by `RequestUi.buildRequestUi` with using external keyboard in iPad.
2. The text view in the request view is hidden.

Result: The text view shouldn't be hidden.

<img src="https://user-images.githubusercontent.com/2482478/46365961-d7dd2a80-c67

[2018-10-03 12:17] KillianSmith0 commented on #441
Hi Jeff, sorry about the delay on getting back to you. We've been busy on a different project, and as a result a few issues have slipped through the cracks. Part of this is that we generally don't see updates on closed issues.

We did think it was fixed as of 2.1.0, but obviously it must have regressed. We have a tech debt item in our backlog to rewrite the ArticleView completely, which should giv

[2018-10-03 12:34] KillianSmith0 commented on #445
Hi @pixyzehn, unfortunately I was also able to replicate this.. Thanks for reporting this, I will log an issue in our backlog to address it, and keep you posted on this issue

[2018-10-03 14:17] KillianSmith0 commented on #444
I was able to replicate this issue.. I will create a bug in our backlog to track this.

We are aware of the the issue of hiding the compose button in the HC view, and are planning on releasing a fix for this soon.

However, to do this, you would normally use on of our `HelpCenterUiConfigs`
[code]
This line should work as planned in one of our upcoming releases. Will keep you posted on this post, i

[2018-10-03 15:19] KillianSmith0 commented on #435
@egfojas Can you confirm whether clean-building your project fixed this?

[2018-10-05 05:39] adamtait opened #446 "ZendeskCoreSDK requires libswiftAVFoundation"
- SDK version: 2.2 (or 4.2?)
- Xcode version: 10.0
- iOS or Simulator: Simulator
- iOS Version: 10.13 (but shouldn't matter)
- Swift version: 4.0

Steps to Reproduce:

1. Create new single view Obj-C iOS app
2. Integrate Zendesk SDK into iOS app codebase [according to docs](https://developer.zendesk.com/embeddables/docs/ios/integrate_sdk)
3. Run project; See runtime error

[code]

This problem wil

[2018-10-06 12:36] soloviov-dbbest opened #447 "Problem with tickets list cache"
- SDK version: 2.0.3
- Xcode version: 10.0, 9.3
- iOS or Simulator: 11.4.1
- iOS Version: 11.4.1
- Swift version: ObjC

Steps to Reproduce:

1. I submit several tickets from my app using jwt authentification
2. I see the tickets in the iOS tickets list
3. I relogin in my app as another user without relaunching the app. Re-initialize ZDKZendesk and create and set another ZDKObjCIdentity at this ste

[2018-10-08 13:28] gransell commented on #440
Hi @tecknut

This has happened a little more than 200 times in the last month.

I guess this is not a direct call to webcore but based on the call stack it looks like it's indirectly calling it from `layoutSubviews`in `ZDKArticleView` or am I missing something? Isn't a call on `com.apple.root.default-qos` usually a network call returning?

[2018-10-08 14:01] KillianSmith0 commented on #446
Hi @adamtait,
We use Swift to develop our SDK's.. If `AWAYS_EMBED_SWIFT_LIBRARIES=NO` then it won't work.. Our SDK is a dynamic swift library.. Although it bloats the build of the application, it will only be a small fraction of your app's footprint, when the .ipa reaches the app store, as their is a number of optimisations that happen beforehand. Here's a good read on [dynamic libraries](https://

[2018-10-09 13:16] bielikb commented on #447
Hi @soloviov-dbbest,

could you provide the code how you reinitialize the `Identity`?

Best,
Boris

[2018-10-09 13:20] soloviov-dbbest commented on #447
Sure

-(void)setupZendesk {
    [ZDKCoreLogger setEnabled:YES];
    [ZDKCoreLogger setLogLevel:ZDKLogLevelDebug];

    self.config = [[AHUserCoreData getLoggedInUser] zendeskConfig];

    [ZDKZendesk initializeWithAppId: self.config.appId
                           clientId: self.config.clientId
                         zendeskUrl: self.config.url];

    [ZDKSupport initializeWithZendesk: [ZDKZend

[2018-10-09 13:53] bielikb commented on #447
Hey @soloviov-dbbest,

thanks a lot for the example!
I could reproduce your problem easily, I'll file this issue and prioritize it. We will try to resolve it within one of the next upcoming releases of our Support SDK.

Thanks for your help!

Best,
Boris

[2018-10-09 14:00] soloviov-dbbest commented on #447
OK, thank you.

[2018-10-10 13:30] iosnativedeveloper commented on #438
@yahalawa are you able to resolve this issue. As I am also getting the same error while running a project in a device.

[2018-10-10 13:37] KillianSmith0 commented on #438
@yahalawa @iosnativedeveloper
Open `ZendeskSDK/4.1` folder (these are the 4.1.2) artefacts.. Copy the contents.. Go to your frameworks folder and paste them in! Then go to your project file, and under `General` make sure the frameworks are linked under `linked frameworks and libraries`

[2018-10-10 13:43] iosnativedeveloper opened #449 "Crash on App launch"
- SDK version:
- Xcode version: 9.4.1
- iOS or Simulator: iOS
- iOS Version: 10 and 11
- Swift version: 4.1

Steps to Reproduce:

I have updated existing Pod file and installed the SDK, then added 'Run Scripts Phase' as described in
https://developer.zendesk.com/embeddables/docs/ios_support_sdk/sdk_add#adding-the-support-sdk-required

On running a project in a device then the following error is ge

[2018-10-11 13:40] HamstringAssassin commented on #449
Hi @iosnativedeveloper,

Thanks for getting in contact. Could you confirm that you are running the xcworkspace file created after pod install? Unfortunately, we'll need more info if we are to debug the issue you are encountering. if you could send us some sample code that's demonstrating the issue that would be really helpful.

Thanks a mil,
Al

[2018-10-12 07:21] YannDuv commented on #449
Hi,
Same here, we do have the same error with Xcode 9 using the import for Objective-C from the documentation.
The crash appear even with a new pristine Objective-C project.

[2018-10-12 09:37] RonanMcH commented on #449
Hey guys,
we currently only have cocoapods support for latest build tools (i.e. Xcode 10).  I made a branch for you guys called `cocoapods_support_for_version_swift_4.1` that points the `podspec` at the swift 4.1 frameworks. If you point your zendesk pod at that branch it should work. Let us know. 👍
Thanks,
Ronan.

[2018-10-13 20:10] devedup commented on #327
I have the same issue. The issue is that the status bar will revert to .default style. You would normally provide:

`override var preferredStatusBarStyle: UIStatusBarStyle {
        return .lightContent
    }`

on your custom view controller. There seems to be no obvious way to do this with the Zendesk 1.11.2.1 SDK

[2018-10-15 14:53] D-Link13 opened #450 "Memory leaks when presenting attachments controller from the RequestUI controller"
- SDK version: 2.2.0
- Xcode version: 10.0 (10A255)
- iOS or Simulator: iPhone 7
- iOS Version: 12.0.1
- Swift version: 4.1

Steps to Reproduce:

1. present RequestUI controller
2. hit an attachment button
3. dissmiss RequestUI controller
4. repeat several times steps 1-3, while reviewing the Debug navigator... you will see that ram is starting to overfill

Looks like you are holding a strong poin

[2018-10-16 08:31] RonanMcH commented on #450
Hi @D-Link13 ,
Thanks for the information. We'll have a look into this memory leak and get back to you.
Ronan.

[2018-10-16 12:47] RonanMcH commented on #422
Hi @ngoclt ,
I am going to tentatively close this issue since we haven't heard from you in a while. Please feel free to reopen it if you are still having problems.
Thanks,
Ronan

[2018-10-16 12:47] #422 closed

[2018-10-16 12:53] RonanMcH commented on #435
Hi @ngoclt ,
I am going to tentatively close this issue since we haven't heard from you in a while. Please feel free to reopen it if you are still having problems.
Thanks,
Ronan.

[2018-10-16 12:53] #435 closed

[2018-10-22 10:43] ManueGE opened #452 "`additionalRequestInfo` in ZendeskSDK 2.X"
- SDK version: 2.2
- Xcode version: 10.1 beta2
- iOS or Simulator: iOS
- iOS Version: 12
- Swift version: 4.2

Steps to Reproduce:

1. With ZendeskSDK 1.X we were able to add some additional info to the requests using this method:
[code]
2. Is this possible to do the same thing in version 2.X ?

[2018-10-22 12:48] tecknut commented on #452
Hey @ManueGE, this is no longer a feature in v2.

`ZDKRequestUiConfiguration` is used for configuring ticketing in v2.

Thank you,
Alan

[2018-10-22 12:48] #452 closed

[2018-10-22 12:54] ManueGE commented on #452
Yep, I know it, but not equivalent for `additionalRequestInfo`, right? we'd need to use custom fields, isn't it?

[2018-10-22 12:55] tecknut commented on #450
Hi @D-Link13,

Ronan investigated this and was unable to reproduce the leak.

- Have you any specific configuration code which you can share?
- Did you use Instruments to profile this?

Thanks,
Alan

[2018-10-22 14:54] tecknut commented on #446
Hey @adamtait we're going to close this.

If you need any further help please get in touch.

Thanks,
Alan

[2018-10-22 14:54] #446 closed

[2018-10-23 09:01] baz8080 commented on #452
@ManueGE that is correct.  I don't know if it'll ever come back, but we have some discussions on our [forums](https://develop.zendesk.com/hc/en-us/community/topics/360000018828-Mobile-SDKs) about `additionalRequestInfo`, and our PM is aware of it.

[2018-10-24 00:54] adamtait commented on #446
Nothing further. Clearly, it's unreasonable to ask you to re-write your SDK in another language so we have reached an impasse and you were right to close the ticket.

If you're curious, I won't be using the SDK and instead will leverage Zendesk's HTTP/REST API from all my iOS & Android apps.

[2018-10-26 13:51] nikhildange opened #453 ""Unable to Connect" on buildHelpCenterOverview"
- SDK version: 2.2.0
- Xcode version: 10.0
- iOS or Simulator: iOS
- iOS Version: 12.0
- Swift version: 4

Steps to Reproduce:
_AppDelegate_
[code]

_NavigationController_
[code]

_Log:_

2018-10-26 19:15:43.915444+0530 AppName v2[807:236927] [INFO]: Localization key and value : "ios.ZDKHelpCenter.helpCenterOverview.title" = "";
2018-10-26 19:15:43.931288+0530 AppName v2[807:236927] [INFO]: Locali

[2018-10-26 15:04] aravika08 opened #454 "First send message doesn't show in chat"
- SDK version: 2.2.0
- Xcode version: 10.0
- iOS or Simulator: iPhone X
- iOS Version: 12.1
- Swift version: 4.2

Steps to Reproduce:

1. Start ZDCChat:
`ZDCChat.start(in: self.navigationController) { config in
                config?.emailTranscriptAction = .neverSend
                self.navigationController?.navigationBar.isHidden = false
            }
            ZDCChat.updateVisitor { user i

[2018-10-30 13:39] RonanMcH commented on #454
@aravika08 , moving this open issue to the correct repo [here](https://github.com/zendesk/zendesk_sdk_ios/issues/454) and closing this issue.

[2018-10-30 13:39] #454 closed

[2018-10-31 16:44] CraigSiemens opened #455 "Documentation should mention that ATS needs to whitelist help center domains"
- SDK version: 2.2.0
- Xcode version: 10.1
- iOS or Simulator: Both
- iOS Version: 12.1
- Swift version: 4.2

When showing help centre content in the app, the SDK shows the html content in a UIWebView. If the help centre article contains an image, the web view loads it from a remote url for display. By default with any new iOS project, App Transport Security (ATS) will block the request to those r

[2018-10-31 17:10] CraigSiemens commented on #455
**Update**
Originally I though the issue was due to ATS but totally disabling it doesn't allow the images to load. One image did randomly load  but the remaining images still don't. I updated the issue and title accordingly.

[2018-11-01 08:54] RonanMcH commented on #455
Hi @CraigSiemens ,
I believe your issue may be that you have a restricted Help Center which may mean that the host mapped attachments won't show. We have a section in our V1 docs [here](https://developer.zendesk.com/embeddables/docs/ios/help_center#access-a-restricted-help-center).

This code still works but you will need to import the Core umbrella header if you are using Objective-c like so:
[co

[2018-11-01 15:29] CraigSiemens commented on #455
Yup, that fixed it. Thanks.

[2018-11-05 19:36] sschizas opened #459 "Missing required key: CFBundleVersion"
- SDK version: 2.3.0
- Xcode version: 10.1
- iOS or Simulator: -
- iOS Version: 12
- Swift version: 4.2

I have added the SDK via Cocoapods.

Steps to Reproduce:

1. Archive project for App Store submission
2. Go to Organizer and validate application archive

If you perform the steps above you get an error from iTunes stating the following:

<img width="656" alt="screen shot 2018-11-05 at 21 34 55

[2018-11-06 09:53] sschizas commented on #459
Hi @bielikb,

I rolled back to 2.2.0 version of the SDK and I was able to archive and submit version to App Store without any issue. I have tried to completely remove the SDK and re-install it without any luck. I will give it another try and I would let you know with my findings.

Cheers,
Stavros

[2018-11-06 10:50] KillianSmith0 commented on #444
Hi @hawflakes

We release a new version of Support last Friday. Updating to v2.3 should solve the navbar issue.
As for disabling ticket creation, take a look at our [updated docs](https://developer.zendesk.com/embeddables/docs/ios_support_sdk/help_center#disable-ticket-creation).

I'm going to close this issue, feel free to open a new one if other issues occur

[2018-11-06 10:50] #444 closed

[2018-11-06 10:52] KillianSmith0 commented on #437
Hi @hfutrell

We released a new update of our SDK. Updating to 2.3.0 will fix your issue.
Going to close this issue, feel free to open a new one if any other issues occur.

Killian

[2018-11-06 10:52] #437 closed

[2018-11-06 10:54] KillianSmith0 commented on #428
Hi @pixyzehn,

We released a new version of our SDK. If you update to v2.3.0 your issue should be resolved.

I'll close this issue, feel free to open a new one if any other problems arise.
Killian

[2018-11-06 10:54] #428 closed

[2018-11-06 13:35] bielikb commented on #459
Thanks a lot @sschizas!

Looking forward to hearing from you.

Best,
Boris

[2018-11-06 13:37] pixyzehn commented on #428
@KillianSmith0 Thank you for letting me know that. Will update the version.

[2018-11-06 14:00] KillianSmith0 commented on #441
Hi @jeffremer,

We've released v2.3 of the SDK, it includes a a fix for the article view not rendering first time round.. Updating should resolve the issue. I'll keep this issue open for now, if there's any other feedback, otherwise will close later in the week.

Regards,
Killian

[2018-11-08 13:11] HamstringAssassin commented on #450
Hi @D-Link13,

im going to tentatively close this issue. If you do have any more info for us, feel free to re-open or get in contact.

Cheers,
Al

[2018-11-08 13:11] #450 closed

[2018-11-11 06:28] hawflakes opened #460 "Can't seem to get Help Center when upgrading from 2.1.0 to 2.3.0"
- SDK version: 2.3.0
- Xcode version: 10.1
- iOS or Simulator: Simulator
- iOS Version: 12.1
- Swift version: 4.2

Steps to Reproduce:

1. Updated my SDK to 2.3.0 and using a standard help center:
[code]

What shows up: "My Tickets"
![simulator screen shot - iphone x - 2018-11-10 at 22 25 36](https://user-images.githubusercontent.com/232777/48309885-beb07f00-e537-11e8-8acd-f24e676c8716.png)

What

[2018-11-12 09:36] KillianSmith0 commented on #460
Hi @hawflakes,

Can you make sure Guide/Help Center is enabled in the settings on your Zendesk instance? Go to Settings/Mobile SDK and the app you are using..

[2018-11-12 21:35] hawflakes commented on #460
@KillianSmith0 it was switched off. Now that I've switched it on & saved it, it's still breaking for me. Is there anything else I'm missing? Do I need to wait a certain amount of time?

[2018-11-12 22:49] hawflakes commented on #460
Thanks!

[2018-11-12 22:49] #460 closed

[2018-11-13 10:01] bielikb commented on #459
Hi @sschizas,
could you please update, whether the issue is gone & you can freely update to our latest version of SDK?

Thanks,
Boris

[2018-11-13 11:48] sschizas commented on #459
@bielikb After upgrading to latest version (2.3.0) the issue doesn't exists. I had to reintegrate the cocoa pods in general so may that was the trick to correctly upgrade the Zendesk SDK.

[2018-11-13 11:48] #459 closed

[2018-11-13 11:59] #441 closed

[2018-11-13 12:06] #423 closed

[2018-11-13 13:59] rumaniel opened #461 "Crash on iOS 8"
- SDK version:  2.2.0
- Xcode version: 9.3
- iOS or Simulator: iOS
- iOS Version: 8.1, 8.3, 8.3.1
- Swift version: 4.1

Steps to Reproduce:
1. App launch on iOS 8

The app crash on iOS 8 when the app launched. After update iOS 12.1 and it doesn't happen.

The trace and logs are bellow:
[code]

[code]

Thanks.

[2018-11-14 10:09] KillianSmith0 commented on #461
Hi @rumaniel,
We currently only Support iOS 9-12.. iOS 8 is 5 major version numbers bumps old, and it would be unfeasible for us to support it.. The latest version that supports iOS 8 is v2.0. Sorry for any inconvenience!

[2018-11-14 10:09] #461 closed

[2018-11-14 10:15] KillianSmith0 commented on #445
Hey @pixyzehn,
This issue should be fixed when you update to our latest release `v2.3`.. I will close this issue for now, feel free to open another if you have any other problems!

[2018-11-14 10:17] KillianSmith0 commented on #440
@gransell we recently made a small refactor of the ArticleView and ViewController, could you update to v2.3 and see if the issue persists?

[2018-11-14 13:33] mapedd opened #462 "Crash when initialising Zendesk"
- SDK version:2.0.3
- Xcode version: 9.4 (9F1027a)
- iOS or Simulator:iOS
- iOS Version: iOS12,11
- Swift version: 4.1

We get a lot of crashes when calling:

[code]

this is the crash report

[code]

There's similar (https://github.com/zendesk/zendesk_sdk_ios/issues/421) closed issue but no resolution is posted here.

We do have `SWIFT_COMPILATION_MODE` set to `whole_module` set on the app target

[2018-11-14 14:02] KillianSmith0 commented on #462
Hi @mapedd,
We had some issues with our 2.0.3 release, can you update to 2.3.0 to ensure the problem persists, as we weren't able to replicate it. If you can ensure it still occurs, we will look into it further..

Are you initialising Zendesk more than once? Are you's in the position to use Xcode 10? Can you make sure you're not making calls to any of the providers before you initialise also, than

[2018-11-15 10:44] pixyzehn commented on #445
@KillianSmith0 I tested it with the latest release which is `v2.3`, but on `iPad Pro (10.5-inch) - 12.1`, the text view will be hidden by the keyboard. Could you check it? If it's an issue, please reopen the issue.

<img src="https://user-images.githubusercontent.com/2482478/48547741-3af1ec00-e8c3-11e8-883a-50fe6b03da0b.png" width="640">

[2018-11-15 10:51] mapedd commented on #462
I think we can add 2.3.0, we are in process of transitioning to Xcode 10. Where can I find a list of changes from 2.0.3 to 2.3.0?

[2018-11-15 10:51] mapedd commented on #462
We initalize SDK  once

[2018-11-15 10:59] KillianSmith0 commented on #445
By text view, do you mean the input field (Attacment/texfield/send)?

Ok, we'll have to look further into this! Can you confirm the issue with internal keyboard still persists? Or is it just when external keyboard is connected? Thanks

[2018-11-15 11:03] pixyzehn commented on #445
@KillianSmith0 If it's with an external keyboard, it's no problem. The keyboard show properly.
The issue still persists only with an internal keyboard as I showed you in the screenshot.

[2018-11-15 11:17] baz8080 commented on #462
@mapedd We have the [changelog here](https://developer.zendesk.com/embeddables/docs/ios_support_sdk/release_notes).

[2018-11-15 11:32] baz8080 commented on #445
@pixyzehn thanks for the info. We'll discuss the bug internally.

[2018-11-15 17:24] CraigSiemens opened #463 "Clicking on a link in a help center article to another article should stay in the app."
- SDK version: 2.3.0
- Xcode version: 10.1
- iOS or Simulator: Both
- iOS Version: 12.1
- Swift version: 4.1

Currently any links tapped will open in safari. If your help center requires authentication, the browser will then ask the user to sign in when they're already authenticated within the mobile app.

Steps to Reproduce:
1. Use a mobile app with a help center with articles that require authen

[2018-11-15 17:38] KillianSmith0 commented on #463
@CraigSiemens Can you confirm the domain linked to your sdk app instance is the same domain as the help center articles you are deeplinking?

[2018-11-15 19:08] CraigSiemens commented on #463
Ahh, that might be it. Our production help center recently change to using a custom subdomain.

[2018-11-15 19:08] #463 closed

[2018-11-15 20:06] CraigSiemens opened #465 "Cant submit to App Store with 2.3.0, Info.plist is missing CFBundleVersion"
- SDK version: 2.3.0

The value for `CFBundleVersion` in the Info.plist is an empty string. When uploading to appstore connect, it gives the following error.

[code]

[2018-11-15 21:11] heroic opened #466 "dyld: Library not loaded"
- SDK version: 2.3.0
- Xcode version: 10.1
- iOS or Simulator: iPhone
- iOS Version: 12.1
- Swift version: 4.0

Steps to Reproduce:

1. Create a project
2. Add SDK
3. Include project into app
4. Launch app
5. Crash

The app crashes with the error:

dyld: Library not loaded: @rpath/ZendeskCoreSDK.framework/ZendeskCoreSDK
  Referenced from: /var/containers/Bundle/Application/F67C5FD4-9C86-4CFD-8AA0-

[2018-11-16 17:06] bielikb commented on #466
Hi @heroic,

SDK v2.3.0 is available only for Swift version 4.2 and 4.2.1.

Please also make sure you're embedding the `ZendeskCoreSDK`, ZendeskProviderSDK` and ZendeskSDK framework respectively.
You can link & embed the frameworks within your project's build phases.

If you're in doubt, feel free to ask. Im attaching the image to show, how you can embed the aforementioned frameworks.

Best,
Boris

[2018-11-20 10:45] RonanMcH commented on #466
Hi @heroic ,
Can you let us know if Boris' advice this solved your issue?
Thanks,
Ronan.

[2018-11-21 17:13] jackjpark opened #469 "Creating new ticket and typing a character makes the submit button disappear"
- SDK version: 2.3.0
- Xcode version: Latest
- iOS or Simulator: Sim
- iOS Version: 12.0
- Swift version: 4

Steps to Reproduce:

1. Use `RequestUi.buildRequestUi` to create a ticket, notice the submit button is visible
2. Type anything in your ticket
3. After 1 character the 'submit' button dissapears, however the action still seems to be there and works, just no visible text

[2018-11-22 18:09] #469 closed

[2018-11-23 07:45] gransell commented on #440
Thanks! Will give it a try and report back.

[2018-11-26 18:04] HamstringAssassin commented on #466
Hi @heroic,

Unless you've any objection, I'm going to close this issue. Feel free to contact us again and advise if this didn't fix your issue and we can start looking into it some more.

Thanks a mil,
Al

[2018-11-26 18:04] #466 closed

[2018-11-29 15:21] Bubcho opened #470 "Can I hide the back button on a request view controller returned by RequestUi.buildRequestUi(requestId:)?"
Hi,
I'm using Zendesk iOS SDK 2.2.0 in a Swift 4.2 project. I'm showing a request by:
`
let vc = RequestUi.buildRequestUi(requestId: "requestID")
navigationController.pushViewController(viewController: vc, animated: true, completion: {})
`
Is there a way to hide the back button in the navigation bar of the request view controller that the SDK is giving me? I've tried setting in the previous vc:
`

[2018-11-29 23:32] TheSooth opened #471 "Hide contact support not working when article opened from searching controller"
- SDK version: 2.3.0
- Xcode version: 10.1 (10B61)
- iOS or Simulator: Both
- iOS Version: 12.1
- Swift version: 4.2.1

Steps to Reproduce:

1. Configure ArticleUiConfiguration and HelpCenterUiConfiguration with ```hideContactSupport = true```
2. Search for an article though Search bar
3. Open article
4. Contact button will appear at NavigationBar

[2018-11-30 09:40] #470 closed

[2018-12-04 22:32] Lawati97 commented on #470
where you able to fix it @Bubcho ? as i am facing through the same issue

[2018-12-04 22:44] Lawati97 commented on #377
@tecknut unfortunately that didn't work for me since i have
 let helpCenterViewController: UIViewController = HelpCenterUi.buildHelpCenterOverview(with config [helpCenter, articleView])
        self.navigationController.setViewController([helpCenterViewController], true)

as the code you gave me didn't help me to remove the 'x' button

[2018-12-04 23:40] Lawati97 commented on #377
@tecknut  after using your i keep on getting a tool bar but for some reason i cannot remove it?
Thank you for your code!!

[2018-12-04 23:59] Lawati97 commented on #377
![screen shot 2018-12-04 at 5 58 14 pm](https://user-images.githubusercontent.com/37277245/49480960-5c713400-f7ee-11e8-8b69-d62f49a2df1b.png)

[2018-12-05 00:01] Lawati97 commented on #377
![screen shot 2018-12-04 at 5 58 14 pm](https://user-images.githubusercontent.com/37277245/49481036-af4aeb80-f7ee-11e8-9d1c-3eb0ef1ac6f2.png)

[2018-12-05 00:04] Lawati97 commented on #377
![screen shot 2018-12-04 at 5 58 14 pm](https://user-images.githubusercontent.com/37277245/49481116-fc2ec200-f7ee-11e8-8329-a95a16a5732c.png)

As you can see the lower shaded area.
I tried to hide it using viewController or self but yet it didn't worked

[2018-12-05 08:36] bielikb commented on #440
Hi @gransell,

did updating to v2.3.0 resolve your issue?

[2018-12-05 22:03] thewodros commented on #308
Hi,
Question related to nav bar items. I am using the v2 iOS Zendesk SDK and I was able to configure help center, contact us (request), and my ticket (requestList) screens. The compose message button in the nav bar (right item) is not clickable i.e. cannot initiate the contact us screen when this button is pressed. How do you enable this right nav bar item?

[2018-12-05 22:16] thewodros opened #472 "Contact Us right nav bar item is not clickable/enabled in ZDKRequestUi"
Hello,

I am using the v2 iOS Zendesk SDK and able to configure help center, contact us (request), and my ticket (requestList) screens. My problem is the compose-message right nav bar button is not clickable i.e. the button cannot initiate the contact us screen when it is pressed. How do you enable this right nav bar item?

<img width="322" alt="screen shot 2018-12-05 at 2 12 10 pm" src="https://u

[2018-12-06 10:39] RonanMcH commented on #472
HI @thewodros ,
if the right nav bar button is present, it should be enabled. There is no code to enable it. We will help you debug this issue.
Could you please send us the code you are using to show the request list screen as well as any code you are using to configure it?
Do you have a custom navigation bar?

[2018-12-06 19:54] Lawati97 commented on #377
@tecknut thank you for helping us with the code, i currently have on more issue is that for some reason there is a navigation controller showed up and no matter what i did it kept on showing up, ill attach a picture regarding about my issue.
![screen shot 2018-12-06 at 1 52 26 pm](https://user-images.githubusercontent.com/37277245/49608529-7893e300-f95e-11e8-8598-14759dfcfdcb.png)
![screen shot 20

[2018-12-07 09:38] tecknut opened #473 "A navigation controller issue"
![screen shot 2018-12-06 at 1 52 26 pm](https://user-images.githubusercontent.com/37277245/49608529-7893e300-f95e-11e8-8598-14759dfcfdcb.png)
![screen shot 2018-12-06 at 1 52 34 pm](https://user-images.githubusercontent.com/37277245/49608533-7b8ed380-f95e-11e8-8a6b-9b3efe9fd9ac.png)

_Originally posted by @Lawati97 in https://github.com/zendesk/zendesk_sdk_ios/issues/377#issuecomment-445007869_

[2018-12-07 09:40] tecknut commented on #473
Hey @Lawati97 I opened up this issue for.

Can you describe the issue in more detail? Or even if you a video of the issue, maybe you can put it here?

Thank you,
Alan

[2018-12-13 09:02] HamstringAssassin commented on #472
Hi @thewodros,

just out of curiosity, which version of the SDK are you using? we recently introduced a new property for modifying this.

[code]

Are you modifying the NavigationController in any way before pushing the HelpCenter?

[2018-12-15 20:08] kurtguenther commented on #445
I can also confirm that `2.3` fixes the external hardware keyboard UI problems. But the normal (non-hardware) keyboard UI problems are still in `2.3`

[2018-12-18 11:41] KillianSmith0 commented on #473
Hi @Lawati97, can you provide us with a little more detail please?
What version of the SDK and iOS are you testing on? How are you presenting the HelpCenter ViewController?

[2018-12-18 11:43] KillianSmith0 commented on #440
Hi @gransell,
Just another bump to see if you have an update on this issue for us?
Thanks,
Killian

[2018-12-18 12:02] KillianSmith0 commented on #472
The property @HamstringAssassin mentioned, was planned to be introduced in v2.3 to align our API's with our Android counterparts. However we had to delay the introduction, to a later version so it is not available in 2.3..

@thewodros can you confirm if you have a custom navbar? Might it be possible that there is an invisible view blocking the right bar button from being pressed? Or that a custom

[2018-12-18 17:24] KillianSmith0 commented on #445
@kurtguenther, @pixyzehn

We currently have a fix for the layout issue where the keyboard blocks the inputField. It will be included in our next version release. However we still have issues with the extra padding of the inputField in your second image. As it's not a feature bug, it won't be prioritised as highly as other tasks, so we can't guarantee it will definitely be in the next release.

We'

[2018-12-20 22:50] newfotune commented on #337
This worked for me.
`let helpCenterContentModel = ZDKHelpCenterOverviewContentModel.defaultContent()
        let attrs = [NSForegroundColorAttributeName: UIColor.white, NSFontAttributeName: UIFont.systemFont(ofSize: 15.0)]
        let appearance = UITextField.appearance(whenContainedInInstancesOf: [UISearchBar.self])

        appearance.defaultTextAttributes =  attrs
        ZDKHelpCenter.pushOver

[2018-12-22 16:34] d-man08 commented on #447
SDK version 2.3.0 still has this bug
Just informing

[2018-12-27 13:30] bw4uf commented on #453
The same as you.How to solve this?

[2019-01-03 09:03] SamuraiCoder opened #474 "How can I customize ZDKRequestUi buildRequestList ticket creation"
- SDK version: 2
- Xcode version: 10
- iOS or Simulator: iOS
- iOS Version: 12
- Swift version:

Hi, I'm integrating zendesk in one of our games. It wasn't as simple as I expected but now is there.

I'm using

UIViewController *requestScreen = [ZDKRequestUi buildRequestList];

To show the viewController with all the tickets created. As long as something is responded it appears in the viewcontrolle

[2019-01-03 09:16] kuoliangkwong opened #475 "How can we customize buildRequestUI navigation title?"
- SDK version: 2.3.0
- Xcode version: 10.1
- iOS or Simulator: Simulator
- iOS Version: 12.1.2
- Swift version: 4.2

How can we customize the default "Contact Us" in buildRequestUI navigation title? I tried using RequestUiConfiguration.subject but it seems like not working.

[2019-01-03 11:21] RonanMcH commented on #474
Hi @SamuraiCoder ,
You can pass `UIConfiguration`s to the Request List to customize the tickets created from here using the following code:
[code]
Let us know if this answers your question.

Sorry to hear it wasn't as simple as you expected, please let us know where and what we can improve on our [product feedback form](https://develop.zendesk.com/hc/en-us/community/topics/360000018828-Mobile-SDKs

[2019-01-03 11:46] RonanMcH commented on #475
Hi @kuoliangkwong ,
You cannot customise the `RequestUI` title using the `RequestUiConfiguration` I'm afraid. You will need to edit our localisation files and provide a translation for all the languages you support. [Here](https://developer.zendesk.com/embeddables/docs/ios_support_sdk/localize_text) is our documentation on adding and changing localisations in the Support SDK. If you want to change

[2019-01-03 11:53] RonanMcH commented on #473
Hi @Lawati97 ,
Just another follow up on this issue, regarding the questions above that Killian asked.
Please provide with some recreation steps.
Thanks,
Ronan.

[2019-01-03 12:58] RonanMcH commented on #465
Hi @CraigSiemens ,
Since we haven't heard from you in a while, I am going to tentatively close this issue. Please feel free to reopen or repost on this thread if this is still an issue for you.
Thanks,
Ronan.

[2019-01-03 12:58] #465 closed

[2019-01-03 13:05] RonanMcH commented on #462
Hi @mapedd ,
Since we haven't heard from you in a while, I am going to tentatively close this issue. Please feel free to reopen or repost on this thread if this is still an issue for you.
Thanks,
Ronan.

[2019-01-03 13:05] #462 closed

[2019-01-04 03:51] kuoliangkwong commented on #475
It works~ Thanks alot @RonanMcH. Btw, if i change ZendeskSDKStrings.bundle, when I pod update, it will get replaced by original version, right?

[2019-01-04 03:57] #475 closed

[2019-01-04 04:15] kuoliangkwong opened #476 "Close button and navigation title are not applying theme color"
- SDK version: 2.3.0
- Xcode version: 10.1
- iOS or Simulator: Simulator
- iOS Version: 12.1.2
- Swift version: 4.2

Steps to Reproduce:

1. Push request list view controller using `RequestUi.buildRequestList`
2. Click `Start A Conversation` or Create New Icon at the top right corner.
![1](https://user-images.githubusercontent.com/8188634/50673624-1fc97000-101a-11e9-8557-0115c44ba13d.png)

3. A ne

[2019-01-04 13:07] SamuraiCoder commented on #474
Cool, that apparently works. Thanks.

And what about if I want to send info like OS/Device info/App name? basically all the tags available on the default form?

Regards.

[2019-01-04 14:24] RonanMcH commented on #474
Hi @SamuraiCoder ,
You can just add these details as tags to the `uiConfig` you started the request list UI with. We do have a Zendesk marketplace app that will gather some of the information you mentioned there. Have a look. [Here](https://www.zendesk.com/apps/support/support-sdk-metadata/) it is.
I'm gonna close this issue as your problem seems to be solved. Feel free to reopen or open more issu

[2019-01-04 14:24] #474 closed

[2019-01-07 16:43] bw4uf opened #477 "ZendeskProviderSDK [__NSArrayM InsertObject:atIndex:] crash"
- SDK version:2.3.0
- Xcode version:10.1
- iOS or Simulator:simulator
- iOS Version:12.0
- Swift version:

Steps to Reproduce:

1. push to helpCenter

![image](https://user-images.githubusercontent.com/8967881/50780537-27b93680-12de-11e9-9674-5651e7318fa5.png)

[2019-01-09 10:09] Thuran commented on #337
I could not figure it out. I ended up using the white color for the navigation bar and the orange color for the title. 😞

[2019-01-09 13:22] HamstringAssassin commented on #477
Hi @bw4uf,

Thanks for getting in touch. Could we get a bit more information regarding the crash...Are you using the helpCenterUI or just the provider methods?

If you could include some sample code that you are using that's causing the crash that would also be a massive help. We can try to reproduce it here.

Cheers,
Al

[2019-01-09 14:40] HamstringAssassin commented on #476
Hi @kuoliangkwong,

Thanks for getting in touch. I was able to reproduce this easily enough. It definitely seems like a bug.

I've raised one on our internal backlog.

When the ticket is done one of us will update this github issue.

Thanks for letting us know.
Al

[2019-01-10 13:09] bw4uf commented on #477
(
	0   Vova                                0x0000000104ad6ac8 +[NSException(FDProtectLog) _printWithName:message:trackEvent:] + 140
	1   Vova                                0x0000000104ad6814 -[NSException(FDProtectLog) print] + 128
	2   Vova                                0x0000000104b66960 -[NSMutableArray(FDProtect) fd_insertObject:atIndex:] + 284
	3   ZendeskProviderSDK                  0x0000

[2019-01-11 03:39] bw4uf commented on #477
(
0 xxx 0x0000000104ad6ac8 +[NSException(FDProtectLog) _printWithName:message:trackEvent:] + 140
1 xxx 0x0000000104ad6814 -[NSException(FDProtectLog) print] + 128
2 xxx 0x0000000104b66960 -[NSMutableArray(FDProtect) fd_insertObject:atIndex:] + 284
3 ZendeskProviderSDK 0x0000000109fac814 __42+[ZDKLocalization buildInitialBundleArray]_block_invoke + 212
4 CoreFoundation 0x00000001a5d125dc + 216
5 Ze

[2019-01-11 23:08] algrubb opened #478 "Views are laid out incorrectly and hidden under the Navigation Bar after searching"
- SDK version: 1.11.2.1
- Xcode version: Version 10.1 (10B61)
- iOS or Simulator: iPhone XS Max
- iOS Version: iOS 12.1
- Swift version: 4.2

Steps to Reproduce:

1. Navigate to `ZDKHelpCenterOverviewController` and search for an FAQ article that does not exist to return `No results`.
2. Use the inspector in Xcode to observe that elements are laid out incorrectly, hidden under the navigation bar.

[2019-01-12 00:21] jeffremer commented on #471
This seems to be true when pushing a help center article view controller for the first time, regardless of whether it comes from a search or not. To reproduce that, just push a support article with the article config set to hide the contact button.

[code]

[2019-01-16 05:11] zeulb commented on #477
Hi, I'm also having this issue when trying to integrate this SDK with a React Native project.

I'm new to native iOS developement but I have tried multiple times both the manual process with ObjC and Cocoapods described here https://developer.zendesk.com/embeddables/docs/ios_support_sdk/sdk_add.

More research lead me to believe that `ZendeskSDKStrings.bundle` was not loaded properly, although I'm

[2019-01-17 22:55] zeulb opened #479 "Crash on navigation to Zendesk UI"
- SDK version: tried both 2.2.0 and 2.3.0
- Xcode version: 10.1
- iOS or Simulator: Simulator
- iOS Version: 12.1
- Installation: Tried both manual ObjC and CocoaPod

Trying to integrate Zendesk SDK to a React Native Expo app.
Did init and identify successfully but crash when navigating to any UI from Zendesk

[code]

This is even reproducable on a clean expo app installation.

Below is the stackt

[2019-01-21 16:11] RonanMcH commented on #478
Hi @algrubb ,
Sorry about the delay in investigating this issue. I wasn't able to recreate the issue locally. Could you possibly send some screenshots of the issue you are seeing so that we could get an idea of exactly what is going on? Could you also send us the code you are using to present the `ZDKHelpCenterOverviewController`?
Thanks,
Ronan.

[2019-01-24 20:00] jklausa opened #480 "Swift 5 / Xcode 10.2 support"
Heyo, I'm gonna be _that_ person ;P

Xcode 10.2 and Swift 5 betas came out today. We'd like to start working on migrating our code ASAP, but we can't build our app because you're shipping a binary Swift framework. `swiftc` doesn't support importing modules built with earlier version of compiler, which leads to build faliures like this:

[code]

I understand you won't be able to ship a "released" v

[2019-01-29 13:07] RonanMcH commented on #480
Hey guys, we are working on getting a 10.2 beta release of the SupportSDK for you guys.  Keep an eye on this space.
Thanks,
Ronan.

[2019-01-30 16:43] schlan commented on #479
This is a duplicate of https://github.com/zendesk/zendesk_sdk_ios/issues/477. Please follow this issue for further updates.

[2019-01-30 16:43] #479 closed

[2019-01-30 16:44] schlan commented on #477
We identified the root cause of the crash and created a bug in our internal bug tracker. We'll keep you updated.

[2019-02-01 09:53] jpierceruhland opened #481 "[ZDKLocalization printAllKeys] does nothing"
- SDK version: Current
- Xcode version: 10.1
- iOS or Simulator: Simulator
- iOS Version: 12.1
- Swift version: n/a (ObjC)

Steps to Reproduce:

1. Either call [ZDKLocalization printAllKeys] in AppDelegate didFinishLaunching:withOptions: or set a breakpoint and call it from debugger i.e. "po [ZDKLocalization printAllKeys]".
2. Nothing happens

[2019-02-01 09:57] jpierceruhland commented on #481
As a workaround, you can run

`plutil -convert xml1 /path/to/ZendeskProviderSDK.framework/ZendeskSDKStrings.bundle/en.lproj/Localizable.strings` and just read the plist that way

[2019-02-01 20:23] creister opened #482 "Provider SDK errors not user friendly and no exposed error types / codes to wrap"
- SDK version: 2.3.0

We use the provider SDK in our app. When fetching articles, requests, etc in some cases if the request fails, we present the error to the message in a UIAlertController.

In ZDK v1 the `localizedDescription`s returned by the SDK for various errors were not very user friendly, so we provided alternate descriptions by switching on `ZDKApiErrorCode`

However in ZDK v2 the `local

[2019-02-01 20:53] creister commented on #482
Update: I did notice that there seems to be a more user friendly error message set in custom user info, at least for some errors

[code]

[2019-02-02 18:46] espitia commented on #453
Anyone find a solution?

[2019-02-04 09:40] KillianSmith0 commented on #453
Make sure you initialise Zendesk before initialising support..
Eg.
[code]

Can you ensure that you aren't initialising an identity, with an agent's email? Also make sure in Support settings, that the app config's that you're using, it's identity is set to Anonymous, and is enabled correctly.

[2019-02-05 14:07] agordeev commented on #382
I experience this on `2.1.1`. @divo can we reopen the issue to not to create a new one?

[2019-02-05 19:25] michaelfransen commented on #480
Any updates?

[2019-02-05 20:09] codedbypm commented on #480
+1

[2019-02-06 13:59] RonanMcH commented on #478
Hi @algrubb ,
Just a bum on this issue for the above information requested to help us debug what exactly is going on?
Thanks,
Ronan.

[2019-02-06 18:14] RonanMcH commented on #481
HI @jpierceruhland ,
you may need to enable the logger for them to work. Here is the code to do so:
[code]
Hope this helps,
Ronan.

[2019-02-06 21:00] espitia commented on #453
I initialized Zendesk in `AppDelegate.swift`.

I also checked the app config settings through Zendesk to make sure that Guide is enabled and Authentication method is set to Anonymous.

I still get "Unable to connect". Anything else I should try?

[2019-02-07 09:34] KillianSmith0 commented on #453
What is the uiDelegate you are setting on `helpCenter`? This isn't a property on the v2 HelpCenterUi..
Here are some sample apps that uses these configs correctly, just download and enter your configs to get it up and running..
[Support Samples](https://github.com/zendesk/ios_sdk_demo_apps/tree/master/SupportSDKSamples), there is an obj-c, Swift and Swift-CocoaPods integration, hope this helps!

[2019-02-07 17:07] espitia commented on #453
The issue was simple. My **Visible to** option for articles in guide was not set to **everyone**.

It would be great if the issue raised in the app was not "Unable to connect" since that makes it seem like if it was a network error of some sort.

Thanks @KillianSmith0 for the help.

[2019-02-08 21:57] davidohyer opened #483 "Xcode 10.2 crash using Swift 4.2.1"
- SDK version: 2.3.0
- Xcode version: 10.2
- iOS or Simulator: iOS - iPad Mini A1490
- iOS Version: 12.2
- Swift version: 4.2

Steps to Reproduce:

1. Add Zendesk API to my project following the exact manual steps in the documentation.
2. Run app, the following error is thrown as soon as it runs:

dyld: Symbol not found: _$SBOWV
  Referenced from: /private/var/containers/Bundle/Application/1899180

[2019-02-12 09:29] gransell commented on #440
Hi

We have been monitoring this for a while now and it looks like the 2.3.0 update solved the crashes NSOperation closing this now.

Thanks,
Mikael

[2019-02-12 09:29] #440 closed

[2019-02-12 11:45] HamstringAssassin commented on #481
Hi @jpierceruhland,

Just checking in to see if Ronan's suggestion worked to print all the keys?

Cheers,
Al

[2019-02-13 04:33] pechn opened #484 "Crash on calling the method unregisterForPush"
- SDK version: 2.3.0
- Xcode version: 10.1
- iOS or Simulator: iOS
- iOS Version: 12.x
- Swift version:

Steps to Reproduce:

1.App will crash on calling the function

2.Also crash on setting a new jwt identifier:

The crash log:

[2019-02-13 06:32] vdvsibedge opened #485 "A blank screen is displayed if the ZDKHelpCenterUi is loaded for the first time"
- SDK version: 2.3.0
- Xcode version:
- iOS or Simulator: Both
- iOS Version: 10.1 (10B61)
- Swift version: 4.2

Steps to Reproduce:

1. Install a host app and launch it for the first time.
2. Disable your internet connection
3. Navigate to the Zendesk help UI using HelpCenterUi.buildHelpCenterOverviewUi(withConfigs:)

**Result:** A blank screen is displayed.
**Expected result:** An error message

[2019-02-13 06:39] vdvsibedge opened #486 "A blank screen is displayed when no data were loaded and an internet connection is reestablished"
- SDK version: 2.3.0
- Xcode version:
- iOS or Simulator: Both
- iOS Version: 10.1 (10B61)
- Swift version: 4.2

Steps to Reproduce:

1. Host app was installed and Zendesk help UI was displayed at least once
2. Disable your internet connection
3. Navigate to the Zendesk help UI using HelpCenterUi.buildHelpCenterOverviewUi(withConfigs:)
4. A "No connection" error message is displayed by Zendesk hel

[2019-02-15 17:54] colealanroberts opened #487 "iOS 10 Navigation Bar covering UI"
- SDK version: 2.3.0
- Xcode version: 10.1
- iOS or Simulator: Simulator
- iOS Version: 10.3.1
- Swift version: Objective-C

Steps to Reproduce:

1. File a support ticket (Conversations on) and note the recent tickets tableview underneath the navigation bar. This only happens on iOS 10.

![image](https://user-images.githubusercontent.com/3952713/52874779-2dddd680-3118-11e9-9906-11e3f1b0bc62.png)

[2019-02-15 23:05] jpierceruhland commented on #481
Hey @HamstringAssassin, no it did not.

[2019-02-17 19:10] pechn commented on #487
I had met the same issue and have found a workaround to solve it.

    requestListController.edgesForExtendedLayout = UIRectEdgeNone; // To avoid navigation bar covering the content in iOS <= 10
    [self.navigationController pushViewController:requestListController animated:YES];`

[2019-02-18 01:13] colealanroberts commented on #487
@pechn Excellent, I'll give this a shot.

[2019-02-18 10:35] KillianSmith0 commented on #483
Hi @davidohyer

Unfortunately the Supports 4.2 artefacts will not work on Xcode 10.2 beta. Your app will compile with the 4.2 artefacts, if you are using the latest official release of Xcode (10.1).

We have a task in our backlog to look into building artefacts on the more recent beta, we will update this issue once we look further into this.

Regards,
Killian

[2019-02-18 10:38] #483 closed

[2019-02-18 10:43] KillianSmith0 commented on #484
Hi @pechn
Could you [enable logging](https://developer.zendesk.com/embeddables/docs/ios_support_sdk/debug) in your AppDelegate and update this issue with more detailed logs please.

Thanks,
Killian

[2019-02-18 10:58] KillianSmith0 commented on #487
Hi @colealanroberts
I wasn't able to replicate this, can you send a snippet showing how you set up and present the view controller?

Thanks ,
Killian

[2019-02-18 12:38] sarahjstacey15 opened #488 "Orientation issue"
- SDK version:2.3.0
- Xcode version: 10.1
- iOS or Simulator: Both
- iOS Version: iOS 9, 10, 11 & 12
- Swift version: 4.2

Steps to Reproduce:

Using the following code to show the request UI there is no way to control the supported orientations.

let requestListController = RequestUi.buildRequestList(with: [requestConfig])
let navHelp = UINavigationController(rootViewController: requestListContro

[2019-02-18 13:33] KillianSmith0 commented on #485
Hi @vdvsibedge

We have a task in our backlog to improve the offline experience of this sdk. Unfortunately I don't have a timeline, when this might be updated. We'll notify this issue once we have an update!

Regards,
Killian

[2019-02-18 13:36] KillianSmith0 commented on #486
Hi @vdvsibedge

What seems to be the issue here? The error message disappearing after connection is re-established is expected? It seems the 'result' and 'expected result' have been copied across from the other issue?

Killian

[2019-02-18 13:53] KillianSmith0 commented on #488
Hi @sarahjstacey15

Unfortunately there isn't a way to force the view controller. I found this snippet online it might help you.

[code]
You could call this before you present the VC, and use the nil to reset if you want? Hope this helps!

Killian

[2019-02-18 14:50] KillianSmith0 commented on #481
@jpierceruhland can you make sure you set the log level to `ZDKLogLevelInfo`? All keys may not print however because there is a character limit on NSLog, this is something we'll have to address, thanks for bringing it to our attention!

Regards,
Killian

[2019-02-18 15:02] KillianSmith0 commented on #453
Hey @espitia

We have tasks in our backlog to update the offline error handling of our sdks, we'll take this into consideration when implementing it! Since your issue is resolved, I'll close it. Keep an eye on the release notes for updates, and feel free to open another issue if you've another problem.

Thanks,
Killian

[2019-02-18 15:02] #453 closed

[2019-02-18 15:29] sarahjstacey15 commented on #488
Got a version working now, basically in my navigation controller I'm checking the navigation controller against my own controller and then forcing it to portrait. It's a bit of a messy hack but it seems to work.

S

[2019-02-18 16:22] pechn commented on #484
I have enabled logging but it showed nothing relative to the crash issue. BTW, I integrates Firebase Cloud Messaging SDK at the mean time

[2019-02-18 17:16] KillianSmith0 commented on #488
You could also just disable landscape in your project settings, but I assume you may need landscape for other use cases.. At least you got something working! I will close this issue for now, feel free to open another if any other issues arise!

Thanks,
Killian

[2019-02-18 17:16] #488 closed

[2019-02-18 18:07] colealanroberts commented on #487
@KillianSmith0 here's a shortened snippet. I chose to create and present a new UINavigationController because the need to display this article in a modally presented controller with navigation was a requirement.

# ZendeskManager.m

Method used in ZendeskManager singleton to create and show the Zendesk Help Center
[code]

# Some VC
[code]
_ZDKHelpCenterPresentationStyle_ is an enum I created with

[2019-02-20 04:24] jpierceruhland commented on #481
[code]

[2019-02-21 09:42] KillianSmith0 commented on #486
Hi @vdvsibedge

Sorry I read the steps wrong, and I was confused as you have 2 similar issues open. I will close the other one as they seem to be directly related.

As mentioned in #485, we currently have tasks in our backlog for improving our reachability strategy, however I don't have a timeline for this yet unfortunately. We will update this issue when we have a better idea.

Thanks,
Killian

[2019-02-21 09:44] KillianSmith0 commented on #485
Duplicated issue so I will close this. Refer to #486 for more info

[2019-02-21 09:44] #485 closed

[2019-02-21 16:46] michaelfransen commented on #480
Hey, can you please provide a timeline for this?

Thanks,
Michael

[2019-02-22 15:39] NoliNik opened #489 "Color of top panel for "Contact us" screens"
- SDK version: 2.3.0
- Xcode version:10.1
- iOS or Simulator: any
- iOS Version: any
- Swift version: 4.0

Steps to Reproduce:

1. set custom color for navigation bar in your app
2. push ReqestsList screen (navigation bar will have correct color)
3. press create new article button (will modal present Contact us screen with incorrect color)

![screen shot 2019-02-22 at 18 38 34](https://user-images

[2019-02-23 04:46] SuYungCheng opened #490 "Conflict With Other SDK"
- SDK version: 2.3.0
- Xcode version: 10.1
- Swift version: 4.2

Steps to Reproduce:

1.  I use RxSwift and Action Framework before
2. After I add the Zendesk SDK it shows error: 'Action' is ambiguous for type lookup in this context
3. Conflict with Action SDK
4. mark the import Zendesk , it work fine.

the error image:
![image](https://user-images.githubusercontent.com/17446246/53281761-f058f900-

[2019-02-25 10:47] vdvsibedge commented on #486
Hi @KillianSmith0

OK, thanks. I'll wait for update.

Dmitry

[2019-02-26 10:36] KillianSmith0 commented on #490
Hi @SuYungCheng,

Unfortunately it seems we share a common API with the Action framework, here's a good read on [API pollution](https://nshipster.com/swift-api-pollution/#strategies-for-api-consumers) which has some tips that might help as a workaround.

The Action you're using in the code looks more like the Action framework's Action, so you would probably be marking this one `Action.Action`.. If

[2019-02-26 10:36] #490 closed

[2019-02-26 10:59] KillianSmith0 commented on #489
Hi @NoliNik,

This is an issue on our end.. I will create an issue in our backlog. In the mean time here is a workaround for you:
[code]
If you have different navbar colors on different screens, you will have to set this value appropriately

Kind regards,
Killian

[2019-02-26 12:27] KillianSmith0 commented on #487
@colealanroberts This code refers to the article screen, could you send the snippet related to the request list? This really shouldn't be an issue, and you shouldn't need to use a workaround for this, just trying to help debug this.

Thanks,
Killian

[2019-02-26 12:37] KillianSmith0 commented on #484
Can you do the following:
1. Set the debug level to `ZDKLogLevelVerbose`
2. Remove the call for unregisterForPush..
3. Replicate the crash for jwt identifier
4. Redact any sensitive information from logs and send them
5. Do the same for the unregisterForPush crash..

Can you ensure that you don't clear the ZDKZendesk instance anywhere before calling this?

Also make sure your jwt identifiers are *

[2019-02-26 18:58] colealanroberts commented on #487
I appreciate your help! Here's a very condensed look at the buildRequestConfig method. The removed code sets up a number of extra ZDKCustomFields.

[code]

[2019-02-27 06:08] DominatorVbN opened #491 "crash occures when dismmising compose page of RequestList."
- SDK version: 2.3.1
- Xcode version:10.1
- iOS or Simulator:iPhone 6
- iOS Version:12.1
- Swift version:4

Steps to Reproduce:

1. just push RequestUi.buildRequestList() and goto compose,
2.tap the cross button

Error Log:erminating app due to uncaught exception 'NSRangeException', reason: 'Cannot remove an observer <ZendeskSDK.ProgressBar 0x10fd86a40> for the key path "self.bounds" from <UINavig

[2019-02-27 21:01] earthbound19 commented on #480
+1

Lack of updated library will halt production if this is not ready when the next (incremental) release of iOS is out (in beta Xcode and iOS it will not compile without a Swift version upgrade; it coerces upgrade). If that becomes costly (goes on for days) we would be forced to jettison ZenDesk.

[2019-02-27 21:06] moger777 commented on #480
Is it possible to access zendesk via an API vs an SDK? Would make it easier to keep internal code up to date without having to wait for zendesk to release. Obviously down side is a bit of client side code would have to be built up.

[2019-02-28 09:57] brendan-fahy commented on #480
Hi all, latest update is still the same, I'm afraid - we haven't got a build for 10.2 yet. I'll re-flag this with the folks internally to see if we can get a better update soon.
@moger777 we do have a Rest API you can use if you prefer: https://developer.zendesk.com/rest_api/docs/zendesk-apis/resources Though obviously, as you said, that's a significantly higher investment of effort on your side (

[2019-02-28 12:40] rus64 opened #492 "Carthage support."
Please consider adding Carthage support for this framework.

[2019-03-01 10:10] KillianSmith0 commented on #489
@NoliNik I will close this issue for now, feel free to open another one with any other issues that might arise!

[2019-03-01 10:10] #489 closed

[2019-03-02 01:29] chaseacton commented on #471
I also have this problem.

`
let articleUiConfig = ArticleUiConfiguration()
articleUiConfig.hideContactSupport = true
let helpCenterUiConfig = HelpCenterUiConfiguration()
helpCenterUiConfig.hideContactSupport = true
let articleController = HelpCenterUi.buildHelpCenterArticleUi(article, andConfigs: [helpCenterUiConfig, articleUiConfig])
self.navigationController?.pushViewController(articleControlle

[2019-03-04 03:22] pechn commented on #484
Hi Kilian,

I think I have found the root cause of the crash issue - the symbol '>' in the registered device identifier makes the calling of unregisterForPush crash. There is nothing relative to the Firebase SDK.
Hope you solve the bug in the next release.

[2019-03-05 10:30] RonanMcH commented on #491
HI @DominatorVbN ,
I wasn't able to reproduce this issue. I wasn't able to test on the specific device (iPhone 6, iOS 12.1) but I tested it on that simulator and some other 12.1 devices.
Does it happen on the iPhone 6 iOS 12.1 simulator for you? Does it happen on any other iOS versions or devices?
The observer for "self.bounds" is registered on `viewDidLoad` of the `compose` screen so it is strang