[2016-07-14 10:52] brendan-fahy commented on #203
Hi @kevinvanderlugt,

Thanks for reporting this. We're waiting on later beta seeds to properly fix the known iOS 10 issues, and we will be releasing iOS 10 support by the time iOS 10 goes live. For now, this particular crash will be added to our list of known issues, and please do let us know if you find any more issues.

[2016-07-15 22:22] ted-ah opened #204 "ZDKCommentsViewController missing?"
I'm interested in displaying an individual request within an application.

Under the **Individual View Request component** section at the following link (https://developer.zendesk.com/embeddables/docs/ios/advancedtopics#adding-ui-components), it references the `ZDKCommentsViewController` class.

This class seems to have been removed after v1.5.4.1 of the SDK. Was this intentional? Is there another

[2016-07-18 10:44] ndobri commented on #204
@ted-ah thank you for pointing this out. It will be added back in our next release that is coming out soon. We will update this issue to let you know once the release is out.

[2016-07-20 08:19] pguptamedocity opened #205 "Rate My App option not working"
I have configured RMA and provided this link https://itunes.apple.com/us/app/icancerhealth-cancer-care/id723088265?mt=8 in my iOS app link field. When I tried to use your's Rate our app option using iOS sdk it redirects to app store with an error i.e "Your request produced an error.[newNullResponse]."
Please find the attached screen for reference.
Please look into this asap, eagerly waiting for yo

[2016-07-20 09:35] brendan-fahy commented on #205
Hi @pguptamedocity,

Note than in [our documentation](https://developer.zendesk.com/embeddables/docs/ios/rate_my_app), we state:

[code]

It looks like you're using RMA with the longer form of the App Store URL. Can you try with the shorter version?

[2016-07-20 09:47] pguptamedocity commented on #205
Hi Brendan

I tried that shorter url and found not working but actually it was a copy paste error. Now I manually write that shorter url then it worked perfectly.

Thanks
Superman Brendan

[2016-07-20 09:47] #205 closed

[2016-07-28 18:28] andrewljohnson opened #206 "Show a Single Help Center Article"
I'd like to show a single Help Center article in my iOS app, when a user clicks a certain button.

I couldn't find a way to do this in the docs.

Is it possible to do so? Is it documented if so? or is this a feature request?

[2016-07-29 09:11] StevenDiviney commented on #206
@andrewljohnson Yes this can be done. First you have to fetch the article using `- (void) getArticleById:withCallback:;` in `ZDKHelpCenterProvider` and then display it using `[[ZDKArticleViewController alloc] initWithArticle:]

[2016-07-29 18:49] andrewljohnson commented on #206
Thanks!

When I Google that, it doesn't seem documented, maybe worth adding something... not sure how I would discover it without knowing the classname.

[2016-07-29 18:49] #206 closed

[2016-08-08 18:21] olivaresf commented on #186
Hello! Do you guys have any update on this issue? Still seeing it in Beta 4.

[2016-08-08 18:35] mathewcropper commented on #186
Hi there. I just posted an update regarding iOS 10 in our SDK community, ["Chat and Support SDKs: Android 7 (Nougat) and iOS 10 updates"](https://support.zendesk.com/hc/en-us/community/posts/215771787-Support-and-Chat-SDKs-Android-7-Nougat-and-iOS-10-updates).

We have a release planned (hopefully this week) for the Chat SDK to fix issues related to iOS 10. We are currently working on one for the

[2016-08-09 14:32] afehners commented on #186
There are also layout issues when displayed in Landscape mode on an iPad running iOS10. It only functions correctly in Portrait orientation, albeit offset incorrectly at the top.

[2016-08-11 16:09] RonanMcH commented on #204
hi @ted-ah ,
We made the `ZDKCommentsViewController` public again in our latest release of the Support SDK (1.7.0.1) which is available from the repo.
Thanks again for bringing it to our attention,
Ronan.

[2016-08-11 16:10] #204 closed

[2016-08-11 16:11] RonanMcH commented on #159
Hi @meekapps ,
This issue has been fixed in our latest release (1.7.0.1) which is available from the repo.
Thanks for bringing it to our attention,
Ronan.

[2016-08-11 16:11] #159 closed

[2016-08-11 16:14] RonanMcH commented on #158
Hi @kielgillard ,
This issue has been fixed in our latest release which is now available from the repo.
Thanks for bringing it to our attention,
Ronan.

[2016-08-11 16:14] #158 closed

[2016-08-11 16:20] RonanMcH commented on #134
Hi @js,
In our new Help Center, you can now specify to open it with multiple categories or multiple sections by specifying their particular IDs in the entry methods. The new Help Center was part of our latest release of the Support SDK and is available now from the repo.
Thanks,
Ronan.

[2016-08-11 22:10] jaz-ah opened #208 "build warnings w/ latest sdk: 1.7.0.1"
Getting build warnings with the latest sdk: 1.7.0.1
Was not getting warnings with the sdk: 1.6.2.1

Xcode: 7.3.1
Installation via cocoapods
Did a complete clean of the project after updating the sdk /removed derived data/etc... and still getting warnings:

file:///Users/jaz/Projects/activehours_ios/Pods/ZendeskSDK/ZendeskSDK.bundle/ZDKCreateRequestViewController~ipad.nib/runtime.nib: warning: Miss

[2016-08-12 09:34] #134 closed

[2016-08-12 09:42] tecknut commented on #208
Hey @jaz-ah, can you try deleting your pods folder and then running `pod install` again?

We've tried to replicate this by doing a migration, but we've not been able to.

[2016-08-12 10:01] jaz-ah commented on #208
@tecknut just tried that and ran pod install again and hitting the same issues unfortunately...

[2016-08-12 10:01] jaz-ah commented on #208
(I get this both on Xcode7.3 and Xcode8.0 beta5 btw)

[2016-08-12 10:03] tecknut commented on #208
@jaz-ah did you delete the pods folder before install?

[2016-08-12 10:04] jaz-ah commented on #208
ah ok the issue was that I hadn't added all the new files to git (exactly what the error said) - so that took care of the problem.

[2016-08-12 10:04] #208 closed

[2016-08-12 13:31] Voley opened #209 "ZDKHelpCenterProvider initWithLocale confusion"
It takes locale parameter, that is nsstring. But there are no variants anywhere of what it can take.
It warns if I use [NSLocale currentLocale].

What should be used in that field?

[2016-08-12 13:50] baz8080 commented on #209
Hi @Voley The locale is an NSString and will match what locale you want to retrieve in Help Center. `@"en-us"` is an example. We'll update the docs to make this clearer.

[2016-08-16 23:11] jaz-ah opened #211 "ZDKHelpCenterCategoryViewModel object not exposed"
I am trying to call the new method on ZDKHelpCenterProvider : getHelpCenterOverviewWithHelpCenterOverviewModel -- it returns an array of ZDKHelpCenterCategoryViewModel - but this object isn't declared anywhere for me to use in code... could you expose this along with ZDKHelpCenterSectionViewModel and ZDKHelpCenterArticleViewModel?  or do I have to go through the other methods on ZDKHelpCenterProvi

[2016-08-16 23:12] jaz-ah opened #212 "confusion with ZDKHelpCenterCategoriesDataSource"
I was trying to use this class as the datasource to a new table view I created, but I'm not sure exactly what the right usage pattern is - am I supposed to call reloadData() on it?  how does the tableView know to reload itself when the data comes in?

[2016-08-17 08:31] baz8080 commented on #209
@Voley I'm going to close this issue. Please feel free to reopen if you need to.

[2016-08-17 08:31] #209 closed

[2016-08-17 09:50] baz8080 commented on #211
Hi @jaz-ah. You are correct in that you have to use the other methods like `getCategoriesWithCallback`.

The new HelpCenterOverview models, and ancillary code are intended to be private. You can post a feature request in our [SDK forum](https://support.zendesk.com/hc/en-us/community/topics/200488257-Zendesk-SDKs) if you wish.

[2016-08-17 09:50] #211 closed

[2016-08-17 09:51] baz8080 commented on #212
Hi @jaz-ah.
ZDKHelpCenterCategoriesDataSource is intended to be private. You can post a feature request in our [SDK forum](https://support.zendesk.com/hc/en-us/community/topics/200488257-Zendesk-SDKs) if you wish.

[2016-08-17 09:51] #212 closed

[2016-08-18 06:57] Zhangguiguang opened #214 "拉取不到之前用户的tickets"
ZDKAnonymousIdentity *identity = name:@"a", email:A's email
[ZDKConfig instance].userIdentity = identity;
A 创建了一个ticket1
之后切换用户B, identity = name:@"b", email:B's email
B 查看tickets is empty.
之后再换回A, identity = name:@"a", email:A's email
这时 A 查看tickets is empty，ticket1 却找不回来了。

[2016-08-18 07:21] mathewcropper commented on #214
Hi. Unfortunately, I'm unable to provide support in Chinese. I'll try to answer your question as I understand it, but if you need help in your own language it may be better to visit support.zendesk.com and raise a ticket.

It sounds like you have the following problem:

- You are using anonymous authentication in your app
- You create an identity with one set of details (A), and create a ticket
-

[2016-08-18 07:21] #214 closed

[2016-08-18 07:57] RonanMcH commented on #203
Hi @kevinvanderlugt ,
We have just released version 1.7.1.1 of the Support SDK. We have fixed all the known issues around iOS 10's latest beta that we could identify. Can you let us know if this has fixed your issue?
Thanks,
Ronan.

[2016-08-18 07:59] RonanMcH commented on #186
Hi @afehners and @olivaresf  ,
We have just released version 1.7.1.1 of the Support SDK. We have fixed all the known issues around iOS 10's latest beta that we could identify. Can you let us know if this has fixed your issues?
Thanks,
Ronan.

[2016-08-18 16:55] olivaresf commented on #186
Hi @RonanMcH, this issue is not fixed. I just tried it on Xcode Version 8.0 beta 6 (8S201h). I am trying to `showHelpCenterWithNavController:` and it's presenting correctly. However, the table view is still below the nav bar.

I'm attaching a pic. Let me know if I can help.
<img width="432" alt="screen shot 2016-08-18 at 11 54 42 am" src="https://cloud.githubusercontent.com/assets/253485/17782735/

[2016-08-19 11:25] RonanMcH commented on #186
Hi @olivaresf ,
I am struggling to recreate this bug of the table view being below the navigation bar.  The method `showHelpCenterWithNavController:` does not exist in version 1.7.1.1 of the Support SDK. I have tried `showHelpCenterWithNavController:` which works correctly and  `presentHelpCenterWithViewController:` which works perfectly. Are you sure you have updated to the latest release?
Thanks

[2016-08-19 15:45] nikita-leonov commented on #155
@baz8080 how to reset a cache?

[2016-08-19 15:57] nikita-leonov opened #215 "Providing both external id & email for anonymous identification."
Currently external id & email used for identification. Meanwhile email is also needed for communication. Most of users in a system have external id, and only some of them may have email address. When both email & external id provided both of them should be used. Currently it is not the case. If both provided only external id is used and email discarded, as result there is no way to communicate wit

[2016-08-22 22:39] kevinvanderlugt commented on #203
Hi @RonanMcH,

Sorry for the delay, we have been working on getting a release out and didn't have time yet to loop back to this.   I checked out the 1.7.1.1 pod and it still is crashing for the same reason as above.  Please let me know if you need more information, we would like to get this fixed before IOS10 gets released.

Cheers!
-Kevin

[2016-08-23 05:33] Zhangguiguang commented on #214
You're so clever, and your answer solved my question. Thank you.

[2016-08-23 06:24] mathewcropper commented on #203
Hi Kevin. It looks like we'll need to ask you some more detailed questions to help figure this out, as we're unable to reproduce this behaviour.

The info we'll need isn't really appropriate for a public thread. Would you mind sending an email to support@zendesk.com with the following details?

- Your account subdomain
- Ask for your ticket to be assigned to Mathew Cropper, and point them towards

[2016-08-23 15:27] afehners commented on #186
All fixed for me on both iPhone and iPad iOS10

[2016-08-24 08:44] tecknut commented on #215
@nikita-leonov We have seen issues like this in the past. The issue is usually due to issues with the external id of the users.

It might be best if you opened a ticket with us on [support.zendesk.com](https://support.zendesk.com) because we may need some account details to look into logs.

Thanks

[2016-08-24 08:45] tecknut commented on #215
You might give this issue as a reference on the ticket as it will probably need to be escalated.

[2016-08-25 08:57] mathewcropper commented on #137
Hi. I'm Mat, the Product Manager for our SDKs. The best place for SDK feature requests is the [Zendesk SDK community](https://support.zendesk.com/hc/en-us/community/topics/200488257-Zendesk-SDKs), or the [Product Feedback community](https://support.zendesk.com/hc/en-us/community/topics/200132066-Product-feedback) for broader Zendesk ideas. This allows your idea to have a broader reach and discussi

[2016-08-25 08:57] #137 closed

[2016-08-25 09:00] mathewcropper commented on #192
Hi there. I'm reviewing our open issues, and as this is expected based on how Cocoapods works and given that we are only offering static libraries at the moment, I'll close the thread.

[2016-08-25 09:00] #192 closed

[2016-08-25 09:02] mathewcropper commented on #142
Hi. I'm Mat, the Product Manager for our SDKs. The best place for SDK feature requests is the [Zendesk SDK community](https://support.zendesk.com/hc/en-us/community/topics/200488257-Zendesk-SDKs), or the [Product Feedback community](https://support.zendesk.com/hc/en-us/community/topics/200132066-Product-feedback) for broader Zendesk ideas. This allows your idea to have a broader reach and discussi

[2016-08-25 09:02] #142 closed

[2016-08-25 10:37] mathewcropper commented on #154
Hi there. I'm Mat, the Product Manager for our SDKs. I'd like to give you an update.

I've reviewed the request, and it's an interesting idea. It's not something I'm planning to push to build at the moment, for a couple of reasons.

The first is that for most use cases (but not all), an end-user will have few open tickets that appear in their request list on mobile. Anything fewer than ten open ti

[2016-08-25 10:37] #154 closed

[2016-08-26 19:42] damonskinner opened #217 "Failure to present Create Ticket view"
For months, we had used Zendesk as part of our approach to customer service in an iOS app.  However, recently it has started to break and cause crashes.

Originally, the version of Zendesk we used was 1.5.4.1.  It worked perfectly fine when creating a customer service ticket view and allowing the user to enter feedback/comments, then submit them.  Then it started crashing 100% of the time upon ins

[2016-08-28 14:22] timbroder opened #218 "Theme not applying to Ticket Creation"
I've set up Zendesk like this:

[code]

Then styled:

[code]

Then called:

[code]

But, I still see the stock UI:

![image](https://cloud.githubusercontent.com/assets/121503/18034383/2a87744e-6d09-11e6-884c-15a828a3e027.png)

[2016-08-30 09:08] RonanMcH commented on #218
Hi @timbroder ,
The code you using is correct for applying style to the SDK. The problem is that you aren't using the correct styling properties on the `ZDKTheme`.  The `metaTextColor` will style the text placeholder in the text view and the `inputTextColor` property will style the text inputted into the text view.
The background of the text view is styled using `primaryBackgroundColor`, so I beli

[2016-08-30 11:05] RonanMcH commented on #217
Hi @damonskinner ,
Can I ask you how you have integrated the SDK (through cocoapods or manually)? It appears that the `ZendeskSDKStrings.bundle` has not been correctly added or linked to your project. This is why you see all the translation keys. This is the reason for the original crash on 1.5.4.1 also but the crash doesn't exist anymore on 1.7.2.1.

The unrecognized selector crash, I believe is

[2016-08-30 15:19] damonskinner commented on #217
HI Ronan,
It's integrated through cocoapods with bundler.

As far as the ViewContoller issues, yes, I first tried the normal UIViewController, but if memory serves, it came up with the same result (blank screen, wrong labels, crash upon tapping cancel).  Apologies, I can't say for certain that that was the case, as while trying to figure it out, I was trying out various Zendesk versions and projec

[2016-08-30 17:38] timbroder commented on #218
Thanks @RonanMcH

Do I have access to modify the colors of these?

![image](https://cloud.githubusercontent.com/assets/121503/18099979/07096f04-6eb7-11e6-9035-f2357bedb065.png)

[2016-08-31 08:53] RonanMcH commented on #218
Hi @timbroder ,
You can modify the color of the navigation bar title and buttons using the global appearance selectors for these objects.  The code looks like this:
[code]
Hope this helps,
Ronan.

[2016-09-05 13:25] tecknut commented on #218
@timbroder Just following up on this issue. Have you been able to style your integration?

[2016-09-05 13:30] tecknut commented on #217
Hey @damonskinner I'm going to close this issue for now. Please re-open if you need update us with information.
Thanks

[2016-09-05 13:30] #217 closed

[2016-09-05 13:37] tecknut commented on #215
Hey @nikita-leonov, just following up on this. I haven't seen anything related to this issue in our support channel. Did you managed to resolve the issue?

[2016-09-05 13:38] tecknut commented on #203
Hey @kevinvanderlugt are you still experiencing this crash?

[2016-09-05 13:44] tecknut commented on #186
@afehners I'm going to close this issue as you've stated it's been solved. @olivaresf feel free to re-open this issue if you're still experiencing this problem.

[2016-09-05 13:44] #186 closed

[2016-09-06 11:51] jelenadj opened #219 "Filtering Help center by Category ID works intermittently"
I am using:
[code]
and I am getting sections from the selected category properly displayed, however, I am often getting "Failed to get sections" using the same code. Any idea?

[2016-09-06 12:21] schlan commented on #219
Hi @jelenadj, can you activate logging and send us the generated logs when the issue is happening?
https://developer.zendesk.com/embeddables/docs/ios/advancedtopics#logging

[2016-09-06 12:32] jelenadj commented on #219
@schlan I just reproduced it, it seems that I am getting 404 when I try to retrieve sections, and URL used by SDK is:
"v2/help_center/(null)/categories/200291128/sections.json?per_page=1000"
seems that language code is used as (null) instead as "en-US" for example, if it's not specified, or if it's wrong. Btw, my current preferred language is set as "en" not as "en-US".

[2016-09-06 14:12] jelenadj commented on #219
@schlan Full zendesk log is attached.
[zendesk_log.txt](https://github.com/zendesk/zendesk_sdk_ios/files/456890/zendesk_log.txt)

[2016-09-06 14:50] schlan commented on #219
Hi @jelenadj to confirm, did you enabled Help Center on Mobile SDK settings page in your Zendesk instance?

[2016-09-06 14:53] jelenadj commented on #219
Yes, Help Center is enabled on Settings > Mobile SDK > My App > Customization. Sometimes it fails to load sections, and sometimes everything works as expected (using the same Zendesk configuration and device/app).

[2016-09-06 15:06] schlan commented on #219
Thanks for clarifying. We need to look into that issue more closely, can you please open a ticket with us at support@zendesk.com ?

[2016-09-06 15:21] jelenadj commented on #219
Just opened a ticket. Btw, I am not completely sure, but seems that I can't reproduce this issue using previous version v1.6.2.1.

[2016-09-06 18:47] jelenadj commented on #219
Now, I can reproduce it every time. First opening of filtered help center is unsuccessful (404, because of invalid URL), but when I open it next time (without restarting the app), URL is correctly formatted. So, only first attempt of pushHelpCenterWithNavigationController fails.

[2016-09-08 01:18] lightbow commented on #219
Same thing with me. Started happening on my builds with the latest version, but not present in my shipping app (which uses 1.6.2.1). On a clean install, the first visit to the help center fails, and doesn't load no matter how many times I hit the "Retry" button. If I leave and come back however, everything appears fine.

[2016-09-08 09:59] luky1984 commented on #162
closed and tracked within zendesk support? very helpful for others. i have same problem, dont know what the hell what is the problem. simple thing as calling this

[[ZDKConfig instance] initializeWithAppId:@"1e41a096a8cd8e009ea4fa"
    zendeskUrl: @"https://omniwear.zendesk.com"
    clientId: @"mobile_sdk_client_e1c4e6262f1d02f43496"];

then this

    [ZDKRequests presentRequestCreationWithViewCon

[2016-09-08 10:02] tecknut commented on #162
@luky1984 I removed some details from your last comment. If you think you're having an issue which requires giving us your account details please file a ticket with us at support.zendesk.com

[2016-09-08 10:05] luky1984 opened #220 "Failed to update SDK settings: The operation couldn’t be completed. (ZDDispatcher error 4.)"
I am using this code (with my own appId and zendeskUrl and client)

[[ZDKConfig instance] initializeWithAppId:@"xxxx"
zendeskUrl: @"xxxx"
clientId: @"xxxx"];

[ZDKRequests presentRequestCreationWithViewController:self];

expecting it could work, but in the contact form i see black field with text "there was an error, pleas try again"

and in xcode console:

[DEBUG]: No SDK configuration file found

[2016-09-08 10:22] tecknut commented on #220
@luky1984 please open a ticket with us at support.zendesk.com

[2016-09-08 10:22] #220 closed

[2016-09-08 16:04] MaximusMcCann opened #221 "Deprecated designated initializer = cannot subclass"
I see `init!(success: ZDKCreateRequestSuccess!, andError error: ZDKCreateRequestError!)` is deprecated.  Fair enough, however it is, apparently, still the designated initializer.

trying to subclass `ZDKCreateRequestViewController` and override `init()` yields:

![image](https://cloud.githubusercontent.com/assets/1643285/18356213/70123c46-75b1-11e6-9e6a-31d0a676317a.png)

Trying to make it a `conv

[2016-09-09 03:45] ianthetechie commented on #219
I can confirm this is an issue for me as well using SDK 1.7.0.1 and higher. Exactly as @lightbow stated, it fails (with a 404 code for me) on the first try. The retry button also fails to load. Backing out (presenting using a navigation controller) and relaunching help center works every time.

My client would really like to upgrade to the 1.7.x branch to (finally!) get a loading indicator when th

[2016-09-09 04:13] nikita-leonov commented on #215
We workarounded it by introducing custom field for user id for our previous release. I created a ticket now —  https://support.zendesk.com/hc/requests/1787531.

[2016-09-09 09:05] RonanMcH commented on #219
Hi @jelenadj , @lightbow  and @ianthetechie ,
We have identified the issue with the `null` entry where `locale` should be in the request for Help Center sections.  The issue has been fixed and it will be in our next release. We will update this thread once it has been released.
Thanks,
Ronan.

[2016-09-09 10:09] RonanMcH commented on #221
Hi @MaximusMcCann ,
Thanks for the code snippet. Unfortunately, this class was written in objective-c a while ago and is not set up to be subclassed in Swift. We currently have no intention of updating it to do so. You can post a feature request in our [SDK forum](https://support.zendesk.com/hc/en-us/community/topics/200488257-Zendesk-SDKs) if you wish.
Thanks,
Ronan.

[2016-09-09 10:22] RonanMcH commented on #218
Hi @timbroder ,
Since we haven't heard back from you, I am going to close this issue. Feel free to reopen it if your issue hasn't been resolved.
Thanks,
Ronan.

[2016-09-09 10:22] #218 closed

[2016-09-09 10:41] #221 closed

[2016-09-09 22:48] sspitzer commented on #219
We had the same problem.  Our hack until the next release:  a custom NSURLProtocol to rewrite the request, fixing the (null).

For more on how to do that, see https://www.raywenderlich.com/59982/nsurlprotocol-tutorial

[2016-09-10 20:33] platedbay opened #222 "ZDKUITextViewDelegate.h uses private APIs in iOS 10"
Hello,

We've submitted our application with iOS 10 compatibility for review. We just got rejected because it seems our application is now using some private APIs. One of which came back as:

`updateLayout:`

I've verified that our codebase does not call this method, and running a `grep -r updateLayout .` in my workspace's directly indicates that the ZendeskSDK is:

./Pods/ZendeskSDK/ZendeskSDK.fr

[2016-09-11 17:09] lightbow commented on #222
Yikes. Any experimentation to see if rolling back to an older version gets around this, or does this issue basically block all iOS app submissions containing Zendesk SDK?

[2016-09-12 02:59] lightbow opened #223 "Camera and Photo Library usage could cause iOS 10 app rejection"
When submitting apps to the App Store Review process, inclusion of Zendesk will trigger the following rejection email:

This is caused by Apple's [new rules](https://developer.apple.com/library/ios/documentation/iPhone/Conceptual/iPhoneOSProgrammingGuide/ExpectedAppBehaviors/ExpectedAppBehaviors.html#//apple_ref/doc/uid/TP40007072-CH3-SW4) about informing users of app features that impact their pr

[2016-09-12 05:55] mathewcropper commented on #222
Hi there. Thanks for raising this.

The SDK doesn't use any private APIs, but for some time it has had a method with the same name as one. My guess is that there's an automation in place that is flagging it as a false positive.

We will update the SDK to use a new name. We'll post here when it is released to update you. My hope is that we'll have this out today, and at the very latest tomorrow.

[2016-09-12 05:59] mathewcropper commented on #223
Hi @lightbow. Thanks for posting.

We're updating our documentation to make it clear that the SDK requires this permission, and to flag the requirement to update *info.plist* with the relevant description.

At the moment, we aren't planning to offer a version of the UI without support for attachments, but I'll keep it in mind. Thank you for the idea and for sharing the HockeyApp context!

I'll mar

[2016-09-12 05:59] #223 closed

[2016-09-12 11:37] platedbay commented on #222
Awesome! Thank you so much @mathewcropper

[2016-09-12 13:43] mathewcropper commented on #222
Hi there. We just released v1.7.2.1, which contains this fix. I'll mark this issue as closed, but if you have any further issues just let me know.

[2016-09-12 13:56] platedbay commented on #222
Talk about a turn time! Thank you so much 💯

[2016-09-12 14:03] mathewcropper commented on #222
I can't take credit.. @tecknut and @RonanMcH did all the hard work. Props to them 😄

[2016-09-12 14:18] platedbay commented on #222
Well thank you @tecknut and @RonanMcH . I owe you both a 🍺

[2016-09-13 08:57] tecknut commented on #219
@jelenadj @sspitzer @lightbow We released a patch yesterday which fixed this issue. I'm closing this, please get in touch if you have further issues.

[2016-09-13 08:57] #219 closed

[2016-09-13 09:04] tecknut commented on #203
@kevinvanderlugt We've been trying to replicate this issue for a while now with no luck. Can you confirm if this crash is still occurring?

[2016-09-13 18:05] sxua commented on #222
Hi guys, I'm afraid, it's not the end of the story yet, because we've got a rejection too because of "layoutSubview" method in `ZDKUITextView` class.

[2016-09-13 19:29] mathewcropper commented on #222
Hi @sxua. Thanks for flagging this. We thought we'd caught everything, but clearly not.

We will work on this and put out another release as soon as we can.

If your app update is urgent, I would recommend disputing the decision. It's not a use of the private API, but a clashing method name. If you can wait, we will hopefully have an update out in the next day or two.

[2016-09-13 19:31] sxua commented on #222
@mathewcropper Thanks, we actually already appealed and review team said that the problem is in calling `updateLayout:` method from `[ZDKUITextView layoutSubviews]`.

[2016-09-13 19:37] mathewcropper commented on #222
To be on the safe side I want to re-run a full check for disallowed names. I'd hang on until the release if you already appealed and they stuck to their guns.

I'm terribly sorry about this. We'll keep you posted.

[2016-09-13 21:24] kevinvanderlugt commented on #203
Hi @tecknut,

Sorry about the long delay, I have been out on paternity leave.  I checked it with the iOS team this morning.  We found out the issue was due to the FoundationExtensions pod swizzling in a method that cause the crash in the Zendesk SDK.   Sorry about the confusion!  I will close this issue.

[2016-09-13 21:24] #203 closed

[2016-09-14 09:10] mathewcropper commented on #222
Hi @sxua! Have you updated to use version 1.7.2.1? In the latest version of the Support SDK with the fix for this, we aren't seeing any left over references to it.

I'll leave this open for you to respond, but I suspect you're on v1.7.1.1 or earlier. Upgrading will fix this issue for you.

[2016-09-14 13:06] sxua commented on #222
Hi @mathewcropper,

Thanks for the update on this. I've checked binary of 1.7.2.1 and found out that there's no `updateLayout:` method anymore, instead there is an `updateTextViewLayout:`.
And yeah, we were using version 1.6.x, sorry for confusion. This issue can be closed.

[2016-09-14 13:11] zzzworm commented on #203
FoundationExtensions‘s which method cash this？We encounter this problem too, how did you solve your problem?

[2016-09-14 13:24] ReDetection commented on #203
Haha, nice! I googled for this thread before I found it was FoundationExtensions in my project. Actually, I used UI7Kit which depends on FoundationExtensions, so I've opened an issue there because I wasn't sure if value is released by FoundationExtensions or UI7Kit itself. https://github.com/youknowone/UI7Kit/issues/165 If you use FoundationExtension without UI7Kit and still experience this, we ca

[2016-09-14 13:57] mathewcropper commented on #203
@kevinvanderlugt @ReDetection @zzzworm Folks, the team here is loving the community support that's going on in this thread.

Drop an email to support@zendesk.com, ask for your ticket to be assigned to Mathew Cropper. I'll send some swag your way as a thank you 😄

![](https://media.giphy.com/media/ehc19YLR4Ptbq/giphy.gif)

[2016-09-14 15:32] kevinvanderlugt commented on #203
Hi @zzzworm,

We removed [this line](https://github.com/youknowone/FoundationExtension/blob/a596eb780bc040332e16ef12b1e5612c8ba575b5/UIKitExtension/UITableView.m#L16) and it worked.  Though we ended up removing all of FoundationExtensions since it was an unnecessary dependency for us now.

Cheers!

[2016-09-14 18:06] coredream opened #227 "Category names not displayed when using presentHelpCenterOverview on iOS10"
- SDK version: 1.7.3.1
- Xcode version: 8
- iOS or Simulator:  iPhone6 and Simulator
- iOS Version: 10.0
- Swift version:

Steps to Reproduce:

1. Using your provided SampleApp, tap Support button
2. Category names are missing

Section and Article names appear correctly.  Category names are displayed on iOS9, but not iOS10.

[2016-09-15 09:29] tecknut commented on #227
@coredream Thanks for raising this, and using the new issue template 😄 we found and patched the issue https://github.com/zendesk/zendesk_sdk_ios/pull/229

Try this out and get back to us if everything working well.

[2016-09-16 07:27] coredream commented on #227
This appears to be working now from the master branch (1.7.4.1).  Thanks!

[2016-09-19 08:27] #222 closed

[2016-09-19 09:10] oarrabi commented on #227
Hello @coredream,
I will close this issue now, please feel free to reopen if it it persists :)

[2016-09-19 09:10] #227 closed

[2016-09-20 08:14] roelspruit opened #230 "Switching between Zendesk environments"
Hi,

I am trying to build a setup with the mobile SDK that would allow us to switch between a sandbox Help Center and a production Help Center within the app (for testing purposes). I am trying to do this by re-initializing the SDK with a new appId, ClientID and zendeskUrl. This does not seem to be working correctly. If I open help center after switching environments I get various errors:

`"zd_di

[2016-09-20 10:00] tecknut commented on #230
Hi @roelspruit, this isn't something that is currently supported. There is however a workaround which you can use for development purposes. We'd recommend not using it in a production app.

If you use UserDefaults to store anything in you're app then you can use the following:

[code]

A better approach, which you should do if you can do it, is to blast away everything in defaults.

[code]

Again

[2016-09-21 14:22] Nikiraf opened #231 "presentHelpCenterWithViewController is deprecated"
I have just update Zandesk SDK and I'm getting warning:
`zendesk presentHelpCenterWithViewController is deprecated as of 1.7.2.1`

I don't know what to use instead "presentHelpCenterWithViewController"

[2016-09-21 14:27] RonanMcH commented on #231
Hi @Nikiraf ,
The Zendesk Support SDK has been updated with a new Help Center UI. The old UI will be removed in the next major release. This is why you are seeing this `deprecation warning`. Details of the new Help center and its implementation are [here](https://developer.zendesk.com/embeddables/docs/ios/show_help_center#show-the-help-center-in-the-navigation-controller-with-requests).
Thanks,
Ro

[2016-09-22 06:19] Nikiraf commented on #231
Hi RonanMcH,
Thanks for you replay.

A have tried to fix it with:
let helpCenterContentModel = ZDKHelpCenterOverviewContentModel.defaultContent()
ZDKHelpCenter.pushHelpCenterOverview(self.navigationController, withContentModel:helpCenterContentModel)

But there is now cancel button, to go back to previous screen

[2016-09-22 07:35] Nikiraf commented on #231
Hi RonanMcH. Thanks for replay. It's working now.

[2016-09-22 07:49] mathewcropper commented on #231
Fantastic! Thanks for letting us know. I'll close this issue :)

[2016-09-22 07:49] #231 closed

[2016-09-22 12:15] pszot-pgs opened #232 "Unable to change email"
- SDK version: 1.7.3.1
- Xcode version: 7.3.1
- iOS or Simulator: Simulator
- iOS Version: 9.3.1
- Swift version: 2.2

I have something like this:

[code]

And email for ticket in dashboard is always the first one set in ZDKAnonymousIdentity. So if I logout, and login with different account, ticket is created for wrong user.

[2016-09-22 12:32] pszot-pgs commented on #232
It seem to work if I call initializeWithAppId each time. Is this workaround ok?
The manual seem to imply that this method should be called only once.

[2016-09-22 12:56] tecknut commented on #232
@pszot-pgs Can you have a look at these docs and let us know if what you're experiencing is different to what is expected?

https://developer.zendesk.com/embeddables/docs/ios/set_an_identity

https://support.zendesk.com/hc/en-us/articles/217914138#toc_1

[2016-09-22 16:44] pszot-pgs commented on #232
This doesn't seem to be true, because if I kill the app I can create request with new email without problem.
Could you tell me if calling `initializeWithAppId` before each request is ok? I only want to send requests, not view them. The rest of conversation will be carried by emails.

[2016-09-23 08:40] mathewcropper commented on #232
Hi @pszot-pgs. I'm Mat, the product manager for our SDKs. I've been following this thread, and I think that it might be better served as a ticket, rather than end up with a long running thread here.

Would you mind sending an email to support@zendesk.com? If you reference this and ask for the ticket to be assigned to Mathew Cropper in the SDK team, it'll come to me and we'll follow up there.

If y

[2016-09-23 18:39] timbroder commented on #218
Thank you @RonanMcH

I'm all set! Apologies for the delay

[2016-09-24 05:56] pszot-pgs commented on #232
Hi, I will preprare sample project when I have time. Current workaround seems to be working for me.

[2016-09-24 05:56] #232 closed

[2016-09-26 03:34] ehlersd opened #233 "Using Contact Us form, tapping "attachment" button crashes app"
- SDK version: 1.7.4.1
- Xcode version: 8.0
- iOS or Simulator: iPhone 6 device
- iOS Version: iOS 9.3.5
- Swift version: Obj-C

Steps to Reproduce:
1.  In HelpCenter, tap "Contact Us" (upper-right)
2. Tap "New" (upper-right)
3. Tap attachment icon (lower-left)
4. Tap "Choose existing" or "Take a photo"
5. App crashes:

**\* Assertion failure in -[UITableView _endCellAnimationsWithContext:], /Buil

[2016-09-26 14:35] roelspruit commented on #233
I also just ran into this issue but with a different version:

- SDK 1.7.3.1
- Xcode 8.0
- iPhone 6 plus
- iOS 10.0.1

[2016-09-26 14:44] roelspruit commented on #233
My bad, I just found out I forgot to do this step of the SDK integration: https://developer.zendesk.com/embeddables/docs/ios/integrate_sdk#update-usage-descriptions-in-info.plist

Maybe this also fixes it for you?

[2016-09-26 15:30] ehlersd commented on #233
No, not my issue.  I already have camera/photo library access enabled in the app, so these usage descriptions already had to be in place...

But thanks for the suggestion!

[2016-09-26 15:34] mathewcropper commented on #233
Hey @roelspruit! I wasn't able to repro this. Were you able to do this with a device connected and [logging enabled](https://developer.zendesk.com/embeddables/docs/ios/debug)? I'm curious to see what comes out in the logs.

[2016-09-26 15:59] ehlersd commented on #233
@mathewcropper Were you talking to @roelspruit or myself?  I believe @roelspruit resolved his error...

[2016-09-26 16:01] mathewcropper commented on #233
Sorry.. my bad! I did mean you, @ehlersd.

[2016-09-26 16:10] ehlersd commented on #233
LOL, No worries.

The only thing I noticed in the logs was the Assertion and the 2 warnings above (and other items relating to localization strings).

Give me an hour or so and I'll hook up and run the test again and send you the details.

[2016-09-27 09:32] mathewcropper commented on #233
You rock! Thanks @ehlersd.

[2016-09-27 15:04] ehlersd commented on #233
@mathewcropper Sorry, yesterday completely got away from me.

Here's the last of the console log:

2016-09-27 10:02:01.132 PocketBrew[3781:3267050] [DEBUG]: Successfully updated SDK settings
2016-09-27 10:02:01.137 PocketBrew[3781:3267050] [INFO]: Localization key and value : "ios.ZDKRequests.rightBarButton.title.contact" = "Contact us";
2016-09-27 10:02:01.141 PocketBrew[3781:3267050] [DEBUG]: Re

[2016-09-27 16:34] mathewcropper commented on #233
Thanks! I was hoping for a 'the logs contain the answer' situation, but no luck there.

Leave this with us. We'll look into it and try to figure out what's going on here.

PS: I edited your post to remove some info. Hope you don't mind.

[2016-09-27 17:57] ehlersd commented on #233
@mathewcropper Oops....no, don't mind at all.

[2016-09-27 20:50] asutula opened #234 "'Failed to fetch attachments' with 401 auth error"
- SDK version: 1.7.4.1
- Xcode version: 7.3.1
- iOS or Simulator: Both
- iOS Version: 9 and 10
- Swift version: 2.2

Steps to Reproduce:

1. Configure iOS Zendesk SDK with keys that point at a production Zendesk environment that is managed on the back end as a 'brand' (it uses a different sub-domain). This Zendesk account also supports multiple languages.
2. In the iOS app, present the Zendesk vie

[2016-09-27 20:58] baz8080 commented on #234
Hi @asutula

I edited your comment to remove some of the more sensitive information. Thanks for the detailed report! The dev team is on Dublin time, and someone will look at the issue tomorrow.

Is your brand host-mapped by any chance?

Thanks!

[2016-09-27 21:00] asutula commented on #234
Thanks @baz8080 I was just about to do that and you beat me to it 👍

[2016-09-27 21:02] asutula commented on #234
@baz8080 I'm not too familiar with the back end setup for Zendesk. I'll try to find out, but maybe you can explain what 'host-mapped' means?

[2016-09-27 21:03] baz8080 commented on #234
@asutula it means that your brand's Zendesk would be available at something like support.yourbrand.example.com (as well as {yourbrand}.zendesk.com) :)

[2016-09-27 21:29] asutula commented on #234
I don't think it is host-mapped.

[2016-09-27 21:36] asutula commented on #234
To clarify, our primary Zendesk is host-mapped (support.example.com), but not this specific brand.

[2016-09-28 13:07] baz8080 commented on #234
Hi @asutula We think we have isolated the issue and we are going to prepare a patch for it.

[2016-09-28 13:35] schlan commented on #233
Hi @ehlersd, we weren't able to replicate your issue, we would need some further information to continue working on it. Can you please provide:

- Screenshot of the create ticket screen, before pressing the attachment button.
- The exact exception breakpoints
- Screenshot after the crash happened

[2016-09-28 14:26] asutula commented on #234
That's great news. Looking forward to the fix.

[2016-09-28 18:37] benaneesh opened #235 "No pushRequestCreationWithNavigationController method"
In the [docs](https://developer.zendesk.com/embeddables/docs/ios/create_request) the following code is used to open the create request screen:

`ZDKRequests.pushRequestCreationWithNavigationController(self.navigationController)`

Except the `pushRequestCreationWithNavigationController` is not in the SDK. How do I open the create Request VC? Or do I have to have my own UI and use `ZDKRequestProvide

[2016-09-29 10:03] oarrabi commented on #235
Hello @benaneesh,

Sorry for the confusion, it looks like the documentation for this method is not correct. We are going to fix it asap.

You should be using this method to present the create request

[code]

Let me know if it works for you :)

Thanks,
Omar..

[2016-09-29 15:25] baz8080 commented on #234
Hi @asutula We pushed out [1.7.5.1](https://developer.zendesk.com/embeddables/docs/ios/version_information#summary). Can you update and try again please?

[2016-09-30 20:02] benaneesh opened #237 "Unused variable in remote notifications."
In the [docs](https://developer.zendesk.com/embeddables/docs/ios/handle_push_notifications_ua#use-urban-airship-for-push-notifications) the variable `pushUtilUserInfo` is never used.

[code]

I think it should be :

[code]

[2016-10-03 08:44] sunilhts commented on #139
hi.. could you please tell me that "jwt user identifier" is the string that will be with "10 digit alpha numeric value"

[2016-10-03 09:20] RonanMcH commented on #237
Hi @benaneesh ,
You are correct about this. I will update our documentation with this change.
Thanks,
Ronan.

[2016-10-03 09:20] #237 closed

[2016-10-03 15:31] yzhong52 opened #238 "Have not effects settings the boolean hideContactSupport"
- SDK version: 1.7.5.1
- Xcode version: 7.3.1
- iOS or Simulator: 4S
- iOS Version: 9.3
- Swift version: 2.2

I am trying to hide the contact us button in the SDK. But setting the boolean `hideContactSupport`:

    let helpCenterContentModel = ZDKHelpCenterOverviewContentModel.defaultContent()
    helpCenterContentModel.hideContactSupport = true
    ZDKHelpCenter.pushHelpCenterOverview(navigationC

[2016-10-03 15:52] RonanMcH commented on #238
Hi @yzhong52 ,
The snippet `ZDKHelpCenter.setNavBarConversationsUIType(.None)` is the correct way to hide the `Contact us` button in the Help Center UI. The `hideContactSupport` boolean has actually been mis-documented in the `ZDKHelpCenterOverviewContentModel` header file, it is not to hide the right navigation bar button but to hide the `Contact Support` button on an empty search as shown below.

[2016-10-03 15:54] yzhong52 commented on #238
Awesome, thanks for the prompt response!

[2016-10-03 15:54] #238 closed

[2016-10-04 09:31] ndobri commented on #139
@sunilhts if I may suggest, read our docs about [setting an identity](https://developer.zendesk.com/embeddables/docs/ios/set_an_identity#must-do-set-an-identity-authentication) to get familiarized with both JWT and ANONYMOUS identities in Zendesk. That page should provide extensive information to you, but if you still have further questions please leave us a message by clicking the help button at

[2016-10-05 01:31] ehlersd commented on #233
Sure thing....

Here's the screenshot of the exact breakpoint details/log...

![screenshot 2016-10-04 20 23 13](https://cloud.githubusercontent.com/assets/2302997/19098183/d7d6b1d0-8a70-11e6-8999-054a3a168d33.png)

Here's the screenshot of the device prior to tapping the attachment button:

![2016-10-04 20 22 43](https://cloud.githubusercontent.com/assets/2302997/19098252/5ba41886-8a71-11e6-993f-9

[2016-10-05 14:56] StevenDiviney commented on #233
@ehlersd We are still trying to figure this out. What are your apps supported orientations and how are you specifying them? We may need to open a ticket for you in Zendesk and ask for more detail. This is proving tough to figure out.

[2016-10-05 20:06] yzhong52 opened #239 "Arrow is being too closed to the label"
- SDK version: 1.7.5.1
- Xcode version: 7.3.1
- iOS or Simulator: 4S
- iOS Version: 9.3
- Swift version: 2.2

It was great the ZenDesk allow us to customize font and text colour. But could you make the space between the label "See all 8 articles" and the arrow on the right a little bit wider? They look odd that they are almost touching each other.

Also is it possible to make the tint colour of th

[2016-10-05 21:35] ehlersd commented on #233
It's solely Portrait (for iPhone) at the moment, but it's also a Universal app and the iPad supports all orientations.

Of course, my current testing with this has only been on the iPhone in Portrait.

[2016-10-06 09:17] baz8080 commented on #114
Closing this issue because it has been a while since any activity on it.

[2016-10-06 09:17] #114 closed

[2016-10-06 09:38] baz8080 commented on #239
@yzhong52 The things that you want to change are not configurable There's a balance between keeping customization simple and the amount of things that we expose. There is an option to build your own UI if ours does not suit by using the API Provider SDK.

* https://developer.zendesk.com/embeddables/docs/ios/integrate_sdk#recommended-adding-the-support-sdk-with-cocoapods
* https://developer.zendesk

[2016-10-06 09:38] #239 closed

[2016-10-06 09:39] baz8080 commented on #235
@benaneesh I'm going to close this issue for now.

[2016-10-06 09:40] baz8080 commented on #234
Hi @asutula

We had reports from other customers that this fixed the issue, so I'm going to close this issue. Feel free to reopen it if your issue persists!

[2016-10-06 09:40] #234 closed

[2016-10-06 09:42] baz8080 commented on #230
Hi @roelspruit

I'm going to close this issue for now, as the workaround should work for you.

[2016-10-06 09:42] #230 closed

[2016-10-06 09:43] #215 closed

[2016-10-06 09:43] #235 closed

[2016-10-06 12:52] yzhong52 commented on #239
Okay, that sounds fair to me. Let's keep it simple don't change the colour then.

But can we make the spacing of the label and arrow a little wider? It is too close, isn't it?

![screen shot 2016-10-06 at 8 17 25 am](https://cloud.githubusercontent.com/assets/3712071/19151911/55fe1e72-8b9d-11e6-8090-f3a63bd008ff.png)

[2016-10-06 14:02] baz8080 commented on #239
@yzhong52 Can I ask you to post your request in our [feedback forum](https://support.zendesk.com/hc/en-us/community/topics/200488257-Zendesk-SDKs) please? That way, our product manager will be able to see it and weigh in. It might be Monday before we can give you a definitive answer on it though.

[2016-10-06 14:04] baz8080 commented on #239
@yzhong52 A workaround might be to pad the end of the string a bit. The string in question is:

[code]

You can then [override the string](https://developer.zendesk.com/embeddables/docs/ios/localize_text).

[2016-10-06 14:10] yzhong52 commented on #239
Thanks for the prompt response Barry and the workaround. That solves my problem.

I will post you a feedback later today thanks!

[2016-10-06 20:41] ehlersd commented on #233
@StevenDiviney Please let me know if there is anything I can do to help diagnose/debug this crash.

[2016-10-06 21:05] tecknut commented on #233
Hey @ehlersd could you tell us which way you've configured you project in relation to device orientation?

These logs:

[code]
shouldn't be printing if you're app is in portrait. Our main issue is not being able to replicate this. It would be supper helpful if we were able to configure a test project here in the same way you've done with your's.

We're based in Ireland, so it'll be morning time he

[2016-10-06 21:15] ehlersd commented on #233
@tecknut I've configured the Portrait only in the Project->General tap under Deployment Info (iPhone).  I guess that is what you are referring to.

[2016-10-06 21:45] ehlersd commented on #233
And I just confirmed that it's crashing also on the iPad.

[2016-10-10 22:44] andrewljohnson opened #240 "getArticlebyId 404s when locale is en-us instead of en"
- SDK version: 1.7.3.1
- Xcode version: 8.0
- iOS or Simulator: both
- iOS Version: 9 and 10
- Swift version: none

Steps to Reproduce:

This test was done on a non-localized article. [View it here](https://help.gaiagps.com/hc/en-us/articles/221252948-Import-a-Custom-Map-Source-to-gaiagps-com).

If you try and call this code, the request will 404:

    // this ends up being the string "en"
    NSS

[2016-10-11 13:30] oarrabi commented on #233
Hello @ehlersd,

We are still unable to reproduce it. We are still going to try to reproduce it.
Would it be possible for you to provide us with a sample app that shows this error, that would helps us a lot?

Thanks :)

[2016-10-11 14:24] oarrabi commented on #240
Hello @andrewljohnson,

The help center expects the full locale (language and region). You can get that using `[NSLocale currentLocale]`

Check the updated snippet bellow:
[code]

Note: The point number 3 works, since we have a locale resolution that happens when opening the helpcenter but not when requesting a single article.

Thanks.

[2016-10-11 15:44] andrewljohnson commented on #240
Thanks, is this documented?

[2016-10-11 15:47] #240 closed

[2016-10-12 07:16] sunilhts opened #241 "zendesk navigation bar ui error"
- SDK version: 1.6.2.1
- Xcode version:7.3.1
- iOS or Simulator: iPhone6s
- iOS Version: iOS 9.3
- Swift version:2.2

For detail description open the below link
http://stackoverflow.com/questions/39992623/zendesk-adding-help-center-issue-with-navigtion-bar

[2016-10-12 07:25] baz8080 commented on #241
@sunilhts Strings are in a different bundle. If you installed the SDK manually, and not with Cocoapods, then you will have to copy that bundle as per the [docs](https://developer.zendesk.com/embeddables/docs/ios/integrate_sdk#adding-the-support-sdk-manually)

[2016-10-12 07:25] #241 closed

[2016-10-12 07:58] sunilhts commented on #241
I checked.. I have not done manually.. I am using cocoapods.. cocoapods version 0.39.0..

[2016-10-12 09:10] sunilhts opened #242 "zendesk navigation bar ui error"
Zendesk SDK version: 1.6.2.1
Xcode version:7.3.1
iOS or Simulator: iPhone6s
iOS Version: iOS 9.3
Swift version:2.2
Using Cocoapods, cocoapods version 0.39.0

Please open the link to know the issue..
http://stackoverflow.com/questions/39994645/zendesk-default-help-center-ui-error

[2016-10-12 21:22] takkyun opened #243 "Setting nil value for a dictionary at ZDKAnonymousIdentity#toJson call"
It's the same issue as https://github.com/zendesk/zendesk_sdk_ios/issues/183

- SDK version: tested on 1.5.4.1 and 1.7.5.1
- Xcode version: tested with 7.3.1 and 8.0
- iOS or Simulator: both
- iOS Version: tested on 9.3 and 10.0
- Swift version: tested with objective-c code

Steps to Reproduce:

Run the following code:

[code]

It causes calling `setObject:forKey:` (`setObject:forKeyedSubscript:`)

[2016-10-13 11:14] RonanMcH commented on #243
Hi @takkyun ,
Thanks for pointing this out. The `externalId` was migrated and we do guard for it. Reopen this issue if it's causing you issues.
Ronan.

[2016-10-13 11:14] #243 closed

[2016-10-13 11:46] RonanMcH commented on #242
Hi @sunilhts ,
This UI state usually happens when the `ZendeskSDKStrings.bundle` is not linked correctly to the target from where you are launching the Zendesk SDK. Cocoapods usually does this linking. Are you sure you have configured your `podfile` to add the SDK and its bundles to the right target? Can you show us your podfile snippet?
Thanks,
Ronan

[2016-10-14 11:03] ndobri commented on #241
Duplicate of #242

[2016-10-14 15:52] Antoine4011 commented on #137
I created the ideas on the Zendesk Community
https://support.zendesk.com/hc/en-us/community/posts/221982207-Carthage-support-for-iOS

[2016-10-14 16:27] Antoine4011 opened #244 "Hide contact support property not working"
- SDK version: 1.7.5.1
- Xcode version: 8
- iOS or Simulator: Both
- iOS Version: 10
- Swift version: 3

Steps to Reproduce:

[code]

The property `hideContactSupport` has not effect with either `true` or ` false`. The "Contact us" button in the right bar navigation controller is always displayed.

[2016-10-14 16:32] Antoine4011 commented on #244
Duplicate https://github.com/zendesk/zendesk_sdk_ios/issues/238

[2016-10-14 16:32] #244 closed

[2016-10-14 21:02] dangochi opened #245 "Links in chat opening in Safari on iOS 10 even though they can be opened in app"
- SDK version: 1.3.2.1
- Xcode version: 8.0
- iOS or Simulator: both
- iOS Version: 10.0.2
- Swift version: n/a

Steps to Reproduce:

1. have agent paste link into chat and send to user
2. try to open the link from device as the user
3. notice link gets opened in Safari even though it can be opened in app

In iOS 8 and 9 this works correctly, but in iOS 10 I'm not getting the same behavior. We ove

[2016-10-14 21:07] dangochi commented on #245
Sorry, wrong repository; meant to log this in https://github.com/zendesk/zendesk_sdk_chat_ios

[2016-10-14 21:07] #245 closed

[2016-10-17 09:11] nickfalk opened #246 "Reentering a chat from a modal view messes up the layout."
- SDK version: 1.7.1.1
- Xcode version: Version 8.0 (8A218a)
- iOS or Simulator: Both
- iOS Version: 9.3, 10.0 (at least)
- Swift version: 2.3

When reentering a chat inside a modally presented viewController the whole viewController is forced down 44 (or so) points. This only occurs if the chat is initiated _and_ reentered from the _same_ modally presented controller.

![zendeskbug](https://cloud

[2016-10-17 13:35] ernestofndz opened #247 "Filter article by label with spaces"
- SDK version: 1.7.5.1
- Xcode version: 8.0
- iOS or Simulator: Both
- iOS Version: 10
- Swift version: Obj-C

Steps to Reproduce:
1. Instantiate the model with a label that includes space

`helpCenterContentModel.labels = @[@"Label space"]`

URL won't be supported. Solution at this point is to **encode** the string.

By the way, the example on the [page](https://developer.zendesk.com/embeddables/

[2016-10-17 15:20] ndobri commented on #247
@ernestofndz thanks for reporting this issue. It has been added to out backlog, but we can't commit to fixing it right now. We will however, post an update here once the release with the patch is out.

[2016-10-17 17:03] ndobri commented on #246
@nickfalk it looks like the offset is the exact height of the nav bar. This might be due to [automaticallyAdjustsScrollViewInsets](https://developer.apple.com/reference/uikit/uiviewcontroller/1621372-automaticallyadjustsscrollviewin) property on a ViewController.

Can you log the `automaticallyAdjustsScrollViewInsets` value before and after the modal is shown?

Is what you have there a container V

[2016-10-18 06:54] vCrespoP opened #248 "ZDKRMA: showAlwaysInView ~> Indeterministic delay"
- SDK version: 1.7.5.1
- Xcode version: 7.3.1
- iOS or Simulator: Simulator and device
- iOS Version: 9.3
- Swift version: 2.2

This method delays in showing the popup an undetermined amount of time.
[code]

1) How to avoid having that delay?
2) Any block/closure/handler called when it's ready to display?
3) Any way to avoid this and present it in a nice and not confusing way to the user?

Thank y

[2016-10-18 06:56] vCrespoP opened #249 "Sorting of help center not matching web"
- SDK version: 1.7.5.1
- Xcode version: 7.3.1
- iOS or Simulator: Simulator and device
- iOS Version: 9.3
- Swift version: 2.2

The way help articles display within the mobile app through the SDK is not the same as in the web version.

Anything to configure so it matches? It's really confusing and unpleasant to be different.

Thanks a lot.

[2016-10-18 07:19] mathewcropper commented on #249
Hi @vCrespoP. Thanks for posting.

This is a known issue, and you can find this mentioned in the _known issues_ section of our docs here: https://developer.zendesk.com/embeddables/docs/ios/version_information

The relevant extract from the docs is below:

At the moment, there's no way to work around this and we've done the best we can to make the ordering closer to web for many use cases. Until th

[2016-10-18 07:22] vCrespoP commented on #249
Very sorry to hear that :(

Feel free to keep this issue opened or close it at will.

Thanks for your quick response Mathew, have a good day.

[2016-10-18 07:41] mathewcropper commented on #249
I'll leave this open, as it definitely is a problem and it's not fixed. I'd be dishonest if I closed it.

We'll keep you posted here.

[2016-10-18 08:15] nickfalk commented on #246
Thanks,
I've logged the `automaticallyAdjustedScrollViewInsets` and they remain `true` throughout.

The view you are watchings is actually a tableView, the photo-preview being the tableView's headerView.

Slow-motion version:
![zendeskbugslowmo](https://cloud.githubusercontent.com/assets/1871987/19469470/c0174568-951b-11e6-85b7-17dc458d4620.gif)

[2016-10-18 10:57] brendan-fahy commented on #248
Hi @vCrespoP,

There is a delay (in number of seconds) for RMA which is configured on your Zendesk admin page, Admin -> Mobile SDK -> [Your app] -> Rate My App tab -> Delay. `ZDRMA.showAlwaysInView` uses this delay before showing the popup. Have you checked/changed what value has been set for this in the web console?

[2016-10-18 11:03] vCrespoP commented on #248
Hello Brendan, thanks for your response.

Yes, that's set to 1 second but it delays a lot (like 10 seconds).

My scenario is that I want to show this right upon the tap of a button, I can show a loader for 1 second, or whatever is needed, to coordinate when the popup shows and when my loader dismisses.

Ideal thing would be not to have any delay (but I cannot set to zero), and 1 seconds seems to b

[2016-10-18 12:14] brendan-fahy commented on #248
OK, can you tell us where in the lifecycle of your ViewController that you're calling `ZDKRMA.showAlwaysInView`?

[2016-10-18 12:53] vCrespoP commented on #248
It's being called after the view has loaded, but it's the user who triggers the action. Imagine a UITableView with settings and one being "rate the app".

Mh...maybe what you pointed me at is the notification I'm looking for! I'm going to try, thanks, will get back to you soon :)

[2016-10-18 13:00] vCrespoP commented on #248
Absolutely perfect.

Just in case somebody is on the same road I am, this is the code I used with RxSwift:

[code]
_Note, in real code, add to disposeBag after subscribing._

Anyways, having a completion block maybe is a good design idea but this is 100% up to you of course. Feel free to close this issue if this is not the case.

Thanks a lot Brenand!

[2016-10-19 09:18] tecknut commented on #248
Thanks @vCrespoP, we're going to close this issue. Don't hesitate to reach out again if you have any further issues.

[2016-10-19 09:18] #248 closed

[2016-10-19 09:25] tecknut commented on #246
Hi @nickfalk, can you try something for us please?

Set `automaticallyAdjustedScrollViewInsets` to false on that view controller. This will probably move the header up underneath the nav bar initially.

We want to see if the view is still pushed down when this property is set to false, so that we can eliminate it from the possible causes.

Could you additionally provide a code snippet for the init

[2016-10-19 11:03] vCrespoP opened #250 "Translations in Help Center not displaying"
- SDK version: 1.7.5.1
- Xcode version: 7.3.1
- iOS or Simulator: Simulator and device
- iOS Version: 9,3
- Swift version: 2.2

Steps to reproduce:
1) Have the device in German
2) Present the Help Center from the SDK (no problem here)
3) Everything is in English even though the device is in German as you can see (Back to "Einstelungen" / [Settings])

![captura de pantalla 2016-10-19 a las 12 59 23

[2016-10-19 13:28] tecknut commented on #250
Hi @vCrespoP do you have German set up as a localised language in your app?

![screen shot 2016-10-19 at 14 26 25](https://cloud.githubusercontent.com/assets/2079547/19520410/1b74a9fe-9608-11e6-9e3a-645c508657b6.png)

If not, try adding it. Your app needs to be localised for the corresponding strings to be picked up.

[2016-10-19 13:55] vCrespoP commented on #250
That was it, thanks.

[2016-10-19 13:55] #250 closed

[2016-10-19 13:57] tecknut commented on #250
No problem. Get back to us with any further issues.

[2016-10-22 14:21] Hokila opened #252 "Release build. After submit contact us,app crash in SafariService.app"
- SDK version:1.7.5.1
- Xcode version:8.0
- iOS or Simulator:iOS
- iOS Version: iOS 10
- Swift version: swift 2.3

Steps to Reproduce:

1. download app from testflight. must use release build. app with DEBUG flag has no effect.
2. sumbit request use ZDKRequestProvider,ZDKCreateRequest
3.app crash after submit request success.

my code is as following

[code]

crash log reveal app crash in SafariSe

[2016-10-24 10:01] nickfalk commented on #246
Good call,
as expected the header is moved under the navigation-bar initially. It does however _not_ move again when I normally will see the above described bug(!)

[2016-10-26 03:56] #252 closed

[2016-10-26 03:57] Hokila commented on #252
we found it's our bug.
close this issue

[2016-11-03 15:07] Jorrit2002 opened #253 "Crash on custom fields"
- SDK version: 1.7.x.x
- Xcode version: 8
- iOS or Simulator: IOS
- iOS Version: 10
- Swift version: 3

After upgrading my project to Swift 3 my app crashes when I'm trying to create a ticket.
Using:

[code]

It seems my custom fields are a part of the problem. When I'm removing those everything works fine. Does someone have a solution?

`ZDKConfig.instance().customTicketFields = [ my custom field

[2016-11-04 14:59] oarrabi commented on #253
Hello @Jorrit2002

Can you please post the snippet of code that you are using to set the custom ticket fields?

Thanks

[2016-11-07 09:35] Jorrit2002 commented on #253
[code]

[2016-11-08 14:56] StevenDiviney commented on #253
@Jorrit2002 This is happening because ZDKCustomField is an Objective C type, and therefore optional. This optional is getting passing into out Objective C SDK which does not know how to handle it.

This can be fixed by force unwrapping all the ZDKCustomField objects.
[code]

This is happening because of a change to the swift compiler. In Swift 2 when an optional type was passed through to Objectiv

[2016-11-10 13:23] RonanMcH commented on #247
Hi @ernestofndz ,
We just released version 1.7.6.1 of the Support SDK. This issue has been fixed in this release. `labels` with spaces should now work.
Thanks,
Ronan.

[2016-11-10 13:23] #247 closed

[2016-11-10 16:05] DarthMike commented on #240
@oarrabi This doesn't work for me if i.e. locale is "es_US" (which passing it to the provider would be as string "es-us".

What exactly the initializer is expecting in that string?

[2016-11-10 16:14] DarthMike commented on #240
To elaborate here, I think request is failing in my case because we don't have localization. Working on it (peak) here: https://peaklabs.zendesk.com/hc

For example, I assume the request fails if I try to fetch "es-us" (as in user device) but then we only have "es". So is there any way to retrieve the available localizations in zendesk so we can do the resolution you do yourself when initializing

[2016-11-10 16:29] tecknut commented on #240
@DarthMike Can you try out this?

[code]
Does this work for you?

[2016-11-14 12:47] klemensz opened #255 "Dark background moves in behind UINavigationBar"
- SDK version: 1.7.6.1
- Xcode version: 8.1
- iOS or Simulator: Both
- iOS Version: 10
- Swift version: - (Objective-C)

Steps to Reproduce:

1. Call `[ZDKHelpCenter pushHelpCenterOverview:navigationController withContentModel:helpCenterContentModel];` No special styling is applied.
2. Move from the start screen to the tickets screen or a help article.
3. The dark area will first cover 1/3 of the

[2016-11-14 17:04] DarthMike commented on #240
Hello @tecknut, thanks for reply.

Passing @"en-us" works correctly.

[2016-11-16 14:09] StevenDiviney commented on #255
@klemensz I am unable to replicate this. It looks like your App has some styling applied to the Navigation Bar, could you share the code you are using to style your own app?

[2016-11-16 14:53] klemensz commented on #255
Basically we're using this in the ViewController that will call pushHelpCenterOverview:
[code]

This is how it looks in the View Hierarchy.
![bildschirmfoto 2016-11-11 um 16 23 50](https://cloud.githubusercontent.com/assets/1116517/20351750/a7bb7952-ac14-11e6-9347-b12e6c01e4a1.png)

[2016-11-17 14:57] ndobri commented on #255
Hi @klemensz in order for us to assist you better and in more detail I'd like to invite you to open a ticket with support@zendesk.com where we can work out the details. We can update this github issue afterwards.

[2016-11-17 15:04] mathewcropper commented on #255
Hey. I noticed that @klemensz created [this post](https://support.zendesk.com/hc/en-us/community/posts/245054487-iOS-Dark-background-moves-in-behind-UINavigationBar) in the Zendesk SDKs community. I turned that into a ticket, and assigned it to us to follow up 😄

[2016-11-22 13:20] DarthMike commented on #240
Hello, any feedback? Using @"en-us" is not correct, as user might have any combination of localization/country, and we need to resolve locales.

[2016-11-22 13:46] tecknut commented on #240
@DarthMike what is your current workflow? Are you building an integration based on our providers?

[2016-11-22 14:20] DarthMike commented on #240
Yes we are using the providers with custom UI. Specifically only using `ZDKHelpCenterProvider`.

[2016-11-22 16:06] tecknut commented on #240
So we have a local resolution that happens in the back end. But this is based on the locale which is set on `ZDKConfig`.
We don't have an api which would let you list the locales for which you have articles.
The closest thing to that would be for you to call the settings provider with the desired locale. If the local is one which your Help Center is configured with you should be able to pull out t

[2016-11-22 20:24] DarthMike commented on #240
Thanks @tecknut  I'll try that.

[2016-11-28 10:19] RonanMcH commented on #255
I am going to close this issue as we are handling it internally in a ticket.

[2016-11-28 10:19] #255 closed

[2016-11-28 13:09] RonanMcH commented on #242
Hi @sunilhts ,
We haven't heard from you in a while. I am going to tentatively close this issue.  Please feel free to reopen it if this is still an ongoing issue for you.
Thanks,
Ronan.

[2016-11-28 13:09] #242 closed

[2016-11-28 13:18] RonanMcH commented on #246
Hi @nickfalk ,
In order for us to continue debugging this isuue, could you supply us with the code snippet that you are using to launch the chat initially?
Thanks,
Ronan.

[2016-11-29 21:18] jaz-ah opened #256 "linker warning when building with XCode8.0 or greater"
- SDK version:  - ZDCChat (1.3.2.1):
    - ZDCChat/API (= 1.3.2.1)
    - ZDCChat/Localization (= 1.3.2.1)
    - ZDCChat/UI (= 1.3.2.1)
  - ZDCChat/API (1.3.2.1)
  - ZDCChat/Localization (1.3.2.1)
  - ZDCChat/UI (1.3.2.1):
    - ZDCChat/API
  - ZendeskSDK (1.7.6.1):
    - ZendeskSDK/Providers (= 1.7.6.1)
    - ZendeskSDK/UI (= 1.7.6.1)
  - ZendeskSDK/Providers (1.7.6.1)
  - ZendeskSDK/UI (1.7.6.1):

[2016-12-01 22:36] MaximusMcCann opened #257 "Weird class/property text everywhere"
- SDK version:1.7.6.1
- Xcode version: 8.1 (8B62)
- iOS or Simulator: Simulator iPhone 5s
- iOS Version: 10.1
- Swift version: 3.0.1

Steps to Reproduce:

1. I just open the VC
![image](https://cloud.githubusercontent.com/assets/1643285/20815644/4f84049e-b7e4-11e6-8b9a-ac43f52b9902.png)

![image](https://cloud.githubusercontent.com/assets/1643285/20815520/c9075f38-b7e3-11e6-8874-f493ba828ed8.png)

[2016-12-01 22:40] baz8080 commented on #257
@MaximusMcCann how did you import the SDK? If you used CocoaPods then the strings bundle should have been brought in and linked automatically. If not, then you have to remember to add the [strings bundle](https://developer.zendesk.com/embeddables/docs/ios/integrate_sdk#adding-the-support-sdk-manually)

[2016-12-01 23:05] MaximusMcCann commented on #257
I did `Pod Install`

[2016-12-02 01:31] dangochi opened #258 "ZDKRMA Rate My App dialog shown partially off screen on certain iPad modals"
- SDK version: 1.7.6.1
- Xcode version: 8.1
- iOS or Simulator: iPad simulator/device
- iOS Version: 10.1

In our app, we have a navigation controller that we present, and from that navigation controller's view, we show the RMA dialog: ```[ZDKRMA showAlwaysInView:navigationController.view];```

This works just fine on iPhone. However, if on iPad, we configure that same UINavigationController from

[2016-12-02 09:43] baz8080 commented on #257
This usually happens when the ZendeskSDKStrings.bundle is not linked correctly to the target from where you are launching the Zendesk SDK. Cocoapods usually does this linking. Does your podfile add the SDK and its bundles to the right target? Can you show us your podfile snippet?

[2016-12-02 10:55] tecknut commented on #258
Hi @dangochi, could you try to show RMA in a view controllers view? From your snippet it seems like you're presenting it from a navigation controller's view. `[ZDKRMA showAlwaysInView:navigationController.view];`

If this is a container view controller, maybe try showing it from one of the child view controllers views.

Thanks

[2016-12-02 11:05] tecknut commented on #256
Hi @jaz-ah, we have a couple of Categories in the SDK. These are probably what this is warning is complaining about.

Are you experiencing any hard crashes when running our UI? The Categories are on some of our view controllers.

It's not ideal, but if you're not seeing any hard crashes than it should be ok in the short term.

We're planning an upcoming release, however this will most likely be ou

[2016-12-02 15:59] MaximusMcCann commented on #257
Quit Xcode, nuked Derived Data, nuked Pods folder and re `pod install`.  Did the trick. Cheers

[2016-12-02 15:59] #257 closed

[2016-12-02 17:17] jaz-ah commented on #256
no crashes/obvious issues arising from it.  Will your next release be based on XCode8.1/8.2?

[2016-12-02 18:59] dangochi commented on #258
@tecknut thanks for the quick response. I did try that as well, but I get the same result. I put similar code in Zendesk's sample "Remember The Date" app and got the same results when trying to present from various different views (see screenshot below).

When I put a symbolic breakpoint on ```[ZDKRMADialogView initWithDelegate:]```, I notice that it appears to be using some method called ```CGRec

[2016-12-06 20:46] jacksontaylor13 opened #259 "VoiceOver Issue with Description"
- SDK version: 1.7.6.1
- Xcode version: 8.1
- iOS or Simulator: All iOS Devices and Simulators
- iOS Version: 10.1
- Swift version: 3.0.1

Steps to Reproduce:

1. Open the Request Creation Form `ZDKRequests.presentRequestCreation(with: strongSelf)`
2. Turn on VoiceOver
3. VoiceOver works properly for Email and speaks "Email, text field" when clicked
4. Click on description

Expected: "Description,

[2016-12-06 21:09] mathewcropper commented on #259
Hey @jacksontaylor13. Thanks for this. As it happens, this exact issue is on hit list of accessibility improvements for the Support SDK. We're planning a patch release of the Support SDK in January. Leave this with me and I'll see if this can be slotted into there.

[2016-12-07 12:12] piresbruno opened #260 "Failed to get tickets"
- SDK version: 1.7.6.1
- Xcode version: 8.1
- iOS or Simulator: Simulator / device
- iOS Version: 10.1
- Swift version: 3.0.1

Steps to Reproduce:

1.  current user is  _ZDKConfig.instance().userIdentity = ZDKAnonymousIdentity()_

2. try opening ZDKRequests

3. error is presented

3. create new ticket and sent it

4. go away from list of tickets, get back in and the same error is presented, event

[2016-12-07 12:35] baz8080 commented on #260
Hi Bruno,

Can you post some [logs](https://developer.zendesk.com/embeddables/docs/ios/debug) please?

[2016-12-07 12:37] piresbruno commented on #260
2016-12-07 12:36:32.218 SaferTaxi[34878:1330879] [INFO]: Localization key and value : "ios.ZDKRequests.requestList.title" = "My tickets";
2016-12-07 12:36:32.235 SaferTaxi[34878:1330879] [INFO]: Localization key and value : "ios.ZDKRequests.rightBarButton.title.new" = "New";
2016-12-07 12:36:32.821 SaferTaxi[34878:1330879] [DEBUG]: Reachability Flag Status: -R ------- networkStatusForFlags
2016-12

[2016-12-07 12:41] baz8080 commented on #260
I think the problem is ` Conversations disabled, this feature is not available on your plan or was disabled.`. That log is written when the conversations feature is either not available or if it has been disabled. You can check to see if you have conversations [disabled in your app's settings](https://support.zendesk.com/hc/en-us/articles/204256073#topic_4vb_wgt_cq).

[2016-12-07 12:45] piresbruno commented on #260
thanks @baz8080!

[2016-12-07 12:45] #260 closed

[2016-12-07 14:15] jacksontaylor13 commented on #259
Perfect! Thanks @mathewcropper!

[2016-12-09 15:26] jdsk8r commented on #223
We got the same error today when we submitted our app for review, we added those keys on the Info.plist file but either way we are still getting the same error when submitting the app for review.

[2016-12-12 14:04] frantisan opened #261 "iOS app attempt to access privacy-sensitive data without a usage description"
Hi
We got the following error message in iTunes Connect right after uploading the binary of our application.

Our app uses two resources (camera and photo album) for which we need to put two keys in the "info.plist" file. These keys are:

- NSCalendarsUsageDescription

- NSPhotoLibraryUsageDescription

The app works OK, it doesn't crash on iOS 10. However, when uploading the file to iTunes Connect

[2016-12-12 14:18] mathewcropper commented on #261
Hi. This is covered in our sixteenth here: https://developer.zendesk.com/embeddables/docs/ios/integrate_sdk#update-usage-descriptions-in-info.plist

The Support SDK uses NSPhotoLibraryUsageDescription and NSCameraUsageDescription, and so an entry in your info.plist is required. We don't plan to change this in future, as both are needed to allow us to attach images to requests.

[2016-12-12 14:52] StevenDiviney commented on #258
@dangochi You are correct, CGRectMakeCenteredInScreen is the problem. We are laying out the RMA view based on screen coordinates, not the view it's contained in.

I've logged an issue internally for us to track this, although I can't commit to a timeline for a fix.

Since the offending code is public, you can fix it if you want. There is no nice way to do this but a quick and dirty hack is as foll

[2016-12-12 15:26] oarrabi commented on #261
Hello @frantisan,

As an update to what @mathewcropper said.
I noticed that you only adding `NSPhotoLibraryUsageDescription ` to your application, you might need to add `NSCameraUsageDescription`.

We will try to reproduce the issue and replicate adding only `NSPhotoLibraryUsageDescription` to the project.

Can you please add `NSCameraUsageDescription` and try again?

Thanks

[2016-12-13 13:23] jdsk8r commented on #261
Hi @oarrabi, I work in the same project as @frantisan, we will try this once again, but we are skeptical this might work. As we wrote it above we have included both keys NSPhotoLibraryUsageDescription and NSCameraUsageDescription in all the 3 info.plist files (to the one on the main project plus on the 2 that are part of zendesk sdk http://tinyurl.com/jfq92fh http://tinyurl.com/zo3yqcj ) as it is

[2016-12-13 16:33] frantisan commented on #261
Hi @mathewcropper @oarrabi

We made it work by setting a default value on the keys

- NSCalendarsUsageDescription = "something"

- NSPhotoLibraryUsageDescription = "something"

In our case, we have several applications that support 2 languages, english and norwegian, and what I usually do is to implement a _InfoPlist.strings_ file in which I put the strings previously mentioned with their correspo

[2016-12-13 17:14] StevenDiviney commented on #261
@frantisan @jdsk8r Are you adding NSCameraUsageDescription or NSCalendarsUsageDescription? You don't mention NSCameraUsageDescription in your issue.

[2016-12-13 17:41] frantisan commented on #261
@StevenDiviney

Excuse, was my mistake.
- NSPhotoLibraryUsageDescription
- NSCameraUsageDescription

[2016-12-14 11:07] tecknut commented on #261
It seems like this has been solved. We're gonna close this again for now.

[2016-12-14 11:07] #261 closed

[2016-12-16 20:50] MaximusMcCann opened #262 "CustomField value not sending"
- SDK version: 1.7.6.1
- Xcode version: 8.1 (8B62)
- iOS or Simulator: Simulator iPhone 5 (10.1)
- iOS Version: 10.1
- Swift version: 3

Steps to Reproduce:

[code]

After sending the ticket I do not see the Custom field populated with the value "TESTT".  Help would be appreciated.

The only docs I've found are: https://developer.zendesk.com/embeddables/docs/ios/add_data_to_request

Cheers!

[2016-12-16 21:32] mathewcropper commented on #262
Hey! Is the custom field set to both 'visible' and 'editable' in the Zendesk Support admin?

If it is, and you still have the problem, could you enable logging and share the output? https://developer.zendesk.com/embeddables/docs/ios/debug

[2016-12-16 21:33] MaximusMcCann commented on #262
I don't want the field visible to the end user :/.  I do not see an 'editable' option either

[2016-12-16 21:34] MaximusMcCann commented on #262
Should only be visible to our staff.  It's a UID for errors

[2016-12-17 06:33] mathewcropper commented on #262
That'll be why this isn't working. To populate a custom field using the Support SDK the field must be visible and editable in the settings.

Once you click the visible tick box in the settings, the editable tick box will appear.

I'm afraid this isn't something that can be circumvented. If the field really cannot be updated to be visible and editable, then I would suggest that using the API direct

[2016-12-17 06:33] #262 closed

[2017-01-02 08:45] mathewcropper opened #263 "and"
- SDK version:
- Xcode version:
- iOS or Simulator:
- iOS Version:
- Swift version:

Steps to Reproduce:

1.
2.

[2017-01-02 08:45] #263 closed

[2017-01-12 10:53] mathewcropper commented on #259
Hey @jacksontaylor13. We've fixed this, and it's awaiting release. We're targeting end of Jan / start of Feb for our next release, so I'll update you here when we do that. You can also subscribe to our RSS [here](https://developer.zendesk.com/embeddables/docs/ios/follow_updates) to stay up to date on releases.

[2017-01-13 03:27] Zhulmin opened #267 "Crash on iOS 7"
- SDK version: 1.7.6.1
- Xcode version: Xcode 8
- iOS or Simulator: iPhone 4s
- iOS Version: iOS 7.1.2
- Swift version: none

Steps to Reproduce:
dyld: Symbol not found: _OBJC_CLASS_$_NSURLQueryItem
  Referenced from: /var/mobile/Applications/1FCE6451-22CC-4073-9434-148D3A55976F/Fotor.app/Fotor
  Expected in: /System/Library/Frameworks/Foundation.framework/Foundation
 in /var/mobile/Applications/1

[2017-01-17 21:33] davidjed opened #268 ""Module 'ZendeskProviderSDK' not found" error when ZendeskSDK is added as second-level CocoaPod"
This on Xcode 8, iOS 10, Zendesk 1.7.6.1. Occurs when ZendeskSDK is added as a second-level CocoaPod (i.e. it's a CocoaPod of ProjectA, and ProjectA is a CocoaPod of ProjectB; ProjectB is where the error occurs). ZendeskSDK can be added and implemented with no problems in ProjectA and ProjectB directly, but adding the extra layer causes this error. Not sure if Podfile/Podspec require certain flags

[2017-01-18 12:08] RonanMcH commented on #267
Hi @Zhulmin ,
We have tested on iOS 7 and have never experienced this crash. Are you sure it is the Zendesk Support SDK causing this crash?
Thanks,
Ronan.

[2017-01-18 12:24] Zhulmin commented on #267
Maybe not,  sorry.

[2017-01-18 13:19] RonanMcH commented on #267
I don't believe it is a crash in the Zendesk SDK so I'm going to close this issue for now!
Feel free to reopen it if you discover else wise.
Ronan.

[2017-01-18 13:19] #267 closed

[2017-01-18 18:28] davidjed commented on #268
To repro this, add the Zendesk SDK to any project, then add that project to another project. The next-level descendent project is where the error occurs.

[2017-01-19 14:37] StevenDiviney commented on #268
@davidjed this sounds like expected behavior to me. A package manager doesn't typically bundle all of the dependencies in with a package. ZendeskSDK should be listed as a dependency of every project that needs it. If you need to ensure the same version of the SDK is used in multiple projects cocoapods allows you to do so.

[2017-01-19 14:37] #268 closed

[2017-01-19 15:40] davidjed commented on #268
Oh yeah I should have clarified... I am adding it to both projects (in the example above ProjectA and ProjectB) and still getting the error.

[2017-01-19 15:46] StevenDiviney commented on #268
That changes things. I'll follow this up in the ticket you opened as I want to have a look at your podfiles.

[2017-01-19 18:06] davidjed commented on #268
OK sounds good -- here are the Podfiles for both projects; the root project, ios-common, and the top-level project, ReceiptHog (I gave them both a project name suffix and .txt file suffix to allow them to be attached here). BTW, this error happens even if I add ZendeskSDK to ios-common's podspec as a dependency and remove it from ReceiptHog's Podfile, or leave it in that Podfile. I tried all those

[2017-01-22 23:51] erichoracek opened #269 "Crash in ZDKHelpCenterOverviewSeeAllTableViewCell prepareWithModel"
- SDK version: 1.7.6.1
- Xcode version: 8.0
- iOS or Simulator: N/A
- iOS Version: iPhone OS 10.2 (14C92)
- Swift version: N/A

Please see below for the crash log:

[code]

Please let me know if you need any additional information. Thanks!

[2017-01-23 10:07] tecknut commented on #269
Hey @erichoracek,

We may need to get some account details off you, if so it would be best to do so in a ticket.

How often is this happening? Are you able to replicate it when hitting your help center?

Thanks

[2017-01-27 19:25] hyperspacemark opened #270 "Unrecognized selector exception raised when viewing a photo in a support ticket"
- SDK version: 1.7.6.1
- Xcode version: 8.2.1
- iOS or Simulator: Reproducable in both
- iOS Version: Reproduced in 10.1.1 and 10.2
- Swift version: 2.3

Steps to Reproduce:

1. Test with a Swift app that **does not** implement the optional `UIApplicationDelegate` property, `var window: UIWindow?`. (I realize this sounds odd but in our application, the window lifecycle is deferred to another objec

[2017-01-30 13:36] eepDev commented on #270
Hi @hyperspacemark, you mentioned that window in `UIApplicationDelegate` is not implemented and that's the exact reason for this crash.

`UIWindow` must be provided to app delegate, there's no workaround for this.
Since you have an object that provides this window, maybe try to wire it somehow to the app delegate.

Thanks,
Elvis

[2017-01-30 16:46] hyperspacemark commented on #270
As I mentioned, the `window` requirement on `UIApplicationDelegate` is optional and we'd rather not re-architect when this library could be doing a `-respondsToSelector:` check and falling back to the `keyWindow` on the shared `UIApplication` object.

[2017-01-30 20:40] insidegui opened #271 "Crash on -[ZDCJSWidgetIO setupUserAgent]ZDCJSWidgetIO.m line 136"
- SDK version: 1.3.1.1
- Xcode version: 8.2.1 (8C1002)
- iOS or Simulator: Device
- iOS Version: 10.2.1
- Swift version: 3.0

We've been seeing hundreds of crashes on ZDCJSWidgetIO.m, line 136. The crash occurs when the app is launched.

Here is a crash log, captured by Fabric:

[code]

[2017-01-30 22:40] chirag04 commented on #105
@oarrabi any update on this?

[2017-01-31 11:08] StevenDiviney commented on #270
@hyperspacemark The [documentation for the window](https://developer.apple.com/reference/uikit/uiapplicationdelegate/1623056-window?language=objc) property is a bit fuzzy, saying it's not always required but must return a value. The fact it's marked as optional in the generated swift interface is only really useful in indicating it's wrapping Objective-C code. In any case returning nil is non-stan

[2017-01-31 14:16] mathewcropper commented on #105
Hi @chirag04. I'm the Product Manager for our SDKs. We have no plans to build a React Native component at present, and are instead continuing to focus on the Android and iOS SDKs for Chat and Support. Apologies if the previous updates on this issue weren't clear on how the feature request was handled.

[2017-01-31 14:17] StevenDiviney commented on #271
@insidegui This is the Support SDK repo, I've created an issue for you over on the [Chat SDK repo]()

[2017-01-31 14:17] #271 closed

[2017-01-31 14:19] insidegui commented on #271
Thanks!

[2017-02-01 17:21] erichoracek commented on #269
@tecknut we are not able to reproduce this locally—it is a crash that has come in through HockeyApp. It has only happened once for one user as far as we know.

[2017-02-01 20:12] o15a3d4l11s2 opened #272 "Migration to Swift 3"
Are you planning to migrate the library to Swift at all?

[2017-02-02 09:03] mathewcropper commented on #272
Hi @o15a3d4l11s2. We are, but it's probably going to be a gradual process rather than a big bang conversion. There will be a release later this quarter that starts us on that journey 😄

[2017-02-02 09:03] #272 closed

[2017-02-02 10:11] tecknut commented on #269
@erichoracek ok, we've stepped through the code which parses out Help Center sent from the server. We've not been able to reproduce this either.

Can you keep us updated on this? I'm going to leave this open in case any other integrators experience this and can maybe provide repro steps.

[2017-02-02 22:04] hyperspacemark commented on #270
Nevermind, we'll fork and fix it ourselves. Thanks.

[2017-02-02 22:04] #270 closed

[2017-02-06 19:12] insidegui opened #274 "Some parts of the UI are not localizable"
- SDK version: 1.7.6.1
- Xcode version: 8.2.1 (8C1002)
- iOS or Simulator: Both
- iOS Version: 10.2
- Swift version: 3.0

The `pt` localization provided by the SDK is good, but we wanted to customize some of the text. Almost all of it is customizable by creating a new `Localizable.strings` file, but two places I can't seem to find a way to localize:

![contact support](https://cloud.githubusercont

[2017-02-06 19:15] insidegui commented on #274
/cc @dbonates

[2017-02-06 22:39] oarrabi commented on #274
Hello @insidegui

To control the title of this screen overwrite the `ios.ZDKRequests.createRequest.title` localization key. For the right bar button please use `ios.ZDKRequests.createRequest.submit.button`.

As for the `Contact Support` button, you are correct, it looks like its a bug. I raised an internal issue in our bug tracker to track this issue.

I will keep this GitHub issue open and update

[2017-02-07 09:59] mathewcropper commented on #259
Hi @jacksontaylor13. The fix for this has now been released in v1.8.0.1 of the Support SDK. Release notes are [here](https://developer.zendesk.com/embeddables/docs/ios/version_information).

Thanks for your patience with this. I'll close this issue now, but if you have any other questions just shout.

[2017-02-07 09:59] #259 closed

[2017-02-07 13:45] insidegui commented on #274
Thanks! Looking forward to an update :)

[2017-02-09 09:50] samuelleach opened #275 "Release notes for version 1.8.0.1"
Hello @RonanMcH

Thanks a lot for the work you're putting in on the iOS SDK.

One of the things we noticed about the release 1.8.0.1 was that there were no release notes to tell us how things had changed.

https://github.com/zendesk/zendesk_sdk_ios/releases/tag/1.8.0.1

Could I ask you to write some brief bullet points on that? That would be really helpful for us.

My name is Sam Leach - we're a c

[2017-02-09 10:00] baz8080 commented on #275
Hi Sam,

We host the release notes on [developer.zendesk.com](https://developer.zendesk.com/embeddables/docs/ios/version_information). There's a link in the [README](https://github.com/zendesk/zendesk_sdk_ios/blob/master/README.md) if you ever forget the link/

Thanks!

[2017-02-09 10:00] #275 closed

[2017-02-09 14:03] samuelleach commented on #275
Thanks for your help. The advantage of the github release notes to us is that they provide an atom feed to all the packages we need. I followed the link you provided though and found that there is an rss feed here: http://zen-marketing-product.s3.amazonaws.com/product/rss/SDKs.xml

[2017-02-09 16:11] baz8080 commented on #275
Hi Sam,

That's a good point. We might be able to duplicate release notes here in the future, although it isn't something we're actively looking into now.

I'm glad that you found our feed!

[2017-02-22 14:10] StevenDiviney commented on #256
@jaz-ah We have published a new release, with XCode 8. Can you let us know if it fixes your issue?

[2017-02-24 23:59] jaz-ah commented on #256
yes but I'm seeing this issue with the ZDCChat sdk as well - could you upgrade that too @StevenDiviney ?

[2017-02-25 16:08] oarrabi commented on #256
Hello @jaz-ah,

We are planning to release ZDCChat SDK soon. It would help if you close this one and open it there as it will help others that have the same issue.

[2017-02-26 00:34] jaz-ah commented on #256
ok @oarrabi I've filed: https://github.com/zendesk/zendesk_sdk_chat_ios/issues/142 for the same issue in the chat sdk. closing this one now as fixed.

[2017-02-26 00:34] #256 closed

[2017-03-01 08:13] OlesenkoViktor opened #277 ""Unable to Connect" on ZDKHelpCenterOverviewController"
- SDK version: Latest 1.9.0.1
- Xcode version: 8.2.1
- iOS or Simulator: Simulator
- iOS Version: 9.3
- Swift version: 3.1

Steps to Reproduce:

AppDelegate
`Fabric.with([Crashlytics.self, STPAPIClient.self, Zendesk.self])
        ZDKConfig.instance().userIdentity = ZDKAnonymousIdentity()
        ZDKLogger.enable(true)`

Controller
`newNC = UIStoryboard(name: "Support", bundle: nil).instantiateVie

[2017-03-02 11:23] afehners opened #278 "Contact Us form email validation needs to trim whitespace"
- SDK version: 1.9.0.1
- Xcode version: 8.2.1
- iOS or Simulator: Both
- iOS Version: 10
- Swift version: 3

I've had several reports come through via my website instead of In App because they were unable to send a message via the Contact Us form. I have discovered that in all cases a space was inserted at the end of their email address, which causes the email address validation to fail and the 'S

[2017-03-03 17:51] RonanMcH commented on #277
Hi @OlesenkoViktor ,
I haven't been able to reproduce this issue. It looks like the network request is a success but the error toast is still being triggered. Does this happen intermittently or consistently? Can you recreate it in a sample application?
Thanks,
Ronan.

[2017-03-03 20:35] OlesenkoViktor commented on #277
Hi @RonanMcH
Sure - attached. Issue is still reproducing
[ZendeskIssue277.zip](https://github.com/zendesk/zendesk_sdk_ios/files/817835/ZendeskIssue277.zip)

[2017-03-06 12:03] StevenDiviney commented on #278
Hi @afehners,

Thanks for bringing this to our attention. I have created an issue for us to track it internally. I can't say when we will release it though, we need to decide when to work on it. We will update you when we know more.

[2017-03-06 15:15] StevenDiviney commented on #277
@olenavelykanova Thanks for sending on your project. I have removed your post as it contains details specific to your account.

You are seeing a "No Connection" toast because your Help Center has no content. The toast should not show in this case, it is a bug. I have created an issue for us to track this internally.

Once you add content to your Help Center the SDK should work as expected.

[2017-03-08 23:44] SiarheiBarysenka opened #279 "ZDKCreateRequestViewController does not work properly after adding it as a child view controller"
Our app uses some custom presentations of Zendesk Create Request page, so we ended up with the following presentation of `ZDKCreateRequestViewController` (the code is shortened to reflect the main idea):

[code]

This approach worked perfectly up until SDK version 1.6.2.1. Starting from version 1.7.0.1, the `ZDKCreateRequestViewController` has `Send` button all the time disabled (even if text is e

[2017-03-09 00:10] oarrabi commented on #279
Hello @SiarheiBarysenka,

[2017-03-10 10:41] abekert opened #280 "No tickets currently open"
- SDK version: 1.9.0.1
- Xcode version: 8.2 (8C38)
- iOS or Simulator: Both
- iOS Version: 10.2
- Swift version: Objective-C

Steps to Reproduce:

I am using anonymous identification. It works great if I am using static hard-coded values of email&name right in application:didFinishLaunchingWithOptions:.

    ZDKAnonymousIdentity *identity = [ZDKAnonymousIdentity new];
    identity.email = @"email@

[2017-03-10 11:47] abekert commented on #280
When I look at **userIdentity** property at **ZDKConfig.h**, I see it's marked as *strong*:

@property (nonatomic, strong, setter=setUserIdentity:, getter=userIdentity) id<ZDKIdentity> userIdentity;

But if you modifying its fields doesn't apply to stored value. So next code doesn't do anything:

    ZDKAnonymousIdentity *identity = (ZDKAnonymousIdentity *)[ZDKConfig instance].userIdentity;
    id

[2017-03-10 16:52] oarrabi commented on #280
Hello @abekert,

The current implementation for `ZDKAnonymousIdentity` will create an `sdk_guid` each time an identity is created. That is the intended behaviour of the anonymous identity. Changing the `ZDKAnonymousIdentity` is considered as setting a new identity.

Are you having an issue that preventing you from settings the user identity late when your have an identity?

Can you please elaborat

[2017-03-10 17:05] abekert commented on #280
Thanks for your answer, Omar.

Yes, I can't set user's email to identity when I get it later from login.

My steps:

In **- (void)application:didFinishLaunchingWithOptions:** after initing Zendesk I set an empty identity:

    ZDKAnonymousIdentity *identity = [ZDKAnonymousIdentity new];
    [ZDKConfig instance].userIdentity = identity;

When I open Support screen in the app, I set user's informati

[2017-03-10 17:14] abekert commented on #280
In my case even setting user's email on the app start, if I have it, removes tickets. Even if it is the same between sessions, **sdk_guid** differs and data become erased

If I set statically with string, it has the same **sdk_guid** between app starts, and everything fine:

ZDKAnonymousIdentity *identity = [ZDKAnonymousIdentity new];
identity.name = @"Alexander";
identity.email = @"me@me.com";
[Z

[2017-03-10 17:26] oarrabi commented on #279
Hello @SiarheiBarysenka,

Try giving `ZDKCreateRequestViewController` its own navigation controller. The following code  should do it

[code]

Please let me know if it solves the issue.

Thanks,
Omar...

[2017-03-10 17:35] oarrabi commented on #280
Hello @abekert,

The clearing happens when the identity changes between from

[code]

to

[code]

Can you update the logic so that if you have a login user you delay the call to `[ZDKConfig instance].userIdentity` and only call it once with the user name and email?

Thanks,
Omar...

[2017-03-10 18:29] SiarheiBarysenka commented on #279
Thanks @oarrabi,

This approach helps!

In addition to your solution I just have to add `navigation.isNavigationBarHidden = true` line to prevent displaying two navigation bars, since in my case `parent` is also contained in `UINavigationController`, and `barButtonItem`s from `ZDKCreateRequestViewController` are set explicitly to `parent` for styling purposes.

Thanks again for the solution.

[2017-03-13 16:49] baz8080 commented on #279
@SiarheiBarysenka Thanks for letting us know that it worked 👍

[2017-03-13 16:49] #279 closed

[2017-03-14 07:02] SergeyBulyno opened #281 "Issue with batteryLevel == 100. iOS 10x"
- SDK version:v(1.7.4.1) and v(1.9.0.1)
- Xcode version:8.2.1
- iOS or Simulator:iOS (iphone 5, iphone se, ipad air)
- iOS Version:10.x
use objective c.

Steps to Reproduce:

1. Hi, I use Method [ZDKDeviceInfo deviceInfoDictionary] witch launch in [ZDKRequests configure: block and deviceInfoDictionary always return battery level == 100.
I changed sdk version, initialization (via fabric and initial

[2017-03-14 11:32] RonanMcH commented on #281
Hi @SergeyBulyno ,
Thanks for reporting this issue. We clarified it as a bug and it will be fixed in our next release of the support SDK. Unfortunately, I can't give a timeline for this but we will update you here when it has been released.
Thanks,
Ronan.

[2017-03-14 15:34] abekert commented on #280
Hello, Omar.

It worked. I removed creation of identity from **application:didFinishLaunchingWithOptions:** and create and assign it only when user taps "Contact Us" or "My Tickets" button on support screen.

The code:

    autotype identity = [ZDKAnonymousIdentity new];
    identity.name = self.name;
    identity.email = self.email;
    [ZDKConfig instance].userIdentity = identity;

Even if user

[2017-03-16 10:00] #280 closed

[2017-03-20 11:01] tecknut commented on #246
@nickfalk This has been inactive for a while. We'll close this in a week if there's no update.

[2017-03-22 22:05] arorapulkit commented on #114
<img width="487" alt="screen shot 2017-03-23 at 3 06 02 am" src="https://cloud.githubusercontent.com/assets/14070166/24222858/9837574e-0f79-11e7-969b-3c075668c54d.png">

I'm facing this issue in Zendesk SDK (1.7.6.1). I tried the above solution but did not work for me.

[2017-03-22 22:07] arorapulkit opened #283 "Black bar above keyboard in Support SDK"
- SDK version: 1.7.6.1
- Xcode version: 7.3.1
- iOS or Simulator: Both
- iOS Version: 9.0+
- Swift version: 2.3.1

Steps to Reproduce:

1. Open Tickets
2. Tap on a ticket
3. Tap on comments textfield to add a comment
<img width="487" alt="screen shot 2017-03-23 at 3 06 02 am" src="https://cloud.githubusercontent.com/assets/14070166/24222956/fbff71bc-0f79-11e7-8cac-bc3ee15cf2fc.png">

[2017-03-23 08:59] mathewcropper commented on #114
Hi @arorapulkit. Please could you try this on the latest version of the Support SDK (v1.9.1.1) and let me know if you are having the same problem? I'm running the latest version of the Support SDK on iOS 10.2.1 and am unable to reproduce this.

[2017-03-23 10:09] baz8080 commented on #283
Hi @arorapulkit. Please could you try this on the latest version of the Support SDK (v1.9.1.1) and let me know if you are having the same problem? I'm running the latest version of the Support SDK on iOS 10.2.1 and am unable to reproduce this.

[2017-03-27 15:24] simonmitchell commented on #49
I'm still getting this issue @tecknut. I've set up an anonymous user and all the API config is correct. I can even po the shared user and it's configured fine.

`
ZDKAnonymousIdentity *identity = [ZDKConfig instance].userIdentity;
identity.name = name;
identity.email = email;
// I've set a breakpoint here for my po
[ZDKConfig instance].userIdentity = identity;

[ZDKRequests presentRequestCreationW

[2017-03-29 09:41] jregnauld opened #284 "XCode 8.3, "Umbrella for module 'ZendeskSDK' already covers this directory""
Hi,

I have an issue with Zendesk SDK, cocoapods and XCode 8.3.

I use Zendesk SDK as a dependency in a podspec and it used to work very well.
Unfortunately since I install XCode 8.3, I get the error "Umbrella for module 'ZendeskSDK' already covers this directory" when I'm running "pod install" or "pod update" in my project :(

Do you know how to fix it?

Thanks a lot for your help!

[2017-03-29 12:54] oarrabi commented on #284
Hello @jregnauld

Sorry for the inconvenience.
Can you please share parts of your Podfile and Podspec file so we can debug this?

Thanks...

[2017-03-29 13:36] jregnauld commented on #284
Hi @oarrabi

Sorry I made a mistaske my previous comment. :-/
In fact I didn't use Zendesk SDK as a dependency in the podspec, but I added it manually in my pod because of the static binaries issue.

It was working fine when installing or updating my pod in a project, but not anymore since XCode 8.3

Cheers and sorry again for the mistake :-/

[2017-03-29 16:32] oarrabi commented on #284
Hey @jregnauld ,

Would it be ok if you share part of your Podfile. that would help us debug the issue.

Thanks,

[2017-03-30 09:36] jregnauld commented on #284
yes for sure :)

`source 'https://github.com/CocoaPods/Specs.git'

platform :ios, '9.0'
use_frameworks!
inhibit_all_warnings!

def zendesk
    pod 'my_pod_which_include_zendesk_sdk', '~> 2.0.0'
    pod 'ZDCChat', '~> 1.3.3.0'
end

def analytics_pods
    pod 'Tune', '~> 4.9.1'
    pod 'PubNub', '~> 4.5.14'
    pod 'GoogleAnalytics', '~> 3.17'
    pod 'GoogleIDFASupport', '~> 3.14'
end

def fabric_p

[2017-03-30 09:41] tecknut commented on #284
Thanks @jregnauld we'll have a look at this now and get back to you.

[2017-03-30 09:45] tecknut commented on #284
Hey @jregnauld where is `'my_pod_which_include_zendesk_sdk'` defined?

[2017-04-03 09:16] federicocappelli commented on #284
@tecknut answering for @jregnauld the pod is in a private repo

[2017-04-03 09:30] federicocappelli commented on #284
Opening my_pod_which_include_zendesk_sdk i'm not able to build anymore:

[code]

[2017-04-04 20:11] Kastr opened #286 "Undefined symbols for architecture x86_64"
- SDK version: 1.9.2.1
- Xcode version: 8.2.1 (8C1002)
- iOS or Simulator: iPhoneSE
- iOS Version: 10
- Swift version: 3

After I created a CocoaTouch Framework, I used CocoaPods to install Zendesk SDK using _pod 'ZendeskSDK/Providers'_ or _pod 'ZendeskSDK'_ in this Framework.
We are getting the following error after compiling the project:

Undefined symbols for architecture x86_64:
  "_UIApplicat

[2017-04-05 11:39] RonanMcH commented on #286
Hi @Kastr ,
I have been unable to reproduce this issue myself. The errors seems to be pointing at missing symbols for `UIKit` objects. Maybe try embedding `UIKit` with your framework before building it.  Can you let us know if this works?
Thanks,
Ronan.

[2017-04-05 12:09] RonanMcH commented on #283
Hi @arorapulkit ,
As we haven't heard from you in a while, I am going to tentatively close this github issue. If the problem still persists for you, feel free to reopen it.
Thanks,
Ronan.

[2017-04-05 12:16] Kastr commented on #286
Thanks for replying @RonanMcH
Unfortunately it didn't work.
We now decided to import the SDK directly into our app instead of modularizing to a CocoaTouch Framework. This way it works fine and there is no error.
Thank you for your time!

[2017-04-05 13:13] #286 closed

[2017-04-05 13:16] haydenholligan commented on #283
This is happening to me too for 1.9.2.1.

[2017-04-05 13:32] haydenholligan commented on #283
I don't want to go through the trouble of creating an entirely new project, but this is the simplest I could get in my current project.

New view controller, embedded in navigation controller.

`        if let request = requests?[0],
            let commentsVC = ZDKCommentsViewController(request: request) {
            self.navigationController?.pushViewController(commentsVC, animated: true)

[2017-04-05 15:14] RonanMcH commented on #283
Hi @haydenholligan ,
I still can't reproduce this, even recreating a sample application and using the code you supplied and the conditions you specified. Were testing on physical device or simulator? Is there anymore code unique to your project that you could share and help us debug this issue?
Thanks,
Ronan.

[2017-04-05 17:28] haydenholligan commented on #283
Both were on real devices. I'll look into it tonight and see if I can reproduce it.

[2017-04-07 10:53] StevenDiviney commented on #284
@federicocappelli @jregnauld I am unable to replicate this but I'm going to guess it's related to a known issue in XCode 8.3

"Known Issues
When building a framework that has module maps in both the source and the install directories that define the same module, the compiler will show a redefinition message. (28638816)

Workaround: Rename the module map file in the source directory to a non-defaul

[2017-04-07 12:41] StevenDiviney commented on #283
@haydenholligan Are you presenting the SDK from a controller with a tab bar? All of our "pushController" calls can be passed a layout guide to correct for this.

https://github.com/zendesk/zendesk_sdk_ios/blob/master/ZendeskSDK.framework/Headers/ZDKRequests.h#L146

[2017-04-07 14:42] haydenholligan commented on #283
I am using a tab bar in the main app. I created my own UITableView and am grabbing requests with `ZDKRequestProvider`. When a user clicks on a ticket (TableViewCell), I get the correlated request and create a `ZDKCommentsViewController`. When I tried replicating the problem in the same project, the navigation stack was simply a UINavigationController and a UIViewController. I just tried `ZDKReques

[2017-04-07 16:38] haydenholligan commented on #283
I think it might be a problem with toolbars. I was using a framework that adds a toolbar to all keyboards when they show. It doesn't affect other views, so the chat view conroller might be compensating or something

[2017-04-07 21:57] haydenholligan commented on #283
The easiest way I can reproduce it is to add IQKeyboardManager (https://github.com/hackiftekhar/IQKeyboardManager) to the SampleApp project. Even with the toolbar off it looks like the view is over-compensating. I can't debug in because your source code is hidden.

[2017-04-11 10:36] jregnauld commented on #284
Hi @StevenDiviney, thanks for your help!

I renamed the module map file and it fixed the issue. Good guess! :)

It seems to be similar to this issue http://www.openradar.me/30194818

Would it possible for you to modify the build setting for the module map file name? because if we want to get the last Zendesk SDK version, we will have to do the same workaround again.

Thanks again for your answer!

[2017-04-11 11:45] tecknut commented on #284
@jregnauld thanks for letting us know it worked out.

[2017-04-11 11:45] #284 closed

[2017-04-11 16:21] tecknut commented on #283
@haydenholligan Thanks, we're going to add IQKeyboardManager and try reproduce this.

[2017-04-12 10:22] tecknut commented on #283
@haydenholligan Could you try disabling IQKeyboardManager for this class `ZDKCommentInputViewController`? Seems like other people have had issues with IQKeyboard. We're still looking into this to see if there is something we can do to retain IQKeyboard on the comments controller, but if this works for you in the mean time it might be worth a try.

https://github.com/hackiftekhar/IQKeyboardManager/

[2017-04-13 00:14] haydenholligan commented on #283
Did that work for you? I just tried with no success.

Actually, I just disabled IQKeyboardManager entirely at the start of my AppDelegate, did a clean and fresh app install, and the toolbar is still showing up. I tried this in the SampleApp and `IQKeyboardManager.shared().isEnabled = false` removed the bug, but `IQKeyboardManager.shared().isEnableAutoToolbar = false` didn't.

I noticed that in the

[2017-04-13 10:17] oarrabi commented on #283
Hello @haydenholligan,

This is the issue we are noticing in our sample app. We are still not able to replicate the black bar issue in our tests.
We added this bug to our backlog for the issue of the pushed navigation bar but we can't do more about the black bar since we cannot replicate it.

Thanks,
Omar...

[2017-04-13 10:24] #246 closed

[2017-04-13 11:57] #253 closed

[2017-04-17 14:14] Laevand opened #287 "New ticket screen clips pasted text"
- SDK version: 1.9.2.1
- Xcode version: 8.3
- iOS or Simulator: Both
- iOS Version: 10
- Swift version: 3.1

New ticket screen allows pasting only as much text as vertical space between keyboard and navigation bar allows.

Steps to Reproduce:

1. Copy 30 lines of text to clipboard
1. Open Contact Us form from help center view and create a new ticket
1. Paste text into a text view
1. Only first 14

[2017-04-19 09:09] StevenDiviney commented on #287
@Laevand thanks for reporting this. It's not clipping the text, the text is below because we are not resizing the view when text is pasted in. The effect is same though :)

I have created an issue for us to track this internally.

[2017-04-20 19:00] Jholman8 commented on #49
Having the same issue. Anyone find a solution?

[2017-04-21 10:05] tecknut commented on #49
@simonmitchell @Jholman8 Can you both confirm that your appId clientId and url are all correct and match what is in the settings panel in your Zendesk instance?

This is generally an issue with incorrect details provided at SDK initialisation, so it's worth double checking this.

[2017-04-24 10:10] simonmitchell commented on #49
@tecknut it turned out our issue was simply that the project manager adding the App had forgotten to hit the "Done" (Or whatever it reads) button to finish adding the app to our account. Really it should be returning a better error in this case, or you shouldn't provide us with a cliendId or appId until the app has actually been added to the ZenDesk account :P

[2017-04-28 18:21] juanpdelat opened #288 "No option for 'Remind Me Later' or 'Dismiss' in ZDKRMAAction"
- SDK version: 1.9
- Xcode version: 8.3.1
- iOS or Simulator: Both
- iOS Version: 10.3.1
- Swift version: 3.1

Steps to Reproduce:

1. Integrate through cocoapods.
2. Configure `ZDKRMA` with `ZDKRMAAction.rateApp`, `ZDKRMAAction.sendFeedback` and `ZDKRMAAction.undisplayed`
3. Present `ZDKRMA` using `showAlways(in view: UIView!)`

[2017-04-28 23:07] andrewljohnson opened #289 "can't show Contact Form directly"
I don't see in the docs how to show the Contact Form directly, without showing Help Center.

Is this possible, and is there documentation on how to do it (in Objective C)?

- SDK version:
Any
- Xcode version:
Any
- iOS or Simulator:
Any
- iOS Version:
Any
- Swift version:
NA

Steps to Reproduce:

1.
2.

[2017-05-02 08:01] StevenDiviney commented on #289
@andrewljohnson
https://developer.zendesk.com/embeddables/docs/ios/requests#create-a-new-ticket

`[ZDKRequests presentRequestCreationWithViewController:viewController];`

[2017-05-02 08:02] #289 closed

[2017-05-02 08:13] StevenDiviney commented on #288
@juanpdelat
I'm not sure what your question is, can you clarify? The four supported Rate My App actions are:
[code]

[2017-05-02 14:24] juanpdelat commented on #288
What I mean is there is no way for the user to dismiss the popup and be asked again in the future, the only options are to rate the app, to send feedback or opening a ticket and to not ask ever again.

<img width="306" alt="screen shot 2017-05-02 at 10 22 06 am" src="https://cloud.githubusercontent.com/assets/1113309/25622123/73371b60-2f21-11e7-99d6-e8947d64c4fe.png">

Is there a way to just dismi

[2017-05-02 16:58] andrewljohnson commented on #289
Thanks! Totally missed that.

On Tue, May 2, 2017 at 1:02 AM, Steven Diviney <notifications@github.com>
wrote:

[2017-05-03 14:31] tecknut commented on #288
@juanpdelat Yes there is a way to do this.

https://github.com/zendesk/zendesk_sdk_ios/blob/master/ZendeskSDK.framework/Headers/ZDKRMAConfigObject.h#L32

https://github.com/zendesk/zendesk_sdk_ios/blob/master/ZendeskSDK.framework/Headers/ZDKRMAConfigObject.h#L124

You can add your own `shouldShowBlock`and return true when you want the popup to show. The block is passed a number of details which yo

[2017-05-03 15:47] tecknut commented on #288
Ok so for a start what you could do is [change the strings](https://developer.zendesk.com/embeddables/docs/ios/localize_text).

This will allow you to set text as you like. I'm not sure whether your app is in more than one language, if it's only in one language this step is less hassle.

In addition to this you can use the should show block to change the semantics of don't ask again to a remind me

[2017-05-04 05:49] xuaninbox opened #291 "Custom Back Button on ZDKHelpCenter and ZDCChat"
- SDK version: 1.9.2.2
- Xcode version: 8.3.2
- iOS or Simulator: iOS
- iOS Version: 10.3.1
- Swift version:3.1

try to add my custom back button to ZDKHelpCenter and ZDCChat but it seems it always use the system default back button.

navigationItem.leftBarButtonItem = UIBarButtonItem(image: #imageLiteral(resourceName: "common_back"), style: .plain, target: self, action: #selector(btnBackPush(_:))

[2017-05-04 12:48] schlan commented on #291
Hey @xuaninbox, please try to set the custum icon like this ([source](http://stackoverflow.com/questions/16254456/setting-navigation-bar-back-button-image)):

[code]

[2017-05-04 16:51] Patrashkov opened #292 "Issue with Customizing UI support zendesk"
- SDK version:1.9.2.1
- Xcode version:  8.3.2 (8E2002)
- iOS or Simulator:
- iOS Version:
- Swift version: 3.1

First, forgive me, maybe for a stupid question.
I'm trying to hide the UITableViewHeaderFooterView in the UITableView section namely "Help and FAQs"
But I still have not coped with this problem (((( maybe someone will suggest a solution
Photo with the problem attached
![screen shot 2017-

[2017-05-08 09:35] baz8080 commented on #292
@Patrashkov Sorry that this isn't good new, but hiding the header isn't something that is supported. The only solution would be to rebuild the UI on top of our [API provider](https://developer.zendesk.com/embeddables/docs/ios/api_providers) layer.

[2017-05-08 09:35] #292 closed

[2017-05-09 09:31] RonanMcH commented on #269
I am going to close this issue as we have not heard any reports of this type of incident occurring again. Please feel free to reopen it if this is still an issue for anyone.

[2017-05-09 09:31] #269 closed

[2017-05-09 12:25] RonanMcH commented on #194
This bug is fixed in the latest version of the SupportSDK so I am going to close this issue.  Please feel free to reopen if this is still an issue for anyone.
Thanks,
Ronan.

[2017-05-09 12:25] #194 closed

[2017-05-09 12:41] RonanMcH commented on #233
Hello @ehlersd ,
Just checking in since we have not heard from you in a while. Is this still an issue for you?
Thanks,
Ronan.

[2017-05-10 11:21] afehners commented on #233
I had this issue. It turned out it was due to a missing info.plist entry to explain why my app needed access to the users photo library. Might not be the same issue here but adding this fixed it and stopped the crashing:

<key>NSCameraUsageDescription</key>
<string>Used to assign a picture to a support request</string>

and

<key>NSPhotoLibraryUsageDescription</key>
<string>Used to an image to a s

[2017-05-10 11:48] afehners opened #293 "Tickets raised through mobile SDK lack identifying information"
If a user raises an issue through the Help Center then all tickets arrive with the requester set as "Mobile App User". If tickets are raised via the web Help Center then it displays their name as entered on the web form.

It is very hard to scan through all the support tickets raised via the mobile SDK and spot ones raised by the same person without going into each and inspecting the email address

[2017-05-11 08:48] StevenDiviney commented on #293
@afehners

Do you have conversations disabled in your SDK settings? There is currently a bug in the SDK. If conversations are disabled and the identity has no email, the name will be lost when the user submits a ticket.

[2017-05-11 11:14] afehners commented on #293
Hi, Yes, I have conversations turned off.

If I set a dummy identity email, will it work around this issue, and get replaced with the user inputted email, from the submission form, later on?

[2017-05-15 09:30] tecknut commented on #293
If you change a value on an `ZDKAnonymousIdentity` it is treated as a new identity and any data from the previous identity is cleared.

https://help.zendesk.com/hc/en-us/articles/229489568#toc_1

Also if you set a dummy email, the UI won't load with the email field.

We have a release coming out soon which should have a fix for this.

If you can't wait for that, is there any way you can capture th

[2017-05-15 13:19] tecknut commented on #274
Hey @insidegui, have you updated to the latest version?

This issue should be solved now.
Thanks

[2017-05-15 13:30] insidegui commented on #274
We haven't yet, but we're going to implement our own UI for other reasons, so this will not be an issue anymore. Thanks 😃

[2017-05-15 14:56] JeromeRiiot commented on #249
Hello Mathew,
I also would like this issue to be solved. Is there any hope?

[2017-05-15 15:02] tecknut commented on #249
Hi @JeromeRiiot, there is hope. We're currently testing a solution. This issue will be update once the solution is out in the wild.

Thanks

[2017-05-15 15:26] JeromeRiiot commented on #249
This is great news. I'm looking forward to the resolution.
Thank you for your feedback.
Jérôme.

[2017-05-17 04:31] xuaninbox commented on #291
Thx!

Cause I use leftBarButtonItem, I ended up subclassing UINavigationController

	import UIKit

	class HelpNavigationController: UINavigationController {

	    override func viewDidLoad() {
	        super.viewDidLoad()
	    }

	    override func didReceiveMemoryWarning() {
	        super.didReceiveMemoryWarning()
	    }

	    override func pushViewController(_ viewController: UIViewController,

[2017-05-17 04:31] #291 closed

[2017-05-24 12:50] raissetto opened #294 "Localizable.string corrupted"
- SDK version: 1.9.92
- Xcode version: 8.3.2
- iOS or Simulator: iOS
- iOS Version:  10.3
- Swift version: 3.1

Steps to Reproduce:

1. go to zendeskSDKStrings.bundle
2. open it.lproj/Localizable.strings

this is my file:

bplist00ﬂA

 !"#$%&'()*+,-./0123456789:;<=>?@ABCDEFGHIJKLMNOPQRSTUVVWXYZ[\]^_`abcdefghijklmnohpqrstuvwxoyz{|ko[_#ios.RMA.request.sendFeedback.butto

[2017-05-24 20:56] blagh opened #295 "Help Center keeps submitting tickets under old identity after being given an new identity"
- SDK version: 1.9.2.2
- Xcode version: 8.3.2
- iOS or Simulator: simulator
- iOS Version: any
- Swift version: 3.1

Steps to Reproduce:
1. Login to app
2. Open the help center as below, and submit a ticket through the UI:

        let identity = ZDKAnonymousIdentity()
        if let accountInfo = getAccountInfo() {
            identity.email = accountInfo.email
            identity.name = account

[2017-05-25 09:00] tecknut commented on #294
This is a compiled strings file, you can select how you want to view it.

![strings](https://cloud.githubusercontent.com/assets/2079547/26443556/d25316c8-4130-11e7-8f40-25802430c0d9.gif)

[2017-05-25 09:00] #294 closed

[2017-05-25 10:15] tecknut commented on #295
Hey @blagh can you provide some logs of the issue going through the repro steps you've outlined?

[2017-05-25 10:16] tecknut commented on #295
Additionally, could you log the values of `accountInfo` each time around to verify they are changing?

[2017-05-25 15:10] blagh commented on #295
Can do!

[2017-05-25 16:05] blagh commented on #295
Gif of repro:

<img src="https://cloud.githubusercontent.com/assets/5570885/26458687/f90d606e-4141-11e7-9164-8ba8e2c30b3e.gif" width=200px>

Modified snippet:

    print("Setting up ZDKAnonymousIdentity")
    let identity = ZDKAnonymousIdentity()
    if let accountInfo = getAccountInfo() {
        identity.email = accountInfo.email
        print("Identity email: \(accountInfo.email)")
        iden

[2017-05-25 16:10] blagh commented on #295
I tried unwrapping the optional value, but this also didn't seem to help.

[2017-05-25 18:37] tecknut commented on #295
Ok great, thanks for the extra details. Could you enable the logging in the SDK? This will add much more logs and should shine some light on whether the new identity is going out with the network requests.

Look for `ZDKLogger` it has an enable function.

Thanks

[2017-05-26 15:07] blagh commented on #295
Here is the snippet for sending the first ticket:

[code]

And for the second ticket:

[code]

I can see that the `Mobile-Sdk-Identity` GUID has changed, but the tickets are still showing up under the same email address.

[2017-05-26 16:20] tecknut commented on #295
That could definitely be causing this.

Can you use a network sniffer like [Charles Proxy](https://www.charlesproxy.com/) to find out if that same bearer token is coming back each time `https://freshbooks1495119909.zendesk.com/access/sdk/anonymous` is called?

This will help us find out if it's a client or server side error.

Thanks

[2017-05-29 14:25] blagh commented on #295
It looks like the calls to login via `sdk/anonymous` are only happening in the first snippet...I can do the Charles Proxy stuff as requested, but I don't think I'll have any additional info :sweat_smile:

[2017-06-06 12:53] tecknut commented on #295
@blagh have you any updates on this?

[2017-06-06 13:20] blagh commented on #295
@tecknut I added a comment above...I can do the Charles Proxy sniffing, but I'll only have the results of the call to `sdk/anonymous` for the first identity, because the call to get a bearer token only happens for the first identity. So there won't be anything to compare.

[2017-06-06 14:59] tecknut commented on #295
@blagh I've tried replicating this, anytime I change the identity a new access call is made and a new token is fetched.

Can you provide some snippets of the code your using in your app?

[2017-06-06 20:52] blagh commented on #295
@tecknut do you mean, other than the ones I've already provided in the description? I'll try making a small sample app, and see if I can reproduce.

[2017-06-06 21:12] tecknut commented on #295
If the code snippets you pasted above are copied directly from your integration that's fine.

A sample app that reproduces this would be great if you can manage it.

I've tested this across a few versions, so I don't think the version your using is the issue.

[2017-06-06 22:47] blagh commented on #295
@tecknut after making a sample app, it doesn't appear to reproduce the issue, so something else would appear to be going on. Just a shot in the dark, by chance does the behaviour depend on something in NSUserDefaults? We clear these when the user logs out.

[2017-06-06 23:03] blagh commented on #295
Clearing UserDefaults appears to be the culprit! I'll upload the whole thing to my github for posterity, but I just added this snippet to my sample app and that has reproduced the issue.

    guard let applicationDomain = Bundle.main.bundleIdentifier else {
        return
    }

    UserDefaults.standard.removePersistentDomain(forName: applicationDomain)
    UserDefaults.standard.synchronize()

I'

[2017-06-06 23:09] blagh commented on #295
@tecknut here is a minimal example of an app that reproduces the problem: https://github.com/blagh/zendesk-sdk-login-bug-repro/blob/master/ZendeskTest/ViewController.swift

We do have the capability to whitelist particular keys from being cleared...let me know what kinds of things would be most reasonable to try.

[2017-06-07 10:25] tecknut commented on #295
Thanks @blagh this helped track down the issue.

We check user defaults when comparing a previously set identity. So when user defaults has been cleared the check assumes the user is new and we proceed to set it. The issue is there are still references to the previous user in memory.

If you clear the user data before clearing user defaults, the data memory will also be cleared and things will wor

[2017-06-08 15:00] nomadplanet opened #296 "Unable to customize how the view controllers are presented"
- SDK version: 1.9.2.2
- Xcode version: any
- iOS or Simulator: any
- iOS Version: any
- Swift version: any

Steps to Reproduce:

1. let helpCenter = ZDKHelpCenterOverviewController(helpCenterOverviewModel: ZDKHelpCenterOverviewContentModel.defaultContent()); helpCenter.uiDelegate = self; present(helpCenter, animated: true, completion: nil); // add additional code so that the contact form is reach

[2017-06-08 15:14] nomadplanet opened #297 "Incorrect section order"
- SDK version: 1.9.2.2
- Xcode version: any
- iOS or Simulator: any
- iOS Version: any
- Swift version: any

Steps to Reproduce:

1. On Zendesk, create several sections, for instance FOO, BAR, ZEN, DESK
2. On the web, they're displayed in the alphabetical order : BAR, DESK, FOO, ZEN  which is what's expected
3. On mobile (including Android), they are displayed in a random order (for instance BAR,

[2017-06-08 15:21] nomadplanet opened #298 "Articles not sorted in correct order"
- SDK version: 1.9.2.2
- Xcode version: any
- iOS or Simulator: any
- iOS Version: any
- Swift version: any

Steps to Reproduce:

1. Create a section
2. Create articles A, B and C
3. They're displayed in creation order on the web A, B, C
4. They're displayed in the most recent order on mobile (including Android): C, B, A

We need to be consistent on this, preferably most recent first.

[2017-06-08 15:30] baz8080 commented on #297
Hi @nomadplanet

We have an issue open here for sorting issues. We are making progress on the fix, and will update that issue when we have a solution: https://github.com/zendesk/zendesk_sdk_ios/issues/249

Thanks

[2017-06-08 15:30] #297 closed

[2017-06-08 15:31] baz8080 commented on #298
Hi @nomadplanet

We have an issue open here for sorting issues. We are making progress on the fix, and will update that issue when we have a solution: https://github.com/zendesk/zendesk_sdk_ios/issues/249

Thanks

[2017-06-08 15:31] #298 closed

[2017-06-12 13:50] RonanMcH commented on #296
Hi @nomadplanet , you can present the contact form as in `formSheet`style with the following code:
[code]
We don't expose the controller to actually set properties on it here when presented from Help Center. You could post [here](https://support.zendesk.com/hc/en-us/community/topics/200132066-Product-feedback) with your feature request which is monitored by our product manager.
Thanks,
Ronan.

[2017-06-15 19:38] phaddius opened #299 "Crashing on autorelease"
- SDK version: 1.9.2.2
- Xcode version: 8.3.2
- iOS or Simulator: iPhone Device - doesn't crash on simulator
- iOS Version: 10.3.2
- Swift version: 3

Steps to Reproduce:

1. Launch the HelpCenter - either via pushOverview or presentOveriew:
let helpCenterContentModel = ZDKHelpCenterOverviewContentModel.defaultContent()
ZDKHelpCenter.pushOverview(self.navigationController, with:helpCenterContentMo

[2017-06-16 21:00] AnujD7781 opened #300 "As a user I can not submit a new ticket."
- SDK version: 1.7.1.1
- Xcode version: Version 8.3.3 (8E3004b)
- iOS or Simulator: iOS
- iOS Version: 10.3
- Swift version: 3
- Anonymous access

Steps to Reproduce:

1. Tap on contact us -> opens my Ticket section
2. Click on New ticket
3. continue typing in the textview area.
4. Placeholder "**Description does not go away.**"
5. **Send button is disabled even after I wrote a ticket.**

Source c

[2017-06-16 22:06] AnujD7781 commented on #300
Fixed.....

[2017-06-20 11:41] nsomar commented on #299
Hello @phaddius,

I just tried to reproduce the issue the information you specified. However, I was unable to get it to crash.
Does the issue happen when you run the sample app too?
Can you share a bit of more code; such as how you are initializing the SDK and a bit more context on how you are presenting `ZDKHelpCenter`?

Thanks,
Omar Abdelhafith

[2017-06-20 11:43] nsomar commented on #300
Hello @AnujD7781,

I am glad that this issue was fixed :)
I'll be closing the issue now, feel free to contact us if you face any other issue.

[2017-06-20 11:43] #300 closed

[2017-06-21 10:43] PatrickSCLin opened #301 "how to send a request to specific organization ?"
- SDK version: 1.9.2.2
- Xcode version: 8.3.3
- iOS or Simulator: iphone 6
- iOS Version: 10.3.2
- Swift version: Swift 3

How to send a request to specific organization ?
I'm only able to send a request to main dashboard for now, I can see a request from organization only when the sender as a member of organization, but I don't think that is best solution.

Is possible to send a request to specif

[2017-06-21 19:04] haydenholligan commented on #283
Has the bug in the backlog been fixed yet? I have removed IQKeyboardManager from the project and still getting the black bar bug. I have a hunch they're related, but can't know for sure until your bug has been fixed. It's been over 2 months and this app is supposed to be live next week.

[2017-06-22 12:40] RonanMcH commented on #301
Hi @PatrickSCLin ,
It is not possible to configure tickets from the SDK to a specific organization. It is possible to configure other aspects of the ticket from the SDK which are detailed [here](https://developer.zendesk.com/embeddables/docs/ios/requests#in-your-code).
I hope this helps,
Ronan.

[2017-06-22 20:49] blagh commented on #295
Hey sorry I just realized I forgot to respond to this! Adding the snippet works just fine, thanks for the help :smile:

[2017-06-23 01:51] phaddius commented on #299
Hi there, I haven't tried the sample app, as I'm sure it runs fine :)

As for my own code, here is how I am doing things. I'm integrating via
Fabric, my zendesk credentials are in my info.plist, as a "kit" inside the
Fabric dictionary. In my didFinishLaunchingWithOpitons, I'm calling:

Fabric.with([Crashlytics.self, AWSCognito.self, Zendesk.self])

Then whenever I want to show the help center:

le

[2017-06-25 16:25] tmaly1980 commented on #105
@mathewcropper , that's disappointing. Mobile app development is cumbersome when it needs to be written twice in two separate languages, so having a javascript-based interface via react native seems natural. A LOT of people are going that way with mobile development as it cuts dev time significantly. I am not a native iOS/Android developer, so I couldn't say how what's involved, only that I'd imag

[2017-06-26 09:05] tecknut commented on #295
Thanks ! gonna close this now

[2017-06-26 09:05] #295 closed

[2017-06-27 15:33] baz8080 commented on #283
Hi @haydenholligan

The bug is still in our backlog. They may be related, but it's difficult to know for sure because we were never able to reproduce the black bar issue. Do you have a small sample application which shows the problem that you could share with us?

[2017-06-30 15:43] nsomar commented on #299
Hello @phaddius,

I tried to reproduce the issue using Fabric and with both a navigation controller and a tabbar controller but I can't reproduce it yet.
Do you think you can provide a sample app that reproduces the issue?

Thanks,
Omar...

[2017-07-04 14:41] #274 closed

[2017-07-04 14:43] RonanMcH commented on #281
Hi @SergeyBulyno ,
This issue has been fixed in the latest version of the SupportSDK (1.10.0.1).
Thanks,
Ronan.

[2017-07-04 14:43] #281 closed

[2017-07-04 14:54] RonanMcH commented on #180
Hi @INRIX-Patrick-Winchell ,
We deprecated the RMA feature in the SDK and it will be removed in the next release. We have built an open source alternative, available [here](https://github.com/zendesk/rate_my_app_ios) that works in conjunction with the SDK.
Thanks,
Ronan.

[2017-07-04 14:54] #180 closed

[2017-07-04 14:54] RonanMcH commented on #181
Hi @INRIX-Patrick-Winchell ,
We deprecated the RMA feature in the SDK and it will be removed in the next release. We have built an open source alternative, available [here](https://github.com/zendesk/rate_my_app_ios) that works in conjunction with the SDK.
Thanks,
Ronan.

[2017-07-04 14:54] #181 closed

[2017-07-04 14:55] RonanMcH commented on #258
Hi @dangochi ,
We deprecated the RMA feature in the SDK and it will be removed in the next release. We have built an open source alternative, available [here](https://github.com/zendesk/rate_my_app_ios) that works in conjunction with the SDK.
Thanks,
Ronan.

[2017-07-04 14:55] #258 closed

[2017-07-04 14:56] RonanMcH commented on #288
Hi @juanpdelat ,
We deprecated the RMA feature in the SDK and it will be removed in the next release. We have built an open source alternative, available [here](https://github.com/zendesk/rate_my_app_ios) that works in conjunction with the SDK.
Thanks,
Ronan.

[2017-07-04 14:56] #288 closed

[2017-07-04 15:33] marcmatta opened #305 "Tickets not loading if app uninstalled and logged in with the same user using ZDKAnonymousIdentity"
- SDK version: 1.9.2.2
- Xcode version: 8.2
- iOS or Simulator: Both
- Using ObjC

Steps to Reproduce:

1. Install App and Login to that app.
2. Login and set ZDKConfig.instance userIdentity using a ZDKAnonymousIdentity with external Id xxx, email and name
3. Create ticket
4. Uninstall app
5. Install app again and Login with the same user used in step 1
6. Login and set ZDKConfig.instance userIden

[2017-07-04 16:05] RonanMcH commented on #305
Hi @marcmatta ,
this is the expected behaviour.  This will be a new user if you uninstall the application and you use anonymous identification. This is because an anonymous identity is an untrusted one.  If you want users to be trusted and be able to view their tickets across devices(installs of the application), then consider switching over to JWT identification. Let us know if you have anymore q

[2017-07-07 13:29] marcmatta commented on #305
Thanks @RonanMcH!

[2017-07-07 13:29] #305 closed

[2017-07-07 14:30] jaz-ah opened #306 "new crash with 1.10.0.1 in ZDKRequestExecutor.m"
- SDK version: 1.10.0.1
- Xcode version: 8.3.3
- iOS or Simulator: iOS
- iOS Version: (multiple)
- Swift version: 3

Found this crash starting to ramp up with our new release that included the sdk above:

<img width="935" alt="screen shot 2017-07-07 at 7 28 42 am" src="https://user-images.githubusercontent.com/13263369/27962185-f1c02d8a-62e5-11e7-8b3f-db7ad4643507.png">

We will probably have to r

[2017-07-07 14:37] brendan-fahy commented on #306
Hey @jaz-ah, thanks for reporting this, we'll check into it and get back to you.

[2017-07-07 14:43] tecknut commented on #306
@jaz-ah can you provide us with the code you've written to integrate the SDK?

It might help us figure out what's happening.

Additionally, have you managed to reproduce this on a dev build of your app?

[2017-07-07 15:01] jaz-ah commented on #306
@tecknut I can't reproduce this locally

It looks like most crashes occur after executing this code to show the category list:

            provider.getCategoriesWithCallback { (categories, error) in
                self.activityIndicator.isHidden = true
                self.loadingData = false
                if error == nil {
                    self.categories = categories as! [ZDKHelpCenterCat

[2017-07-07 20:36] aaronvegh opened #307 "Deprecation Error"
- SDK version: 1.10.0.1
- Xcode version: 8.3.3
- iOS or Simulator: Both
- iOS Version: 10.3
- Swift version: 3

Steps to Reproduce:

1. Turn on deprecation warnings in Build Settings
2. Build.
3. Look at error:

[code]

[2017-07-07 20:43] tecknut commented on #307
Hey @aaronvegh, you must have `treat warnings as errors` turned on.

All of the `ZDKRMA**` namespace is now a deprecated API. We have a number of APIs which are currently marked as deprecated.

You may need to change your Xcode build settings so that deprecations are warnings only.

[2017-07-07 20:43] #307 closed

[2017-07-07 20:48] aaronvegh commented on #307
With all due respect, you should use your position as a vendor-provided service to adopt best practices. Using your SDK should not require adoptees to weaken their own code. I'd suggest you either remove your deprecation warnings or clean up the code to remove the dependency. Thank you.

[2017-07-11 15:06] tecknut commented on #307
On investigating this issue we found that the issue was only present for us on fresh pod installs in a project and only when running build. Building again after encountering the error succeeded.

It's possible to have `treat warnings as errors` affect only the pods target. Doing so will not weaken the code of an integrator.

This post install hook resolves the issue:

[code]

[2017-07-12 17:31] jaz-ah commented on #306
Hi @tecknut any update? do you need any other info?

[2017-07-12 19:33] bryanboyko opened #308 "Possible to add custom UIBarButton items to help center nav bar?"
- SDK version: 1.9.2.2
- Xcode version: 8.3.3
- iOS or Simulator:
- iOS Version: 10.3.2
- Swift version:

Steps to Reproduce:

1. Add BarButtonItems to UINavigationController *navController before injecting to [ZDKHelpCenter pushHelpCenterOverview:navController withContentModel:helpCenterContentModel];
2. When help center is shown, default Zendesk navigation appearance shows instead of the buttons

[2017-07-12 22:13] bryanboyko opened #309 "Error updating to 1.10.0.1 from 1.9.2.2"
- SDK version: 1.10.0.1
- Xcode version: 8.3
- iOS or Simulator: iOS
- iOS Version: 10.3
- Swift version: no

Steps to Reproduce:

1. Update from ZendeskSDK pod 1.9.2.2 to 1.10.0.1
2. Pod install and try to build project
3. Note error 'Could not build module 'ZendeskSDK -> ZDKRMATableHeaderView' is deprecated: Deprecated as of 1.10.0.1, this will be removed.'

4. Remove all code in project related

[2017-07-13 08:38] tecknut commented on #306
We've been trying to reproduce this here We haven't been able to so far.

If you have any more info please send it on.

Thank you

[2017-07-13 08:42] tecknut commented on #309
Hey @bryanboyko, there is a post install hook you can use.

Detailed here https://github.com/zendesk/zendesk_sdk_ios/issues/307#issuecomment-314474539

[2017-07-13 08:42] #309 closed

[2017-07-13 13:35] #301 closed

[2017-07-13 13:35] #299 closed

[2017-07-13 14:08] baz8080 commented on #308
Hi @bryanboyko

We offer some limited control over the right button, which you can change to an image if you wish. You will need to implement the `ZDKHelpCenterConversationsUIDelegate` protocol, and then set it as the delegate of `ZDKHelpCenter `.  We have some [documentation here](https://developer.zendesk.com/embeddables/docs/ios/help_center#disable-requests).

We also allow changing [some font

[2017-07-13 14:08] #308 closed

[2017-07-13 17:50] jaz-ah commented on #306
@tecknut one hint is that fabric says app is in focus only 15% of the time when this occurs - so possibly could be related to app getting backgrounded in middle of the zendesk call?

[2017-07-13 17:53] tecknut commented on #306
Ok great, we'll try backgrounding a bunch of times and see if we can cause and break on the exception. It's out of office ours here in Ireland, so we wont have an update till at least tomorrow. Hopefully we can track this down.

[2017-07-13 20:20] davecoffin opened #310 "Having trouble with JWT implementation"
- SDK version: Latest
- iOS or Simulator: Simulator
- iOS Version: 10.3

I cant get the SDK to ping my jwt endpoint. Here is the error I get:

[code]

The problem appears to be with this url: `https://presonus.zendesk.com/access/sdk/jwt` is that correct?

Here is my function:

[code]

[2017-07-14 08:22] baz8080 commented on #310
Hi @davecoffin

SDK JWT is different from the regular JWT in that your endpoing should not redirect, but rather return a 200. The flow is like this:

![](https://zen-marketing-documentation.s3.amazonaws.com/docs/en/sdk_mobile_jwt_flow.png)

The flow can be seen in context in [this article](https://help.zendesk.com/hc/en-us/articles/229489588-Building-a-dedicated-JWT-endpoint-for-the-Support-SDK).

[2017-07-14 10:50] RonanMcH commented on #306
Hi @jaz-ah ,
We think we may have a route cause for the crashes you are experiencing but still cannot manage to replicate it exactly.  We would like you to open a ticket on [Zendesk Support](https://support.zendesk.com/hc/en-us/requests/new) so we can obtain more information about the crash from you on a less public channel (as some information may be sensitive).  Please link this issue in the tic

[2017-07-14 13:35] davecoffin commented on #310
Thanks for the response! So, I will definitely change from authenticating with email but I am just trying to get a successful response right now. I changed my endpoint code to be:

[code]

[2017-07-14 14:39] jaz-ah commented on #306
@RonanMcH ok just did it thx.

[2017-07-14 15:47] baz8080 commented on #310
Hi @davecoffin

The 404 would be expected if you visitied in a browser which would be sending a GET. We'll have a look at the logs on Monday morning and try to track down the exact cause. The most common reason for failures are that the key is not matching between your endpoint and the configuration in Zendesk. We only show the full key directly after generating the JWT secret, and then a truncate

[2017-07-14 15:55] davecoffin commented on #310
I'm pretty certain that the secret is accurate. If you notice in my code, I append a message to a log file if the method is called. When I attempt to open the help desk from my app and I get that error, there is no log. So that may mean that my method is not being called by the sdk?

[2017-07-17 11:12] baz8080 commented on #310
@davecoffin I had a look at our logs, and the errors are all because your JWT endpoint is returning a 403 to us for the following (redacted) token d***@n****t.***

If we get a non-200 response from your endpoint we pass that along to the SDK client as an error.

[2017-07-17 14:08] davecoffin commented on #310
Thank you! It was totally my error, I was sending it to an API endpoint that requires an API token and my Postman had it set in the headers from previous calls and I forgot about it! So I created a method that does not require a token and that works in the app! Thanks so much for your help. 🙏

[2017-07-17 14:08] #310 closed

[2017-07-20 19:10] bryanboyko opened #311 "Cannot attach to request with Support SDK"
SDK version: 1.10.0.1
Xcode version: 8.3
iOS or Simulator: iOS
iOS Version: 10.3
Swift version: no

Steps to Reproduce:

ZDKRequestCreationConfig does not have a property with which attachments can be added

@interface ZDKRequestCreationConfig : NSObject {

    NSArray *tags;
    NSString *additionalRequestInfo;
    NSString *subject;

}

Is there another way to add an attachment to a request so t

[2017-07-20 21:11] tecknut commented on #311
@bryanboyko currently
[code]
 will display an option add attachments if attachments are enabled in your Zendesk instance.

If you're certain that your instance is configured with attachments enabled and you're not able to attach anything, you may need to [open a request](https://support.zendesk.com/hc/en-us/requests/new) to check if there is an issue with the configuration of your instance.

Can y

[2017-07-20 21:50] bryanboyko commented on #311
Sorry I should have been more clear.

Yes the little blue paperclip shows up when the request UI is presented, but I would like to programmatically attach some info that relates to my app.

 Is that possible?

[2017-07-20 22:10] tecknut commented on #311
No unfortunately there is no straight forward way to do this without creating your own workflow using the API providers.

There may be ways to hack something together using [the NSNotification](https://github.com/zendesk/zendesk_sdk_ios/blob/master/ZendeskProviderSDK.framework/Headers/ZendeskSDKConstants.h#L93) which is posted after a request is submitted. The userInfo of this notification contain

[2017-07-27 17:46] mad102190 opened #313 "Unable to subclass ZDKHelpCenterOverviewController"
- SDK version: 1.10.0.1
- Xcode version: 8.3.3
- iOS or Simulator: Either
- iOS Version: 10.3.1
- Swift version: 3

It's impossible to subclass `ZDKHelpCenterOverviewController` because the project uses the name of the class to load the Nib file. Therefore if I try to subclass I get a crash that states that the bundle could not load the nib `MyProject.FAQViewController` (when it should actually be

[2017-07-27 17:52] mad102190 opened #314 "ZDKHelpCenterOverviewController does not respect sorting or articles"
- SDK version: 1.10.0.1
- Xcode version: 8.3.3
- iOS or Simulator: Either
- iOS Version: Any
- Swift version: 3

There is no way to specify the sort order of the sections in the `ZDKHelpCenterOverviewController` class. It seems to always sort them by creation date, even though we've set the sort order manually on the Zendesk help center web portal. Upon further inspection, it seems that the API is

[2017-07-27 19:18] welshm opened #315 "ZDKHelpCenterOverviewHeaderView gives off warnings in console"
- SDK version:
  1.10.0.1
- Xcode version:
  8.3.3
- iOS or Simulator:
  iOS Simulator
- iOS Version:
  10.3.1
- Swift version:
  Objective-C
Steps to Reproduce:

1. Integrate ZendeskSDK
2. Create a ZDKHelpCenterOverviewController and push it inside a navigation controller

ZDKHelpCenterOverviewContentModel *model = [ZDKHelpCenterOverviewContentModel defaultContent];
  ZDKHelpCenterOverviewControl

[2017-07-27 19:27] welshm commented on #315
I'm also seeing issues where instantiating the controller on a non-main thread (while not accessing UI components) causes animations to start breaking, which is often an indicator of UI access on a non-main thread. Is ZDKHelpCenterOverviewController doing UI modifications during initialization?

[2017-07-28 05:14] lucianocn opened #316 "[BUG] Unable to Load Help Center"
- SDK version: 1.10.1.1
- Xcode version: 8.3.3
- iOS or Simulator: iOS
- iOS Version: 10.3
- Swift version:

Steps to Reproduce:

1. Configured SDK `didFinishLaunchingWithOptions:(NSDictionary *)launchOptions`
[code]

2. Tried to open Help Center
[code]

ERROR LOG:
[code]

[2017-07-28 09:19] tecknut commented on #315
Hi @welshm have you checked our [documentation](https://developer.zendesk.com/embeddables/docs/ios/help_center#help-center-in-the-support-sdk-ui) for how to show Help Center content?

[2017-07-28 09:46] tecknut commented on #316
Hey @lucianocn, can you try this sample app?

I've put what you supplied above into a project and I have no issues getting Help Center content.

[TestingForGetInApp.zip](https://github.com/zendesk/zendesk_sdk_ios/files/1182633/TestingForGetInApp.zip)

[2017-07-28 09:47] tecknut commented on #313
Hey @mad102190, our stock UI is not intended to be subclassed.

The indented interaction with the stock SDK UI is to call:
[code]

We have [some styling options](https://developer.zendesk.com/embeddables/docs/ios/customize_the_look), but the customisations you're after are not supported.

If you require a more customised UI, we have [API providers](https://developer.zendesk.com/embeddables/docs/io

[2017-07-28 09:47] #313 closed

[2017-07-28 09:49] tecknut commented on #314
Hi @mad102190 this is a [known issue](https://developer.zendesk.com/embeddables/docs/ios/version_information#1.7.1.1) with the Help Center API.

We are currently working on a solution to the problem.

Thanks

[2017-07-28 09:49] #314 closed

[2017-07-28 11:50] RonanMcH commented on #278
Hi @afehners ,
We have changing the behaviour of the UI of the Contact Us form to not allow users to enter whitespace in the email field. This fix is in our latest release (version 1.10.1.1).
Thanks,
Ronan.

[2017-07-28 11:58] RonanMcH commented on #306
We have released version 1.10.1.1 of the SupportSDK with what we think will fix this issue.
We are continuing this dialog in a ticket so I am going to close this issue.

[2017-07-28 11:58] #306 closed

[2017-07-28 13:07] welshm commented on #315
I have, yes. We'd prefer to show the Zendesk content as a modal so we're not using pushHelpCenterOverview but presenting a navigation controller with the ZDKHelpCenterOverviewController inside.

[2017-07-28 13:23] tecknut commented on #315
There is also have an API for presenting Help Center as a modal.

We've been looking into the warning which is emitted. The reference points to a static sizing view which isn't presented on screen.

We'll keep looking into it.

[2017-07-28 16:17] lucianocn commented on #316
I changed to my credentials in`AppDelegate.m`.

![simulator screen shot 28 jul 2017 13 15 58](https://user-images.githubusercontent.com/3828136/28726257-e7742e0a-7396-11e7-95bf-17d2713991a3.png)

[code]

[2017-07-28 16:19] lucianocn commented on #316
@tecknut thanks, it's working properly now!

[2017-07-28 16:19] #316 closed

[2017-07-28 17:27] lucianocn opened #317 "Implementing ZDKHelpCenterConversationsUIDelegate"
What's the properly way to implement`ZDKHelpCenterConversationsUIDelegate`?

[code]

[2017-07-28 18:21] mad102190 commented on #314
Oh ok thanks! Do you have any idea of when the fix will be implemented?

[2017-07-28 18:22] mad102190 commented on #313
Even changing the status bar style (i.e. `.lightContent`) isn't supported?

[2017-07-31 09:18] tecknut commented on #317
Hey @lucianocn the value you have chosen for [UI Type](https://github.com/zendesk/zendesk_sdk_ios/blob/master/ZendeskProviderSDK.framework/Headers/ZDKHelpCenterConversationsUIDelegate.h#L33) will result in no nav bar button. Enum is used to chose between a text bar button, an image bar button or no button.

If you want a text bar button [add this](https://github.com/zendesk/zendesk_sdk_ios/blob/ma

[2017-07-31 09:18] #317 closed

[2017-07-31 09:20] tecknut commented on #314
We're currently coordinating with the back end API team responsible for this. As soon as we have something stable we will draft a release.

[2017-07-31 09:38] tecknut commented on #313
For the stock UI we offer the styling mentioned above. Currently status bar style is not surfaced as a styling option.

It's something which can be added, a feature request to the link above will get the ball rolling.

[2017-07-31 09:40] tecknut commented on #278
Closing this. Feel free to reopen if you have any further issue.
Thanks

[2017-07-31 09:40] #278 closed

[2017-07-31 09:44] tecknut commented on #293
Hey @afehners we've put out a release which fixes this issue.

Can you verify this is working for us? Please reopen the issue if you find it persists.

Thanks

[2017-07-31 09:44] #293 closed

[2017-07-31 14:46] lucianocn commented on #317
@tecknut The problem is how to use the delegate presenting the modal with `ZDKHelpCenterOverviewContentModel` :

[code]

Tks.

[2017-07-31 14:48] tecknut commented on #317
There is a method on [ZDKHelpCenter](https://github.com/zendesk/zendesk_sdk_ios/blob/master/ZendeskSDK.framework/Headers/ZDKHelpCenter.h#L81).

[2017-07-31 15:05] lucianocn commented on #317
@tecknut thanks, that's exactly what I was looking for!

[2017-07-31 18:21] bryanboyko opened #318 "Support SDK: Possible to tell if a request was submitted or cancelled?"
SDK version: 1.10.0.1
Xcode version: 8.3
iOS or Simulator: iOS
iOS Version: 10.3
Swift version: no

Is there a way to determine if a request was submitted or cancelled after calling presentRequestCreationWithViewController: from the support SDK?

[2017-08-01 08:56] tecknut commented on #318
Hey @bryanboyko there is a series of [notifications](https://github.com/zendesk/zendesk_sdk_ios/blob/master/ZendeskProviderSDK.framework/Headers/ZendeskSDKConstants.h#L93) posted.

[2017-08-01 08:56] #318 closed

[2017-08-02 16:24] lucianocn opened #319 "[NF] ZDKHelpCenter.h implement hidesBottomBarWhenPushed"
It would be nice to `ZDKHelpCenter.h` has an option to set `hidesBottomBarWhenPushed = YES;` when pushing viewControllers.

[code]

[2017-08-02 20:06] ehlersd opened #320 "ZDKRequestProvider:createRequest:withCallback:"
- SDK version: Using ZendeskSDK (1.10.0.1)
- Xcode version: Using Xcode9b4
- iOS or Simulator: Both
- iOS Version: iOS10 & iOS11b4
- Swift version: Using ObjC

Steps to Reproduce:

When dealing with networking failures, the timeout seems a bit long with no feedback.  Is there a way to alter the timeout value used by the SDK?

[2017-08-03 14:10] morgan-legal commented on #296
Is there any update on that point ?

[2017-08-03 16:22] nsomar commented on #320
Hell @ehlersd,

At the moment there is no way to set the response timeout for network calls. I created an issue in our internal backlog to expose a way to change the request timeout.

I will keep this issue open for update porpuses.

[2017-08-03 16:25] nsomar commented on #319
Hello @lucianocn,

I have logged an issue in our internal backlog to track this issue.
I will keep this issue open for future updates.

Thanks,

[2017-08-09 14:24] divo commented on #296
@morgan-legal We don't currently plan to support this. You can [head over to the community](https://support.zendesk.com/hc/en-us/community/topics/200488257-Zendesk-SDKs) and post a feature request and we will consider it for future work.

[2017-08-09 15:16] iDurian commented on #249
@mathewcropper When will solve this issue? We found that latest SDK still has this bug.

[2017-08-11 16:51] jaz-ah opened #321 "Crash w/ ZDKCommentsTableViewDelegate.m"
- SDK version: 1.10.1.1
- Xcode version: 8.3.3
- iOS or Simulator: iOS
- iOS Version: 10.x (multiple versions of 10.0)
- Swift version: 3

Steps to Reproduce:

Getting this crash showing up in crashlytics;

Fatal Exception: NSRangeException*** -[__NSArrayM objectAtIndex:]: index 0 beyond bounds for empty array Raw Text
--
0 | CoreFoundation | __exceptionPreprocess
2 | CoreFoundation | -[__NSArrayM

[2017-08-16 09:54] #296 closed

[2017-08-16 09:55] baz8080 commented on #319
I'm going to close this one for now. We have this tracked internally. We now take [feature requests in our forum](https://support.zendesk.com/hc/en-us/community/topics/200488257-Zendesk-SDKs) rather than on Github.

[2017-08-16 09:55] #319 closed

[2017-08-16 09:58] baz8080 commented on #320
Hi @ehlersd
I've discussed this with our PM and we are not going to expose this to integrators. If you'd like to talk more about it, then we have a [forum where both PMs and developers participate](https://support.zendesk.com/hc/en-us/community/topics/200488257-Zendesk-SDKs).

[2017-08-16 09:58] #320 closed

[2017-08-16 10:00] baz8080 commented on #311
I'm going to close this one for now.

[2017-08-16 10:00] #311 closed

[2017-08-16 10:01] baz8080 commented on #233
I'm going to close this issue for now.

[2017-08-16 10:01] #233 closed

[2017-08-16 10:03] baz8080 commented on #249
@iDurian It's a priority for us to fix this issue. There are a lot of moving parts, and we'll get it fixed as soon as we can. There is no clear ETA for this though, but we will keep you all up to date as we progress.

[2017-08-16 10:12] JeromeRiiot commented on #249
@baz8080 Thanks for the update, Barry. Still a must have for myself.

[2017-08-16 12:19] baz8080 commented on #321
Hi @jaz-ah I didn't have any luck in reproducing the issue, but you're right that it's a clear case that we can check for. How often is this crash happening?

[2017-08-16 16:11] jaz-ah commented on #321
about 1-2/day.

[2017-08-17 09:44] tecknut commented on #321
Hey @jaz-ah, thanks for the crash rate.

I'm curious about this happening in the background when the crash happening in table view delegate methods which should only be called from user interaction.

Is there any more detail you can provide us about the crash?

If it's not possible to share here please [open a ticket with us](https://support.zendesk.com/hc/en-us/requests/new).

[2017-08-17 13:09] jaz-ah commented on #321
unfortunately no more details -I'm just getting this from crashlytics - my guess from prior experience is a user is interacting with the zendesk support area and accidentally fat fingers the home button to background the app .. sometimes happens when people are taking pictures of the screen as well...

[2017-08-17 14:20] baz8080 commented on #321
@tecknut @jaz-ah I was trying my best to fat-finger and reproduce this. I think the timing might be quite tricky to reproduce.

[2017-08-17 15:43] jaz-ah commented on #321
@baz8080 probably hard to repro - I've seen these before in many other apps i've developed and best thing is to just put a bounds check in there

[2017-08-17 20:13] chrismanderson opened #322 "conversationsBarButtonImage on ZDKHelpCenterConversationsUIDelegate should be optional"
- SDK version: 1.10.1.1
- Xcode version: 8.3.3
- iOS or Simulator: 10.3
- iOS Version: 10.3
- Swift version: 3

Steps to Reproduce:

I want to set the the `ZDKNavBarConversationsUIType` to `ZDKNavBarConversationsUITypeNone` via conforming to the `ZDKHelpCenterConversationsUIDelegate`. That should mean I don't need to provide a `conversationsBarButtonImage`, correct? But, that method is not only a

[2017-08-18 09:27] eepDev commented on #322
Hi @chrismanderson,

Thanks for pointing this out to us. I've created an issue for us to track this internally and will keep you posted on any updates.

[2017-08-21 15:10] divo commented on #321
@jaz-ah We are unable to repo this. I've added it to our backlog to keep track of it.
If you come up with any steps to repo then please let us know.

[2017-08-21 15:52] jaz-ah commented on #321
@divo probably will never get repro steps, just continued reports of the crash in crashlytics - since the backtrace is so obvious, any chance at adding a bounds check in there?

[2017-08-22 14:59] mathewcropper commented on #321
Hey @jaz-ah. We're currently working on giving the UI a facelift, so we'll add this as one of the requirements/test cases. It's a longer term piece of work than a quick fix, though, so it'll be a little while before it's out.

We won't be making updates to the existing UI in the meantime, so this is a _won't fix_ for this version of the SDK, I'm afraid. It is something you can look out for in a la

[2017-08-25 11:27] robertofrontado opened #323 "ZDCChat - Strings and localization - Cocoapods"
- SDK version: ZDCChat 1.3.5.1
- Xcode version: 8.3.2
- iOS or Simulator: Both
- iOS Version: 10.3
- Swift version: 3.1

Is there a way to have custom texts as described [here](https://developer.zendesk.com/embeddables/docs/ios-chat-sdk/customization#strings-and-localization) but installing Zendesk via cocoapods?

[2017-08-25 12:46] robertofrontado commented on #323
Nvm I wasn't doing this right

[2017-08-25 12:46] #323 closed

[2017-08-28 20:53] haydenholligan commented on #283
It's been over 4 months since discovering the shifting bug @nsomar mentioned in April. Has it been fixed yet? I still don't see a point in trying to debug the black bar before fixing the possibly/probably related issue.

[2017-09-07 16:19] mxcl opened #324 "Infinite loop inside Zendesk SDK on iOS 11"
- SDK version: 1.10.1.1
- Xcode version: 9b6
- iOS or Simulator: *hang* confirmed on both.
- iOS Version: Xcode 9b6 iOS 11 simulator
- Swift version: 3.2

Steps to Reproduce:

1. `guard let nc = navigationController else { return }`
2. `ZDKHelpCenter.pushOverview(nc, with: ZDKHelpCenterOverviewContentModel.defaultContent())`
3. Infinite loop

The Zendesk SDK infinitely loops on iOS 11 with the abo

[2017-09-07 21:06] tecknut commented on #324
Hey @mxcl thanks for reporting this. We've seen something like this occur previously when the [bundles are missing at run time](https://support.zendesk.com/hc/en-us/community/posts/115008714768-Crash-trying-to-present-Help-Center
).

Could you try two things for us?
- Can you enable logging and post the SDK logs up to the point of the crash?
- Can you check inside the contents of the `.app` after

[2017-09-12 11:07] RonanMcH commented on #283
Hi @haydenholligan ,
I have spent a bit of time investing this issue, this morning.

* I tried integrating `IQKeyboardManager` into our sample and enabling it in the `appdelegate`with `[IQKeyboardManager sharedManager].enable = YES;`. I could see the bug.
* I disabled the Keyboard managing distance in the appdelegate then with this code `[IQKeyboardManager sharedManager].enable = NO;` and the keyb

[2017-09-14 19:22] dmiluski opened #326 "Carthage Support?"
- SDK version:
- Xcode version:
- iOS or Simulator:
- iOS Version:
- Swift version:

Steps to Reproduce:
I've found Carthage to be an overall cleaner integration method that CocoaPods which has been removed from our project completely. I would really appreciate it, if Zendesk offered a Carthage integration solution.

https://github.com/Carthage/Carthage

1.
2.

[2017-09-15 01:50] baz8080 commented on #326
Hi @dmiluski

It's on our radar, please see https://github.com/zendesk/zendesk_sdk_ios/issues/137 for more details. I'm going to close this now because we use Github issues for bugs only. Thanks!

[2017-09-15 01:50] #326 closed

[2017-09-15 13:24] tecknut commented on #324
Hey @mxcl have you had a chance to look at this again?

[2017-09-22 12:28] RonanMcH commented on #324
Hi @mxcl ,
I am going to tentatively close this issue. Please feel free to reopen it if this is still an issue for you.
Thanks,
Ronan.

[2017-09-27 06:45] mrengine opened #327 "StatusBar style"
- SDK version: 1.11.0.1
- Xcode version: 9
- iOS or Simulator: Simulator / Device
- iOS Version: 11
- Swift version: 3

Hi,
How can i change status bar style? It's always .default (black). I need to change it to .light

[code]

controller has .light style, but when ZDK appears it become .default

[2017-09-27 14:42] rhaining opened #328 "iPhone X spacing issue"
- SDK version: 1.11.0.1
- Xcode version: 9
- iOS or Simulator: iPhone X
- iOS Version: 11
- Swift version: 3.2

Steps to Reproduce:

1. View an existing support ticket.
1. Tap the comment field to display the keyboard.

<img width="205" alt="iphonexuiissue" src="https://user-images.githubusercontent.com/462870/30919836-8c49ea06-a370-11e7-9227-0f9399c0c27b.png">

[2017-09-29 14:41] rhaining commented on #328
@RonanMcH does the 1.11.11.1 release fix the iPhone X layout issues? thanks!

[2017-09-29 22:22] mxcl commented on #324
I use CocoaPods to install Zendesk. Probably is the bundle issue, since it worked randomly once recently, but is not working again. Only started happening since Xcode 9.

[2017-09-29 22:36] mxcl commented on #324
Strangely the framework nor bundles are embedded by CocoaPods.

<img width="1059" alt="screen shot 2017-09-29 at 6 34 26 pm" src="https://user-images.githubusercontent.com/58962/31038458-df231830-a544-11e7-881f-5a0ffce63014.png">

My Podfile is not complicated at least here:

[code]

I'll keep investigating, but it seems odd that Zendesk is in the pods project (see screenshot) yet doesn't get expl

[2017-10-02 10:57] divo commented on #327
@mrengine The SDK shouldn't modify the status bar style. How are you styling it?

[2017-10-02 14:39] divo commented on #328
@rhaining 1.11.11.1 does not fix these issues.

This is concerning. I have added it to our backlog. We will aim to get a fix out by the end of the month.

Thanks for reporting this issue.

[2017-10-02 15:32] divo commented on #324
@mxcl Are you still seeing this? Can you check/post the contents of your built app? The SDK bundles should be inside it.

![screen shot 2017-10-02 at 16 31 48](https://user-images.githubusercontent.com/9431616/31085510-454e9750-a78f-11e7-9907-51f25b3b96b6.png)

[2017-10-02 15:41] rhaining commented on #328
@divo thanks! for what it's worth, i've had success fixing issues like this by updating the view's top/bottom anchors to be relative to the `layoutMarginsGuide` (in this case, it'd be that view that encompasses the comment text view, etc)

[2017-10-02 15:53] divo commented on #328
Thanks for the tip, I'll add it to the story.

[2017-10-02 23:20] mxcl commented on #324
Yes, well this is clearly a sporadic (it has worked sometimes), issue that only effects Xcode 9 (only started happening with Xcode 9) and is caused somehow by CocoaPods (possibly because we have 3 extensions, an iOS app and a watch app in this project).

So I don't think the bug is with you, though potentially how your `.podspec` works is a problem.

Really I am only continuing to advise so you ar

[2017-10-05 13:16] mxcl commented on #324
K I have had the preview build system on (makes 2.5 minute iterative debug cycles happen in seconds, so… it was hard to resist).

I turned it off and the archive I build works.

However, this is one data point, it may be a red-herring and building archives takes too long to run another test until I need to. Just keeping you informed.

[2017-10-05 20:00] creister opened #330 "Article results limited to 30 with no pagination support"
- SDK version: 1.11.
- Xcode version: 9.0
- iOS or Simulator: both
- iOS Version: 9 through 11
- Swift version: 4.0

Zendesk Core Api limits results and uses pagination to allow api consumer to view more results. However the iOS SDK does not appear to provide any options to view all results, they are capped at the default `per_page` of 30.
https://developer.zendesk.com/rest_api/docs/core/introduct

[2017-10-05 22:21] mxcl commented on #137
You can add the URL anyway, then include the bundled frameworks from the `Checkouts` entry that Carthage clones. However I then get “Unable to install app” when trying to use the resulting app.

Not sure what I'm missing. This seems like a work around while we wait 3 years for them to do the two minutes of work supporting Carthage requires.

[2017-10-09 09:47] tecknut commented on #330
Hi @creister,

Thanks for raising this with us. I've opened an issue internally aimed at our next release.

In the meantime, can you share what your trying to build? We can try come up with a work around so you can get an integration up and running.

Thanks,
Alan

[2017-10-11 09:31] mu99el commented on #324
Hey guys have this issue, too. Started this week with Xcode 9 and iOS 11 and get an infinite loop when trying to present the Help Center with "ZDKHelpCenter.presentOverview()". Its the same loop like mxcl.

ZendeskSDK version: 1.11.1.1
Xcode version: 9.0 (9A235)
iOS Version: iOS 11.0
Swift version: 3.2

<img width="701" alt="screen shot 2017-10-11 at 11 30 39" src="https://user-images.githubuserco

[2017-10-11 13:47] mxcl commented on #324
I have archived the app twice now and turning off the preview build system before archiving fixed it both times.

[2017-10-11 15:31] creister commented on #330
Hi @tecknut, thanks for the response. I am the lead iOS Engineer at Starry, we use Zendesk as our support solution. We use the Zendesk Provider SDK to allow users to browse and search the Help Center with a custom UI.

Let me know if you need anything else!

Best,
Colin

[2017-10-12 10:08] divo commented on #324
@mu99el are you using the new build system too?

[2017-10-12 11:55] mu99el commented on #324
Yes I do. Did not read your messages correctly. Switching to "Standard Build System (Default)" helps. Thanks guys!

[2017-10-12 12:45] divo commented on #324
@mxcl can you please check the contents of your built app. Please.

[2017-10-12 13:49] mxcl commented on #324
@divo my computer died so I lost all my archives, next time I’m archiving I'll deliberately leave the preview setting on and report back.

[2017-10-12 14:20] divo commented on #324
@mxcl Great, thanks!

[2017-10-16 06:32] mmsaddam opened #331 "ZDKCommentsViewController navigation bar become black and back button does not work."
- SDK version: 1.11.1.1
- Xcode version: 9.0
- iOS or Simulator: iPhone 5s
- iOS Version: 11.0.3
- Swift version: 3.0
![img_1127](https://user-images.githubusercontent.com/3687168/31598190-19fd76b8-b26e-11e7-98e7-9e721a4c067a.PNG)

Steps to Reproduce:

1.
2.

[2017-10-16 09:17] RonanMcH commented on #331
Hi @mmsaddam ,
I have been unable to recreate your issue. Can you share the code you are using to present the `ZDKCommentViewController` or if you have entered via a different part of the SDK UI then that code?
Thanks,
Ronan.

[2017-10-16 12:32] mmsaddam commented on #331
Hi @RonanMcH this issue is hardly produceable. This is my code snippet against a specific request:
[code]

[2017-10-16 12:41] RonanMcH commented on #331
Hi @mmsaddam ,
I tired using the code you supplied and still could not reproduce this issue. Is there anything unique about your project set up may have an impact here? Perhaps a third party library that isn't playing well with ours? What did you mean by saying "this issue is hardly produceable"?
Thanks,
Ronan.

[2017-10-16 13:10] mmsaddam commented on #331
Hi @RonanMcH "hardly produceable" this issue occurs sometimes.

[2017-10-17 11:12] smoi opened #332 "ZDKCustomField Integer literal overflows when stored into 'Int'"
- SDK version: 1.1.11.1
- Xcode version: 9
- iOS or Simulator: iOS 11
- iOS Version: iOS 11
- Swift version: 3

I'm creating a custom request using ZDKRequestProvider, in this request I want to add some custom fields that i created on Zendesk. When I try on the simulator the fields are not sent. If I build the app for archiving or device I get this error

Integer literal '114100117231' overflows w

[2017-10-18 12:29] hamzakhanfcb10 opened #333 "Custom Chat bubble"
How to change chat bubble color

[2017-10-18 13:55] brendan-fahy commented on #333
Hi @hamzakhanfcb10, it sounds like you're talking about [our Chat SDK](https://github.com/zendesk/zendesk_sdk_chat_ios), though this is actually the Support SDK repo. Have you looked at our Chat SDK [UI customisation docs](https://developer.zendesk.com/embeddables/docs/ios-chat-sdk/customization)?

[2017-10-18 13:57] hamzakhanfcb10 commented on #333
Hey Brendan,

Thanks for the reply. I went inside your library and found out chat bubbles property and that worked.

[2017-10-18 13:57] #333 closed

[2017-10-18 14:20] brendan-fahy commented on #331
Hi @mmsaddam have you been able to identify any repeatable way to make the issue occur? It is very difficult to debug if we can't reproduce it.

[2017-10-19 08:58] tecknut commented on #332
Hey @smoi,

I tried the following code to see if I could get the field id to overflow:

[code]

When I run this I get the following output:

[code]

The value doesn't seem to be overflowing at runtime.

Can you give us some more context please? The rest of your code for adding a custom field to a request?

Thanks,
Alan

[2017-10-19 09:11] tecknut commented on #330
Hey @creister sorry for the delay in responding.

I guess what I was trying to ask was: What kind of UI are you trying to build? What way do you want to structure your Help Center?

Thanks,
Alan

[2017-10-19 10:46] smoi commented on #332
Hello Alan,

the code doesn't even compile. It works fine if I compile for Simulator but when I try to compile for device I have that error. Here's a screenshot [http://bit.ly/2invTW5](url)

What version of xcode are you using?

[2017-10-19 21:01] tecknut commented on #332
I'm using Xcode 9. It compiles, runs and prints in the debugger.

That link won't load for me, can you attach a screen shot to the comment itself?

Thanks,
Alan

[2017-10-19 21:02] smoi commented on #332
Here it is
<img width="797" alt="xx" src="https://user-images.githubusercontent.com/635718/31794155-924fa87e-b521-11e7-99d1-b72d95f1edd3.png">

[2017-10-19 21:04] tecknut commented on #332
Thanks, can you try add the SDK to an empty project? If the error happens there then send on the project in a zip and I'll try it here to see if get the error.
Alan

[2017-10-21 12:08] mmsaddam commented on #331
Hi, @Ronan McHugh I am able to identify the way how this issue occur. Today
is my off day, I will share you by tomorrow.

On Wed, Oct 18, 2017 at 8:20 PM, Brendan Fahy <notifications@github.com>
wrote:

--
Muzahidul Islam
Student of CSE Dept.
Rajshahi University of Engineering & Technology,Rajshahi.

[2017-10-22 06:36] mmsaddam commented on #331
Hi, @Ronan here is problem. After pinching `ZDKCommentsViewController` half-way form left to right, then release it and this problem arises.
![ezgif-4-34c6c45b55](https://user-images.githubusercontent.com/3687168/31858908-0b4f7c86-b725-11e7-9cc4-c665c0250f70.gif)

[2017-10-24 14:25] divo commented on #332
@smoi Can you check your projects valid archs? I was able to reproduce this by archiving a project with armv7 support. Since only 64 bit architectures are supported by Apple it is safe to remove support for 32 bit devices.

[2017-10-24 15:22] divo commented on #331
@mmsaddam It looks like you are using your own ticket list to present our `ZDKCommentsViewController`, correct?

Can you confirm if the issue persists using our UI for the complete flow? Using `+ (void) pushRequestListWithNavigationController:(UINavigationController *)navController;
`. I've checked and it seems to be fine here.

I have also tried presenting a ticket with your code snippet and it i

[2017-10-25 14:42] rhaining opened #334 "iPhone X Bottom Bar Spacing Issues: Articles & Tickets"
- SDK version: 1.11.0.1
- Xcode version: 9.1
- iOS or Simulator: simulator
- iOS Version: 9.1
- Swift version: 3.2

Steps to Reproduce:

1. View article or view tickets
2. black area at bottom of teh X simulator

<img width="469" alt="zendeskbug-bottombar" src="https://user-images.githubusercontent.com/462870/32004964-15502bba-b971-11e7-842d-6ab66eeaf9b6.png">
<img width="470" alt="zendeskbug-bott

[2017-10-26 10:42] RonanMcH commented on #334
HI @rhaining ,
We just released version 1.11.2.1 of the Zendesk SDK today with fixes for iphoneX layout issues. This was included in the fixes.
Thanks,
Ronan.

[2017-10-26 10:44] RonanMcH commented on #328
Hi @rhaining ,
We just released version 1.11.2.1 of the Zendesk SDK with iPhoneX spacing issues fixed.
Thanks,
Ronan.

[2017-10-26 10:44] #328 closed

[2017-10-26 10:46] RonanMcH commented on #327
HI @mrengine ,
Since we haven't heard from you in a while I am going to tentatively close this issue. Feel free to reopen it if this is still an issue for you.
Thanks,
Ronan.

[2017-10-26 10:46] #327 closed

[2017-10-26 15:38] rhaining commented on #328
awesome, thanks @RonanMcH!

would it be possible to get some sort of release notes in the releases? or is there somewhere else outside of github y'all have those sorts of change logs? thanks!!

[2017-10-26 15:51] RonanMcH commented on #328
Hi @rhaining ,
We post our release notes [here](https://developer.zendesk.com/embeddables/docs/ios/version_information)

[2017-10-31 09:53] tecknut commented on #334
@rhaining Has the release solved this issue for you?
Thanks

[2017-10-31 14:25] rhaining commented on #334
@tecknut yes it looks good! thanks so much!

[2017-10-31 14:25] #334 closed

[2017-11-04 18:31] mxcl commented on #324
No longer happens with Xcode 9.1’s preview build system.

[2017-11-05 11:54] kleiberjp commented on #332
i'm having the same issue for some custom fields... any solution?

[2017-11-06 11:50] baz8080 commented on #332
@kleiberjp armv7 and armv7s are 32-bit architectures. Can you remove them as suggested in https://github.com/zendesk/zendesk_sdk_ios/issues/332#issuecomment-339008266

[2017-11-06 15:21] baz8080 commented on #324
@mxcl Great, thanks for letting us know. I'll close the issue.

[2017-11-06 15:21] #324 closed

[2017-11-07 14:38] senatorsfc opened #336 "Crash when creating ticket with wrong authentication method"
We are in the process of migrating from Anonymous authentication to JWT authentication on the iOS SDK, and we've run into this issue.

- SDK version: 1.11.2.1
- Xcode version: 9.1
- iOS or Simulator: Both
- iOS Version: 11

Steps to Reproduce:

1. Set SDK Authentication Configuration from Zendesk Web Backoffice to Anonymous
2. Client is setup with JWTAuthentication
3. Present Ticket Creation Reque

[2017-11-07 14:57] RonanMcH commented on #336
Hi @senatorsfc ,
I think I have seen this issue before. Will you try delete your app from the simulator/device and reinstall it? Also delete your `build` folder and `derivedData`. I think this should fix it. This issue is with running an app that has been used with `ZDKAnonymousIdentity` and is now being used with `ZDKJwtIdentity`! Let me know if it works!
Thanks,
Ronan.

[2017-11-08 18:53] MaximusMcCann opened #337 "Help center searchBar. Black text, but want white .. :("
- SDK version: 1.11.2.1
- Xcode version: 9.1
- iOS or Simulator: iPhone 5s 11.1 Simulator
- iOS Version: 11.1
- Swift version: 4

How can I change the UISearchBar text color/tint color?  It's not taking the tint colors I've set :(
-I've tried setting every color here: https://developer.zendesk.com/embeddables/docs/ios/customize_the_look#change-the-colors-of-the-ui , but with no luck.
-I've tried s

[2017-11-08 19:11] divo commented on #337
@MaximusMcCann we are looking into this but so far we think it is an issue with iOS
https://developer.zendesk.com/embeddables/docs/ios/version_information#1.11.2.1
https://openradar.appspot.com/34376509

[2017-11-08 19:14] MaximusMcCann commented on #337
cheers

[2017-11-08 19:26] MaximusMcCann opened #338 "Ability to set UIStatusBarStyle."
- SDK version: 1.11.2.1
- Xcode version: 9.1
- iOS or Simulator: iPhone 5s
- iOS Version: 11.1
- Swift version: 4

Would like to change the `UIStatusBarStyle`.  Our `UINavigationController` is set to:
[code]
but still shows black text.

![image](https://user-images.githubusercontent.com/1643285/32569986-689b2082-c488-11e7-9a39-a3e6291757f5.png)

Code snippet:
[code]

[2017-11-09 18:55] rhaining opened #339 "Underlying views visible when transitioning to Zendesk Articles"
- SDK version: 1.11.2.1
- Xcode version: 9.1
- iOS or Simulator: simulator
- iOS Version: 11.1
- Swift version: 3.2

Steps to Reproduce:

1. View zendesk articles
2. it looks like the view might have a clear background, so our content underneath is showing through?

screen capture:
[zendesk-articles.mov.zip](https://github.com/zendesk/zendesk_sdk_ios/files/1458833/zendesk-articles.mov.zip)

[2017-11-10 13:25] tecknut commented on #339
Hey @rhaining, can you provide us with the code snippets you're using to present the SDK please?

Thank you,
Alan

[2017-11-10 14:12] tecknut commented on #338
Hi @MaximusMcCann thanks for reaching out to us.

Can you clarify a few things for me?

- Do you have "View controller-based status bar" set to YES in your info.plist
- Do you need to remove all view controllers from swift router before pushing the SDK?
- Does this black status bar display when push a blanch view controller as follows:
[code]

Thanks,
Alan

[2017-11-10 15:32] MaximusMcCann commented on #338
- [x] Do you have "View controller-based status bar" set to YES in your info.plist. Yes
- [x] Do you need to remove all view controllers from swift router before pushing the SDK? Yes
- [x] Does this black status bar display when push a blanch view controller as follows. Yes

Normally our VCs extend this to make the status bar text white:
[code]

[2017-11-10 15:50] tecknut commented on #338
@MaximusMcCann have you tried setting "View controller-based status bar" set to NO?
Do you need to switch the status bar style in your app outside of the Zendesk SDK?

[2017-11-10 15:53] MaximusMcCann commented on #338
Yes, we need to switch the status bar style.
So we must have "View controller-based status bar" set to YES in the info.plist

[2017-11-10 17:37] dangochi opened #340 "Tapping on a link to a section in FAQ opens in Safari instead of in app"
- SDK version: 1.9.2.2, 1.11.2.1
- Xcode version: 9.1
- iOS or Simulator: both
- iOS Version: 9.0, 10.3.1, and 11.1
- Swift version: N/A

Steps to Reproduce:
* push/present FAQ and go to an article (URL pattern: https://mydomain.zendesk.com/hc/en-us/articles/12345-Random-Article-Title-)
* tap on a link in the article that points to a section (URL pattern: https://mydomain.zendesk.com/hc/en-us/sect

[2017-11-10 20:50] rhaining commented on #339
@tecknut we use:
[code]

[2017-11-13 15:42] eepDev commented on #340
Hi @dangochi,

Thanks for reporting this.
I'm afraid our Support SDK never supported in-app navigation into sections and currently we don't have any plans on changing that.

However if this is something that would be of interest to you, please create a feature request on [our forum](https://support.zendesk.com/hc/en-us/community/topics/200488257-Zendesk-SDKs) where our PM can see and address it.

[2017-11-13 15:43] #340 closed

[2017-11-14 11:04] eepDev commented on #338
Hi @MaximusMcCann,

Unfortunately, we don't provide an option to change UIStatusBarStyle . Our UI was designed with minimal customisation options in mind and changing the status bar style is out of the scope.

If this is important to you, please consider posting a feature request on [our forum](https://support.zendesk.com/hc/en-us/community/topics/200488257-Zendesk-SDKs) where our PM can address i

[2017-11-14 11:24] #338 closed

[2017-11-14 21:32] mxcl commented on #337
Here's `UIAppearance` methods to change the text color.

[code]

[2017-11-14 21:35] mxcl opened #341 "Crash when searching"
- SDK version: 1.11.2.1
- Xcode version: 9.1
- iOS or Simulator: 11.1
- iOS Version: 11.1
- Swift version: 4

Steps to Reproduce:

1. Type something in search
2. Press enter or search
3. Crash

[code]

[2017-11-14 21:40] mxcl commented on #341
https://docs.google.com/document/d/1a-iMz_2DNZmxK22X7efWOGotEXXM0GcpVMRLUiL-wPU/edit?usp=sharing

video ^^

[2017-11-15 15:07] divo commented on #341
@mxcl I am unable to replicate this.

Can you [enable logging](https://developer.zendesk.com/embeddables/docs/ios/debug#debug-your-integration) and post the logs of the crash?

Also can you provide a link to your Help Center? I suspect one of your articles is missing a field.

Does the crash happen on iOS 10?

[2017-11-15 15:16] MaximusMcCann commented on #337
@mxcl Cheers, did the trick!

[2017-11-15 15:16] #337 closed

[2017-11-15 15:20] mxcl commented on #341
[code]

[2017-11-15 15:27] mxcl commented on #341
Indeed, also happens in 10.3.1 (simulator):

[code]

[2017-11-15 15:32] divo commented on #339
@rhaining I am unable to replicate this as far as I can see we are setting the view background color.
![screen shot 2017-11-15 at 15 29 07](https://user-images.githubusercontent.com/9431616/32844284-e97da206-ca19-11e7-8324-60a34cb6ebc9.png)

Are you modifying / styling the navbar in anyway or setting any appearance properties in your app, particularly on UISearchBar?

Can you also try applying a [

[2017-11-15 16:03] divo commented on #341
@mxcl
I have created a ticket in Zendesk on your behalf and redacted your logs. I should have done this in the first place.

[2017-11-15 17:00] mxcl commented on #341
Update: searching for a string other than `email` does not crash. Sorry I didn't test for this earlier.

[2017-11-16 09:24] divo commented on #337
@mxcl thanks for the workaround, I have linked to it in our known issues.

[2017-11-16 11:31] baz8080 commented on #332
I'm going to close this issue for now. Please feel free to reopen if you're still having an issue.

[2017-11-16 11:31] baz8080 commented on #336
Hi @senatorsfc We haven't heard back from you in a while, so I'm going to close the issue. Please reopen it if you still need help.

[2017-11-16 11:31] #336 closed

[2017-11-23 14:34] Ze-ro-G opened #342 "'Contact Us' not showing"
- SDK version:
- Xcode version: Version 9.1 (
- iOS or Simulator: iPhone 8 Plus
- iOS Version: iOS11
- Swift version: 3

Steps to Reproduce:

1 : Embed a ZDKHelpCenterOverviewController like this

[code]

2 : Then  I try  to get the right button of the Help Center like this but it doesn't works.

[code]

Question : Is there any way to get the ViewController pushed when I trigger the 'Contact Us' b

[2017-11-24 11:44] patrick-doyle commented on #342
Can you use a modal presentation method instead? The ZDKHelpCenterOverviewController does not support being in a child view.

[2017-11-24 15:36] jindulys opened #343 "crash issue with zendesk iOS sdk"
- SDK version: 1.11.2.1
- Xcode version: Xcode 9
- iOS or Simulator: iOS
- iOS Version: iOS 11.1
- Swift version:  N/A

Steps to Reproduce:

We are using `ZDKHelpCenterProvider`'s API to fetch zendesk content.

methods that are used include:

`- (void) getCategoriesWithCallback:(ZDKHelpCenterCallback)callback`
`- (void) getSectionsForCategoryId: (NSString *) categoryId withCallback:(ZDKHelpCenterC

[2017-11-24 16:07] patrick-doyle commented on #343
Can we get a code snippet of the calls that is causing the crash?

[2017-11-24 19:57] jindulys commented on #343
Thanks for this quick reply.

We have `HelpCenterManager` object with a `zendeskProvider` property, which is an instance of `ZDKHelpCenterProvider`.

We initialize that provider property by:
[code]

What we want to achieve is to use`HelpCenterManager` to fetch all our zendesk contents. Categories, sections, articles.

That manager has a method to do that.
[code]

Then we call that fetchMethod in o

[2017-11-25 18:11] matcartmill opened #344 "Getting a 404 when search for article by ID"
- SDK version: 1.11.2.1
- Xcode version: 9.1
- iOS or Simulator: Simulator
- iOS Version: 11.1
- Swift version: 4

The following works and shows us the correct ZenDesk page:

[code]

The following does not work and instead returns an error:

[code]

A screenshot of the error attached for detail:

<img width="365" alt="screen shot 2017-11-25 at 1 08 48 pm" src="https://user-images.githubusercontent

[2017-11-27 11:31] divo commented on #342
@Ze-ro-G As Patrick said ZDKHelpCenterOverviewController does not support being a child view.

To present Help Center please see https://developer.zendesk.com/embeddables/docs/ios/help_center#help-center-in-the-support-sdk-ui

[2017-11-27 16:14] divo commented on #344
@matcartmill Help Center articles are unique per local. You can have the same article for different locals but this must be done manually for each article. Can you check the article you are searching for contains content for the local you are setting?

[2017-11-27 16:22] matcartmill commented on #344
Hey @divo, thanks for the response. I will follow up with our support team and see what locales they've specified for the articles.

Are the locales in Zendesk strict on how they need to be formatted? For instance I believe the Zendesk client takes something like `en-us`, however the iOS `Locale` system returns something like `en_US`. Would those be equal, or do we need to format in a specific way

[2017-11-27 16:44] matcartmill commented on #344
Did some experimenting and it does seem like ZenDesk is strict on the `Locale` front. `en-gb` isn't the same as `en-GB` or `en_GB` or `en_gb`. That said, I was able to load the article once the correct locale with the correct format was passed in.

[2017-11-27 22:02] divo commented on #343
@jindulys I have created a ticket in Zendesk to ask you for more details

[2017-11-27 22:31] jindulys commented on #343
@divo Could you give me a link to that ticket? Thx!

[2017-11-28 15:50] baz8080 commented on #343
@jindulys I see that you've found the ticket, so we can keep chatting there :)

[2017-11-28 15:52] baz8080 commented on #344
@matcartmill the APIs expect it in the `en` or `en-us` formats. When you use our UI we do some settling of the locale, but the provider APIs don't do this. Glad you got it fixed!

[2017-11-28 15:52] #344 closed

[2017-11-28 16:05] baz8080 commented on #342
Going to close this issue as working as designed

[2017-11-28 16:05] #342 closed

[2017-11-29 16:39] RonanMcH commented on #339
Hi @rhaining ,
Have you had any luck with @divo 's suggestion?
Ronan.

[2017-11-29 16:44] RonanMcH commented on #331
Hi @mmsaddam ,
Since we haven't heard from you for a while, I am going to tentatively close this issue. Please feel free to reopen if it is still persisting.
Thanks,
Ronan.

[2017-11-29 16:44] #331 closed

[2017-11-29 20:30] rhaining commented on #339
Hey @divo & @RonanMcH,

We are using a theme already:
[code]

We are not setting appearance properties on `UISearchBar`.

We are using a custom `UINavigationBar` subclass in this navigation controller, but its styling shouldn't affect this I wouldn't think?
[code]

Looking at my exploded view, I noticed that the `ZDKHelpCenterOverviewController` isn't beneath the navigation bar, but is rather situ

[2017-11-30 02:45] devKC commented on #332
@baz8080 I'm seeing this issue too. What was the recommended solution? I feel like the solution should work for 32-bit as well.

[2017-11-30 19:33] bdittmer opened #345 "New Request Screen Blank (using Fabric)"
- SDK version: 1.11.2.1
- Xcode version: 9.1
- iOS or Simulator: Both
- iOS Version: 11.1
- Swift version: 4

Steps to Reproduce:

1. Follow the Fabric Installation instructions
2. Attempt to present a Request Creation view
3. Result:
<img width="490" alt="screenshot 2017-11-30 10 12 28" src="https://user-images.githubusercontent.com/275917/33450669-66ad041c-d5c1-11e7-9966-400912bc7ac2.png">

I am

[2017-12-01 02:08] zoxin opened #346 "How to add custom attachment to Request from user By default supportSDK UI"
- SDK version:1.11.2.1
- Xcode version:9.1
- iOS or Simulator:iOS
- iOS Version:
- Swift version:

I don't want to Custom the Request UI. Is there any way to add custom attachment to Request

sorry for my English

[2017-12-01 02:10] zoxin commented on #346
I want to add some log file when the user contact us

[2017-12-01 03:38] MaximusMcCann commented on #345
Can second this :/

[2017-12-01 12:45] floriangbh opened #347 "Missing images"
Hello,

When I open an article from zendesk some images are missing (but working great on web version).

![screen shot 2017-12-01 at 12 27 32](https://user-images.githubusercontent.com/14054997/33481344-5c6be6f2-d694-11e7-9a03-fd5c396a3367.png)

- SDK version: Using ZendeskSDK (1.11.2.1)
- Xcode version: Xcode 9.3
- iOS or Simulator: iOS
- iOS Version: 11.1.2
- Swift version: 4.0.2

Steps to Repro

[2017-12-01 13:19] RonanMcH commented on #347
Hi Florian,
Is it possible you are hosting this Help Center content externally? You may need to add the [AppTransportSecturityKey](https://developer.zendesk.com/embeddables/docs/ios/version_information#app-transport-security) to your app's `info.plist`. Let us know if this solves your issue.
Thanks,
Ronan.

[2017-12-01 13:35] floriangbh commented on #347
Hello Ronan,

I already have this key in my `info.plist` :

[code]

Some image loading well (1/20)...

Thanks

[2017-12-01 14:18] brendan-fahy commented on #346
Hi @zoxin, there's currently no way to add some log file when the user creates a request through the SDK. Thanks for your input, this is something we're already planning on adding for the next version of the SDK.

[2017-12-01 14:21] #343 closed

[2017-12-01 20:58] welshm commented on #343
Is there any way for the rest of us to follow along with the issue now? :)

[2017-12-02 10:00] arshiacont commented on #332
The suggested solution for removing armv7 and armv7s means that we should drop support for _iPhone 5_ and _iPhone5c_ (let's forget about older ones!). Do you really think this is an acceptable solution?! Check https://fiksu.com/resources/ios_trackers/#iphones-usage

[2017-12-04 11:09] tecknut commented on #347
@floriangbh do you need to log in to Help Center in the browser to view the articles for which the images are not being shown?

You may need to register [this url protocol](https://developer.zendesk.com/embeddables/docs/ios/help_center#access-a-restricted-help-center) to see these articles if you're Help Center requires a log in on the web.

Let us know if this works.

Thanks,
Alan

[2017-12-04 11:12] tecknut commented on #345
Hey @bdittmer and @MaximusMcCann can you verify that the `.bundle`'s have been added to your projects and are copied to your app on building?

From the screen shot above the the localization key at the top of the screen generally happens because the strings bundle is missing.

Thanks,
Alan

[2017-12-04 14:21] baz8080 commented on #332
We've re-opened the issue. We'll try to find a workaround for you.

[2017-12-04 14:24] arshiacont commented on #332
Until this is solved, a work around would be to wrap calls to `ZDKCustomField` in preprocessing macros mentioning architectures and avoiding custom fields on 32 bit devices:

<code>
        #if arch(arm64) || arch(x86_64)
		ZDKCustomFields…
	#endif
</code>

[2017-12-04 16:38] MaximusMcCann commented on #345
@tecknut Opening up the product and showing package contents, I do not see it there.  We import ZendeskSDK using cocoapods, fwiw.

[2017-12-05 16:06] MaximusMcCann commented on #345
This all appears correct
![image](https://user-images.githubusercontent.com/1643285/33616896-e5ae7f12-d9a3-11e7-9839-38a4dddde9bb.png)

[2017-12-05 16:41] MaximusMcCann commented on #345
@bdittmer My issue was using the "New Build System (Preview)".  Switching back to the "Standard Build System (Default)" fixed the copy issue.
![image](https://user-images.githubusercontent.com/1643285/33618115-46ffc66a-d9a7-11e7-939c-bdc0018357bf.png)

[2017-12-05 21:23] bdittmer commented on #345
@tecknut @MaximusMcCann It looks like the download link on Fabric's site does not include the strings bundle: https://fabric.io/kits/ios/zendesk/manual-install

[2017-12-05 23:02] bdittmer commented on #345
I just pulled them down from the repo. Adding them to the bundle fixed the issue!

[2017-12-06 09:14] tecknut commented on #345
Glad things are working for you guys.

@bdittmer Thanks for bringing this to our attention! We'll look into why the bundle is missing from the download page on fabric.

[2017-12-06 09:14] #345 closed

[2017-12-07 16:50] divo commented on #347
@floriangbh When you say it doesn't work do you mean you get an error or you still cannot see the images?

Where are you seeing these URLs? In the logs or the articles themselves?

[2017-12-07 18:35] floriangbh commented on #347
I cannot see the image, like in the precedent screenshot.

There URLs coming from the web.

Thank for your responses

[2017-12-08 16:59] mrh-is opened #348 "Crash in ZDKKeychainWrapper"
- SDK version: 1.9.2.2
- Xcode version: 9.1
- iOS or Simulator: iOS
- iOS Version: 11.1.2
- Swift version: Xcode default (4.0.2)

Steps to Reproduce:

1. Launch app.

Stack trace:

[code]

[2017-12-11 09:43] gransell opened #349 "Attachments not displayed in ticket responses"
- SDK version: 1.11.2.1
- Xcode version: 9.2
- iOS or Simulator: Simulator and device
- iOS Version: 11.2
- Swift version: 4

Steps to Reproduce:

1. Send a ticket from an agent to an end user with an attachment
2. When the end user opens the ticket in the app all they see is the text and not the attachments.

Not sure if this is related to #347

[2017-12-11 10:52] RonanMcH commented on #349
Hi @gransell ,
Currently the Support SDK only supports opening image attachments on device. Anything else will not be accessible or even appear on device. Viewing a host of different attachment types on device in the SDK is something we are working on and are hoping to get into the next version of the SDK.  We will let you know once we have released.
Thanks,
Ronan.

[2017-12-11 11:27] RonanMcH commented on #348
HI @mrh-is ,
Is this a crash reported from Crashlytics or can you recreate it on device?  I noticed you are running an old version of SDK (1.9.2.2). This is an unsupported version of the SDK. The latest version is 1.11.2.1, please consider upgrading to this version.
Thanks,
Ronan.

[2017-12-11 11:55] gransell commented on #349
Thanks for the quick response @RonanMcH! Looking forward to the update

[2017-12-11 11:55] #349 closed

[2017-12-11 16:54] mrh-is commented on #348
Nope, this is from Crashlytics. I've never seen it on a device, and it's only come in once, so it must be reasonably rare.

I'll upgrade our SDK version, and I'll reopen this issue if the crash ever comes back. Thanks!

[2017-12-11 16:54] #348 closed

[2017-12-11 17:09] RonanMcH commented on #347
Hey @floriangbh ,
I am going to proactively open a ticket for you with us and we can debug this issue further there.
Thanks,
Ronan.

[2017-12-12 12:55] volatilegg commented on #332
This workaround works for me so far:
[code]

[2017-12-12 13:53] arshiacont commented on #332
Interesting! Thanks for sharing. And I assume that you receive the info on Zendesk backend?

If yes, this can be considered a fix!

[2017-12-12 14:41] volatilegg commented on #332
@arshiacont Yes, there's no error from Zendesk backend for me so far.

[2017-12-13 20:16] platedbay opened #350 "Getting a 403 error when uploading attachments, submitting tickets or viewing helpcenter"
- SDK version:
1.11.2.1
- Xcode version:
9.1
- iOS or Simulator:
Simulator & Devices
- iOS Version:
iOS 11
- Swift version:
4.0

We've had this integration within our application for about a year now and we just discovered it's stopped working in production. Went to go debug it locally and we're getting the following error response when both uploading attachments (`ZDKUploadProvider`), creating re

[2017-12-14 10:25] tecknut commented on #350
Hi @platedbay I see you've opened up a ticket on our Zendesk instance. I'm going to follow up there.

[2017-12-15 09:51] floriangbh commented on #347
Hello, where I can find this ticket ?

[2017-12-15 10:24] RonanMcH commented on #347
HI @floriangbh ,
I sent it to the email on your website. I change the email associated with the ticket if you would like?
Thanks,
Ronan.

[2017-12-15 10:29] floriangbh commented on #347
Hi Ronan,
Oups; I changed the email on my website recently but I made a mistake with `.fr` instead of `.com`... Can you change with .com instead of .fr ?

Thanks

[2017-12-15 10:40] RonanMcH commented on #347
Hi @floriangbh ,
No problem. I will resend the ticket now.
Thanks.

[2017-12-18 10:48] couldhll commented on #277
+1

[2017-12-18 10:50] xGoPox commented on #324
Guys, I am using Xcode 9.2, iOS 11.2 and I am facing the exact same issue.

[2017-12-18 15:33] xGoPox opened #351 "Infinite loop inside Zendesk SDK on iOS 11"
SDK version: 1.10.1.1
Xcode version: Version 9.2 (9C40b)
iOS or Simulator: hang confirmed on both.
iOS Version: Version 9.2 (9C40b) iOS 11.2 simulator
Swift version: 4
Steps to Reproduce:

1 - guard let nc = navigationController else { return }
2 - ZDKHelpCenter.pushOverview(nc, with: ZDKHelpCenterOverviewContentModel.defaultContent())
3 - Infinite loop

exact same issue as : https://github.com/ze

[2017-12-18 15:35] platedbay commented on #350
Hey folks,

Just wanted to follow up with some visibility on this. After going through every possible avenue, it turns out the issue lies with the email address used on the `ZDKAnonymousIdentity`. I was using my email which is the same that's used for my internal admin/agent on our account. There was a recent fix (server side) that does not allow agents accounts to be used via the SDK.

This obvio

[2017-12-19 06:41] couldhll commented on #238
+1

[2017-12-19 09:38] divo commented on #351
@xGoPox Are you using the preview build system?

[2017-12-19 10:26] divo commented on #277
@couldhll Are you seeing this issue? Could you open a new issue so we can address it?

[2017-12-19 10:26] #277 closed

[2017-12-19 10:31] couldhll commented on #277
It work fine for me, thanks.

[2017-12-20 11:31] ce98118mir commented on #350
This is a horrible problem for those who it affects. We wasted a few hours trying to trouble shoot this.  First of all thanks a lot platedbay for this update.

However why in the world would you do this zendesk?

1  Why would you do something like this?  The only people affected are testers.
2  Assuming good reason for you, if you do it, then why would  you not put a meaningful server side error m

[2017-12-20 12:53] Bashta commented on #351
@divo Happens on both.

[2017-12-20 15:08] tecknut commented on #351
Hey @Bashta can you verify that the SDK bundle files are in your app bundle after you build?

[2017-12-22 07:39] floriangbh commented on #347
Finally the solution was with : https://developer.zendesk.com/embeddables/docs/ios/help_center#access-a-restricted-help-center ...

Thank you !