[2014-08-19 15:24] sfwalsh opened #1 "ZDCoreCreateRequestView's text view is partially hidden on iPad"
The text view in ZDCoreCreateRequestViewController is partially hidden by the navigation bar on iPad. Please see screenshot attached.
![ios simulator screen shot 19 aug 2014 16 24 22](https://cloud.githubusercontent.com/assets/3273708/3968244/ed45902a-27b4-11e4-901a-c93ac2e630d5.png)

[2014-12-12 10:11] harrygt opened #15 "NSNULL isEqualToString crash"
2014-12-12 10:10:11.817 Cheetah[250:15413] -[NSNull isEqualToString:]: unrecognized selector sent to instance 0x19368aba0
2014-12-12 10:10:11.819 Cheetah[250:15413] *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[NSNull isEqualToString:]: unrecognized selector sent to instance 0x19368aba0'

Called in createLoginRequest.

Should check for null strings. Current

[2015-01-13 13:39] brstgt opened #16 "Very ugly notice if user has no tickets"
See this: http://cl.ly/image/142E0q2f2k2v

Uieeeek - this is really plain!

[2015-01-13 13:41] brstgt opened #17 "Bugs in "My tickets""
1. If i add a new ticket from within "My tickets" the view does not update. It still shows "No tickets blabla"
2. Tickets in "My tickets" cannot be opened. Tap on ticket does just nothing.

[2015-01-22 23:54] siefert commented on #15
I can't even post a ticket from the sdk because of this bug.

[2015-01-27 00:14] rroy1590 opened #18 "Number of layout bugs"
ZDKEndUserCommentTableCell - when presented modally as a formsheet, the comments cell text is cut off.
![image](http://i.imgur.com/CtUAxFp.png)

ZDKCommentEntryView - does not respect the bottom layout guide, and renders behind/underneath a tabbar.
![image](http://i.imgur.com/61bSMU0.png)

and when presented modally, the whole request comments table layout is completely off. note how the table ext

[2015-01-28 13:58] grabbou commented on #17
I can confirm this bug still happens.

[2015-01-28 14:02] grabbou opened #19 "Rate pop up lag"
If opened manually by calling "alwaysOpen", there's a lag between clicking and showing the modal. I suppose it's because of HTTP request being made in the background to fetch app details? Anyway, it makes this feature slightly unusable as nobody is going to wait 2 seconds.

[2015-01-28 16:42] grabbou opened #20 "When no results found in FAQ, Contact Support button does not work"
As above.

[2015-01-28 16:42] grabbou opened #21 "iPhone 6 Article flickering"
Scrolling down an article causes flickering of the whole web view. Tested on iPhone 6 simulator and on real device as well.

Target build: iOS8

[2015-02-05 13:43] jerydarkside opened #22 "Can't embed zendesk viewcontroller in container"
Hi !
It seems that if the viewcontroller that call the zendesk system is embeded in a container view controller, the zendesk system can't push the detail view controller of a ticket.

[2015-02-09 16:49] BPlano commented on #15
Hey @harrygt and @siefert -

Would it be possible to submit tickets with the specific code you're using to support@zendesk.com? Also, please ensure you're using the latest version of our SDK.

Thanks!

[2015-02-11 23:58] angela- opened #23 "Getting "zd_dispatcher_err" = "Error Domain=NSURLErrorDomain Code=-1012 \"The operation couldn\U2019t be completed. (NSURLErrorDomain error -1012.)\""
When i try to integrate zendesk to an existing app I am getting:
[code]

but using the same code, when i try it on a new/blank project I am able to make request succesfully

[2015-02-18 17:21] BenjaminBriggs commented on #23
I'm getting the same issue but with the jwt authentication. Has there been any progress on this?

[2015-02-18 18:55] jimspeth commented on #22
It appears that tapping a ticket attempts to present the detail view using `+[ZDKUIViewController presentViewController:requiresNavController:]` which requires that the window's rootViewController have a navigationController.  If the rootViewController returns nil for its navigationController, the following is logged:

`WARNING! Requires navigation has been set to YES, but no navigation controller

[2015-02-19 04:32] angela- commented on #23
none so far, i found a temporary fix of setting a blank anonymous authentication at the first request then set the actual authentication then make the next request.

[2015-02-23 14:57] BPlano commented on #15
@harrygt and @siefert,

We just released version 1.1.0.1 of our SDK - could you check to see that the new version fixes the problems you noted above?

Thanks!

[2015-02-23 18:44] BPlano commented on #18
@rroy1590 - We just released version 1.1.0.1 of our SDK, which should fix these issues. Could you update to the latest version and get back to me if you're still having trouble? Thanks!

[2015-02-24 15:37] BPlano commented on #17
Hey @brstgt (and @grabbou) -

If you are still experiencing this issue, I recommend first updating to the latest version of our SDK (1.1.0.1), and then - if the issue still persists - please send a ticket to support@zendesk.com.

Happy to help if we can!

[2015-02-24 15:42] BPlano commented on #20
@grabbou -

Would you mind sending in a ticket to Zendesk Support on this one? Would like to look into it further if possible.

Sorry for the delay in getting back to you.

[2015-02-24 15:52] BPlano commented on #23
@angela- and @BenjaminBriggs -

Could you submit tickets to support@zendesk.com and mention me (Bryant Plano)? I'd like to look into this issue further.

As a side note, we also recently released SDK v1.1.0.1 - it's possible this may have been fixed with that release, so I would recommend updating to the latest SDK version - but if you're still seeing the issue, let us know and we can take a close

[2015-02-24 20:54] grabbou commented on #20
Hey, I moved to something else for now so I can't help you with this issue this time :(

[2015-02-25 15:12] BPlano commented on #19
@grabbou,

Ah! This is actually an easy one :)

You should be able to change this in your app settings in your Zendesk SDK admin configuration. In this screenshot, the delay is 3 seconds, but you can set it to zero for near-instantaneous notifications.

![sdk_settings](https://cloud.githubusercontent.com/assets/5168423/6373102/5176e1f8-bcce-11e4-9aa0-888e5491b5b8.png)

If you have further question

[2015-02-25 19:38] BPlano commented on #20
No worries :) Thanks for responding anyway!

[2015-03-05 01:10] rroy1590 commented on #18
@BPlano none of these seem to be fixed.

![screen shot 2015-03-04 at 5 09 30 pm](https://cloud.githubusercontent.com/assets/906694/6497198/4502804e-c291-11e4-9df8-ffedefba4b1d.png)

![screen shot 2015-03-04 at 5 09 17 pm](https://cloud.githubusercontent.com/assets/906694/6497200/4d8135c6-c291-11e4-867f-ba7e34aaa5b1.png)

![screen shot 2015-03-04 at 5 08 23 pm](https://cloud.githubusercontent.com/a

[2015-03-05 01:19] rroy1590 commented on #18
@BPlano so I updated to 1.0.0.1 and none of the ^ ui bugs were fixed:

![screen shot 2015-03-04 at 5 09 30 pm](https://cloud.githubusercontent.com/assets/906694/6497198/4502804e-c291-11e4-9df8-ffedefba4b1d.png)

![screen shot 2015-03-04 at 5 09 17 pm](https://cloud.githubusercontent.com/assets/906694/6497200/4d8135c6-c291-11e4-867f-ba7e34aaa5b1.png)

![screen shot 2015-03-04 at 5 08 23 pm](https:/

[2015-03-06 13:08] BPlano commented on #18
Hey @rroy1590 -

I think the best step we can take now is to get you in touch with our Developers - would you mind sending a ticket (via email or support.zendesk.com) into support@zendesk.com and mention me (Bryant Plano) in the ticket?

When you submit the ticket, could you in include the following info:
- Confirm that you're using 1.1.0.1 (or 1.1.1.1)
- Specify the method by which you're install

[2015-03-06 14:09] #15 closed

[2015-03-06 14:43] BPlano commented on #1
@sfwalsh - This should be fixed as of SDK version 1.1.1.1 - could you update your SDK implementation to the latest version? You should be good to go at that point.

[2015-03-06 14:47] BPlano commented on #22
Hey @jerydarkside and @jimspeth -

This should be fixed as of SDK version 1.1.1.1 - please update to the latest version in your implementation. Thanks!

[2015-03-06 14:47] #20 closed

[2015-03-06 14:48] #19 closed

[2015-03-06 14:50] pierrezen commented on #21
This issue was fixed with our 1.1 release.

[2015-03-06 14:50] #21 closed

[2015-03-19 13:37] #18 closed

[2015-03-19 13:37] #22 closed

[2015-03-19 13:37] #1 closed

[2015-03-25 15:56] BPlano commented on #23
@angela / @BenjaminBriggs -

Any luck figuring this one out? Sounds like a new project made the difference? If you're still having trouble, let us know :)

[2015-03-25 22:21] angela- commented on #23
Just upgraded the zendesk sdk and it was already working for me

[2015-04-23 19:07] Enthouan opened #28 "Crashing on [NSNull isEqualToString:]"
I'm trying to use the SDK but when I run this code in the viewDidLoad of one of my view controllers :

    ZDKAnonymousIdentity *identity = [ZDKAnonymousIdentity new];

    # I simplified the code but the strings are always well defined
    identity.name = @"name";
    identity.email = @"email";
    identity.externalId = @"12345";

    [ZDKConfig instance].userIdentity = identity;

    [[ZDKConfig

[2015-04-29 14:01] baldursson opened #29 "Setting top border color on ZDKCommentInputView has no effect"
After executing:
`[[ZDKCommentInputView appearance] setTopBorderColor:[UIColor redColor]];`

The top border is still the default gray

[2015-05-07 04:35] xareelee opened #30 "[ZDKRMA showInView:] doesn't work"
I test both one [sample apps](https://github.com/zendesk/sdk_demo_app_ios) and my own app to invoke `-[ZDKRMA showInView:]` and it doesn't work. No view shows up; even there is no any error message on my console. The only message shows on my console is:

[code]

----

**Update**

Ok, I found [the documentation](https://developer.zendesk.com/embeddables/docs/ios/rate_my_app#prompting-customers) abo

[2015-05-11 03:13] xareelee opened #31 "Status bar of Image Picker is constantly using black color."
When using "contact us" (`-[ZDKRequests showRequestCreationWithNavController:]`) and using "attach files" button to pick an image for upload, the status bar in the image picker view will become black style and we have no idea how to change it to `UIStatusBarStyleLightContent`.

[2015-05-24 18:00] xareelee opened #32 "Frame goes wrong when choosing to send a feedback from RMA"
After choosing to send a feedback from RMA, the alert view shows wrong frame (on iOS 8.3/Zendesk 1.2.0.1, occurred in both iOS Simulator and iPhone 6+). BTW, I use `-showAlwaysInView:` to show the RMA.

![ios simulator screen shot may 25 2015 01 48 33](https://cloud.githubusercontent.com/assets/804308/7788929/ec83de10-0280-11e5-8b79-1cb6ab998b76.png)

It obviously moved up as shown in Reveal.app:

[2015-05-25 04:48] xareelee commented on #32
I found the problem occurs when installing [**IQKeyboardManager**](https://github.com/hackiftekhar/IQKeyboardManager) together with ZendeskSDK. It moves the view incorrectly when detecting the keyboard event for text fields.

[2015-05-25 05:04] xareelee commented on #32
I've tried to add `[[IQKeyboardManager sharedManager] disableInViewControllerClass:[ZDKRMADialogViewController class]];` to disable the IQKeyboardManager in ZDKRMADialogViewController, but it still doesn't work.

Because ZDKRMADialogViewController is non-public, please help fix this issue (by either IQKeyboardManager or ZDKRMADialogViewController). Thanks!

[2015-05-26 10:54] #30 closed

[2015-05-26 11:03] xareelee commented on #31
I've tried to fix this issue by myself using aspect-oriented programming. This issue has been discussed in [here](http://stackoverflow.com/questions/18880364/uiimagepickercontroller-breaks-status-bar-appearance), but I think you can try fix this issue in Zendesk too. A **non-aspect-oriented** sample code is here (untested):

[code]

[2015-06-01 03:26] xareelee commented on #32
I found that the problem is not just about IQKeyboardManager. I want to control showing RMA view by calling -showAlwaysInView:, but it will be shown normally on iOS Simulator except on iDevices.

[2015-06-04 14:40] BPlano commented on #28
Hey @Enthouan,

Have you had any luck getting this fixed up? Please make sure you're using the latest version of our SDK (1.2.0.1 as of this comment).

If you're still having issues, let us know. Thanks!

[2015-06-04 14:41] BPlano commented on #23
Awesome @angela-, glad to hear it :)

@BenjaminBriggs, if you're still having issues, shoot us an email - support@zendesk.com. Thanks!

[2015-06-05 17:06] ehlersd opened #35 "Missing HelpDesk Center NavBar buttons"
Not sure what the problem is, when I use this line, the "Contact Us" right button doesn't display:
[code]

But when I use this line, the "Contact Us" right button is there, but the left back arrow doesn't display:
[code]
Is there anyway to control this buttons?

[2015-06-08 12:37] BPlano commented on #32
@xareelee, this should be fixed as of our SDK 1.3.0.1 release. Could you download that and check to see if the issue is resolved?

[2015-06-08 12:43] BPlano commented on #29
Hey @baldursson - a colleague of mine added a PR for your issue, and this should be fixed as of SDK version 1.3.0. Please download the latest version and let us know if you continue to see any problems. Thanks! :)

[2015-06-09 18:10] xareelee commented on #32
@BPlano, thanks for your reply. I'm glad to try SDK 1.3.0.1, but please accept the pull request #33 first.

I current use cocoapods to install a forked ZendeskSDK with the modified `.podspec`.

[code]

[2015-06-09 18:25] BPlano commented on #32
Hey @xareelee, thanks for pointing that out. Will get that looked at sometime soon :)

[2015-06-11 04:08] moleki opened #36 "Does not compile when being included in a mm file"
I am getting the following error just by including ZendeskSDK/ZendeskSDK.h inside an .mm file

/Zendesk/ZendeskSDK.framework/Headers/ZDKUIUtil.h:42:34: Expected ';' after method prototype

[2015-06-18 21:58] dsica commented on #20
I still see this in the latest version, 1.3.0.1.  Is there a workaround or reason this was closed?

[2015-06-18 22:12] pierrezen commented on #20
@dsica ,

When using the Sample Application that comes with the SDK (with the latest 1.3.0.1), the contact button is presenting the Contact screen. If you are still facing that issue with the control within your application, can you create a ticket to Zendesk Support and we will be happy to help ...

[2015-06-18 22:36] dsica commented on #20
Thanks, it's not working for me with the latest SDK.  I have created a ticket, https://support.zendesk.com/hc/en-us/requests/1133943

[2015-06-24 10:35] xareelee commented on #32
@BPlano, It's better now, but still has a little layout problem. I use the following images to illustrate the current issue in the version 1.3.0.1:

##### (1) **feedback view** layout without IQKeyboardManager

It shows the full frame of the feedback view now, but it is not vertically centered in the visible area.

![ios simulator screen shot jun 24 2015 18 01 44](https://cloud.githubusercontent.c

[2015-06-28 03:15] hackiftekhar commented on #32
@xareelee You should try disabling IQKeboardManager and keyboard toolbar in order to fix above issue.

[2015-07-07 19:21] Prince2k3 opened #37 "receiving Cocoapods error"
when trying to install Zendesk with Cocopods I get this error ... (Note: Project is done in Swift)

[!] The 'Pods' target has transitive dependencies that include static binaries: (/Users/.../Documents/Xcode/../iOS/Pods/ZendeskSDK/ZendeskSDK.framework)

[2015-07-07 20:34] Prince2k3 commented on #37
Zendesk Mobile SDK 1.3.0.1 is completely broken. I went back to the version before this and everything works just fine. That or you need to update your documentation to get folks working with 1.3.0.1

[2015-07-09 13:33] tecknut commented on #37
Hey @Prince2k3,

Can you put a snippet of your Podfile in this issue please? We have tested locally and have no issue with installing the current version of the SDK through cocoapods.

Thanks

[2015-07-09 13:52] tecknut commented on #35
Hey Darren,

Can you describe the issue with a bit more detail please?  `-showHelpCenterWithNavController:` is working as expected in our sample app.

If you are looking to use `-presentHelpCenterWithNavController:` you could try setting the `self. mainViewController.navigationController.modalPresentationStyle` to the style you wish. This should give you a left cancel button.

Thanks

[2015-07-09 15:44] Prince2k3 commented on #37
source 'https://github.com/CocoaPods/Specs.git'
platform :ios, '8.0'
use_frameworks!
pod 'Alamofire', '~> 1.2'
pod 'UICountingLabel'
pod 'Timepiece', :git => "https://github.com/naoty/Timepiece.git"
pod 'CryptoSwift', :git => "https://github.com/krzyzanowskim/CryptoSwift", :branch => "master"
pod 'TTTAttributedLabel'
pod 'MBProgressHUD'

[2015-07-09 16:13] Prince2k3 commented on #37
thats with zendesk removed...I ended up downloading it

[2015-07-09 18:38] tecknut commented on #37
Could you try adding `pod 'ZendeskSDK', :git => 'https://github.com/zendesk/zendesk_sdk_ios.git'` to it again? It would be good to replicate the issues so we can fix what ever is causing it.

[2015-07-10 19:04] Prince2k3 commented on #37
I get the message stated above when I add that line

[2015-07-13 22:20] lickel opened #38 "Presenting ZDKHelpCenter on iPhone lacks "Cancel" button"
ZDKHelpCenter's `+presentHelpCenterWithNavController:` methods should still be allowed on iPhone.

[2015-07-13 22:30] lickel opened #39 "ZDKHelpCenter's present method uses UIModalPresentationStyle wrong"
In an ideal world, I could just present a view controller myself.
This would let me use custom presentation code as I see fit.

That being said, this property is _not_ meant to be used by the presenter:

    Defines the transition style that will be used for this view controller when it is presented modally.
    Set this property on the view controller to be presented, not the presenter.

There's

[2015-07-13 22:41] lickel commented on #39
This is also true of ZDKRequests' presentation methods (and possibly others)

[2015-07-14 08:06] osrufung opened #40 "Previous Tickets doesn't appear in Help Center for Anon user"
I can create new tickets, view them in the Ticket list in current "session", but... when i restart my App and link the same previous user identity by mean of '[ZDKConfig instance].userIdentity' it appears in blank. Any idea?

[2015-07-15 01:43] PorterHoskins commented on #37
`use_frameworks!` is the issue. I can remove that line and it works fine. Problem is I can't remove that line because of my other pods.

I even tried downloading it and manually adding it to the project and I would get linker issues.

[code]

[2015-07-15 05:07] jontelang opened #42 "Undefined symbols after updating to 1.3.1.1 - ZDKMockNetworkProtocol"
Getting this after the most recent update

[code]

[2015-07-15 06:15] jaernouts commented on #42
Same issue here...

[2015-07-15 09:17] TC94615 commented on #42
Same issue here.
Downgrade to 1.3.0.1 is fine.
[code]

[2015-07-15 09:22] tecknut commented on #40
Hey @osrufung, can you provide some code snippets ? Preferably the identity setting and it would also be great if you could say when the code is called in your apps lifecycle.

Thanks

[2015-07-15 09:26] jontelang commented on #42
@TC94615 Thanks, I tried something else and it told me I couldn't change version.

[2015-07-15 09:30] tecknut commented on #42
Hey guys, we have just released a patch for this. Can you try again please and let me know if this solves the issue ?

[2015-07-15 09:37] tecknut commented on #37
@PorterHoskins We have just released a patch for the symbol errors.

@Prince2k3 We are currently working on adding another sub spec which will have a dynamic build of our SDK. The issue you're having is due to the static linked binary. `use_frameworks!` expects the binary type to be dynamically linked. We will be testing this today.

[2015-07-15 09:43] tecknut commented on #39
@lickel we are aware this is not a standard use of modal presentation style. You can currently create your own instances of `ZDKSupportViewController`, however it is not properly documented. We have a how to guide which covers doing this which will be available soon.

[2015-07-15 09:45] tecknut commented on #38
@lickel Thanks for pointing this out. We've created an issue for this and will address it in an upcoming release.

[2015-07-15 09:52] osrufung commented on #40
This code is called on viewDidLoad method of "Preferences View Controller" each time user opens this Modal ViewController.

- (void)setupZendesk
{
  ZDKAnonymousIdentity *identity = [ZDKAnonymousIdentity new];
  identity.email = self.userSession.userEmail;
  [ZDKConfig instance].userIdentity = identity;

  [[ZDKConfig instance] initializeWithAppId:@"493de192b1bc857e54b....." zendeskUrl:@"https://m

[2015-07-15 10:08] tecknut commented on #40
As a quick fix can you try this ?

[code]

Does `self.userSession.userEmail;` change at all when you experience this issue? If it changes at all, it would cause any data associated with the previous identity to be cleared.

[2015-07-15 10:28] osrufung commented on #40
Ok! That was the problem. 👍

No, the email doesn't change for the same user.  Thank you!

[2015-07-15 10:28] #40 closed

[2015-07-15 10:35] tecknut commented on #40
No problem @osrufung.

Just a heads up though. If you need to change the identity for some reason in the future this will need to be changed.

Let us know about any future issues you experience.

Thanks

[2015-07-15 11:19] jaernouts commented on #42
@tecknut It's working again, thanks for the quick response!

[2015-07-15 12:59] tecknut commented on #42
No problem @jontelang

[2015-07-15 13:01] tecknut commented on #42
@jontelang @TC94615 I'm gonna mark this as closed as it's fixed in 1.3.1.2

[2015-07-15 13:01] #42 closed

[2015-07-15 19:15] lickel opened #46 "Support fetching categories & sections by ID"
It's great that you now support fetching an article by ID.
It would be awesome if you also supported fetching categories and sections as well.

[2015-07-15 23:02] lickel commented on #39
Thanks. I was able to use it directly to handle a number of issues.
It still suffers from https://github.com/zendesk/zendesk_sdk_ios/issues/38 though I can work around it.

[2015-07-15 23:02] #39 closed

[2015-07-16 05:17] jontelang commented on #42
@tecknut Thanks, works fine.

[2015-07-16 09:17] TC94615 commented on #42
@tecknut works fine, thanks

[2015-07-16 21:51] tecknut commented on #46
@lickel Can you expand on that please? What is it that you are looking to achieve? We're more than happy to take it on board and add it to our road map.

[2015-07-16 21:59] lickel commented on #46
There are places in my app where I'd like to show a specific category or section, rather than the whole support page.

I can show a support VC with a category or section, so if I can fetch them from a provider by ID, I'd be all set.

[2015-07-17 08:40] tecknut commented on #46
Ok, I'll bring this up with the rest of the team and we'll see when we can add this.

Thanks for the suggestion.

[2015-07-17 11:00] tecknut commented on #46
We've created tasks for this, so you can expect it in an upcoming release. However I can't give you an exact date for this.

I'm gonna close this issue.

Thanks again.

[2015-07-17 11:00] #46 closed

[2015-07-28 00:19] ericlewis opened #49 ""zd_dispatcher_err" = "HTTP Error: 450""
no clue what this means...followed the directions and we get this every time, even though setup is a success.

[2015-07-28 01:04] mkoppanen commented on #37
Any news on this?

[2015-07-28 10:09] tecknut commented on #49
@ericlewis can you provide a bit more information? At what point do you get this error? This is usually when a client id is incorrect.

If the client id and app id are correct and match the app config in the SDK admin page it might be best to open a ticket with support.zendesk.com and give this issue as a reference in the ticket. Don't paste your client id and app id here.

[2015-07-28 15:10] ericlewis commented on #49
We get this after properly setting up our client ID directly from your own code to copy and paste. Then we setup an identity after the success works, then show the UI for sending a message. Try sending a message and then it just doesn't work. We have tried to arrange it in all sorts of ways too, even using your example apps. Ours only returns 450s the moment we actually try sending a ticket from t

[2015-07-28 16:06] jay18001 opened #50 "Bitcode support"
Can you please create a version of your framework with bitcode enabled.

[2015-07-29 14:20] tecknut commented on #50
@jay18001 We can add support for this when Xcode 7 comes out of beta.

[2015-07-29 14:22] venom889 commented on #31
Was also having this issue. It seems to be fixed in iOS 9 beta 4. I couldn't get your example to compile though. I had to change:

```[super navigationController:navigationController willShowViewController:viewController animated:animated];```

to

```[super.navigationController.delegate navigationController:navigationController willShowViewController:viewController animated:animated];```

[2015-07-29 21:17] Prince2k3 commented on #38
This is a pretty important issue. I'm going to bump +1 in hope that this is resolved soon

[2015-07-29 21:22] Prince2k3 opened #52 "Help Center cell items don't wrap text."
When viewing FAQ for instance. I notice the text in the table view don't wrap. This is a big issue for people looking to use FAQ or any other section where the text doesn't wrap.

[2015-07-30 09:40] tecknut commented on #49
@ericlewis Can you open this as a ticket with us on https://support.zendesk.com/ please? We will need to have access to your account to debug this issue.

[2015-07-30 12:47] tecknut commented on #52
Hey @Prince2k3 this has been requested by someone previously on our [product feedback page](https://support.zendesk.com/hc/en-us/community/posts/204281048-iOS-SDK-Option-to-not-truncate-titles-of-entries) and our product team have taken this feedback on board.

The truncation is what our designers decided on when we first added Help Center. In the short term, if you wish to have more control over

[2015-07-30 12:47] #52 closed

[2015-08-01 00:41] kmiloaguilar opened #53 "Duplicate Interface"
When adding it using cocoapods In the file **ZDKImageViewerViewController.h** I'm getting **duplicate interface declaration for class 'ZDKImageViewerViewController'**

[2015-08-01 02:34] kmiloaguilar commented on #53
Nevermind. Got this resolves. I was not doing correct the import.

[2015-08-01 02:34] #53 closed

[2015-08-01 03:11] kmiloaguilar commented on #49
I got this messaged when trying to send a new ticket without setting user information. I'm using anonymous authentication for user.

[2015-08-01 03:18] kmiloaguilar opened #54 "More customization"
I will like to customise the title of the contact us to have a different title, the bar tint color for that controller.

[2015-08-10 09:25] StevenDiviney commented on #54
He @kmiloaguilar , this is currently possible. Here is a link to the relevant docs: https://developer.zendesk.com/embeddables/docs/ios/customization

Thanks

[2015-08-10 09:37] tecknut commented on #49
@kmiloaguilar Are you still having this issue?

[2015-08-10 13:23] kmiloaguilar commented on #49
Yes got that, but I was still not setting info for anonymous user. It was my mistake.

[2015-08-10 13:27] tecknut commented on #49
@kmiloaguilar Ok, thanks for getting back to us.

@ericlewis Are you still getting this error?

[2015-08-17 09:54] jaanushansen opened #55 "Can't open up Reviews tab in AppStore to rate my app"
Currently it is only possible to use for rating in App Store links in this format:

itms-apps://itunes.apple.com/app/id%APP_ID%?mt=8

This opens app AppStore Details tab, but I would like to open up Reviews tab. Reviews tab can not be opened in iOS7, but in lower and higher versions it is possible to use the following url:

itms-apps://itunes.apple.com/WebObjects/MZStore.woa/wa/viewContentsUserRev

[2015-08-17 13:26] bulusoy opened #56 "-[ZDKRequests showRequestCreationWithNavController:] crash"
[ZDKRequests showRequestCreationWithNavController:] causes the app to crash when the "send" button has been tapped (of course, with some text inside the textview).

Steps to reproduce:
1. Create a ZDKConfig instance with AppID, zendesk URL & clientID
2. Create a ZDKAnonymousIdentity, assign an e-Mail and set it as the identity for the current `[ZDKConfig instance]`
3. Open the RequestCreation View

[2015-08-19 08:31] jaanushansen opened #57 "App crashed after clicking on "Don't ask me again" in Rate My App dialog"
I got the following crash when I click on "Don't ask me again" in Rate My App  using Zendesk SDK 1.3.4.1

Crashed: com.apple.main-thread
EXC_BAD_ACCESS KERN_INVALID_ADDRESS at 0x0000000c
[code]

And my code snippet to show the dialog (I wanted full control over time when the dialog is shown, so I used showAlwaysInView when chosenZDKRMAAction is ZDKRMAUndisplayed):

[code]

[2015-08-19 10:39] StevenDiviney commented on #57
Hi, we will take a look at this.

You had some identifying information in your comment. I have removed it, hope this is ok.

[2015-08-19 13:31] cristinasitaa opened #58 "App crashes for [__NSPlaceholderDictionary initWithObjects:forKeys:count:]"
My code snippet is

    [[ZDKConfig instance] initializeWithAppId:@"###" zendeskUrl:@"###" ClientId:@"###" onSuccess:^() {
        [ZDKRMA configure:^(ZDKAccount *account, ZDKRMAConfigObject *config) {

        //     configure additional info
            NSString *versionString = [NSString stringWithFormat:@"%@ (%@)",
                                       [[[NSBundle mainBundle] infoDictionary]

[2015-08-19 14:32] tecknut commented on #57
@jaanushansen What are the exact conditions on which you want to show RMA?

[2015-08-19 14:35] tecknut commented on #58
@cristinasitaa Can you supply more of your code please? Any other Zendesk SDK code you have would help.

Also, can you be more specific on how to replicate this issue please?

[2015-08-19 14:44] tecknut commented on #55
@jaanushansen Since iOS 7 you can no longer direct users to the review tab of the app store. If you set the format in the admin config to be `itms-apps://itunes.apple.com/app/id<your-id-here>` we will use the old url format for pre iOS 7 and the new format for iOS 7 +.

[2015-08-19 14:46] tecknut commented on #56
@bulusoy Can you put your SDK init code snippet in a comment here please? Make sure you remove any sensitive information like the app id and client id.

[2015-08-19 15:01] tecknut commented on #49
@ericlewis just bumping this to see if the issue is solved for. Can you let us know, otherwise we'll be closing issue soon.

[2015-08-19 15:11] baz8080 opened #59 "Test issue"
Just a test

[2015-08-19 15:13] baz8080 commented on #59
test comment

[2015-08-19 15:15] baz8080 commented on #59
Test

[2015-08-19 15:15] #59 closed

[2015-08-19 15:24] baz8080 opened #60 "webhook test"
testing webhook

[2015-08-19 15:26] #60 closed

[2015-08-20 06:56] jaanushansen commented on #57
@StevenDiviney, thanks for removing the identifying information.

@tecknut, my problem is, that I don't want to show the RMA on view load, but at specific time when user has completed her goal. And when I call ZDKRMA:showInView, then in some reason only RMA dialog is shown and app contents are rendered white, but everything seams to work fine with ZDKRMA:showAlwaysInView. So I use the latter and c

[2015-08-20 08:37] cristinasitaa commented on #58
I fixed it by removing Zendesk from Pods and add it manually. I haven't change any line of code and now it's working fine. I'm still not sure what's happening.

[2015-08-20 08:37] #58 closed

[2015-08-20 10:03] tecknut commented on #57
@jaanushansen Ok, the root cause of the crash is that you are creating an instance of ZDKRMA, which is a private singleton. The instance you create is getting auto released and notification centre is trying to send it a notification, hence the crash. This is our fault, because we are managing a private singleton and weren't expecting another instance.

I can give you a solution which should work w

[2015-08-20 10:06] tecknut commented on #58
@cristinasitaa we haven't seen this crash before with cocoapods, we can try find a solution if you'd prefer to use cocoapods.

Are you happy with how it's working now?

[2015-08-21 10:40] billinghamj opened #61 "Push versions to CocoaPods"
We'd much prefer to attach to a version number of Zendesk, i.e.:

`pod 'zendesk', '~> 1.3'`

Rather than the current:

`pod 'ZendeskSDK', git: 'https://github.com/zendesk/zendesk_sdk_ios.git'`

This is primarily because we run `pod update` as a part of our build process. Every other library follows semantic versioning, so this means we won't receive breaking changes but will always receive the lat

[2015-08-21 14:11] bulusoy commented on #56
[code]

[2015-08-24 05:47] jaanushansen commented on #55
@tecknut Yes, review tab cannot be opened in iOS 7, but it appears, that the mentioned URL works again since iOS 7.1, as is mentioned here:

http://stackoverflow.com/questions/18905686/itunes-review-url-and-ios-7-ask-user-to-rate-our-app-appstore-show-a-blank-pag#23037620

I myself just tested, that itms-apps://itunes.apple.com/WebObjects/MZStore.woa/wa/viewContentsUserReviews?pageNumber=0&sortOrd

[2015-08-24 09:58] jimmaye opened #62 "ZDKSupportView appearance option for nav buttons"
Will it be possible to disable/remove the "contact us" button, aka. the right nav button item, from the support view anytime soon?
We want our users to be able to use the supportview(Help center), but not create and view tickets yet. We can of create this ourselves by hand of course, but since you already did the convenience viewcontrollers, it's seems like a hassle to do all that work just to be

[2015-08-24 10:50] tecknut commented on #62
@jimmaye This has been brought up before by other integrators, and it's something which we are addressing. We have a solution that will go out with our next release, but we can't give a specific date as to when it will be released.

[2015-08-24 11:06] jimmaye commented on #62
Sounds awesome, thank you!

[2015-08-24 15:12] tecknut commented on #61
@billinghamj We just added support for this.

Add `source 'https://github.com/zendesk/Specs.git` to the top of your Podfile and you should be able to specify the release tag you want to use.

Thank you for pointing this out, it was an oversight on our behalf. One which we were happy to put right.

Please let us know of any other improvements you may think of.

[2015-08-24 15:13] billinghamj commented on #61
@tecknut This is appreciated, but why not push to the Cocoapods Trunk like *every* other library...?

[2015-08-24 15:27] billinghamj commented on #61
They're now on Cocoapods Trunk - https://github.com/CocoaPods/Specs/tree/master/Specs/ZendeskSDK

If you let me know what email address you have registered with Cocoapods Trunk, I'll set you as the owner of the pod.

[2015-08-24 15:27] #61 closed

[2015-08-25 08:38] jaanushansen commented on #57
@tecknut thanks, reading ZDKRMAChosenAction from user defaults solved my issue.

[2015-08-25 08:40] jaanushansen commented on #19
There still is a problem - You can't change the delay to 0, it just is not allowed.

[2015-08-25 08:43] jaanushansen commented on #19
Unfortunately there still is a problem - the form do not allow to change Delay value to 0.

[2015-08-25 10:17] tecknut commented on #57
@jaanushansen Great! I'm gonna close this issue now.

[2015-08-25 10:17] #57 closed

[2015-08-25 10:36] tecknut commented on #62
@jimmaye I'll keep this issue open till we release the fix, and update you on it when the release is out.

[2015-08-25 10:41] tecknut commented on #56
@bulusoy We haven't been able to replicate this. Can you open a ticket with support.zendesk.com and give this github issue as a reference? If you state that you were discussing this with one of the devs it should get escalated to us quickly and we can go from there.

We will need to take a look at you Zendesk instance and inspect your SDK admin config to debug this further.

Are you OK to do this

[2015-08-25 14:49] andres-ciano opened #65 ""Failed to get categories" in HelpCenter"
As indicated in the documentation, I initialize the SDK using the provided snippet:
[code]
Once I know the request has returned `success` I proceed to open the HelpCenter using:
[code]
Then a banner appears with the error: *"Failed to get categories"*, and the screen remains empty.

Worth to note we have tried with a sandbox setup and with a production enabled application. All server-side configur

[2015-08-25 18:55] andres-ciano commented on #65
Moved a bit forward (or backward, depending on how you see it)...
I got it working for the sandbox adding:
[code]
But somehow, it is not working in our production site.

The weird thing is that, while logged in, the SDK tries to fetch categories using:
[code]
which fails. But when `curl`ing that url *without the /en-us* the json responds as expected.

[2015-08-26 11:37] tecknut commented on #65
@andres-ciano Can you create a ticket on support.zendesk.com please? We're probably gonna need to replicate this ourselves with your account details which shouldn't be shared here.

[2015-08-26 12:42] andres-ciano commented on #65
Thanks @tecknut. We've already referenced this issue from the ticket below.

https://support.zendesk.com/hc/en-us/community/posts/204978678--Failed-to-get-categories-in-HelpCenter-for-iOS-SDK-integration

[2015-08-26 12:46] tecknut commented on #65
@andres-ciano Ok I'll open an actual ticket. That link goes to a community page which is public. We will need to get some information to continue.

Do you have an email so I can open a ticket on your behalf?

[2015-08-26 13:18] andres-ciano commented on #65
You are right @tecknut. Sorry about that.
This is the proper ticket: https://support.zendesk.com/hc/en-us/requests/1216836

[2015-08-26 15:37] bulusoy commented on #56
Allright, will do. Thanks.

[2015-08-26 16:59] tecknut commented on #55
@jaanushansen Thanks for pointing out the updates on this issue. We have PR up for this and it will be out with our next release.

[2015-08-26 16:59] #55 closed

[2015-08-28 13:50] baz8080 opened #66 "Testing issue"
Testing

[2015-08-28 13:51] baz8080 commented on #66
testing complete

[2015-08-28 13:51] #66 closed

[2015-08-31 12:43] jasperblues opened #67 "Installing via CocoaPods gives import non-modular framework header error"
I had to add the following install hook in CocoaPods:

[code]

. . . would be better if the PodSpec included this, so that its not necessary to add that install hook.

[2015-08-31 13:22] tecknut commented on #67
Thanks for pointing this out @jasperblues. We just updated the podspec. Would you be able to tell us if this solved your issue?

[2015-08-31 13:30] jasperblues commented on #67
sure, giving it a try. . .

[2015-08-31 13:35] jasperblues commented on #67
Did you update the podspec in the CocoaPods mater repo? I didn't see a new version or anything. But after pod update seems ok.

[2015-08-31 13:41] tecknut commented on #67
Depending on how you have our pod included in your Podfile you could be getting our pod from this repo or our Specs repo. I pushed the update to this repo and our specs repo.

See our README.md :

[code]

[code]

[2015-08-31 13:50] jasperblues commented on #67
I'm using the podspec in the CocoaPods mater repo `http://cocoapods.org/pods/?q=Zendesk`

[2015-08-31 14:09] tecknut commented on #67
Our official Podspec is located at https://github.com/zendesk/Specs.git and this is the spec which we push updates to.

A third party has put our spec on http://cocoapods.org/pods/?q=Zendesk but this is not the official source for our SDK.

[2015-08-31 14:16] jasperblues commented on #67
Ah, ok, thanks for that info. I'd strongly recommend adding a specific note to that effect in the getting started docs as its not unreasonable to assume that the CocoaPods master repo is the official source - this is a very common occurrence.

In that case if you didn't update the master repo/spec, then I was unable to reproduce the issue again by cleaning build products and pod updating a second

[2015-08-31 14:20] tecknut commented on #67
@jasperblues Thanks, we had reasons for having our own Specs repo. We're reviewing things at the moment and will update readme with what ever gets decided.

I'm going to leave this open for a while and close it if it goes stale.

Thanks again.

[2015-09-01 08:17] jasperblues opened #69 "Does not present view controller"
I've wired up the following delegate methods:

[code]

* These methods are invoked on the main thread.
* self.navigationController is an instance of APNavigationController,  a subclass of UINavigationController (tried using also vanila UINavigationController)

Neither rate my app nor knowledgebase VCs are presented. Need help.

[2015-09-01 10:19] tecknut commented on #69
Hey @jasperblues, the ZDKRMA works in conjunction with your admin config settings in Zendesk. There are a few conditions which are set there. You need to call `+logVisit` on `ZDKRMA` to increment a counter which is used to track the amount of times a user has landed on the view in which you want to present RMA. This and a timestamp measured in days need to reach a threshold before RMA is shown.

Y

[2015-09-02 03:38] jasperblues commented on #69
Hello @tecknut Thanks for the response.

Yes, I nil checked the `UINavigationController` . Also as I said above, I tried using an instance of a vanila UINavigationController rather than the sub-class (which has trivial customizations).

[2015-09-02 07:43] alexgarbarev opened #70 "Unable to override shouldShowBlock in ZDKRMAConfigObject"
Documentation says

But `shouldShowBlock` property definition look like this:

[code]
Documentation says

 but it's READONLY property hence cannot be overridden.
Am I miss something?

[2015-09-02 09:24] tecknut commented on #70
@alexgarbarev Thanks for pointing this out. This was meant to be made read write, but it obviously slipped through the cracks. We have a jira opened up for this. We are preparing a release and are in code freeze, so this will be out in a patch release soon.

In the mean time lets see if we can get something working for you, what custom behaviour are you looking for?

[2015-09-02 09:28] tecknut commented on #69
@jasperblues OK, can you give us more information about your integration please?

At what point do you initialise the SDK ?
Have you turned on logging? ( if so can you post some logs here in your next response, make sure you remove any sensitive information like client id and sdk_guid from the request headers in the logs)
Do any other features of the SDK work for you? (create request?)

[2015-09-02 09:28] alexgarbarev commented on #70
I get something working with that:
[code]
because KVC can be used with readonly properties as well.

I want to show "Rate My App" by tapping on custom button. I tried block above, but it doesn't work (block isn't called). Weird..

[2015-09-02 09:29] alexgarbarev commented on #70
So I don't want any "visit count", "duration" checking etc. I want just opening "Rate My App" manually by user. Is that possible?

[2015-09-02 09:36] tecknut commented on #70
You can use show always. It's another method which will just show RMA.

I'll add the fact that KVC didn't work to the jira we have, it would be nice to know why that is.

Thanks again for pointing this out. Hopefully show always is what you want.

[2015-09-02 09:40] alexgarbarev commented on #70
Thanks @tecknut. ShowAlways works fine.
KVC works for settings block. After KVC call, `shouldShowBlock` property points to right value. But for some strange reason block wasn't called.

[2015-09-02 09:44] alexgarbarev commented on #70
@tecknut Is it possible to show "Rate My App" instantly? I can't set Delay to 0 on admin panel. It forces value to 1..

[2015-09-02 09:57] jasperblues commented on #69
@tecknut I'll get back to you. We've managed to get rate my app showing with some drawbacks: https://github.com/zendesk/zendesk_sdk_ios/issues/70

Now working on Knowledge Base.

[2015-09-02 09:59] jasperblues opened #71 "Can't set background color for Navbar in issue creation VC"
When presenting the issue creation VC the navbar is white, not matter what is set via appearance proxy etc. Firing up the Reveal tool shows that the UINavigationBar backing view gets set to white, and editing this property (via Reveal) fixes things. . . but the navbar is not obeying appearance proxy settings.

Saw another issue logged about this earlier in the month, on August 5th.

[2015-09-02 10:00] tecknut commented on #70
@alexgarbarev this is news to me, I've been able to set the delay value to 0 in the past. I'll open an issue with our server side devs.

[2015-09-02 10:01] tecknut commented on #69
What are your drawbacks? It might be possible to do what you want.

[2015-09-02 10:05] jasperblues commented on #69
The linked #70 describes them - delay while showing.

[2015-09-02 10:06] tecknut commented on #65
Closing this, issue was solved. Bad memcache.

[2015-09-02 10:06] #65 closed

[2015-09-02 10:10] tecknut commented on #71
@jasperblues Tested this in our sample and have been able to change the navbar colour.

`[[UINavigationBar appearance] setBarTintColor: [UIColor redColor]];`

in the app delegate.

[2015-09-02 10:11] tecknut commented on #54
@kmiloaguilar did this solve your issue?

[2015-09-02 10:12] tecknut commented on #71
As that issue states, here is the link to the docs which describe how to do this. https://developer.zendesk.com/embeddables/docs/ios/customization

[2015-09-02 10:12] jasperblues commented on #71
Yes also tested in your sample app when the error first encountered. works there. doesn't work in our app, not sure what the root cause is yet, but appearance proxies work everywhere except that issue creation vc.

[2015-09-02 10:17] tecknut commented on #71
@jasperblues Tested in another App with our SDK. https://github.com/zendesk/sdk_demo_app_ios

Working there too.

[2015-09-02 10:21] jasperblues commented on #71
Same issue reported by another user: https://support.zendesk.com/hc/en-us/community/posts/204607658-Change-navigation-bar-color-in-iOS-SDK

[2015-09-02 11:01] tecknut commented on #71
@jasperblues Here is a link another sample app with this working. I've not been able to replicate this issue.

https://www.dropbox.com/s/3iel5dk9lyu69s2/NavBarTest.zip?dl=0

[2015-09-02 11:06] jasperblues commented on #71
I'll see if we can strip it down to a sample project for you.

[2015-09-02 15:53] kmiloaguilar commented on #54
I think I did it in a different way. I will let you know

[2015-09-03 16:17] thediary commented on #50
I think it's probably close enough to iOS 9 launch where support should be added. Our app requires bit code to be turned on and unless ZenDesk has support (or a workaround) it will be a problem

[2015-09-03 16:34] tecknut commented on #50
@thediary Unfortunately we can't build and release a version of our SDK with a beta version of Xcode. When Xcode 7 is out of beta we will release a new build of what ever version we are on that will be specifically built with that flag enabled.

[2015-09-06 02:58] thediary commented on #50
Most other third part sdk vendors create a separate branch (publicly available on Github) for people to use at least until Xcode comes out of beta. Then when it comes out of beta, they merge it into the master branch. Otherwise, how are we supposed to update our apps with bitcode support on launch day?

Will you at least be able to provide a new version when it hits GM?

[2015-09-07 12:17] baz8080 commented on #50
@thediary We're currently awaiting final QA on a 1.4.0.1 build of the SDK. When that checks out we can do a 1.4.0.2 build supporting it.  The timeline for this is likely to be late this week or early next week.

[2015-09-07 17:35] thediary commented on #50
Ok thank you for the update!

[2015-09-09 09:42] luky1984 opened #72 "Linker error "Symbols not found for architecture arm64""
Hi, i followed getting started tutorial https://developer.zendesk.com/embeddables/docs/ios/gettingstarted that means, i downloaded zendesk, then i copied those three files to xcode/frameworks etc, but when i try build the projecti see 20 linker errors and on bottom message "Symbols not found for architecture arm64"

I tried hard to manage the problem but i was not successfull. I tried for example

[2015-09-09 10:20] RonanMcH commented on #72
Hey @luky1984 ,
can you try add the Security framework to your project and see if it compiles.

[2015-09-09 10:23] luky1984 commented on #72
Hey Ronan, thanks for fast reply, i will try it right away.

L.

[2015-09-09 10:26] luky1984 commented on #72
So i tried add Security framework to Build Phases / Link Binary with libraries, but it didn't help. I also tried Product / Clean and then Build, but nothing.

[2015-09-09 11:00] RonanMcH commented on #72
Hey @luky1984 ,
Could you please open a ticket with https://support.zendesk.com/ and link this github issue in the ticket.

[2015-09-09 11:59] luky1984 commented on #72
Pff, i don't know what happened but now it works... Meanwhile i removed the ZendeskSDK from project to be able to work on it, made some changes in code, then i added it again because i realized that i have opened another scheme (i have normal and beta - i noticed my mistake that i have opened normal scheme, while i am using beta for deploying) but then it worked, even if the Security framework was

[2015-09-09 12:38] luky1984 commented on #72
Ok, now i added Security framework and it works, so the reason of problem was this.

It didn't work when i was trying this before because i was probably working with "normal" scheme, while building "debug" scheme.

Many thanks.

Please include this information about Security framework also on your Getting started page, to help also others :).

Have a nice day

[2015-09-09 12:38] #72 closed

[2015-09-09 18:07] ccombes commented on #65
I just encountered this issue starting new with ZenDesk.  Can you elaborate more on what the solution is?

I added the "identity" code above and forum categories display.  I don't know what would happen in the production app.

[code]
Please advise.

[2015-09-09 20:40] andres-ciano commented on #65
@ccombes, you should contact them on their own support plattform... We got it fixed it (on their side) over there.

CC @guillermo-olx

[2015-09-10 08:32] baz8080 commented on #65
@ccombes you can create a new issue here or open a ticket by emailing support@zendesk.com. Please [enable logging](https://developer.zendesk.com/embeddables/docs/ios/advancedtopics#logging) and give us as much detail as you can, including code snippets.

[2015-09-10 09:23] luky1984 commented on #71
i had same problem how to tint the navbar color, since the default color was light gray and button was white, that means not readable.

only [[UINavigationBar appearance] setBarTintColor: [UIColor redColor]];

worked for me too, that means nothing from customization page

[2015-09-10 10:12] luky1984 opened #73 "Identity change of name is reflected only if made together with identity email change"
Hi,

i am using the anonymous type of identity like:

ZDKAnonymousIdentity *identity = [ZDKAnonymousIdentity new];

identity.name = @"Anonymous";
identity.email = @"anonym@anonym.com";

And then i have the website backend x.zendesk.com where i see the submited tickets.

I noticed, that if i change in ObjC code the name to something else, the new name will not appear in zendesk ticket list, there w

[2015-09-10 10:39] luky1984 opened #74 "Custom fields are not send in request."
Hi, i am setting custom fields like:

    NSLog(@"Custom data %@",  @[identity.name, identity.email, vOS, vIp, vDevice, vApp]);

    ZDKCustomField *fOS =     [[ZDKCustomField alloc] initWithFieldId:@(22451972) andValue:vOS];
    ZDKCustomField *fIp =     [[ZDKCustomField alloc] initWithFieldId:@(22474078) andValue:vIp];
    ZDKCustomField *fDevice = [[ZDKCustomField alloc] initWithFieldId:@(22451

[2015-09-10 10:53] StevenDiviney commented on #73
Hi @lucky1984,

This is expected behavior. More information can be found here https://developer.zendesk.com/embeddables/docs/ios/authentication#authentication-process

You may be able to use external id to identify the user in your system.

[2015-09-10 10:53] #73 closed

[2015-09-10 10:56] StevenDiviney commented on #74
Hi @luky1984,

To debug this issue further could you open please a ticket at [support.zendesk.com](https://support.zendesk.com/)

If you link this github issue in the ticket it would be very helpful.

Thanks,

Steven

[2015-09-10 11:39] luky1984 commented on #73
Thank you for pointing me out.

[2015-09-10 11:58] luky1984 commented on #74
Hi i found the reason. In ticket fields administration the fields must be set as visible and editable to end user. Without it, it doesn't work.

[2015-09-10 11:58] #74 closed

[2015-09-10 15:58] joshbillions opened #76 "Unexpected CFBundleExectuable Key"
SDK builds and runs just fine with Xcode 7 GM, but fails with the following error when submitting to the app store:

![screen shot 2015-09-10 at 11 29 36 am](https://cloud.githubusercontent.com/assets/2422443/9793390/3b66de56-57b3-11e5-8046-04948d6548e1.png)

![screen shot 2015-09-10 at 11 29 43 am](https://cloud.githubusercontent.com/assets/2422443/9793394/3e49d16e-57b3-11e5-9a9a-cccbc51c7615.png

[2015-09-10 16:29] baz8080 commented on #76
Hi Josh,

We will be releasing a 1.4.0.x of the SDK soon and we're going to address this issue in that.

Thanks,
Barry.

[2015-09-11 15:22] joshbillions commented on #76
Issue resolved with 1.4.0.1, thanks Zendesk team!

[2015-09-11 15:22] #76 closed

[2015-09-11 15:39] tecknut commented on #50
@thediary We just released a new version with bitecode support.

[2015-09-11 15:44] #54 closed

[2015-09-11 15:45] tecknut commented on #56
@bulusoy Are you still experiencing this crash ?

[2015-09-11 15:50] tecknut commented on #62
@jimmaye We just released a new version of the SDK which added another value to an [enum so you can have no nav bar.](https://github.com/zendesk/zendesk_sdk_ios/blob/53d2d9fc88c09f1c3a717ba2879fa52dc8bbe5ee/SampleApp/SampleApp/Frameworks/ZendeskSDK.framework/Headers/ZDKHelpCenterConversationsUIDelegate.h#L35)

Setting this value [here](https://github.com/zendesk/zendesk_sdk_ios/blob/53d2d9fc88c09f

[2015-09-11 15:50] tecknut commented on #67
Closing this.

[2015-09-11 15:50] #67 closed

[2015-09-11 19:13] lickel opened #79 "Derived Data references in the exported framework"
The latest version spits out over 200 warnings.

[code]

[2015-09-11 19:22] tecknut commented on #79
@lickel Can you give us more information. We test deployed the SDK in our sample app and our Remember The Date app, including an app store submission, and didn't encounter this.

Some reproduction steps would help us track down this issue. Including Xcode version.

All our SDK development is in Ireland, which means it will be Monday morning local time before we get a chance to look at this.

Thank

[2015-09-11 19:34] lickel commented on #79
I'm not sure why it's happening, other than to say that I don't have a `/Users/rmchugh` folder.
It only seems to be an issue when I make simulator builds.

The simulator builds do seem to work locally, but it's definitely difficult to see legitimate (local) warnings when there's a wall of them from a third-party library.
In the past, I've seen similar linker warnings from binary dependencies, so i

[2015-09-12 08:54] hankbao commented on #50
Great :+1:

[2015-09-14 08:32] jimmaye commented on #62
@tecknut Thank you very much - this should do the trick!

[2015-09-14 09:03] tecknut commented on #62
Good to hear. Closing this now

[2015-09-14 09:03] #62 closed

[2015-09-14 14:32] billinghamj commented on #76
You guys should probably update your spec repo... @baz8080 I've updated the unofficial one on Cocoapods trunk.

[2015-09-14 14:42] tecknut commented on #76
It has been updated.

[2015-09-14 14:43] billinghamj commented on #79
+1 to this issue. We're running on OS X 10.10.5. Xcode 7 GM.

In our case, 8333 lines of errors come out relating to this during the GenerateDSYMFile phase. It's quite hard to provide a copy of the full error log as it's 22MB in size.

We also see /Users/rmchugh/ in the output, which would indicate the issues are coming from within the compiled file provided in the SDK.

[2015-09-14 16:02] tecknut commented on #79
@lickel We tracked down the source of this issue. A build option, CLANG_ENABLE_MODULES which is set to YES by default, caused these errors when built with Xcode 7. As we were keen to get an Xcode 7 build out to support early adopters this issue slipped passed us.

We've done some testing around this and will have a new build release out by tomorrow which has this build option disabled.

[2015-09-14 18:54] akozlik commented on #56
I've been running into this same issue when using Swift. It was working fine the other day but suddenly started crashing.

Our init code is:

`ZDKConfig.instance().initializeWithAppId({app_id}, zendeskUrl: {url}, andClientId:{client_id})`

Our user setup is:

`var anonymousIdentity = ZDKAnonymousIdentity()`
`anonymousIdentity.name = "Test Name"`
`anonymousIdentity.email = "test@email.com"`
`ZDKCon

[2015-09-14 19:00] akozlik commented on #56
I figured out the issue. We had JWT authentication turned on in our Agent portal so the application would crash when attempting to use an Anonymous user. Is there a better way to handle the error here rather than just crashing the app?

@bulusoy You may want to check to see if you have JWT authentication turned on in your mobile SDK settings. Switching back to Anonymous resolved the issue for me.

[2015-09-14 19:12] tecknut commented on #56
@akozlik We have a build patch going out tomorrow. This is just a rebuild of our last release to remove some warnings in Xcode 7. There will be a point release which will be out in a week or so which will have a fix for the crash when the incorrect identity type is set.

[2015-09-14 19:13] akozlik commented on #56
Excellent, thanks for the quick response. Hope the above can help @bulusoy out as well.

[2015-09-15 13:42] tecknut commented on #71
@jasperblues is this issue persisting?

[2015-09-15 13:45] #50 closed

[2015-09-15 13:47] tecknut commented on #49
Closing this.

[2015-09-15 13:47] #49 closed

[2015-09-15 13:50] tecknut commented on #32
@xareelee is this still an issue for you?

[2015-09-15 15:51] tecknut commented on #79
We have just released an updated build which fixes this issue.

[2015-09-15 15:51] #79 closed

[2015-09-15 21:13] jasperblues commented on #71
Yes, it wasn't solved. But we've moved on.

[2015-09-15 21:26] tecknut commented on #71
Do you think you will to strip it down to a sample project? We have not been able to replicate this and as such can't debug anything.

[2015-09-15 22:04] jasperblues commented on #71
I would like to, but unfortunately it is not a priority any more and on this particular project there is very little time for side tasks. I can do it after our store release perhaps.

[2015-09-15 22:19] tecknut commented on #71
Ok, I'm going to close this for now then. Please reopen it, or create a new issue, if you get the chance to replicate it in a sample app which we can debug.

[2015-09-15 22:19] #71 closed

[2015-09-16 06:06] jtihon opened #81 "Is it "license" or "licence"?"
Greetings. I noticed that you have a "LICENCE.md" file but you refer users to look at the "license" in "README.md". Which spelling is it supposed to be? "Licence" is the British spelling, but the majority of the project uses "license"

  - https://github.com/zendesk/zendesk_sdk_ios/blob/master/README.md
  - https://github.com/zendesk/zendesk_sdk_ios/blob/master/LICENCE.md
  - https://github.com/ze

[2015-09-16 07:40] baz8080 commented on #81
Hi Jack,

Firstly, thanks for pointing that out and sweet avatar btw. We are not fans of inconsistency so we'll get it sorted out

![blankmap-world6 svg](https://cloud.githubusercontent.com/assets/1534413/9898907/27346058-5c4e-11e5-8d6f-87c9ddc03cc8.png)

You have certainly exposed us on this one.  We're an American company that came from Copenhagen and the SDK is made in Ireland by people who inh

[2015-09-17 00:09] dogo opened #82 "Zendesk specs repo warning"
After add the Zendesk specs source to my podfile

[code]
And after run pod install, this warning shows up
[code]

[2015-09-17 08:48] jtihon commented on #81
Thanks for the reply, it made my day. Also, I thanks to `-getFlatArticlesWithCallback:`, I'm unstuck!

[2015-09-17 08:51] jtihon commented on #81
Also, long cat is long.
![Image of long cat walking]
(http://media.indiedb.com/images/games/1/10/9018/61708.gif)

[2015-09-17 09:00] baz8080 commented on #81
:+1: :grinning:

[2015-09-19 00:06] jtihon opened #83 "s/invokation/invocation/g"
Sorry to be finding these typos, but I've been reading your headers a lot recently.
Looks like "invokation" is only in `ZDKRequestProvider.h`

[2015-09-19 15:37] baz8080 commented on #83
Thanks Jack, we'll get it sorted. I know some of our iOS devs will be delighted that the headers are being read :)

![](http://img.memecdn.com/long-cat_o_147841.jpg)

[2015-09-19 21:02] jadar commented on #82
Yes, this is quite annoying.. They should either remove the ones from master or not use their own.. It doesn't really make sense why they don't just use master.

[2015-09-21 05:23] jameshays commented on #50
Using 10.4.0.2 I'm getting this: ```full bitcode bundle could not be generated because '/Pods/ZendeskSDK/ZendeskSDK.framework/ZendeskSDK(ZDKBundleUtils.o)' was built only with bitcode marker. The library must be generated from Xcode archive build with bitcode enabled (Xcode setting ENABLE_BITCODE)```

[2015-09-21 09:20] tecknut commented on #82
@dogo and @jadar Our official source for the SDK is from our specs repo. For the time being we have internal reasons for having things this way.

The podspec on the cocoapods master repo was pushed up by a third party and is not an official source of our SDK.

You can use only the main cocoapods source for now. This should resolve the warnings.

[2015-09-21 18:59] jtihon opened #84 "`ZDKAPISuccess` documentation"
Greetings, I'm using the following class method with callback to handle feedback requests:

[code]

from looking at `ZDKAPISuccess`, which is defined as:

[code]

I am perfectly happy with `lldb` and figuring out what is going on, but it'd be nice if the __ego__ would assert it's organizational power over the __id__'s uncoordinated instinctual trends and get clearer documentation on what it sends

[2015-09-21 20:52] tecknut commented on #84
@jtihon The history of `ZDKAPISuccess` is as long as longcat is long.

It's defined in [ZDKAPIDispatcher](https://github.com/zendesk/zendesk_sdk_ios/blob/master/ZendeskSDK.framework/Headers/ZDKDispatcher.h) as follows:
[code]

It's been around since the beginning. Create request controller has also been around a long time, and predates the providers.
[code]
Basically, show request chains the callb

[2015-09-21 21:12] jtihon commented on #84
Cool. I know how it works and have managed to pull out the data as JSON in `result.data`, but I was hoping for something a bit more structured. Ideally, I'd get a success block with not only regular success/fail status, but also some metadata like the ticket's id on return.

Granted this probably isn't what people normally want, but I'm trying to enable a pretty useful feature on our developer bui

[2015-09-21 21:51] tecknut commented on #84
Depending on how much UI work you want to do you can achieve this with the [ZDKRequestProvider](https://github.com/zendesk/zendesk_sdk_ios/blob/master/ZendeskSDK.framework/Headers/ZDKRequestProvider.h#L105) and the [ZDKUploadProvider](https://github.com/zendesk/zendesk_sdk_ios/blob/master/ZendeskSDK.framework/Headers/ZDKUploadProvider.h#L58).

Or you could use the [ZDKRequestWithAttachmentsUtil](h

[2015-09-21 21:59] jtihon commented on #84
@tecknut, thanks, I got it working basically using those things. Thanks for the heads up on `ZDKRequestWithAttachmentsUtil`, it'll save me a few lines of code.

It'd still be nice to get a structured response from the callback so that I don't have to jump through the `NSJSONSerialization` hoops.

I'm basically done now, but I will be hosed until I test it if the response format changes... Orz

[2015-09-21 22:05] tecknut commented on #84
Thanks for the feedback. We're always looking to improve the SDK.

[2015-09-21 22:26] jtihon commented on #84
Just wondering. Is it possible to add an attachment while creating a ticket like how you do it in the UI? I have a couple triggers in place to auto-close the tickets so that internal feedback doesn't mess with Support's reports, but it looks like adding the attachment in a separate step re-opens it.

As I alluded to before, I initially wanted to do that, but from from my piecing together the heade

[2015-09-21 22:33] tecknut commented on #84
It's late here at the moment, but tomorrow I'll try knock up a quick and dirty sample app.

[2015-09-21 22:34] jtihon commented on #84
@tecknut  That'd be great. Thanks! I need to roll onto some other things, but I would happily squeeze in some time to get it working smoothly.

[2015-09-21 23:02] baz8080 commented on #84
Hi Jack, while tecknut is sleeping I can give you a general gist of how we do it.  We:

* Upload the attachment first with [the upload provider](https://github.com/zendesk/zendesk_sdk_ios/blob/master/ZendeskSDK.framework/Headers/ZDKUploadProvider.h#L58-L61).
* Get the [upload token](https://github.com/zendesk/zendesk_sdk_ios/blob/master/ZendeskSDK.framework/Headers/ZDKUploadResponse.h#L33) from th

[2015-09-22 00:08] jtihon commented on #84
@baz8080 yeah, that was what I was hoping for. I started down that route but then got stuck when using the helper class method to present the the controller. It unfortunately doesn't take in any parameters aside from the `UINavigationController` you want to push onto and the success and error callbacks.

I do have it mostly working (and it worked the first time, surprisingly!)

[2015-09-22 07:49] xareelee commented on #32
I've already fixed this issue by myself using KVO (key-value observation via ReactiveCocoa) to correct the frame. I did not test it without the frame correction.

[2015-09-22 08:03] #32 closed

[2015-09-22 19:46] tecknut commented on #84
@jtihon what @baz8080 said is exactly how it should be done. Did this work out for you?

[2015-09-22 22:37] jtihon commented on #84
Looks like that will do what I want. If I get a chance I'll build out a VC to generate the fields. For now I'm using your built-in handler so I don't need to do `JSON` decoding.

From looking at the callback, the documentation is a bit fuzzy.
[code]

What's the specific success/error check? `error != nil`?
`result` might not be `nil` on error?

Can I get a `result` and a non-`nil` `error`?

[2015-09-23 05:03] Jarred-Sumner commented on #81
:laughing:

[2015-09-23 15:58] apanzerj commented on #81
Just came here to say meoooooooooooooooooooooow

[2015-09-25 09:57] JustSid opened #85 "ZDKDeviceInfo crashes on iPhone 6S"
As the title says, it crashes on the iPhone 6s. Backtrace:

	Thread : Fatal Exception: NSInvalidArgumentException
	0  CoreFoundation                 0x0000000183740f5c __exceptionPreprocess + 124
	1  libobjc.A.dylib                0x0000000198c2bf80 objc_exception_throw + 56
	2  CoreFoundation                 0x000000018362f8e8 -[__NSPlaceholderDictionary initWithObjects:forKeys:count:] + 324
	3

[2015-09-25 11:01] StevenDiviney commented on #85
@JustSid Thanks for bringing this to our attention. Can you try this bundle and see if it fixes your issue?

https://www.dropbox.com/s/5328y5n976wemgn/ZendeskSDK.bundle.zip?dl=0

[2015-09-25 12:42] JustSid commented on #85
That worked indeed! Is it okay to submit an AppStore update with that bundle?

[2015-09-25 13:16] StevenDiviney commented on #85
@JustSid We have just done a release of the SDK that updates this bundle and fixes the underlying issue.

[2015-09-25 13:17] JustSid commented on #85
Awesome, thank you so much for the quick response :)

[2015-09-25 13:20] tecknut commented on #70
Release just out with a read write should show block. Hope that helps.

[2015-09-25 13:20] #70 closed

[2015-09-25 13:21] tecknut commented on #38
This is fixed in 1.4.1.1

[2015-09-25 13:21] #38 closed

[2015-09-25 13:22] tecknut commented on #35
This is fixed in 1.4.1.1

[2015-09-25 13:22] #35 closed

[2015-09-25 14:53] dogo opened #87 "UI language"
Currently Zendesk sdk loads the device locale and set the UI strings to match the device locale. There is a way to ignore this step or force other locale

eg:
1) My app supports en-US and es-ES and have an setting to change the app language.
2) My device is currently using en-US locale
3) User change app language to es-ES
4) User press "Support" (Zendesk :P) the zendesk interface is loaded using e

[2015-09-28 09:42] tecknut commented on #87
@dogo This is something we don't support. We use apples localised string macros which return translations for the device local.

We have no plans to change this behaviour.

[2015-09-28 09:42] #87 closed

[2015-09-28 11:57] dogo commented on #87
Okay, thanks

[2015-09-28 15:05] StevenDiviney commented on #85
@JustSid We just did another release concerning this. We use system information to identify what type of device the request is made from, then use a plist in that bundle to convert it to a more readable string. Turns out the new devices report differently to what the Apple documentation states (they are swapped).

Anyway the overall effect is tickets from a 6s will look like they came from a 6s pl

[2015-09-29 03:07] linktoming opened #91 "Potential Circular reference imports causing build error"
When I use 1.4.1.1 with cocoapods, the project got build error. Something like duplicated definition for some classes. Manually adding the framework worked fine somehow.

After I remove the circular reference (ref: https://github.com/zendesk/zendesk_sdk_ios/pull/88 ), it can be built successfully with cocoapods.

It would be better if you can do this change in the source code level.

[2015-09-30 16:43] jrahaim commented on #50
I am getting the same error on 1.4.1.2
ZendeskSDK.framework/ZendeskSDK(ZDKHelpCenterCategory.o)' does not contain bitcode. You must rebuild it with bitcode enabled (Xcode setting ENABLE_BITCODE), obtain an updated library from the vendor, or disable bitcode for this target. for architecture arm64

[2015-09-30 16:46] jrahaim opened #92 "Bitcode support missing from 1.4.1.2"
I am getting the bitcode error on 1.4.1.2
ZendeskSDK.framework/ZendeskSDK(ZDKHelpCenterCategory.o)' does not contain bitcode. You must rebuild it with bitcode enabled (Xcode setting ENABLE_BITCODE), obtain an updated library from the vendor, or disable bitcode for this target. for architecture arm64

[2015-09-30 19:25] ssavic commented on #92
I'm having the same exact issue, with the latest 1.4.1.2

[2015-10-01 13:25] StevenDiviney commented on #92
@jrahaim @ssavic We have just done another release to fix this.

[2015-10-01 13:31] StevenDiviney commented on #50
We have just done another release to address the latest bit code issue.

[2015-10-01 16:15] rentbitswill opened #94 "Crash on iPhone 6s"
Crashing when attempting to create a ticket from iPhone 6s (actual device not simulator).

It appears that ZDKDeviceInfo.deviceType is returning nil

[2015-10-01 16:19] StevenDiviney commented on #94
@rentbitswill what version of the SDK are you using? We have just done a release to address this.

[2015-10-01 16:39] rentbitswill commented on #94
Just grabbed the latest version. Thanks!

[2015-10-01 16:39] #94 closed

[2015-10-02 10:50] #92 closed

[2015-10-02 10:51] tecknut commented on #31
Fixed in current version

[2015-10-02 10:51] #31 closed

[2015-10-02 10:51] #56 closed

[2015-10-05 13:37] baz8080 commented on #36
Hi Moleki,

Sorry for the late reply on this one. Can you give me more details about how you encounter this issue?

[2015-10-05 13:41] baz8080 commented on #84
Hi Jack,

error != nil is the general check. You will get a result or an error. If you ever find this not to be the case then that is a bug and we'll fix it.

[2015-10-05 13:43] baz8080 commented on #23
Hi All,

This error usually relates to a misconfiguration and isn't an SDK-wide issue per sé. I'm going to close this one but please create new issues if you encounter something similar and we'll help.

[2015-10-05 13:43] #23 closed

[2015-10-05 13:45] baz8080 commented on #28
Hey @Enthouan

We have shored up our nil handling in identities a lot since this was first reported. I'm going to mark this as closed, but please reopen if you're still having the issue after upgrading to the latest version

[2015-10-05 13:45] #28 closed

[2015-10-05 13:53] baz8080 commented on #16
@brstgt Apologies for the glacial pace of my response. We're aware of the issue and we're hoping to make it look better soon.

[2015-10-05 14:41] baz8080 commented on #91
@linktoming We've fixed the circular references internally. They'll be in the next release. We don't have a date for that right now but we'll leave this issue open and let you know when it's released.

[2015-10-05 14:53] baz8080 commented on #83
Starting a sweep of the typos today.

[2015-10-05 22:44] jtihon opened #95 "Link to release notes?"
Minor nit. I had to a dig around a bit to find the release notes for the sdk.
There are a bunch of changes, and being a diligent developer, I'm loathe to upgrade unless there is some issue fixed. I don't need the `s/licence/license/g' change, but I did have a google a bit to find the release notes instead of looking around for them.

How about a link in the `README.md`?

https://developer.zendesk.

[2015-10-06 03:43] jaanushansen commented on #85
Hi!

I wonder, if the issue is now solved this way that when in the future Apple introduces new device models Zendesk SDK won't be crashing?

[2015-10-06 08:03] baz8080 commented on #85
@jaanushansen It is. If we don't find a mapping now we will default to 'Unknown device'

[2015-10-06 12:17] jaanushansen commented on #85
Good to know, thank you for your response!

[2015-10-07 00:06] adrianmacneil commented on #37
Is this still a problem? I'm getting a similar error with Swift and `use_frameworks!`:

    Undefined symbols for architecture x86_64:
      "_kUTTypeImage", referenced from:
          -[ZDKCreateRequestViewController imagePickerController:didFinishPickingMediaWithInfo:] in ZendeskSDK(ZDKCreateRequestViewController.o)
    ld: symbol(s) not found for architecture x86_64

[2015-10-07 00:55] adrianmacneil commented on #37
Nevermind. I solved the above error by manually linking `MobileCoreServices.framework`. For anyone else with same issue:

1. Select your project in your navigator
2. Visit "General" tab
3. Under "Linked Frameworks and Libraries", click +
4. Add `MobileCoreServices.framework`

[2015-10-07 07:42] baz8080 commented on #95
Will do. I could have sworn I replied to this yesterday, sorry about that.

[2015-10-07 10:17] tecknut commented on #17
The current version refreshes itself now.

[2015-10-07 10:17] #17 closed

[2015-10-07 10:21] #29 closed

[2015-10-07 10:23] tecknut commented on #82
We have taken ownership of the ZendeskSDK cocoapods podspec now. It is no longer required to include our specs repo.

[2015-10-07 10:23] #82 closed

[2015-10-07 10:32] baz8080 commented on #81
@jtihon The public facing bit of LICENSE vs LICENCE is merged. The rest of it will come when we do our next release. I'm going to close the issue :)

[2015-10-07 10:32] #81 closed

[2015-10-07 10:33] baz8080 commented on #83
@jtihon These spelling mistakes (and a host of others) have been fixed and will be here when we do our next release.

[2015-10-07 10:33] #83 closed

[2015-10-07 14:38] baz8080 commented on #69
@jasperblues I'm going to close this issue based on
https://github.com/zendesk/zendesk_sdk_ios/issues/70 which added a read/write shouldShowBlock

[2015-10-07 14:38] #69 closed

[2015-10-07 14:40] baz8080 commented on #37
@adrianmacneil This isn't something that we can replicate every time. We're going to see if linking `MobileCoreServices.framework` in our podspec fixes it though.

[2015-10-07 14:40] jasperblues commented on #69
:+1:

[2015-10-08 00:10] jtihon commented on #81
Yay!

[2015-10-08 00:11] jtihon commented on #83
(=^-ω-^=)

[2015-10-13 16:01] nicholas opened #97 "1.4.1.3 Does not compile on Xcode 6.4 (Perhaps any Xcode < 7)"
I'm guessing the latest release was built using Xcode 7.0+? That's causing older Xcodes to produce the following:

![Screenshot](https://photos-3.dropbox.com/t/2/AADGSU8VDexh5IyAfJC4aiha8QqQ6Bprz4pdta0tD5zKBA/12/19179734/png/32x32/1/1444755600/0/2/Screenshot%202015-10-13%2010.55.27.png/CNbRkgkgASACIAMgBSAHKAEoAigH/T4O-Ej4ajfOqWgKpnYJ6xD4RGjGQxS8Erlf5Hyh1at8?size=1024x768&size_mode=2)

Reverted bac

[2015-10-14 12:15] RonanMcH commented on #97
Hi Nicholas,
Thanks for raising this issue with us. We had a similar issue with Xcode 7 and cocoapods. We patched that issue on our end and there was a patch for it on cocoa pods (which should be in an update soon, but I’m not sure when). Our patch for Xcode 7 and cocoapods seems to be causing this issue with Xcode 6 and cocoapods.

For us to fix the issue for Xcode 6 we would have to re-introduce

[2015-10-14 16:11] RonanMcH commented on #97
Hi again Nicholas,
we have investigated this on our side and have discovered that cocoapods have fixed this issue since release 1.4.1.3.  The fix will come in our next release as the build setting will need to be changed on our end.  This should allow SDK integration on Xcode 6.4 with no duplicate symbol errors.

Thanks again for bringing it to our attention.

[2015-10-14 16:13] nicholas commented on #97
Awesome, thanks for the quick turnaround!

[2015-10-16 12:20] tecknut commented on #37
@adrianmacneil We've just added some framework dependancies to our podspec. It should fix the issue for any new integrators. Thanks for raising this with us.

[2015-10-19 10:22] tecknut commented on #37
@Prince2k3 We've tested this a few times recently with a swift project and can't reproduce the error. We're going to close this. If you experience this error again please reopen the issue.

Thanks.

[2015-10-19 10:22] #37 closed

[2015-10-19 10:23] #84 closed

[2015-10-19 10:49] tecknut commented on #95
We have a link to docs and release notes in the README now.

[2015-10-19 10:49] #95 closed

[2015-10-19 10:50] tecknut commented on #97
@nicholas Is this working fine now? Just checking in before we close this of.

[2015-10-19 15:49] nicholas commented on #97
Afraid not. I just tried with Cocoapods 0.39.0 and Zendesk 1.4.1.4 and still get the error. If there's anything I can provide you with to help, just let me know. I was able to reproduce this in a new, clean test project too.

[2015-10-22 15:32] hermanolsson opened #102 "Xcode 7.1 breaks Swift import of framework"
We are using the framework via cocoapods (the official specs repo) and since upgrading to Xcode 7.1 we are seeing this error when importing the framework with ```import ZendeskSDK```

```include of non-modular header inside framework module 'ZendeskSDK'````

Moving the import to the Objective C bridging header seems to fix the problem, but that is just a temporary solution in my opinion.

Any idea

[2015-10-22 15:46] tecknut commented on #102
@hermanolsson Thanks for highlighting this, we're taking a look at it now. We'll get back to you soon.

[2015-10-22 16:03] hermanolsson commented on #102
Thanks @tecknut . We have two other issues with the SDK together with our Swift project, and since you guys were so fast on this one, I will add those as separate issues later tonight.

[2015-10-26 07:08] markst opened #103 "Exception when presenting request creation."
Getting an exception when attempting to present request creation screen:

[code]

[code]

![image](https://cloud.githubusercontent.com/assets/274318/10723205/90b9f104-7c0c-11e5-89c2-be1dbe5a2029.png)

[2015-10-26 07:33] markst commented on #103
using `1.4.1.4` btw.

[2015-10-26 17:33] billinghamj opened #104 "Show use of CocoaPods Trunk in README"
As you're no longer updating your own CocoaPods Specs repo (latest published version is 1.4.1.3), the README should probably be updated to examples which would pull the pod from CocoaPods Trunk.

[2015-10-27 08:54] hermanolsson commented on #103
@markst we're seeing the same issue. Are you replacing any (but not all) of the strings with a strings bundle?

https://developer.zendesk.com/embeddables/docs/ios/customization#customizing-strings-and-localization

I was about to post an issue about this, so I might as well add my thoughts here.

We see the crash above when using the strings bundle to replace some of the strings, and only in relea

[2015-10-27 09:08] RonanMcH commented on #103
Hey @markst and @hermanolsson ,
I believe this error happening because the "ZendeskSDKStrings.bundle" may not be added properly to your project or targets within your project.  Could you make sure that the "ZendeskSDK.bundle" and the "ZendeskSDKStrings.bundle" are in the "Copy Bundle Resources" dropdown menu under the "Build Phases" tab (as shown in the screenshot attached) and if they are not, co

[2015-10-27 09:58] RonanMcH commented on #104
Hi @billinghamj ,
thank you for bring this to our attention.  This was just a mistake when we did the last release, not to update the Cocoapods Specs Repo.  It is updated now to the latest release (1.4.1.4).
Thanks again,
Ronan.

[2015-10-27 09:58] #104 closed

[2015-10-27 20:09] cancan101 opened #105 "Wrap up a React Native Component"
Would be cool if this were wrapped up as a react native component.

For an similar effort see: https://github.com/auth0/Lock.ReactNative

[2015-10-28 08:00] markst commented on #103
thanks @RonanMcH adding `ZendeskSDKStrings.bundle` to bundle resolves.
Not sure if it's some setup with the podspec which is wrong?

You can make `NSAttributedString` less volatile by initializing it as follows:
[code]

[2015-10-28 09:44] StevenDiviney commented on #103
@markst This isn't so much an issue with the podspec but more just how cocoapods works. By default it will only link pods to whatever it determines to be the primary target

[2015-10-28 09:46] StevenDiviney commented on #103
@markst This isn't so much an issue with the podspec, its more how cocoapods works. It only links pods to whatever it determines to be the primary target. https://guides.cocoapods.org/syntax/podfile.html#group_target_configuration

Sorry about closing the issue, brain fart on my part.

[2015-10-28 09:48] StevenDiviney commented on #103
Also thanks for the suggestion about NSAttributedString, I'll go and put that fix in now :)

[2015-10-28 10:08] StevenDiviney commented on #103
https://github.com/zendesk/zendesk_mobile_ios_sdk/pull/609

[2015-10-28 11:53] baz8080 commented on #105
@cancan101 It looks cool. We don't have any plans to do this right now but react native is an interesting tech to us.

[2015-10-29 01:00] markst commented on #103
odd that zendesk doesn't appear as a target within my Pods project:
![image](https://cloud.githubusercontent.com/assets/274318/10807504/8505f55e-7e34-11e5-92f6-a01645721609.png)

is that a error on my part? or just the nature of the Zen static library pod?

[2015-10-29 04:35] markst opened #106 "The operation couldn’t be completed"
I can't send tickets. This is the error I get:

`Error Domain=ZDDispatcher Code=4 "The operation couldn’t be completed. (ZDDispatcher error 4.)"`

Can't figure out how to resolve.

[2015-10-29 04:36] markst commented on #106
oh it seems my `initializeWithAppId` has been borked.

[2015-10-29 04:36] #106 closed

[2015-10-29 05:05] markst opened #107 "My tickets modal has no cancel/dismiss button."
![screen shot 2015-10-29 at 16 04 27](https://cloud.githubusercontent.com/assets/274318/10810626/d1e3f4c6-7e56-11e5-9a79-91c7022618de.png)

[2015-10-29 10:10] StevenDiviney commented on #103
Again this is just down to how Cocoapods works. If you look in the search paths of the Pods target you should see the ZendeskSDK.

This is because we distribute the SDK as a pre-compiled framework so cocoapods just needs to link to it. All of the targets in your above screen shot are for frameworks that need to be compiled first, hence they each have their own build target.

[2015-10-29 10:23] StevenDiviney commented on #107
Hey @markst

What methods are using to present this view? Is it showRequestListWithNavController? Can you try presentRequestListWithNavController? Thanks.

[2015-11-02 09:57] baz8080 commented on #36
Hi Moleki,

I'm going to close this issue but please feel free to reopen it if you need help.

Thanks,
Barry,

[2015-11-02 09:57] #36 closed

[2015-11-03 20:18] baz8080 opened #109 "Typo in protocol"
ref: https://github.com/zendesk/zendesk_sdk_ios/pull/108/files

[2015-11-06 21:46] cancan101 opened #110 "Adding Chat to Project"
This line:
[code]
is giving me:
[code]

Right now my Podfile looks like:
[code]

[2015-11-06 21:56] cancan101 opened #111 "Issues Linking: Undefined symbols for architecture x86_64"
I am having issues building a project that uses the IOS SDK:
[code]

[2015-11-09 09:49] RonanMcH commented on #110
Hi @cancan101,
this is not the correct repo for the Zendesk Chat SDK.  I believe [this ](https://github.com/zendesk/zendesk_sdk_chat_ios) is the SDK you are looking for.  Let us know if this was your problem.
Ronan.

[2015-11-09 10:34] tecknut commented on #111
Hi, @cancan101 can you give us a bit more information about your project please?

[2015-11-09 14:23] #111 closed

[2015-11-09 15:32] cancan101 commented on #110
Is the entry in the Pod file `pod 'ZendeskSDK'` supposed to be the same for the [regular SDK](https://github.com/zendesk/zendesk_sdk_ios) and the chat SDK?

[2015-11-09 17:04] RonanMcH commented on #110
Hi @cancan101 ,
thanks for bringing this to our attention, you are correct in thinking this is wrong.  The podspec for the Zendesk Chat SDK should read:

source 'https://github.com/zendesk/Specs.git'
pod 'ZDCChat'

This is what you should have in you podfile to include the Chat SDK. I have put in a pull request on the repo to change the "readme" to the correct pod link.  It should get merged very

[2015-11-09 17:09] RonanMcH commented on #110
@cancan101  pull request is merged!

[2015-11-09 17:09] #110 closed

[2015-11-09 20:02] cancan101 opened #112 "Add showRequestList that Does not Require a NavController"
Currently a `NavController` is required to show the Request List.

The same is not true when starting chat. Why is that?
[code]

Same issue with `showRequestCreationWithNavController`.

For example:
[code]

[2015-11-09 20:04] tecknut commented on #112
Hi @cancan101, chat shows itself as a modal over your apps content. It creates it's own nav controller. `showRequestCreationWithNavController` places itself on your nav stack.

[2015-11-09 20:06] cancan101 commented on #112
Right. Any reason that there can't be a version of `showRequestList` that also creates it's own nav controller?

[2015-11-09 20:23] tecknut commented on #112
We can certainly add this method as a convenience.

If you would something you can work with right now you can create a request list controller and implement `ZDKCreateRequestUIDelegate` methods.

[code]

Create a `ZDKRequestListViewController` and present it in a new nav:

[code]

Hope this helps you.

Thanks

[2015-11-10 19:40] ralph-e-boy opened #113 "[feature request] BITCODE support"
Hi:

In order for apps to support bitcode app thinning in ios 9, all dependent libraries need to also be compiled with bitcode support. Could this feature be enabled in the zendesk frameworks ( chat too ) ?

More info here:

https://developer.apple.com/library/tvos/documentation/IDEs/Conceptual/AppDistributionGuide/AppThinning/AppThinning.html

[2015-11-11 08:40] Pitsko commented on #102
+1

any updates?

[2015-11-11 08:46] Pitsko opened #114 "Black area over keyboard if user is trying to add comment"
please see image
<img width="323" alt="screenshot 2015-11-11 00 44 37" src="https://cloud.githubusercontent.com/assets/172434/11087240/91d2d1a2-880d-11e5-9e13-498bf1e85afc.png">

[2015-11-11 09:59] RonanMcH commented on #113
Hi @ralph-e-boy,
Bitcode is enable for both the ZendeskSDK and the ChatSDK.  Could please provide more details if it is not working for you?
Thanks,
Ronan.

[2015-11-11 10:39] RonanMcH commented on #114
Hi Pitsko,
I am struggling to recreate this bug, although we have seen it before on a different OS version and device. What method are you using to open your request list?
Thanks,
Ronan.

[2015-11-11 12:02] RonanMcH commented on #113
Hi @ralph-e-boy,
we had a minor issue enabling bitcode support on the ChatSDK, we are working to resolve this issue and will release with it fixed soon.  The regular ZendeskSDK is fine though and does have bitcode support enabled.
Ronan.

[2015-11-11 16:09] RonanMcH commented on #114
Hi again @Pitsko,
after talking to one of my colleagues, he explained that this is an issue he has seen before and has a minor workaround to fix it.
You would need to add the following methods to the viewController that calls the [ZDKRequests showRequestCreationWithNavController:(UINavigationController*)navController;]:

[code]

and then register for keyboard notifications:
[code]
Hope this fix wo

[2015-11-11 17:10] ralph-e-boy commented on #113
@RonanMcH  thank you!

[2015-11-11 17:10] #113 closed

[2015-11-12 18:59] Pitsko commented on #114
Hi, thank you for help
But this issue not related to creation ticket
User open list of tickets -> tap on one of them -> tap comment input.
So I can't override anything here, because it is related to your internal controllers, from your library

[2015-11-12 19:06] tecknut commented on #114
@Pitsko the methods which lower and raise the layout guide get the SDK controller which is currently visible.

[code]

Putting these methods in the controller where you present the SDK will work.

Just be sure to call remove observer in the dealoc of the view controller you put this code in.

[code]

[2015-11-13 11:54] baz8080 commented on #109
Was fixed in internal repository, will be in next release

[2015-11-13 11:55] baz8080 commented on #107
@markst Did you get a chance to test this as per the comment above?

[2015-11-13 11:56] baz8080 commented on #103
Closing this issue. Please feel free to open a new one if you have a new issue :)

[2015-11-13 11:56] #103 closed

[2015-11-14 06:23] adrianmacneil commented on #102
+1

[2015-11-14 06:59] adrianmacneil commented on #102
See [my patch](ac4b75cdb317f656fc0b0be44424a8f9aff8377f) for a fix.

[2015-11-20 09:36] #109 closed

[2015-11-20 09:38] RonanMcH commented on #97
Hi @nicholas,
this should be fixed as of our latest release. (1.5.0.1)

[2015-11-20 09:39] RonanMcH commented on #16
Hi @brstgt ,
this has been improved to look better as of release 1.5.0.1.

[2015-11-20 09:49] RonanMcH commented on #91
Hi @linktoming ,
We have fixed the potential circular references and the fix is in our latest release (1.5.0.1).
Thanks again for bringing this to our attention,
Ronan.

[2015-11-20 09:49] #91 closed

[2015-11-23 13:36] RonanMcH commented on #16
This issue has been fixed so I am going to close it off.
Thanks again for bringing to our attention,
Ronan.

[2015-11-23 13:36] #16 closed

[2015-11-23 13:37] RonanMcH commented on #97
This issue has been fixed so I am going to close it.
Thanks again for bringing it to our attention,
Ronan.

[2015-11-23 13:37] #97 closed

[2015-11-23 13:48] RonanMcH commented on #114
Hi @Pitsko ,
I hope this fix worked for you.  I am going to tentatively close this issue but feel free to reopen it if the issue has not been solved for you.
Ronan.

[2015-11-23 13:50] RonanMcH commented on #112
Hi @cancan101 ,
hope this has helped. I am going to tentatively close this issue but feel free to reopen it if you feel it has not been solved.
Ronan.

[2015-11-23 13:53] RonanMcH commented on #107
Hi @markst ,
I am going to tentatively close this issue since you have not responded. Feel free to reopen it if you are still experiencing problems.
Ronan.

[2015-11-23 13:53] #107 closed

[2015-11-23 16:44] cancan101 commented on #112
@RonanMcH, [per this](https://github.com/zendesk/zendesk_sdk_ios/issues/112#issuecomment-155181957), I was hoping these methods could be added to the SDK itself.

[2015-11-23 17:13] tecknut commented on #112
@cancan101 We have added this to our roadmap, however we can't give you an exact date when that will be released.

We'll leave this open until we have what was [described here](https://github.com/zendesk/zendesk_sdk_ios/issues/112#issuecomment-155181957) as methods within the SDK.

[2015-11-24 14:32] RonanMcH commented on #102
Hi @hermanolsson  and @adrianmacneil,
we've made this fix. You should see the fix in our latest release (1.5.1.1).
Thanks again for pointing it out,
Ronan.

[2015-11-24 14:32] #102 closed

[2015-11-24 15:54] netizen01 opened #119 ""class" is a reserved keyword"
ZDKUIUtil.h exposes a few appearance class functions which use the word "class" as a parameter name.

This work is reserved in Swift and will throw compiler errors.

Suggest renaming the param names to "clazz" or something similar.

"+ (id) appearanceForClass:(Class)clazz selector:(SEL)selector;"
"+ (id) appearanceForClass:(Class)clazz selector:(SEL)selector defaultValue:(id)defaultValue;"

[2015-11-24 16:52] tecknut commented on #119
@ojstewart thanks for pointing this out. Can you describe how to reproduce this?

We have test apps in Swift and Objective-C, neither of these had any errors. We'd like to be able to test for this going forward.

[2015-11-25 14:30] Sky opened #120 "Crash in sample app"
[ZDKHelpCenterAttachmentsDataSource setCallback:]: unrecognized selector sent to instance 0x7fb281eaefb0'
*** First throw call stack:
(
	0   CoreFoundation                      0x000000010f050f45 __exceptionPreprocess + 165
	1   libobjc.A.dylib                     0x000000010e7cadeb objc_exception_throw + 48
	2   CoreFoundation                      0x000000010f05956d -[NSObject(NSObject) doesNotRe

[2015-11-25 15:48] tecknut commented on #120
@Sky Thanks for raising this with us, we've identified the problem and should have a patch out soon.

[2015-11-25 16:25] tecknut commented on #120
@Sky We just put out a patch. Can you try this and verify it's working for you?

[2015-11-25 17:37] Sky commented on #120
Works now. Thank you!

[2015-11-25 17:37] #120 closed

[2015-11-25 17:42] tecknut commented on #120
No problem, please let us know if you have any further issues.

Thanks again for raising this.

[2015-12-02 18:36] Pitsko opened #123 "Not possible to compile project with version 1.5.2.1"
xcode 7.1.1
cocoapods - pod 'ZendeskSDK', '~> 1.5.2.1'
issue:
![screenshot 2015-12-02 10 33 05](https://cloud.githubusercontent.com/assets/172434/11540244/7c8a41c0-98e0-11e5-8b00-8b8bd2df6eb8.png)

but it works with branch:
pod 'ZendeskSDK', :git => 'https://github.com/adrianmacneil/zendesk_sdk_ios.git', :branch => 'fix-modulemap'

[2015-12-03 14:02] lilyghukasyan commented on #107
Hi,

I have the same issue on iPhone app (on iPad "Cancel" button is displayed):
![simulator screen shot dec 3 2015 5 48 55 pm](https://cloud.githubusercontent.com/assets/5071229/11562239/cf0dcf72-99dd-11e5-9ba2-ae5927300302.png)

I use presentRequestListWithNavController: method.
It's easy to reproduce the issue in the Sample app > ZDSampleViewController > requestListView, if you change showReque

[2015-12-03 16:33] Sky opened #124 "ZDKHelpCenterSearch"
Hi,

ZDKHelpCenterSearch.sectionId type is NSNumber but ZDKHelpCenterSection.sid is NSString, strange
Same for categoryId.

[2015-12-03 16:55] StevenDiviney commented on #123
Hi @Pitsko,

Thanks for bringing this to our attention, we are working on a fix. The branch you linked is out of date so we can't just pull it in.

Thanks

[2015-12-04 14:05] StevenDiviney commented on #123
Hi @Pitsko,

We just did a release to fix this. Unfortunately the person registered with Cocoapods trunk won't be in until Monday so we can't update the spec. In the mean time you can use the SDKs repo on github by changing your the ZendeskSDK line in your podfile to the one below.

pod 'ZendeskSDK', :git => 'https://github.com/zendesk/zendesk_sdk_ios.git'

We will push the new release up to the m

[2015-12-04 14:09] tecknut commented on #123
Hey guys, I just pushed to cocoapods from home. It's up to date with the latest release so no need to change your Podfile.

[2015-12-04 14:13] RonanMcH commented on #123
Thanks @tecknut and @Pitsko,
the problem has been fixed so I'm to close the issue.

[2015-12-04 14:13] #123 closed

[2015-12-04 16:28] cancan101 commented on #105
One step that would help toward supporting React Native would be to ship an XCode project that does not have any dependencies on Cocoa Pods and that can be added along the lines of: https://facebook.github.io/react-native/docs/linking-libraries-ios.html#content.

Here are some example projects:
* https://github.com/aksonov/react-native-tableview
* https://github.com/lwansbrough/react-native-camera

[2015-12-04 22:49] Sky opened #127 "like/dislike"
Hi,

ZDKHelpCenterProvider* provider = [ZDKHelpCenterProvider new];
[provider upvoteArticleWithId: article.sid withCallback: ^(NSArray* items, NSError* error) {
}];

Error Domain=ZDDispatcher Code=3 "The operation couldn’t be completed. (ZDDispatcher error 3.)" UserInfo=0x7fed00974280 {zd_dispatcher_err=HTTP Error: 403}

Same for downvote.

[2015-12-05 00:56] cancan101 commented on #112
Also would be great to have similar for
https://developer.zendesk.com/embeddables/docs/ios/gettingstarted#starting-with-help-center

[2015-12-05 01:05] cancan101 commented on #112
Related question: what is the `ViewController` that `showHelpCenterWithNavController` uses?

[2015-12-07 07:58] lilyghukasyan opened #128 "My tickets modal view doesn't have Cancel/Dismiss button on iPhone."
Hi,

My tickets modal view doesn't have Cancel/Dismiss on iPhone app (on iPad "Cancel" button is displayed):
![simulator screen shot dec 3 2015 5 48 55 pm](https://cloud.githubusercontent.com/assets/5071229/11621820/052cf88a-9cd1-11e5-8d67-63753a02f4ba.png)

I use presentRequestListWithNavController: method.
It's easy to reproduce the issue in the Sample app > ZDSampleViewController > requestListV

[2015-12-07 13:48] tecknut commented on #124
Hi @Sky thanks for pointing this out. Not sure why these were created with this discrepancy.

I'm going to open an internal issue with this.

Is this blocking you in any way?

[2015-12-07 13:57] tecknut commented on #127
Hey @Sky, Can you give us some context around what you're doing?

Have you initialised the SDK successfully before calling these methods?

[2015-12-07 14:02] tecknut commented on #128
Hey @lilyghukasyan, we have an internal issue open for this already. Do you need the request list controller to be presented modally? If not you can use the show method instead.

If you do need it I can give you a quick workaround.

Thanks.

[2015-12-07 14:33] Sky commented on #124
Nope, I convert Number to String, it's confusing but not a problem :)

[2015-12-07 14:35] Sky commented on #127
Yes,
I can fetch Sections and Articles, create Requests and Comments but can't Vote for Article :(

[2015-12-07 15:14] Sky commented on #127
Actually I notices that errors are quite scrooge :)

[2015-12-07 16:53] Sky commented on #127
Also small question:
if "ZDKConfig.initializeWithAppId:zendeskUrl:ClientId" fails first time due to network problems, should I call it next time I want to fetch Categories/Sections/Articles or do something with Requests? Eg. should I check state of ZDKConfig before calling another requests?

[2015-12-07 21:01] lilyghukasyan commented on #128
Hi @tecknut,
I do need to present the request list modally, but it is not urgent for now, so I will be looking forward for the fix. Thank you.

[2015-12-07 21:11] Sky opened #129 "Requests/Comments"
1. I created Request with ZDKAnonymousIdentity where email = "nil" and remember it's requestID.
2. Changed ZDKAnonymousIdentity to different one with email != "nil".
3. Now I can fetch Request created with email = "nil", but when trying fetch Comments for this Request getting error 403.

I need remember Requests created with not logged in user and than show them again when user logged in, how can

[2015-12-08 18:04] dyermd opened #130 "Enable pull to refresh on issue chat view"
Currently you can see a list of your current issues and if you click on one see the specific chat log for the issue, but if an agent updates the ticket while a customer is viewing the chat log there is no way for them to get the update without first going back in the navigation view and then reentering the issue. It would be great if chat view enabled the pull down to refresh action or if that vie

[2015-12-08 22:41] Sky opened #131 "Articles order using ZDKHelpCenterProvider.searchArticles with ZDKHelpCenterSearch"
How to control order of articles returned by this request?
The order is different each request. ZDKHelpCenterArticle.position of all items are 0.
I need them be ordered as in Zendesk Help Center.
Help Center order settings for Articles in this Section is set to Manual.

[2015-12-08 23:05] pierrezen commented on #131
Hi Sky,
The search provider is returning articles sorted by relevancy, not by position. Are you experiencing some inconsistency in the order of the articles with the same query ?

[2015-12-08 23:11] Sky commented on #131
Actually some of the articles can change order with 2 requests each after another.
But why the position property of those articles are 0, I can't reorded them after fetch?
Does Manual articles order in section settings of Help Center control this property and articles order in general? If not then what is the purpose of this settings at all?

[2015-12-08 23:52] pierrezen commented on #130
Hi dyermd,

We currently don't have a pull to refresh feature in that screen, but you can achieve a similar experience by enabling push notification in the SDK. In this case, if the agent updates the ticket, the chat view will automatically be refreshed.

[2015-12-09 02:19] dyermd commented on #130
Thank you. Do you have documentation on how to do that?

On Tuesday, December 8, 2015, Pierre-Alain Bouchard <
notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2015-12-09 08:50] pierrezen commented on #130
A good starting point is our developer documentation
https://developer.zendesk.com/embeddables/docs/ios/push_notifications

[2015-12-09 09:08] pierrezen commented on #105
Hi Cancan101

I have created a FR on your behalf for our product manager to look at it .

I would also suggest that you post on https://support.zendesk.com/hc/en-us/community/topics/200132066-Product-feedback as our product manager are monitoring this community actively and it allows our customers to upvote for the feature requests.

[2015-12-09 10:41] pierrezen commented on #127
We have a version of the initialize method that has completion blocks. Using this version should allow to capture any initialisation issue.

[code]

[2015-12-09 11:55] Sky commented on #127
I am already using this version but the suggestion was about automatic resending this call when needed.

What about my initial like/dislike issue?

[2015-12-09 12:05] pierrezen commented on #127
On the automatic resend, I understand and I will mark this as a feature request.

On the initial like/dislike issue, you are receiving a 403 which I think is why @tecknut ask for the initialisation details. You will need a valid identity to be able to call the voting providers. Identity is different from authentication and is required. Can you confirm that this is what you do (identity set prior t

[2015-12-09 12:16] pierrezen commented on #129
For security concerns, if you change an email address or the external id of an existing identity, the SDK will be recreating a new identity so unfortunately, you will not be able to achieve what you are trying to do.

Our customers with the need to know the user email will usually ask for it in the UI before the initialisation of the SDK so that the identity can be created with all relevant inform

[2015-12-09 14:24] Sky commented on #127
I have set [ZDKConfig instance].userIdentity to ZDKAnonymousIdentity instance if you asking about this, in other case I will not be able send Requests and Comments which I mention in my second comment.

[2015-12-09 14:40] Sky commented on #129
So you have a bug because I can fetch Requests created by different users.

[2015-12-09 14:50] pierrezen commented on #129
As we will need more information regarding your account to investigate the issue you are raising, please  contact us at support.zendesk.com and we will follow up with you.

[2015-12-09 14:50] #129 closed

[2015-12-09 14:54] pierrezen commented on #127
I have tried with the sample application shipped with the SDK, ZDKAnonymousIdentity and the code snippet you have shared and I can not reproduce the issue

[code]
As we will need more information regarding your account that can not be shared publicly, please contact us at support.zendesk.com and will be happy to help resolving your integrations issues.

[2015-12-09 14:54] #127 closed

[2015-12-09 14:57] Sky commented on #129
How it is related to my account info? :)
I can fetch Requests created by one ZDKAnonymousIdentity instance from another ZDKAnonymousIdentity instance if i know those requests IDs.
I don't want to write you at support.zendesk.com because I don't care, it's not making troubles for me but it's not fit to what you describe in your comment about security concerns, so it's a bug.

[2015-12-09 15:25] tecknut commented on #128
@lilyghukasyan If you want to try the workaround, the snippet bellow is all you really need.

[code]

From this point you can set a left bar button and present the controller manually.

We should have this patched in an upcoming release.

[2015-12-09 16:59] Sky opened #132 "Article labels"
There is no way to get list of article labels with ProviderSDK :(

[2015-12-09 17:26] ojstewart commented on #119
Figured out the issue:
I have a Objective-C++ code in my project. "class" is a keyword in C++.

So this isn't actually a Swift error, it's a C++ issue.

To test, change any of your project .m files to a "Objective-C++ Source" file type.
Make sure this file includes the Zendesk framework header:
#import <ZendeskSDK/ZendeskSDK.h>

There will the "class" error as well as a new one (@import directives

[2015-12-09 18:01] ronaldjhp opened #133 "SampleApp can not be compiled, duplicate symbol _llvm.embedded.module"
I am trying to test the current SampleApp under xCode 6,4. It does not compile, show this kind of error message

clang: error: linker command failed with exit code 1 (use -v to see invocation)
...
duplicate symbol _llvm.embedded.module in:
/SampleApp/SampleApp/Frameworks/ZendeskSDK.framework/ZendeskSDK(ZDKRequestCommentTableCell.o)
...

[2015-12-10 12:39] schlan commented on #132
Hi @Sky
I added your feature request to our backlog. We'll notify you, as soon as we have any updates on it.
Sebastian

[2015-12-10 14:25] Sky commented on #132
I swizzled ZDKHelpCenterArticle.parseArticle to get this field from JSON payload which already has labels data from API and added another property to ZDKHelpCenterArticle.

[2015-12-10 14:29] Sky commented on #131
Actually I checked that your API returns right position information from server but I don't know why you don't set it to ZDKHelpCenterArticle object property that is always 0.
I made custom request with ordering by position which is supported by API.

[2015-12-10 15:19] schlan commented on #132
Thank you for clarification. We'll look into that.

[2015-12-10 17:21] schlan commented on #131
Hi @Sky,
As we are using the HelpCenter Rest API in our SDK, we are inheriting their behaviour.
According to the documentation, the default value of `position` is `0`. [HelpCenter API - Articles](https://developer.zendesk.com/rest_api/docs/help_center/articles#json-format)

Can you share the request you are using that results into non null `position` information?

[2015-12-10 17:29] Sky commented on #131
I think I am also using rest API. There is another one? :)
The default value is 0 but default value is the case when there is no real value :) In my case there is value, because I use Manual articles ordering in Help Center, so I think by design this property is exactly for this purposes.

[code]

[2015-12-11 07:55] baz8080 commented on #131
Hi Sky,

TL;DR - position makes sense for _listing_, not for _searching_

Your example above is for listing, but `ZDKHelpCenterProvider. searchArticles` uses `/api/v2/help_center/articles/search.json`.

Searching is an inherently dynamic and nondeterministic operation. `position` is 0 in a search because it doesn't make sense to have it any other way. The only way that search would ever rely on `p

[2015-12-11 12:08] js opened #134 "Support specifying multiple category+section IDs"
#46 talks about supporting limiting the in-app KB to selected categories and/or sections, but it's only currently possible to specify a single category or section not multiple categories or sections.

I'd very much like support for specifying multiple categories with something like a `+[ZDKHelpCenter presentHelpCenterWithNavController:filterByCategoryIDs:]` methods

[2015-12-11 15:36] Sky commented on #131
It's make sense, but not in my case. I use search to filter articles in section by labels (actually this is one of cases that described in labels description in Help Center) because there is no other way to do that using SDK (filter articles by labels in section), so I still need right order and position property.

I think it will be a good addition to add "sort by" and "sort order" to ZDKHelpCent

[2015-12-11 15:44] baz8080 commented on #131
Hi Sky,

Thanks for the clarification. Could you please detail _exactly_ what you would like in our APIs? For example are you looking to list all article in a given section with specific labels?

This makes it easy for us to present it to our PM to get it properly identified in the backlog.

Thanks,
Barry.

[2015-12-11 16:19] Sky commented on #131
"are you looking to list all article in a given section with specific labels?"
This is exactly I described in my comment. But I need to persist the order from Help Center.

[2015-12-11 19:46] oarrabi commented on #119
@ojstewart We will be updating this in a later release. Thank you for raising it.

[2015-12-14 12:51] baz8080 commented on #133
@ronaldjhp Is upgrading to xcode 7.x an option for you? This could be related to our latest releases having support for bitcode.

[2015-12-14 12:54] baz8080 commented on #134
@js thanks for the feature request. I'm going to add it to our backlog so that we can get it to be seen by our product manager. If you had any more ideas about how you would like this to work, please let us know.

[2015-12-15 13:55] ronaldjhp commented on #133
I can not upgrade to xCode 7.x these days because it does not allow to compile under iOS 8.4.

[2015-12-17 00:12] ronaldjhp opened #135 "Option to restrict landscape in the 'Contact Us' screen"
I am working in an app that allows the orientation according the screen. I reliazed that  the 'Contact Us' screen allows the landspace orientation, but I want to restrict landspace in this in screen. Normally the restriction are set overriding the method 'shouldAutorotateToInterfaceOrientation', but in this case I can not modify the code.

So I think there should be an option (in a method paramete

[2015-12-17 11:10] tecknut commented on #135
Hey @ronaldjhp, can you clarify something for us please? You do not want your app to allow 'Contact Us' to rotate to landscape?

Thanks

[2015-12-17 11:12] tecknut commented on #133
@ronaldjhp It should be possible for you to upgrade and keep your old installation. There are ways to get the older simulators to work with newer versions of Xcode.

[2015-12-17 15:21] ronaldjhp commented on #135
@tecknut exactly, I want 'Contact Us' only in portrait.

[2015-12-17 15:29] tecknut commented on #135
So this should be possible. We have done this in one of our demo apps which can be found here.

https://github.com/zendesk/sdk_demo_app_ios/tree/master/Remember%20The%20Date

[2015-12-22 07:46] sahara108 opened #136 "ZDKRequestProvider crash"
Here is how I add attachment into a support request:

           let zdkUploader = ZDKUploadProvider()
           let anonymousIdentity = ZDKAnonymousIdentity()
           anonymousIdentity.externalId = "An Identifier"
           ZDKConfig.instance().userIdentity = anonymousIdentity
           MBProgressHUD.showHUDAddedTo(self.navigationController?.view, animated: true)
           zdkUploader.uplo

[2015-12-23 18:36] oarrabi commented on #136
Hi @sahara108, the issue is around
[code]
`request.attachments` holds a list of `ZDKUploadResponse` and not of strings. Could you please to try to edit the above snippet to:

[code]

Please let me know if this solves your issue.

[2015-12-24 01:37] sahara108 commented on #136
Oops!. It is documented as:
           /**
     *  List of upload tokens.
     *
     *  @since 1.3.0.1
     */
    public var attachments: [AnyObject]!
So I use `uploadToken`.

It works now. THanks

[2015-12-25 16:48] oarrabi commented on #136
Happy to hear that it works for you, closing this :)

[2015-12-25 16:48] #136 closed

[2016-01-04 20:05] mikemee opened #137 "Carthage support?"
Is there any interest in adding Carthage support?

E.g. if I did a PR for it, would you accept it?  (Many CocoaPod projects are adding it).

[2016-01-05 11:22] oarrabi commented on #137
Hello @mikemee.
Sure, we were discussing adding it and have it under planning.
However a PR would be great. please feel free to submit one :)

[2016-01-13 14:41] jimmaye opened #138 "Expose labels?"
Hi

I'm really a fan of the getFlatArticlesWithCallback: which the ZDKHelpCenterProvider class provides.
Is it possible to provide specific labels in the same way that getArticlesByLabels:withCallback: can somehow?
If not, can I access the labels directly on the articles? The labes are included in the JSON response according to my ssl proxy.

Thanks in advance!

[2016-01-14 13:33] schlan commented on #138
Hi @jimmaye,
At the moment we don't support filtering articles by labels, on the `getFlatArticlesWithCallback` call.
We're planning to add a field for labels to articles. It's already in our backlog we keep you updated on this.

[2016-01-14 17:51] netizen01 commented on #119
Status update on this?

[2016-01-14 20:07] tecknut commented on #119
@netizen01 This is fixed, and will be out in our next release.

[2016-01-15 08:01] jimmaye commented on #138
Hi @schlan
Nice to know. Thanks again!

[2016-01-15 13:50] baz8080 commented on #112
Hi @cancan101

The controller is [ZDKSupportViewController](https://github.com/zendesk/zendesk_sdk_ios/blob/master/ZendeskSDK.framework/Headers/ZDKSupportViewController.h)

[2016-01-15 13:50] baz8080 commented on #133
I'm going to close this issue as there is a workaround.

[2016-01-15 13:50] #133 closed

[2016-01-15 13:51] baz8080 commented on #135
I'm going to close this as we haven't heard back from you in a while. Please reply if you're still having issues with this issue.

[2016-01-15 13:51] #135 closed

[2016-01-15 22:24] wrfellows commented on #37
<img width="1001" alt="screen shot 2016-01-16 at 3 24 04 am" src="https://cloud.githubusercontent.com/assets/13545330/12366987/aa3c54f8-bc00-11e5-821c-b6acb31c7395.png">

This is issue is happening again!

[2016-01-19 15:33] billinghamj opened #139 "Dynamically switching between JWT and Anonymous identities"
I'm trying to use the following code to dynamically switch between authenticating users anonymously or with JWTs (as we want our users to be able to send us messages while they're logged out).

I've tried five different arrangements of code to try and make this work, and nothing seems to change the outcome - extraordinarily frustrating!

[code]

This is the error I get when trying to submit a tick

[2016-01-19 15:42] billinghamj commented on #139
Actually, specifically the anonymous set of code doesn't work. The JWT code is working fine.

[2016-01-19 15:55] RonanMcH commented on #139
Hi @billinghamj ,
This is not something we support.  Switching one application between two applications within Zendesk with two different authentication types will cause errors from the server.  Anonymous authentication does allow the user to add an email so maybe this best suits your use-case.
Ronan.

[2016-01-19 16:01] billinghamj commented on #139
Hi Ronan,

Why wouldn't this work? They're two completely different OAuth clients, and your own sample app shows this behavior also:

https://github.com/zendesk/zendesk_sdk_ios/blob/master/SampleApp/SampleApp/ZDSampleAppConfigurationViewController.m#L322-L336

Also see:
![screenshot of Zendesk admin configuration](https://cloud.githubusercontent.com/assets/905772/12423969/e64cbd94-bec5-11e5-8af5-6

[2016-01-19 17:00] RonanMcH commented on #139
While our [documentation](https://developer.zendesk.com/embeddables/docs/ios/authentication) never explicitly states that only one type of authentication type can be used in your app at one time, this is in fact the case. The documentation describes the caveats between JWT vs Anonymous authentication.

It's not clear from earlier comments whether you want to support a transition on one device from

[2016-01-19 17:04] billinghamj commented on #139
So how does your sample app work? It appears to allow the Zendesk client to be reconfigured without killing the app.

Transitioning a single user from Anonymous to JWT authentication would be nice. In this case, I do not need to make any connection between the two users though - it is acceptable for them to be entirely unlinked.

We'd also want to be able to disassociate the user and go back to An

[2016-01-20 13:24] baz8080 commented on #139
Hi,

Our sample app works, but only when we [clear the persistent state](https://github.com/zendesk/zendesk_sdk_ios/blob/master/SampleApp/SampleApp/ZDSampleAppConfigurationViewController.m#L285) and restart the app before we switch authentication types. ZDKConfig is a singleton and doesn't completely reinitialise when you call `initializeWithAppId`. You may find that the clearing of the data might

[2016-01-20 13:26] billinghamj commented on #139
Thanks for that clarification.

I think you should consider looking at that fairly soon. For now though, I think we've had enough of Zendesk and will probably switch to Intercom. :+1:

[2016-01-20 13:33] baz8080 commented on #139
Thanks for the feedback, James. I've passed it on to our product manager. What I said in the last comment stands for now.

[2016-01-20 13:33] #139 closed

[2016-01-21 09:31] kiliannet opened #140 "Title not centered"
Hi!

I have a problem with **ZDKRequests** object.
Whether "Contact Support" or "My tickets", the screen are showing with title not centered.

I'm using this code:
[code]
Also, I attached you two screenshots so you can see the problem.

![screenshot at jan 21 09-15-54](https://cloud.githubusercontent.com/assets/796971/12476500/99ee1670-c021-11e5-92fc-0deb57b9e3f3.png)
![screenshot at jan 21 09-17-

[2016-01-21 10:30] tecknut commented on #140
Hey @kiliannet, I've just attempted to replicate this and I'm not able to.

<img width="312" alt="screen shot 2016-01-21 at 10 26 27" src="https://cloud.githubusercontent.com/assets/2079547/12477837/c6001eae-c029-11e5-9ade-66c8055d40fa.png">

Is there anything in your setup which could help us replicate this issue?

Also does this happen on all your test devices?

Thanks

[2016-01-21 13:43] kiliannet commented on #140
Sorry, I was my mistake.

In my code legacy I found a category of UINavigationItem that override setTitle methods.

Thanks and apology.

[2016-01-21 15:29] #140 closed

[2016-01-28 19:41] cancan101 opened #141 "Directly Using ZDKCreateRequestViewController"
Is it possible to directly use  `ZDKCreateRequestViewController`? I am trying:

[code]
but then I end up with:
[code]

This same approach did work in https://github.com/zendesk/zendesk_sdk_ios/issues/112#issuecomment-155181957 for `ZDKRequestListViewController`.

/CC @RonanMcH @tecknut @baz8080

[2016-01-29 11:13] RonanMcH commented on #141
Hi @cancan101 ,
You can use `ZDKCreateRequestViewController` this way but you need to use a different initializer.  If you use:
[code]

To initialize the `ZDKCreateRequestViewController`, it will work.  The callback is called upon a successful or unsuccessful submit of the request.  This is a minor bug that the `init` method for this view controller should be set as `NS_UNAVAILABLE` to point users

[2016-01-29 17:55] cancan101 opened #142 "Ability to Hide the Set Attachment Button on Create Request"
Is there any way to hide the Set Attachment button on the "Create Request" view? I am looking at [`ZDKRequestCreationConfig`](https://github.com/zendesk/zendesk_sdk_ios/blob/de13c2aea1be24adc3a7331eefd67dc121616693/ZendeskSDK.framework/Headers/ZDKRequests.h#L40-L46) but I don't see any setting to do so.

[These docs](https://developer.zendesk.com/embeddables/docs/ios/customization#create-ticket) i

[2016-02-02 13:31] tecknut commented on #142
Hey @cancan101 you can disable attachments in your [Zendesk admin settings](https://support.zendesk.com/hc/en-us/articles/203927716-Attachments-in-Zendesk#sec1).

[2016-02-04 05:58] andrewljohnson opened #143 "buttons disappear on Contact Form when iPhone is rotated"
Here's a video of the bug: https://www.dropbox.com/s/djugsku2f0g8q89/zd-bug.mov?dl=0

The nav bar buttons disappear after a rotate and re-rotate.

I added the view this way:

    self.navigationController.modalPresentationStyle = UIModalPresentationFormSheet;
    [ZDKHelpCenter showHelpCenterWithNavController:self.navigationController
                              filterByCategoryId:@"FOO"

[2016-02-04 06:06] andrewljohnson opened #144 "open source the SDK"

[2016-02-04 06:24] andrewljohnson opened #145 "search results in Help Center return all categories, even if Help Center is show with filterByCategoryId:"
The use case is to have categories for iOS and Android versions of an app. Only the iOS articles should show when the user searches.

[2016-02-04 11:55] brendan-fahy commented on #144
Hi @andrewljohnson

This is something that's currently being discussed internally, but at the moment there's no timeline/expected date.

Thanks and best regards,

Brendan

[2016-02-04 11:55] #144 closed

[2016-02-04 12:01] brendan-fahy commented on #145
Hi @andrewljohnson

This issue has already been fixed, and will be included in our next release (1.5.4) - which will be going out in the next two weeks.

Thanks and best regards,

Brendan

[2016-02-04 14:39] brendan-fahy commented on #143
Hi @andrewljohnson

We've been unable to reproduce this behaviour so far. Can you give us any more detail on how to do so? Have you tried resetting your simulator to see if that made a difference?

Regards,

Brendan

[2016-02-04 16:32] cancan101 commented on #142
That seems to be a global change. Is there no way to disable it from the client (ie only under certain circumstance)?

[2016-02-04 20:39] andrewljohnson commented on #143
I've had two colleagues reproduce this on testflight builds of the app on
iPhones.

Let me know if you think someone in our code could have this effect? I
thought I was using the SDK in the standard way.

Andrew Johnson
Founder
*gaiagps.com <http://gaiagps.com>*

On Thu, Feb 4, 2016 at 6:39 AM, Brendan Fahy <notifications@github.com>
wrote:

[2016-02-05 07:07] jaernouts commented on #114
Hello @RonanMcH, @tecknut, I want to reopen this issue because I have that same issue on my Help Center, when a user taps the search bar... I added the workaround code, but this doesn't change anything. I use a helper to handel everything regarding Zendesk and this helper uses following code:
`    [ZDKConfig instance].userLocale = [[NSBundle mainBundle].preferredLocalizations firstObject];

    [[

[2016-02-09 10:10] RonanMcH commented on #142
Hi @cancan101 ,
I'm afraid this functionality is not available at the moment.  We will treat this as a feature request and I will create a story for it so that our product manager can have a look at it.  It will be in a future release but unfortunately I can't give a timeline for it.
Thanks,
Ronan.

[2016-02-09 13:28] RonanMcH commented on #143
Hi @andrewljohnson,
We still can't recreate this issue so we have opened a ticket for you with us so that we may continue solving this problem internally.
Thanks,
Ronan.

[2016-02-09 18:10] lbasile opened #146 "Cocoapods subspecs always include the file "ZendeskSDKStrings.bundle""
Our project is using Zendesk's built-in "Rate the App" UI. We've changed the copy by including a `ZendeskSDKStrings.bundle` as per these instructions: https://developer.zendesk.com/embeddables/docs/ios/customization#customizing-strings-and-localization

We use Cocoapods to include the ZendeskSDK's `Core` subspec. We're upgrading from 1.4.1.4 -> 1.5.3.1 and see these two issues:

1. The `Core` subs

[2016-02-10 11:20] StevenDiviney commented on #146
@lbasile, thanks for bringing this to our attention. We are in the middle of a release right now and don't want to commit anymore changes but we will fix the podspec next week and update you.

[2016-02-10 21:39] lbasile commented on #146
Great. Thanks for the quick response.

[2016-02-11 15:58] oarrabi commented on #145
Hello @andrewljohnson. We just released 1.5.4.1 please update and check it out.

[2016-02-11 15:59] oarrabi commented on #119
Hello @netizen01. We just released 1.5.4.1 please update and check it out.

[2016-02-11 16:03] oarrabi commented on #128
Hello @lilyghukasyan. We just released 1.5.4.1 with the fix, please update and check it out.

[2016-02-11 16:19] lilyghukasyan commented on #128
Hi @oarrabi , thanks for letting me know.

[2016-02-11 18:18] #128 closed

[2016-02-12 06:25] rickyngan opened #148 "64-bit architecture missing in 1.5.4.1"
Have to rollback to 1.5.3.1 to workaround with this

[2016-02-12 08:05] pierrezen commented on #148
Hi @rickyngan,

Would you be able to share the error you are seeing and how you have upgraded? (manually vs cocoapods)

When running lipo on the framework files, it does show both 64 bits architectures (x86_64 arm64) so I am wondering if there is something that I am missing to reproduce your issue.

[2016-02-12 09:21] rickyngan commented on #148
I used cocoapods (pod 'ZendeskSDK/Providers') when compile , it gives the following error:

Undefined symbols for architecture arm64:
  "_OBJC_METACLASS_$_ZDKDispatcher", referenced from:
      _OBJC_METACLASS_$_ZDKAPIDispatcher in ZendeskProviderSDK(ZDKAPIDispatcher.o)
     (maybe you meant: _OBJC_METACLASS_$_ZDKDispatcherResponse)
  "_OBJC_CLASS_$_ZDKDispatcher", referenced from:
      _OBJC_CLA

[2016-02-12 10:45] tecknut commented on #148
Hey @rickyngan, can you try clean your workspace and delete the derived data for your project.

We have tried replicating this and were unable to do so.

Thanks,
Alan

[2016-02-12 13:20] kuehnhammer opened #149 "Regression in 1.5.4.1: Button for Ticket Attachments no longer shown on iPad"
with the previous version, it was possible to attach files to new or existing tickets on the iphone and ipad. in the latest version, the relevant controls are missing from ZDKHelpCenter when running on an iPad.  compare attached screenshots...

We use an existing nav controller:
[ZDKHelpCenter showHelpCenterWithNavController:self.targetNavigationController];

![screen shot 2016-02-12 at 14 17 07](

[2016-02-12 13:47] tecknut commented on #149
@kuehnhammer Thanks for raising this. We're looking into this and we'll get back to you soon regarding a patch.

[2016-02-12 14:13] tecknut commented on #149
@kuehnhammer we can't replicate this. Can you give us a better idea of your setup please?

Is your iPad app landscape only?
Is this happening on iPad mini and full size iPad?
Is this happening on all versions of iOS supported by your app?

We've tried to replicate this on a few devices and on a few simulators. Any further info would be great.

Thanks,
Alan

[2016-02-12 15:57] kuehnhammer commented on #149
hi alan,

thanks for the quick reply!

yes, it's an older (pre-SizeClasses) universal app with a landscape-only iPad storyboard.
basically we have three view controller besides each other, and load your help center into the middle one.
we tested on full-size iPad and iPad Pro so far, both show the same problems.

i've derived a small integration project from the affected app that has the same beha

[2016-02-12 16:11] tecknut commented on #149
@kuehnhammer can you try something for us if it's not too much trouble?

Can you verify that the attachment button is still in place when you revert to the previous version of the SDK?

[2016-02-12 16:22] kuehnhammer commented on #149
@tecknut just tried it with 1.5.3.1, and it's not working either.. no regression after all.
sorry about that, so it wasn't the version jump but just me jumping to conclusions.

i've definitely seen the buttons on the iPad though, and we have an (otherwise unrelated) issue report from our testers that implies the attachment button was visible on their iPad.

during setting up the test app i've also

[2016-02-12 16:29] tecknut commented on #149
@kuehnhammer Can you check that attachments are enabled on your Zendesk instance? Since this issue persists through the different versions, the likely cause is that attachments have been disabled.
This can happen by someone manually changing the setting, or by an account plan downgrade. Going from a trial account to an essential account for instance.

If you want to discuss any account specific de

[2016-02-12 16:33] kuehnhammer commented on #149
@tecknut it can't be that, because the same code connecting to the same instance always works on the iPhone

[2016-02-12 16:33] kuehnhammer commented on #149
i checked the attachment setting, it's definitely enabled.

[2016-02-15 00:59] rickyngan commented on #148
I tried to clean the derived data folder, it still the same error message.

After that, I tried to include both in pod file

pod 'ZendeskSDK/Providers'
pod 'ZendeskSDK'

the complie get zero error message.

[2016-02-15 04:48] rickyngan opened #150 "typo mistake in documentation"
https://github.com/zendesk/zendesk_sdk_ios/blob/96d9e9028ae04d4be4cc9ce3a9744e994ee31a09/ZendeskProviderSDK.framework/Headers/ZDKHelpCenterProvider.h

I suppose it should be "The id of the article to downvote" instead of "The id of the article to upvote"

[code]

[2016-02-16 08:42] js opened #151 "Possibility to present a single knowledge base article?"
We have some cases where it would be useful to link to a specific KB article (eg presenting it modally). Does such a thing exist in the SDK today?

[2016-02-16 11:24] tecknut commented on #151
Hey @js this should be possible.

https://github.com/zendesk/zendesk_sdk_ios/blob/master/ZendeskProviderSDK.framework/Headers/ZDKHelpCenterProvider.h#L116

If you know the Id of the article you can fetch it with the provider method above. You should get a ZDKHelpCenterArticle model back. You can then init and push the view controller bellow.

https://github.com/zendesk/zendesk_sdk_ios/blob/master/

[2016-02-17 04:06] kielgillard opened #152 "Crash creating request"
Here is a crash report from a framework binary downloaded about a week ago.
[dismiss.log.zip](https://github.com/zendesk/zendesk_sdk_ios/files/133660/dismiss.log.zip)

[2016-02-17 09:54] tecknut commented on #152
@kielgillard Can you confirm the version of the SDK in your app at the time of the crash?

Thanks

[2016-02-17 11:34] #145 closed

[2016-02-17 13:41] schlan commented on #150
Hi @rickyngan, thanks for pointing out, we'll fix it.

[2016-02-17 13:41] #150 closed

[2016-02-17 13:45] schlan commented on #148
Hi @rickyngan, I'm going to tentatively close this issue but feel free to reopen it if the issue has not been solved for you.

[2016-02-17 13:45] #148 closed

[2016-02-17 13:52] #119 closed

[2016-02-17 13:56] schlan commented on #114
Hi @jaernouts, sorry for the late reply. For further debugging, can you share the helper you're using? Feel free to open a ticket with us, if you don't want to share it publicly.

[2016-02-17 14:00] schlan commented on #141
Hi @cancan101 , we released `v1.5.4.1` with a fix for your issue in it. I'm going to close this issue, feel free to reopen or creating a new one if you have any further questions.

[2016-02-17 14:00] #141 closed

[2016-02-18 00:28] kielgillard commented on #152
`1.5.3.1`

[2016-02-18 12:59] oarrabi commented on #152
@kielgillard Thanks for the quick reply, We just released a new version of the SDK `1.5.4.1`. Can you check if it solves your crash.

Also, could you share the code you're using that is causing this issue?

[2016-02-18 16:07] crisgarner opened #153 "Change color of status bar"
I'm trying to change the color on the status bar on the showRequestListWithNavController, but I get stuck with a weird animation and a black status bar.

showRequestCreationWithNavController Is not having that problem

Here is my code

[code]

![simulator screen shot feb 18 2016 10 05 48 am](https://cloud.githubusercontent.com/assets/578688/13149670/edac1ff2-d627-11e5-9b5b-afc00e57f8c4.png)

[2016-02-19 16:43] StevenDiviney commented on #153
@crisgarner
What platforms are you seeing this on? Can you post the weird animation please?

[2016-02-19 17:46] crisgarner commented on #153
I added this line of code in the app delegate and now the animation bug is like the video attached.

`UIApplication.sharedApplication().delegate?.window??.backgroundColor = UIColor(red: 26, green: 188, blue: 156)`

![ezgif-768205410 1](https://cloud.githubusercontent.com/assets/578688/13183811/2a108f38-d6fe-11e5-893f-ae65f68105b2.gif)

[2016-02-19 23:46] andrewljohnson commented on #143
I don't know what else to do. I can still reproduce this bug with the latest SDK: Using ZendeskSDK (1.5.4.1)

[2016-02-22 15:13] RonanMcH commented on #153
Hi @crisgarner ,
Try adding the following code snippet to your appDelegate:
[code]
The bug is being caused by a difference in translucency between our SDK and your app.  This code should override both so you set it to `true` or `false` I believe. Hope this works.
Thanks,
Ronan.

[2016-02-22 23:35] crisgarner commented on #153
Thanks @RonanMcH, that did solve the issue.

[2016-02-22 23:35] #153 closed

[2016-02-23 09:55] rickyngan commented on #132
Could we use the API, without the mobile SDK?

https://developer.zendesk.com/rest_api/docs/help_center/labels

List All Labels
GET /api/v2/help_center/articles/labels.json

Lists all the labels in all the articles in Help Center.

curl https://{subdomain}.zendesk.com/api/v2/help_center/articles/labels.json \
  -v -u {email_address}:{password}

[2016-02-23 14:32] baz8080 commented on #112
Hey @cancan101 I'm going to close this one for now. If you still need help on this issue please let us know.

[2016-02-23 14:32] #112 closed

[2016-02-23 14:33] baz8080 commented on #114
Hi @jaernouts , do you still need some help on this issue?

[2016-02-23 14:34] baz8080 commented on #130
@dyermd I'm going to close this issue for now. If you need any more help please let us know.

[2016-02-23 14:34] #130 closed

[2016-02-23 14:35] baz8080 commented on #131
@Sky I'm going to close this issue as we don't have traction on it. Please feel free to reopen it with some examples and we can try to help.

[2016-02-23 14:35] #131 closed

[2016-02-23 14:36] baz8080 commented on #132
@rickyngan You could, but that core API is for agents only. The SDK operates on an end-user access level.

[2016-02-23 14:40] baz8080 commented on #143
@andrewljohnson did you see the ticket that Ronan made for you on February the 9th? We need more info from you in order to try to reproduce this problem.

[2016-02-24 05:59] marcferna commented on #146
I'm also having this issue

[2016-02-24 07:08] rickyngan opened #154 "ZDKRequestProvider - query/search function Request"
https://github.com/zendesk/zendesk_sdk_ios/blob/master/ZendeskProviderSDK.framework/Headers/ZDKRequestProvider.h

Currently, there is no query/search with the subject,

It will be nice if this is included in the future, as the Activity of User in Web Portal.

Thanks

[2016-02-24 11:21] tecknut commented on #146
@marcferna We are preparing something for a patch release for this at the moment. We will respond on this issue when it's live.

[2016-02-24 11:25] tecknut commented on #154
@rickyngan We currently have a way to set the subject for new requests. Can you expand on this please? If you can provide an example of what you want to set in the subject that would be great.

[2016-02-24 11:36] tecknut commented on #149
@kuehnhammer We've been trying to reproduce this and are still unable to. Can we see the code snippets for your integration please?

[2016-02-25 02:27] rickyngan commented on #154
I would like to know is there any way in mobile SDK to "search requests" as the red eclipse marked below:

![searchrequests](https://cloud.githubusercontent.com/assets/988470/13307951/1d4e83e4-dbaa-11e5-8662-d36286eadc95.png)

[2016-02-25 06:00] jaernouts commented on #114
Sorry, I missed the previous comment.

The helper I'm using is a class with a 'setup' function and exactly the function I already provided earlier:
[code]

Regards

Jens

[2016-02-25 10:02] oarrabi commented on #152
Hello @kielgillard,

I will close this issue for the moment. however, please feel free to reopen if the issue persists.

[2016-02-25 10:02] #152 closed

[2016-02-25 10:12] oarrabi commented on #105
Hello @cancan101,

This feature has been added to our backlog, we will keep an eye on.
I will close this issue at the moment. When this is fixed we will post an update here.

Thanks,

[2016-02-25 10:12] #105 closed

[2016-02-25 10:17] oarrabi commented on #124
Hello @Sky,

We added this to our backlog. I will be closing this issue for now, when fixed we will update this issue to inform you.

Thanks.

[2016-02-25 10:17] #124 closed

[2016-02-25 11:20] oarrabi commented on #154
Hello @rickyngan,

At the moment, we don't have this functionality. Searching for tickets by subject is more of an agent feature.

Could you please tell us what is your particular use case?

[2016-02-25 11:46] oarrabi commented on #114
Hello @jaernouts,

I tried the code you posted. And I cannot reproduce this issue.

Can you tell us what version of iOS is this happening?
Could you try SDK version 1.5.4.1?

Also, it would be extremely helpful if you could send us a sample app that exercises this issue.

Sorry for not being able to help you more with this, will be waiting your reply.

[2016-02-26 01:42] rickyngan commented on #154
hi @oarrabi ,

We consider to let the end-user/customer to search the ticket requested in the Mobile app.

Currently, filter by status is using:
`- (void) getRequestsByStatus:(NSString *) status withCallback:(ZDKRequestListCallback) callback`

We just want to know if there any "Search Ticket" function for that, as similar to the web portal.

[2016-02-26 04:29] markst commented on #107
this is my resolution for this:

[code]

[2016-02-26 04:32] markst commented on #107
but turns out this is actually resolved now:
![simulator screen shot 26 feb 2016 15 32 10](https://cloud.githubusercontent.com/assets/274318/13343173/2a57238a-dc9e-11e5-8927-bba7f6501439.png)

[2016-02-26 04:58] markst opened #155 "No email when creating tickets."
Currently we don't have push notification web hook service integrated.
So we'd like to reply to open tickets using email.

The ticket submission view controller suggests the user can input their email.
![](https://zen-marketing-documentation.s3.amazonaws.com/docs/en/mobile_sdk_submit_ticket.png
)

We have since figured that your documentation says:
[code]

So we've disabled conversations from with

[2016-02-26 09:22] baz8080 commented on #155
Hi @markst

We don't show the email field when it has already been supplied in the identity like:

`identity.email = patient.email;`

The settings are also cached for up to one hour, so you might have to clear the data on the simulator if you want to pick them up immedately.

[2016-02-26 20:28] dmitryrybakov opened #156 "HelpCenterProvider fails with error ZDDispatcher code = 3, zd_dispatcher_err=HTTP Error: 422"
I have successfully initialized ZenDesk SDK for iOS by calling method initializeWithAppId with appropriate appId, clientId and JWT identity. Unfortunately I have faced with an error calling the function ZDKHelpCenterProvider::getFlatArticlesWithCallback. The error description says the following:
Error Domain=ZDDispatcher Code=3 "(null)" UserInfo={zd_dispatcher_err=HTTP Error: 422}
I am wondering i

[2016-02-27 04:34] andrewljohnson commented on #143
Ronan said: "In order to recreate the problem you are experiencing could you send us any code that may be effecting your navigation bar and we can begin debugging the problem?"

I'm not sure what's being asked for.

[2016-02-27 11:39] baz8080 commented on #156
Hi @dmitryrybakov

Happy to help you here, but debugging JWT issues usually requires us to ask you for test tokens and details of your account, so creating a ticket with us at support@zendesk.com might be better.

Have you tried to call your JWT endpoint with the same token that you're using in the ZDKJwtIdentity?

[code]

In the response we'll need name and email, as per the [docs](https://develo

[2016-02-27 17:31] dmitryrybakov commented on #156
Hello Barry,
   Thank you for the quick reply. The curl request work fine with the JWT endpoint  https://api-v21.breezy.com/sso/zendesk . It seems that I have mistyped the JWT endpoint in admin console. I want just to clarify information about the settings and what goes where:
*  In admin console JWT token and JWT endpoint -  https://api-v21.breezy.com/sso/zendesk  
*  In the code base  -  BR_ZEND

[2016-02-27 18:22] baz8080 commented on #156
Hey Dmitry,

I'm seeing two issues which might be preventing you from getting a token. Btw - the SDK doesn't directly call your JWT endpoint, our `/access/sdk/jwt ` will do that.

1) Users must be end-users

I saw some logs where an email address belonging to an agent was used. This will fail because we only allow identification of end users

2) Signatures

We had some issues verifying your payloa

[2016-02-27 18:39] dmitryrybakov commented on #156
Hi Barry,
  2. Got it
  1. Sorry, I probably did not understand the first time, but what the difference between agent and end-user? As I understand our test development account  dev@breezy.com  is like emulation of end-user. Again I do not understand what is agent. In any case thank you for the information and we can elaborate on this on Monday.

Best regards,
Dmitry

[2016-02-27 18:48] baz8080 commented on #156
Hi Dmitry,

There's [a lot of info](https://support.zendesk.com/hc/en-us/articles/203661776-Understanding-Zendesk-user-roles) on the differences, but in this case an end-user in Zendesk will be a user created by our SDK, which maps to one of your customers. An agent will be someone in your company who is giving them support.

Thanks,
Barry.

[2016-02-27 18:50] baz8080 commented on #156
Sorry, forgot to add. If your JWT payload sends back an email address associated with an agent then we will block authentication. Perhaps dev@breezy.com is associated with an admin user.

[2016-02-27 19:11] dmitryrybakov commented on #156
It seems that there is no an email in the payload:
{"jwt":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE0NTY1OTE2MjksImp0aSI6ImE2NWZkMDhhLTY2MTUtNDQyYy1hMWM3LTE0N2ZmYmJlMjYxMyIsIm5hbWUiOiJEZXYgQnJlZXp5IiwiZW1haWwiOiJkZXZAYnJlZXp5LmNvbSJ9.iRIhiCZUUW4QHUHw34rXVMouKqE1zEJcJ2Zp_jjq6Kw"} I will try another email which is associated with the different user.

[2016-02-28 10:05] baz8080 commented on #156
Hey Dmitry,

[Jwt.io](https://jwt.io) is pretty cool for testing JWT stuff. The decoded payload from the JWT you posted is:

[code]

[2016-02-28 15:10] dmitryrybakov commented on #156
Hi Barry,
   I have tried a different email  stas.razbiegin@srost-studio.com . The error is the same: NSErrorFailingURLKey=https://breezy.zendesk.com/access/sdk/jwt

I have tried to verify JWT using Jwt.io, I have got next info:
{
"iat": code,
"jti": "code",
"name": "stas.razbiegin@srost-studio.com",
"email": "stas.razbiegin@srost-studio.com"
} It seems to be correct but SDK does not work with thi

[2016-02-29 09:37] RonanMcH commented on #143
Hi @andrewljohnson ,
Sorry if I was unclear. Could you send us a small sample project with the problem recreated in it via the ticket we opened for you? Currently, we cannot recreate this internally and therefore can't fix it for you.
Thanks,
Ronan.

[2016-02-29 16:44] dmitryrybakov commented on #156
Hello Barry,
    Just to be informed. I have created the ticket:  https://support.zendesk.com/hc/requests/1488110

Best regards,
Dmitry

  "iat": <redacted>,
  "jti": "<redacted>",
  "name": "Dev Breezy",
  "email": "dev@breezy.com"
}

[2016-02-29 18:59] andrewljohnson commented on #143
This would be time consuming, I will put it on my list and maybe do it
sometime.

This would be easier if the Zendesk SDK was open source, then I could just
fix it without having to generate a new xcode project. Most of the SDKs we
use (e.g. MixPanel, Segment, UserVoice) are open source.

When I asked about the open source issue, I wad told it was discussed
internally, but I wasn't given any reaso

[2016-03-01 04:13] markst commented on #155
Understood. Regardless `patient.email` can be nil, so we'd like the display the option to enter an email if we have no email for a patient.

What you mention about the caching of settings appears to be the issue. The email field is not presented to the user.

Thanks @baz8080.

[2016-03-01 04:13] #155 closed

[2016-03-01 09:21] oarrabi commented on #154
Hello @rickyngan,

Thank you for reporting this feature. We added this to our backlog to be tracked.
I will keep this issue opened and update you once it's solved.

[2016-03-01 10:47] oarrabi commented on #143
Hello @andrewljohnson,

We are still planning to Open source the SDK. However, in order to do so, we need to have some internal alteration on the SDK for it to be ready. After we knock off these issues, we are going to open source it.

At the moment, we don't have a definite timeline for when this is happening. For the time being, since we are not able to reproduce this bug, it would be great to h

[2016-03-01 13:19] oarrabi commented on #156
Hello @dmitryrybakov,

I will close this issue as it was confirmed to be fixed on the support ticket https://support.zendesk.com/hc/requests/1488110.

If you face any other issue, please don't hesitate to open a new issue on GitHub or submit a ticket.

[2016-03-01 13:19] #156 closed

[2016-03-01 13:54] jaernouts commented on #114
I tried with the latest version and I still have the same issue, but while creating a small demo application I think I discovered the issue. I think it's due to the UITabBarController I'm using, since I didn't have this issue when I used only a UINavigationController. When I added the UITabBarController again, I did have this issue. Is this information good enough or do you want me to upload my ex

[2016-03-01 16:51] oarrabi commented on #114
Hello @jaernouts,

Thank you for the additional info. I can reproduce it now. I created a new issue in our backlog to track this. I will keep this issue open until we resolve the issue and inform you.

Thanks for the info provided :)

[2016-03-01 19:47] andrewljohnson commented on #143
It's on my todo list at least...

FWIW, without actually testing it, I have some suspicion its related to this library: https://github.com/John-Lluch/SWRevealViewController

I'd probably try and build a test case with that view controller. My only evidence for this is:

 * it doesn't occur on iPad
 * I've had issues with this lib before

[2016-03-01 20:06] marcoscurvello opened #157 "Request List description label text"
My Request List currently looks like the following image. Is there a way to customize the data displayed in that list? These tickets/requests are automatically generated once a live chat starts using the ZopimSDK.

![simulator screen shot mar 1 2016 4 46 26 pm](https://cloud.githubusercontent.com/assets/745227/13440097/27b2f0e4-dfcf-11e5-9b08-cc1fa68c3ae3.png)

[2016-03-02 13:33] StevenDiviney commented on #157
@marcoscurvello This cannot be changed in the provided UI. The only solution would be to create your own UI using [providers](https://developer.zendesk.com/embeddables/docs/ios/providers) and filter the text there.

[2016-03-02 14:37] marcoscurvello commented on #157
Thanks, Steven. :)

[2016-03-02 14:37] #157 closed

[2016-03-03 04:16] kielgillard commented on #152
Thanks. The crash seems pretty obscure and the changes including the updated SDK hasn't gotten out to our users yet.

[2016-03-03 04:18] kielgillard opened #158 ""My tickets" doesn't update after submitting a ticket."
1. Navigate to My Tickets
1. Tap "New"
1. Submit a ticket successfully.

The new ticket modal is dismissed to reveal the "My tickets" modal but the list is empty.

Why isn't it updating out of the box? What should I do to poke it to updating?

[2016-03-03 10:15] RonanMcH commented on #158
Hi @kielgillard ,
I have managed to recreate this on iPad only. Have you seen it on iPhone or iPad or both? It is a bug and I have logged it so it should be fixed in the coming releases.  Unfortunately, I cannot give a timeline on when it will be released but we shall update you on it and leave this issue open until it has been fixed and released.
Thanks for bringing it to our attention,
Ronan.

[2016-03-03 17:16] meekapps opened #159 "ZDKCreateRequestView placeholder only allows a single line."
When customizing the placeholder string for a ZDKCreateRequestView, you can only use a string that fits on a single line before it is truncated. Unfortunately UITextView does not have a built in placeholder property, but it looks like you have your own internal ZDKTextView that does. However, the private placeholder UILabel seems to be restricted to being a single line of text by numberOfLines bei

[2016-03-03 17:22] RonanMcH commented on #159
HI @meekapps ,
Could you tell us the string key of the string you are referring to in ZDKCreateRequestViewController and we can have a look at it?
Thanks,
Ronan.

[2016-03-03 18:34] marcferna commented on #146
@tecknut Any update on this?

Thanks!

[2016-03-03 19:00] meekapps commented on #159
The string we are customizing is:

Thanks!

[2016-03-04 03:22] kielgillard commented on #158
Thanks! At the moment, we're only building and running our app on iPad only so I only ever see it on iPad.

[2016-03-04 13:26] baz8080 commented on #151
Going to close this one as we haven't heard back from you in a while. Feel free to reopen in if you still want help.

[2016-03-04 13:26] #151 closed

[2016-03-04 13:35] RonanMcH commented on #159
Hi @meekapps ,
I have managed to recreated this and added a story to fix it. We will leave this issue open and keep you updated on its progress.
Regards,
Ronan.

[2016-03-04 14:44] baz8080 commented on #146
@marcferna @lbasile Sorry for the late update. We are preparing a chat sdk release in this sprint, so this issue will be handled soon, but it won't be available in the next 2 weeks.

[2016-03-07 07:52] rbseraphic opened #160 "Sample iOS App not getting compiled in Xcode 6.4"
I tried to integrate Zendesk in my app. I have added Security and MobileCoreServices frameworks, but still getting linker errors. I tried running the sample app and it was also not getting compiled. I ran the sample app on Xcode 7.2, it worked.

[2016-03-09 13:53] brendan-fahy commented on #160
Hi @rbseraphic,

Can you give us some more detail about the errors you're getting on 6.4? What are the error messages, and so on?

Thanks.

[2016-03-16 14:56] baz8080 commented on #160
@rbseraphic I'm going to close this one as we haven't heard back from you. Feel free to reopen it if you would like help.

[2016-03-16 14:56] #160 closed

[2016-03-17 20:30] rbobbins commented on #148
Hi @schlan, I tried updating the `ZendeskSDK/Providers` pod from v1.5.4.1. I'm having the same issue as @rickyngan.

[2016-03-28 19:11] platedbay opened #162 "Failure to initialize due to network connection error"
Hello,

We've integrated recently with the most recent version of the SDK. Things are working great; however, we're receiving a lot of reports from users where they're unable to access any of our Zendesk content. I looked into our error logs and it looks like the `initializeWithAppId` is failing at an alarming frequency. The `errorBlock` is coming back with the following error:

[code]
We don't be

[2016-03-29 08:03] alaija opened #163 "Infinite activityIndicator when loading Help Center."
Hello, I use ZendeskSDK:
1. I init this:
[code]
get "Succes".

2. Then execute this:
[code]

Help Center shows, but get infinite activity indicator instead topics.

This code was worked last week. And I can't understand what happened. May it be problem with server config?

[2016-03-29 08:28] alaija commented on #163
FIx problem.

[2016-03-29 08:28] #163 closed

[2016-03-29 10:41] tecknut commented on #162
Hey @platedbay, we're going to look into this.

Are there more logs before these lines? Something which should probably look like:

[code]

This could end up requiring us to request more logs with more details. The issue might be better served in a ticket with us on support.zendesk.com

[2016-03-29 12:14] jaernouts commented on #114
Hi! Can you provide me with updated information regarding this issue? Any idea when a fix will be provided? Thx!

[2016-03-29 13:16] tecknut commented on #114
Hey @jaernouts, we replicated the issue. However the fix above in the thread solves this for us.

[code]

[code]

[code]

Have you tried the above code in your presenting view controller?

[2016-03-29 16:27] platedbay commented on #162
Hi @tecknut , we don't have any more logs from the failures. We were merely logging the returned `ZDKAPIError` in the failure block. I haven't been able to create this locally; however, this has happened ~125 times over the past five days amongst 50+ different users.

I just took a look at more of the logs, and I'm also seeing this error:

[code]

I don't believe our user's internet connections ar

[2016-03-29 18:58] tecknut commented on #162
Could you create a ticket with us on https://support.zendesk.com?

We may need to look at our systems logs to investigate further, so we'll need some account details.

Thanks

[2016-03-29 19:40] platedbay commented on #162
Done and done @tecknut . Thanks!

[2016-03-30 14:28] RanjitKadam opened #164 "NavigatonBar disappears."
When I add a comment on the request list and click on send, my top navigationBar disappears.
Can i know the completion handler for it. So that i can show my navigationBar again

[2016-03-30 14:37] StevenDiviney commented on #164
@RanjitKadam I am unable to replicate this, can you provide a bit more detail? Does it happen every time you send a comment? Do you change the orientation of the device at any stage?

We hide the nav bar in the comments screen when the device is rotated to landscape to provide more space for content. Is this the behavior you are seeing?

[2016-03-30 18:43] nonnname commented on #85
This issue actual for latest unity plugin! What's about unity plugin support? When you planned update it?

[2016-03-30 19:18] StevenDiviney commented on #85
@nonnname We are putting the finishing touches on a release of the unity plugin this week. We will let you know when it goes live.

[2016-03-30 21:37] hgale commented on #137
@mikemee did you manage to get this working with Carthage?

[2016-03-30 22:19] mikemee commented on #137
Haven't gone back and tried to be honest. This was one of several projects that didn't have a Carthage install, so we bit the bullet and added Cocopods to the build so we could keep moving...  We'll use it when it appears though :)

[2016-03-30 23:39] hgale commented on #137
@oarrabi any plans to support this? Right now I am trying to build a dynamic library from scratch in order to support the zendesk sdk in our app.

[2016-03-31 06:44] RanjitKadam commented on #164
@StevenDiviney . I am not rotating the device, in portrait mode only, it happens . my navigationController is a subClass of ENSideMenu'NavigationController.
https://github.com/evnaz/ENSwiftSideMenu/blob/master/README.md

[2016-04-01 07:59] RanjitKadam commented on #164
@StevenDiviney  I tried using "ZDKRequests.presentRequestListWithNavController(self)" and now after i comment, the navBar doesnt disappear. But there is another issue, the backbutton color doesnt change to white.

![img_0003](https://cloud.githubusercontent.com/assets/16592090/14201146/97deb140-f80d-11e5-80b7-e92b6a5bff5d.PNG)
![img_0004](https://cloud.githubusercontent.com/assets/16592090/1420114

[2016-04-04 09:21] oarrabi commented on #137
Hello @hgale,

Yep, we do have a plan to support this. However, at the moment, we can't since the SDK is distributed as a static library its not possible to distribute it using Carthage.
We do plan to distribute the library as a dynamic framework in the future. When we have that we will support carthage.
Sorry for the inconvenience :)

[2016-04-04 17:04] oarrabi commented on #164
Hello @RanjitKadam,

To change the color of the back button you need to set the appearance selector `tintColor` of the `UINavigationBar`

[code]

Please let me know if this solves your issue.

[2016-04-04 18:15] RanjitKadam commented on #164
hey @oarrabi it works. thanks a lot

[2016-04-04 18:17] oarrabi commented on #164
That's great to hear @RanjitKadam :) I will close this now, feel free to contact us for any other query/issue!

[2016-04-04 18:17] #164 closed

[2016-04-04 19:02] hgale commented on #137
Okay, here is how I worked around this issue:

I created an internal github repo that just included the framework files.  I then added this repo to our Cartfile and just had our internal scripts checkout the carthage frameworks. I then just included those in our project.

[2016-04-04 19:29] oarrabi commented on #137
@hgale Do you have the repo that you used for this? If you do that would be easier to refer.

[2016-04-05 04:43] jaernouts commented on #114
Hi @tecknut, I tried this workaround already but it didn't help. That's also why I reopened this issue, I tried everything that was said before...

Regards!

[2016-04-05 14:10] StevenDiviney commented on #85
@nonnname we have released version 1.4 of the unity plugin which fixes this and many other issues
https://developer.zendesk.com/embeddables/docs/ios/Unity3D_plugin#download

[2016-04-05 14:10] #85 closed

[2016-04-05 14:28] StevenDiviney commented on #149
@kuehnhammer Sorry for the delay on this. The behaviour you are seeing is intentional. We use UIImagePickerController for attachments. It does not support landscape and will crash if used in an app that does not support portrait.

We do our best to determine if an app supports portrait and show / hide the attachment buttons if it does but there is no easy way to do this at runtime. We have attempt

[2016-04-05 16:18] Voley opened #165 "Article labels are not available in iOS SDK."
We need to use advanced filtering for articles and we wanted to do that using labels. But for some reason ZDKHelpCenterArticle or ZDKHelpCenterFlatArticle do not have properties for labels.

Could you please add that?

[2016-04-06 08:16] VincentSit opened #166 "1.5.4.1 get inexplicable requester(Email)"
Today, our operations staff feedback to us with a problem. The email of all new feedback on Zendesk is `elifdesimone@yahoo.com`.

I was very surprised, because Zendesk previous work fine. I did not find this email in our code or db, through debugging and found that we did not pass this email to zendesk server. I do not know where it came from, I guess probably zendesk internal problems.

I suspect

[2016-04-06 08:36] RonanMcH commented on #165
Hi @Voley ,
we have already added the property `articleLabels` to the `ZDKHelpCenterArticle`. Unfortunately, we have not released with the property added yet.  It will be in our next release which will be in the next few weeks. We will keep this issue open and update you when we have released.
Thanks,
Ronan.

[2016-04-06 10:04] RonanMcH commented on #166
Hi @VincentSit ,
This is an issue that is better handled internally and we can check the logs on the server-side to debug this issue. I am gonna open a ticket for you with us so that we can obtain some of your account details confidentially.
Thanks,
Ronan.

[2016-04-06 10:09] VincentSit commented on #166
Hi @RonanMcH ,
Thanks for reply.

Do you need me to provide any information to you?
For example, company's URL.

[2016-04-06 10:14] RonanMcH commented on #166
Hi @VincentSit ,
Yes but via the ticket I just created for you with your email address.
Thanks.

[2016-04-06 10:18] VincentSit commented on #166
Hi, @RonanMcH ,

Thanks, I have registered success. Where do I provide the information to you?

[2016-04-06 10:20] VincentSit commented on #166
[Submit a request](https://support.zendesk.com/hc/en-us/requests/new)?

[2016-04-06 10:24] VincentSit commented on #166
Ok, I received your mail.

[2016-04-06 12:32] atsokolov opened #167 "Crash on iOS below 8"
Hi! It crashes on iOs below 8 while trying to make a call from unity wrapper:
`[[ZDKConfig instance] addUserAgentHeaderSuffixWithKey:UnityHeaderName value:UnityPluginVersionNumber];`

And there's the error:

Is there anything we could do about it?

[2016-04-06 13:12] RonanMcH commented on #166
I am going to close this issue, now that we are handling it internally.

[2016-04-06 13:12] #166 closed

[2016-04-06 16:30] RonanMcH commented on #167
Hi @atsokolov ,
Thanks for bringing this crash to our attention. We going to release a patch on the plugin to fix this crash very soon. Unfortunately, there is nothing you can do at the moment as the code lives in the Zendesk SDK which is precompiled. I will keep this issue open and update you as soon as the patch has been released.
Thanks again,
Ronan.

[2016-04-06 20:06] sspitzer opened #168 "typo Feeback -> Feedback"
After submitting feedback, the thank you screen has a typo.

![screen shot 2016-04-06 at 1 06 33 pm](https://cloud.githubusercontent.com/assets/538054/14331041/61c4126e-fbf8-11e5-8bd5-23e23810a2c7.png)

[2016-04-06 20:11] sspitzer commented on #168
this is ios.RMA.request.success.title

[2016-04-06 21:11] shfishburn commented on #139
We are having the issue: JWT identity is nil or has a nil user token. Have you set an identity JUST with using JWT. Help!

[2016-04-07 09:00] baz8080 commented on #139
@shfishburn This happens when either `userIdentity`  in `[ZDKConfig instance]` is nil, or when the user token in `[ZDKJwtIdentity]` is nil.  Here are some snippets which show the setting of an identity and the user token that the identity contains.

[code]

or

[code]

[2016-04-07 13:39] baz8080 commented on #168
@sspitzer Thanks for letting us know. We'll get this fixed.

[2016-04-07 14:50] shfishburn commented on #139
This is exactly the code we’ve implemented in our iOS app and we still consistently see this error.
 

On April 7, 2016 at 2:00:28 AM, Barry Carroll (notifications@github.com) wrote:

@shfishburn This happens when either userIdentity in [ZDKConfig instance] is nil, or when the user token in [ZDKJwtIdentity] is nil. Here are some snippets which show the setting of an identity and the user token tha

[2016-04-07 14:59] baz8080 commented on #139
@shfishburn The local identity can be erased when an authentication failure happens. If you send us a test JWT token we can try to debug that part.  We would need an example of what you replace `JWT User Identifier` with.

[2016-04-07 19:16] dangochi commented on #19
Sorry for commenting on an old/closed issue, and I know this isn't an SDK bug since the admin console doesn't allow you to set the delay to 0, but it seems like others have requested this, so I was curious if we'd ever be allowed to show the RMA dialog without a delay?

I saw @tecknut mentioned on #70 that he'd log an issue with the server guys to fix it, but I haven't really seen much regarding t

[2016-04-08 16:28] RonanMcH commented on #167
Hi @atsokolov ,
We did a soft release today so there's no documentation but the ios 8 issue is fixed. [Here](https://zen-marketing-product.s3.amazonaws.com/product/unityplugin1_4_1.zip) is the zip).
Thanks again,
Ronan.

[2016-04-11 06:45] atsokolov commented on #167
Hi, thanks! :)

[2016-04-13 09:13] capecrawler opened #169 "Disabled Help Center Category still visible."
I tried to disable a category to hide it but it didn't reflect on the app. I was using `- (void) getCategoriesWithCallback:(ZDKHelpCenterCallback)callback;` of `ZDKHelpCenterProvider ` to load the categories. The following are the steps I did.

1. Disabled a category - didn't reflect in the app.
2. Added a new category - was able to see the new category in the app.
3. Removed the new category - st

[2016-04-14 15:13] oarrabi commented on #169
Hello @capecrawler ,

Thanks for reaching out.
I just tried to reproduce this issue, but was unable to.
Considering that this issue happens inconsistently only on one of your devices. And since we dont cache any requests in the SDK.

Would it be possible for you to try to debug the network on this particular device? (using Charles web proxy or any other similar app)
Also, does it happen on any ver

[2016-04-15 03:55] capecrawler commented on #169
I have tried it on the simulator and also can't reproduce the issue. Will try debugging the network. Thanks!

[2016-04-16 04:21] blakeperdue commented on #65
We were having the same issue and identifying the user like @ccombes suggested solved it:

[code]

[2016-04-16 14:34] blakeperdue commented on #30
I have the same issue. @xareelee were you ever able to get the delay set to zero? I am manually calling the RMA code to show the prompt exactly when I want it shown (when a user clicks a button called "Rate This App").

There doesn't seem to be a way to override this delay. And in the Zendesk admin panel you cannot set it to zero.

[2016-04-17 01:09] baz8080 commented on #30
If you want to have complete control over rate my app you can use the `showAlwaysInView` like this:

Objective-C

[code]

Swift

[code]

[Source](https://developer.zendesk.com/embeddables/docs/ios/rate_my_app#show-always)

[2016-04-18 15:07] ccombes commented on #65
Here is how we are using it by setting the email address as well:
`ZDKAnonymousIdentity *identity = [ZDKAnonymousIdentity new];
identity.email = @"someone@example.com";
[ZDKConfig instance].userIdentity = identity;
`

[2016-04-19 11:00] VincentSit opened #170 "Add additional information that is not visible to the user."
Hi, I want to add some additional information to the ticket such as memory usage, disk space to help us help users solve problems faster.

Because the information is not meaningful to the user, we do not want visible to the user.

What should I do?

[2016-04-19 11:42] RonanMcH commented on #167
I am going to close this issue since it has been resolved. Thanks again.

[2016-04-19 11:42] #167 closed

[2016-04-19 14:55] RonanMcH commented on #170
Hi @VincentSit ,
There are many different ways to attach additional information to a ticket. This article [here](https://developer.zendesk.com/blog/adding-metadata-to-tickets-created-by-the-mobile-sdk) details how to add additional information to a ticket. `ZDKCustomFields` could be a good way to send additional info without the end-user seeing it. They are detailed in the article.
Let us know if

[2016-04-19 15:10] VincentSit commented on #170
Thank you, I did not notice that ZDKCustomFields also need to be configured in the control panel in our web site. I will  try later.

[2016-04-20 02:57] VincentSit commented on #170
Hi @RonanMcH , I have create a custom ticket field and get it's ID, but where can I find the data I submit through the `ZDKCustomField`? I can not find it in my control panel.

![qq20160420-0](https://cloud.githubusercontent.com/assets/4084679/14662175/427f6ee6-06e6-11e6-813c-652ea6d6a9d2.png)

The following is my code:

[code]

[2016-04-20 12:36] RonanMcH commented on #170
Hi @VincentSit ,
![screen shot 2016-04-20 at 13 30 53](https://cloud.githubusercontent.com/assets/12997923/14674511/42a59c9a-06fc-11e6-84bf-3711832263d1.png)
The custom fields appear in the left handside tool They're called "Custom Ticket Testing" and "Promo Code" here in this instance. Can you see them? They should be configured from the admin tab on the Zendesk dashboard! They should be set to v

[2016-04-20 14:43] rturk commented on #105
I'm confused why this issue was closed?

[2016-04-21 11:45] VincentSit commented on #170
Hi @RonanMcH , sorry, I still can't find it, is there anything wrong with my configuration?

![qq20160421-0](https://cloud.githubusercontent.com/assets/4084679/14707818/4084eea4-07f9-11e6-9aa1-706e2a47777a.png)
![qq20160421-1](https://cloud.githubusercontent.com/assets/4084679/14707819/40b4b1b6-07f9-11e6-83e2-941b1a148f7a.png)

[2016-04-26 14:44] oarrabi commented on #170
Hello @VincentSit

The second screenshot shows that the DeviceInformation is not Visible nor Editable.
Make sure to make the field visible and editable

The settings should look like this:
<img width="933" alt="screen shot 2016-04-26 at 15 42 46" src="https://cloud.githubusercontent.com/assets/1461052/14822208/a99815cc-0bc5-11e6-9fba-32bebe2ba1e2.png">

After updating the ticket, the DeviceInforma

[2016-04-28 02:54] VincentSit commented on #170
@oarrabi Thank you.

[2016-04-28 02:54] #170 closed

[2016-04-28 04:50] pradeepb28 opened #172 "Unable to create request"
[code]

result: not showing up on the portal

[2016-04-28 10:22] RonanMcH commented on #172
Hi @pradeepb28 ,
If you are creating a request using the provider API, the request's property `requestDiscription` must not be `nil`. I will make a story to include this information in our docs.
I tested your code and including this code snippet should make it work:
[code]
Thanks,
Ronan.

[2016-04-28 16:32] pradeepb28 commented on #172
Thank you so much but I am facing another issue while after adding the above line, now I am able to submit request but it's showing up duplicate requests on the portal.

[2016-05-06 08:45] RanjitKadam opened #176 "RateMyApp dialog hides navigationBar"
I am using Rate my app dialog. I am using this code to show the dialog

 ZDKRMA.configure { _, config in
            config.dialogActions =
                [ZDKRMAAction.RateApp.rawValue,
                    ZDKRMAAction.SendFeedback.rawValue,
                    ZDKRMAAction.DontAskAgain.rawValue]
        }

ZDKRMA.showAlwaysInView(self.view)

Now the dialog is show, and when I click on send feed

[2016-05-09 13:00] StevenDiviney commented on #172
@pradeepb28 Where in your code are you creating the request? It sounds like it's getting called multiple times.

[2016-05-09 13:14] StevenDiviney commented on #132
@rickyngan @Sky We have released a new version of the SDK. Labels are now part of the article model.

[2016-05-09 13:15] StevenDiviney commented on #138
@jimmaye We have released a new version of the SDK. Labels are now part of the article model.

[2016-05-09 16:03] StevenDiviney commented on #176
@RanjitKadam I am unable to replicate this. Can you give some more information please? Are you seeing this on specific iOS versions or platforms?

RMA doesn't modify the nav bar as far as I can see. It tries to find the top most view controller and present using it. Can you provide some information about your view hierarchy? We do try and work out what the top most controller is and present as app

[2016-05-09 16:07] StevenDiviney commented on #146
@marcferna @lbasile We have released a new version of the SDK that fixes this issue.

Have a look at [ZDKLocalization](https://developer.zendesk.com/embeddables/docs/ios/customization#customizing-strings-and-localization) to add your own strings while keeping the defaults in place.

[2016-05-09 16:08] StevenDiviney commented on #165
@Voley We have released a new version of the SDK with label names now part of the article model.

[2016-05-09 16:09] StevenDiviney commented on #168
@sspitzer Again, thanks for bringing this to our attention. We have released a new version of the SDK with the correct spelling.

[2016-05-13 16:16] fwal opened #177 "Missing localisation"
The SDK is missing localisation for the key `ios.ZDKRequests.leftBarButton.title_cancel_` for several languages, including swedish.

This string serves as the close/cancel button for the default request list created with `ZDKRequests.presentRequestListWithViewController` and will instead display the key all over the screen.

[2016-05-16 15:11] RonanMcH commented on #177
Hi @fwal ,
this issue has been fixed in release 1.6.1.1.
Thanks for bringing it to our attention,
Ronan.

[2016-05-16 15:11] #177 closed

[2016-05-17 19:20] ibsh opened #179 "Missing enumeration values in ZDKUIUtil.h"
ZDKUIOriginInWindow lacks explicit cases for UIInterfaceOrientationUnknown, UIInterfaceOrientationPortrait.
This causes an error in our build process at Scribd.

[2016-05-18 06:45] #138 closed

[2016-05-19 18:20] INRIX-Patrick-Winchell opened #180 "ZDKRMA RateMyApp dialog silently fails in non-portrait orientations on iPhone"
Xcode 7.3.1
iOS 9.3
All iPhone sizes - Issue is not present on iPad.
SDK: 1.6.1.1

REPRO STEPS:
1. Rotate to landscape or upside-down orientation on an iPhone
2. Activate ZDKRMA by showAlwaysInView: .

EXPECTED RESULT:
Dialog appears

ACTUAL RESULT:
Nothing happens. There is also no log or obvious completionBlock/delegate method for checking if the dialog was shown. Same result happens for showInV

[2016-05-19 18:26] INRIX-Patrick-Winchell opened #181 "ZDKRMA dialog blocks Xcode UI Inspector"
Xcode 7.3.1
iOS 9.3
SDK 1.6.1.1

REPRO STEPS:
1. Activate ZDKRMA with showAlwaysInView: .
2. Activate the Xcode UI Inspector/debugger. Menu -> Debug -> View Debugging -> Capture View Hierarchy

EXPECTED RESULT:
UI Inspector loads.

ACTUAL RESULT:
UI Inspector shows a completely blank screen. Debug console shows the message "**\* Assertion failure in -[ZDKUITextView _firstBaselineOffsetFromTop], /B

[2016-05-20 07:29] JanJoris commented on #114
@tecknut can you guys a have a look at this bug once more, we are still not able to resolve this at our end (and I dislike open tickets for that long). I'm in the same company as @jaernouts btw.

[2016-05-20 08:33] RonanMcH commented on #180
Hi @INRIX-Patrick-Winchell ,
I have managed to reproduce this issue and I have documented an internal bug for it so that we can track it. We will keep this issue open till it has been fixed and we released with the fix. Unfortunately, I cannot give a timeline for this.
Thanks for bringing this to our attention,
Ronan.

[2016-05-20 10:10] RonanMcH commented on #179
Hi @ibsh ,
what is the error you are experiencing in your build process? Could you please send us the build logs containing the error?
Thanks,
Ronan.

[2016-05-20 13:38] RonanMcH commented on #181
Hi @INRIX-Patrick-Winchell ,
I have been able to reproduce this. Apparently, it may be caused by UIKit's UITextView which ZDKUITextView inherits from, has assertions if not used with auto layout but I will continue to try get to the root of it.
Thanks,
Ronan

[2016-05-20 16:17] ibsh commented on #179
We have -Wswitch-enum enabled.
.../ZendeskSDK.framework/Headers/ZDKUIUtil.h:265:13: error: enumeration values 'UIInterfaceOrientationUnknown' and 'UIInterfaceOrientationPortrait' not explicitly handled in switch [-Werror,-Wswitch-enum]

[2016-05-23 08:00] baz8080 commented on #179
Thanks for the clarification @ibsh. We're going to discuss your issue with the team this morning.

[2016-05-23 08:06] baz8080 commented on #168
@sspitzer I'm going to close this issue. Thanks for letting us know about it. You can find our release notes here: https://developer.zendesk.com/embeddables/docs/ios/release_notes

[2016-05-23 08:06] #168 closed

[2016-05-23 08:07] baz8080 commented on #132
@rickyngan @Sky I'm going to close this issue. You can find our release notes here: https://developer.zendesk.com/embeddables/docs/ios/release_notes

[2016-05-23 08:07] #132 closed

[2016-05-23 08:07] baz8080 commented on #165
@Voley  I'm going to close this issue. You can find our release notes here: https://developer.zendesk.com/embeddables/docs/ios/release_notes

[2016-05-23 08:07] #165 closed

[2016-05-23 09:19] RonanMcH commented on #180
Hi @INRIX-Patrick-Winchell ,
I have looked into the first issue of the dialog box not appearing in landscape. After discussing with my colleagues, this is not a bug but the intended behaviour. Although the second issue, when the user rotates to landscape and the RMA dialog box doesn't rotate is an edge case that we need to look into.  I shall keep the issue open for this.
Thanks again,
Ronan.

[2016-05-24 09:55] tecknut commented on #176
@RanjitKadam Just to give you an update on this.

We still can't replicate this.

As @StevenDiviney said there is no completion handler. However there is an `NSNotification` you can observe for [dismissal](https://github.com/zendesk/zendesk_sdk_ios/blob/master/ZendeskProviderSDK.framework/Headers/ZendeskSDKConstants.h#L551), [successes](https://github.com/zendesk/zendesk_sdk_ios/blob/master/Zendes

[2016-05-24 14:42] tecknut commented on #172
Hey @pradeepb28 are you still having an the same issue?

[2016-05-24 14:43] tecknut commented on #169
Hey @capecrawler, did you find a solution to this issue?

[2016-05-24 15:13] tecknut commented on #114
Hey @JanJoris we've looked at this a number of times and have not been able to replicate the issue.

There must be something in your apps setup which we have not replicated. I understand if it's not possible to show us you source, but how would you feel about a Skype call, or Google hangout to try resolve this? We usually don't do this, but considering this has been affecting you for a while maybe

[2016-05-24 15:21] tecknut commented on #146
I'm closing this for now since we have release an update that solves the issue. Feel free to re-open or create a new issue if you have further problems.

[2016-05-24 15:21] #146 closed

[2016-05-24 18:31] pradeepb28 commented on #172
No

Get Outlook for iOS

On Tue, May 24, 2016 at 7:43 AM -0700, "Alan Egan" <notifications@github.com> wrote:

Hey @pradeepb28 are you still having an the same issue?

—
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub

[2016-05-24 20:01] tecknut commented on #172
Ok, I'm going to close this.

Get in touch if you have any more issues.

[2016-05-24 20:01] #172 closed

[2016-05-24 21:03] nikita-leonov opened #182 "Is it possible to limit ZDKSupportViewController to particular sectionId?"
I am currently building ZDKSupportViewController in code, and embed it into my view hierarchy. It works well, except it starting from categories list, while I want to limit the scope of search after presentation to particular section. ZDKHelpCenterSearch search property is not initialized right after init, also if I provide ZDKHelpCenterSearch created manually right after initialization with all s

[2016-05-25 05:03] jaernouts commented on #114
@tecknut that contradicts what you (and @oarrabi) said before? @oarrabi said explicitly he you could reproduce it by using UITabBarController in combination with the UINavigationController. That's also the way our app is build. Besides, I don't have this issue with only a UINavigationController...

[2016-05-25 07:15] coreyao opened #183 "crash on ipad"
Exception Type:  EXC_CRASH (SIGABRT)
Exception Codes: 0x0000000000000000, 0x0000000000000000
Triggered by Thread:  0

Last Exception Backtrace:
0   CoreFoundation                	0x187872084 __exceptionPreprocess + 132
1   libobjc.A.dylib               	0x1981640e4 objc_exception_throw + 60
2   CoreFoundation                	0x18775d7b8 -[__NSDictionaryM setObject:forKey:] + 972
3   WOSGame

[2016-05-25 10:43] tecknut commented on #114
@jaernouts, @oarrabi did say he could reproduce the black area. I took @oarrabi's sample app which reproduced black area, and solved the issue with the code snippets above. See https://github.com/zendesk/zendesk_sdk_ios/issues/114#issuecomment-202888257

This is why I said there must be something with your app setup which we have not replicated ( https://github.com/zendesk/zendesk_sdk_ios/issues/1

[2016-05-25 13:02] tecknut commented on #182
@nikita-leonov What exactly are you trying to achieve? What aspects are you trying to limit, browsing and searching?

Are you looking to have `ZDKSupportViewController` start with a list of Sections, not Categories?

[2016-05-25 14:57] nikita-leonov commented on #182
Actually to start with list of articles but not categories.

[2016-05-25 15:14] tecknut commented on #182
This should work for you then. You'll need to edit certain bits to obviously 😄

Let us know if this works out for you.

[code]

[2016-05-25 20:26] nikita-leonov commented on #182
Thanks, I will try it! Looks like it should work :)

[2016-05-26 07:53] chipp commented on #65
Our team also got this error, but it was solved after we connected the credit card to our Zendesk account.
Maybe it will help someone.

[2016-05-26 12:51] basawarajh-cuelogic opened #184 "JWT fails when ios app killed and relaunched, unable to fetch tickets, comments and create tickets"
We are working on ios app using zendesk ios sdk, using request, provider classes for creating and fetching tickets and comments. Authentication mode is JWT. When ever we kill app or when ever we logout user from app and relogin with JWT authentication then it fails and we are unable to retrive tickets and comments. If we try after 5 minutes then we get login sucess. Please let me know the issue AS

[2016-05-26 13:35] brendan-fahy commented on #184
Hi @basawarajh-cuelogic,

As we're already in discussion about this on the Zendesk support ticket you opened with us, I'm going to close this issue so we can keep the communication on one channel. Thanks.

[2016-05-26 13:35] #184 closed

[2016-05-27 13:17] coreyao commented on #183
`    ZDKAnonymousIdentity *identity = [ZDKAnonymousIdentity new];
	identity.name = @"123456789";
	identity.email = @"123456789@qq.com";
	identity.externalId = @"123456789";

	NSDictionary* dictionary = [identity toJson];`

The code above in sampleapp works fine on IOS 8.x & IOS 9.x.

But when integrated to our game app(powered by unreal engine 3),

On IOS 8.x, app crashes with the following messag

[2016-05-27 18:12] saraswatayu opened #185 "Orientation for Attachments"
Issue: Let's say I have an app that runs only in landscape. But in order to satisfy the issue of the app running in portrait for attachments to work, I've created a navigation controller that is locked into portrait mode. The navigation controller is then modally presented, forcing the app to be in the portrait orientation I desired. The same debugging message still pops up:
`Application must supp

[2016-05-30 12:27] oarrabi commented on #185
Hello @saraswatayu

I have tried to reproduce your issue but I cannot reproduce it at this time. Hiding the button for landscape only app is a little tricky so we have issues normally reproducing the issues.

Would you please provide me more info regarding it:
On what iOS device is this issue happening?
Which version of the SDK does this happen on?

It would be great if you provide a sample app th

[2016-05-30 13:56] oarrabi commented on #183
Hello @coreyao,

I am having difficulty in reproducing and debugging this issue, do you think it would be possible to provide a sample app that reproduces the issue?
The sample app does not have to be your actual app, just a minimal project that reproduces the issue.

Thanks :)
Omar...

[2016-05-30 18:29] nikita-leonov commented on #182
I tried your suggestion, everything works fine. Thanks.

[2016-05-30 18:29] #182 closed

[2016-05-31 06:29] tecknut commented on #182
Good to hear, thanks for confirming.

[2016-06-22 14:58] afehners opened #186 "Help Centre not displayed correctly on iOS 10"
I'm testing my App on iOS 10 Beta 1

I have noticed  the Help centre is not displayed correctly. I'm pushing it to a navigation controller and the contents are positioned under the top bar. This works correctly on iOS9

`[ZDKHelpCenter pushHelpCenterWithNavigationController:self.navigationController filterByCategoryId:@"my-category-id" categoryName:nil layoutGuide:ZDKLayoutRespectAll];`

All UIVie

[2016-06-22 15:34] baz8080 commented on #186
Hi @afehners

We've also been looking into the beta. We are planning on waiting for the next seed before testing in earnest, but the SDK will work with iOS 10 when it is released. We don't currently have a way of exposing the UIViewController at the moment.

[2016-06-24 15:28] charliepixegon opened #192 "error from cocoapods pod install"
Hello,

After including ZendeskSDK as a dependency in our pod we get the following error.

To reproduce create a new lib with (Swift, create example app options)

: pod lib create

then in your podspec file add:

s.dependency 'ZendeskSDK'

goto the Example app created with your lib and run pod install

[charlie@charliembp2015 Example]$ pod install
Analyzing dependencies
Fetching podspec for `Digit

[2016-06-24 15:35] charliepixegon commented on #192
just a note, I also tried adding the following to our pod spec:

s.frameworks = 'MobileCoreServices', 'SystemConfiguration', 'Security', 'MessageUI'

and got the same error.

[2016-06-24 19:09] MaximusMcCann opened #193 "Question, how to pull back "my tickets""
ZDKRequestListViewController has been added to the screen and I've set the identity.
A ticket was created with the "+" icon in the upper right and after sending is present in the tableView.
After logging out and logging back in (and re-setting the ZD identity) I see no tickets.

How do I tell ZDKRequestListViewController to pull down the remote tickets?

[2016-06-24 19:18] MaximusMcCann commented on #193
Have also tried `ZDKRequests.presentRequestListWithViewController(Router.currentVC)`, but with the same result.

[2016-06-26 18:12] wesbillman opened #194 "Ticket List not displaying correctly"
It seems to be broken in both the sample app and when I try to use the latest version of the sdk in my app.

Version 1.6.2.1: 8fd049cfebed51bdcb2bb5d21f0599f6aad9af83

Here's what it looks like while it's transitioning from "Ticket List" button tapped to "My Tickets":
![simulator screen shot jun 26 2016 11 13 01 am](https://cloud.githubusercontent.com/assets/51647/16363948/0825cb40-3b8f-11e6-9683-

[2016-06-26 18:51] mathewcropper commented on #194
Hi Wes. Thanks for reporting this. I just tried to replicate it and wasn't able to do so. I was using a build target of iOS 7.0, and ran the sample app in simulator for both an iPhone 6S and an iPhone 6S Plus. I'm also using Xcode 7.3, and the simulator version is 9.3.

Would you mind sharing some more about your setup, please? It'd be ideal if you were able to capture logs as well (instructions h

[2016-06-26 19:00] wesbillman commented on #194
Hey @mathewcropper I literally just downloaded the v1.6.2.1 release and unzipped it. Then selected iPhone 6s Plus (9.3) and hit ran. After entering my url, id, client id and tapping done, I tapped on "Ticket List". And I can see the issue. I actually see it on older releases too. v1.6.0.1 and v1.6.1.1.

[code]

I'm using Xcode: Version 7.3.1 (7D1014).

You can try slowing down animations to see th

[2016-06-26 19:00] mathewcropper commented on #193
Hi Maximus. If you have chosen to use anonymous authentication this is the expected behaviour. We treat anonymously authenticated users as untrusted, and so changing users or reinstalling the device gives them a new profile each time. That's why you can't see old tickets from before the reset, or tickets created from other channels.

If you'd like to be able to have tickets follow the end-user aro

[2016-06-26 19:02] #193 closed

[2016-06-26 19:18] mathewcropper commented on #194
Thanks, Wes. That was exactly what I needed. I've found the following:

* Your account has conversations disabled. When that's the case, when you access the request list a toast is displayed, with an error.
* When running in simulator at normal speed, I'm not able to recreate this.
* With slow animations enabled, I get the same thing, namely that the toast never properly appears.
* After running i

[2016-06-26 19:24] wesbillman commented on #194
Excellent. Glad I could help.

Thanks for pointing out that conversations are disabled, I'll let my client now :)

[2016-06-28 10:56] StevenDiviney commented on #192
@charliepixegon this is an issue with cocoapods. The SDK is currently only offered as a static library. Cocoapods does not support mixing dynamic and static libraries, more information can be found [on the cocoapods repo](https://github.com/CocoaPods/CocoaPods/issues/3839).

We plan on releasing the SDK as a dynamic library but I am unable to say when. It won't be in the near future.

[2016-06-29 02:01] duyenlv opened #195 "Console warning: ios.ZDKHelpCenter.articleAttachmentsError"

[2016-06-29 02:06] #195 closed

[2016-06-29 02:07] duyenlv opened #196 "Console warning: ios.ZDKHelpCenter.articleAttachmentsError"
https://support.zendesk.com/hc/en-us/community/posts/212701927-Console-warning-ios-ZDKHelpCenter-articleAttachmentsError

My app uses Zendesk SDK to get rate/feedback from users.

In AppDelegate.m / application:didFinishLaunchingWithOptions: method, I added a line:
`[[ZDKConfig instance] initializeWithAppId:ZenDeskAppID zendeskUrl:ZenDeskURL clientId:ZenDeskClient];`

When showing rate/feedback, I

[2016-06-29 09:44] tecknut commented on #196
Hey @duyenlv these are not warnings.

The `[INFO]`at the start of the log message means that the log message contains information which may be convenient. [Our documentation](https://developer.zendesk.com/embeddables/docs/ios/customization#customizing-and-localizing-strings) describes what these log messages are, and what they can be used for.

Thanks

[2016-06-29 09:44] #196 closed

[2016-06-29 14:44] HSchultjan opened #198 "ZendeskSDK.h uses wrong flag for importing the ZendeskProviderSDK"
The flag MODULES_DISABLED is not a valid clang flag.
The proper flag to check would be CLANG_ENABLE_MODULES.
But all #import and #include directives are mapped to use @import automatically, so there is no need to check this flag.

[2016-06-29 14:48] tecknut commented on #198
Hi @HSchultjan (this flag)[https://github.com/zendesk/zendesk_sdk_ios/blob/master/ZendeskSDK.framework/Headers/ZendeskSDK.h#L78] is our own flag which we use internally during development. It is not intended to be `CLANG_ENABLE_MODULES`.

Thanks

[2016-06-29 14:48] #198 closed

[2016-06-29 15:00] HSchultjan commented on #198
Then the header will cause a compile error when CLANG_ENABLE_MODULES is disabled. You should fix that.

[2016-06-29 15:15] tecknut commented on #198
if you have `CLANG_ENABLE_MODULES` set to `NO` you should define `MODULES_DISABLED` in `Preprocessor Macros` in your Xcode build settings and set it to `1`.

[2016-06-29 15:38] HSchultjan commented on #198
Why should i have to do that?

[2016-06-29 15:57] tecknut commented on #198
`CLANG_ENABLE_MODULES` set to `YES` is required for our frameworks reference each other with `@import` when being used in apps using swift. We need to support this.

`CLANG_ENABLE_MODULES` defaults to `YES` in all new projects for some time now. This being the default, we have set up the imports in this way so as to support the majority of those integrating the SDK.

In the case that `CLANG_ENABLE

[2016-06-30 09:05] HSchultjan commented on #198
I know why you use this preprocessor macro, but why should i be forced to do this as well?
There is no technical requirement for me to create the macro. If you only use this macro for internal development it should not be in the header anyways.

[2016-06-30 10:30] tecknut commented on #198
I understand where you’re coming from.

We use this internally to test with apps which have `CLANG_ENABLED_MODULES` set to `NO`, something which is non standard, but supported through this macro.

Without the `@import`, swift apps integrating our SDK cannot compile. We feel that it's important to support as many use cases as we can, and in doing this we need to make choices like this. In this case

[2016-07-01 06:22] kielgillard commented on #158
Hello team, this is still an issue and it would be great to not have a poor user experience when our users are not in a hugely positive frame of mind when they're submitting a ticket in the first place.

[2016-07-01 09:32] oarrabi commented on #158
Hello @kielgillard ,

Sorry for not updating you for long. We prioritized this issue to be fixed and will be delivered in the next release. The next release is expected to be around the end of July.

Thanks :)

[2016-07-01 22:37] kielgillard commented on #158
Thanks for the update. Looking forward to the release!

[2016-07-05 12:53] RonanMcH commented on #179
This was handled internally and has been fixed.

[2016-07-05 12:53] #179 closed

[2016-07-05 12:56] RonanMcH commented on #169
Hi @capecrawler ,
As we haven't heard from you for a while about this issue, I am going to close it for now. Feel free to reopen it if the issue persists for you.
Thanks,
Ronan.

[2016-07-05 12:56] #169 closed

[2016-07-05 13:04] RonanMcH commented on #143
Hi @andrewljohnson ,
Have you managed to reproduce this issue in a sample app yet?
Thanks,
Ronan.

[2016-07-05 15:38] RonanMcH commented on #185
Hi @saraswatayu ,
Have you got anymore feedback for us on this issue?
Ronan.

[2016-07-05 15:48] RonanMcH commented on #149
Hi @kuehnhammer ,
As Steven stated, this is all intentional for an application that doesn't support portrait. I am going to close this issue. Please feel free to open another for any other issues you may encounter with the Support SDK.
Thanks,
Ronan.

[2016-07-05 15:48] #149 closed

[2016-07-05 23:38] nikita-leonov opened #199 "Attachment image overlaps text view while user enters text."
For a ZDKCreateRequestViewController if user enters text and does not press return during entry attachment position is not adjusted and overlaps text view.
![img_0247](https://cloud.githubusercontent.com/assets/991541/16603152/ce815ae8-42ce-11e6-9249-48a37da4ebce.PNG)

[2016-07-05 23:39] nikita-leonov opened #200 "Attachment image overlaps text view after user attached an image."
For a ZDKCreateRequestViewController if user entered a big portion of text and attaches an image afterward attachment will overlap an entered text, so only small portion of text will be visible, more over user will not be able to scroll entered text content to see it fully.

![img_0247](https://cloud.githubusercontent.com/assets/991541/16603191/1082654a-42cf-11e6-9593-0a9a9043f7b0.PNG)

[2016-07-06 12:46] ndobri commented on #200
@nikita-leonov,

Thanks for pointing this out to us. I've added it as an issue internally so we can track the progress. This github issue will be updated once the fix is released.

[2016-07-06 12:53] ndobri commented on #199
@nikita-leonov tracking both issues under #200 issue as it will likely be fixed at the same time.

[2016-07-06 12:53] #199 closed

[2016-07-06 13:32] mindgraffiti opened #201 "Set scrollEnabled = YES on ZDKUITextView in ZDKRequestViewController"
1. Set up and present a ZDKCreateRequestViewController with the attachment button.

[code]

2. Launch the simulator (iPh6 9.3)
3. Type 2-3 paragraphs of text, until the text extends past the attachment button.

*Actual Result*
A white toolbar with the attach button blocks the view and the UITextView has scrolling disabled.

*Expected Result*
The UITextView scrolls so the user can see the rest of t

[2016-07-06 13:54] mindgraffiti opened #202 "Allow customization of ZDKUITextView in the ZDKCreateRequestViewController"
I would like to customize the `return` key in the textview's keyboard to be `send`.

[2016-07-06 14:39] ndobri commented on #176
Hi @RanjitKadam,

I am tentatively going to close this issue due to inactivity. If you still need help around it feel free to reopen it.

[2016-07-06 14:39] #176 closed

[2016-07-06 14:43] ndobri commented on #183
Hi @coreyao,
I am tentatively going to close this issue due to inactivity. If you still need help with it feel free to reopen it.

[2016-07-06 14:43] #183 closed

[2016-07-06 14:45] ndobri commented on #162
@platedbay closing the github issue as it is now tracked within Zendesk support.

[2016-07-06 14:45] #162 closed

[2016-07-06 17:46] mathewcropper commented on #134
Hi @js. I'm the new Product Manager for our SDKs and I thought I'd drop you a line to let you know that in our upcoming release (next month or so) it will be possible to specify multiple category IDs or section IDs when filtering your Help Center. It's been a long time coming, but hopefully this update finds you well.

I'll leave this issue open, and will update the thread when the release goes ou

[2016-07-07 09:43] StevenDiviney commented on #201
@mindgraffiti I am unable to replicate this. Is your project using any other frameworks that might be modifying the the behaviour of UITextView? A quick way to check is integrate the Zendesk SDK into a new project.

Also why are you presenting the request view controller in this way? Our API provides `[ZDKRequests presentRequestCreationWithViewController:<UIViewController>];`. Do you have a requir

[2016-07-07 09:56] StevenDiviney commented on #202
@mindgraffiti We do not provide an API to accomplish this. We try to provide a good deal of flexibility when it comes to customizing the SDK but we can't surface everything.

[2016-07-07 09:56] #202 closed

[2016-07-11 21:56] marbetschar commented on #137
@oarrabi any progress on this? I would love to use the SDK together with Carthage! :)

[2016-07-13 11:08] oarrabi commented on #143
Hello @andrewljohnson,

I will close this issue for now, please don't hesitate to reopon it if in case it's still occurring .

Thanks :)

[2016-07-13 11:08] #143 closed

[2016-07-13 11:09] oarrabi commented on #185
Hello @saraswatayu,

I will close this issue for now, please don't hesitate to reopon it if in case it's still occurring .

Thanks :)

[2016-07-13 11:09] #185 closed

[2016-07-13 12:04] oarrabi commented on #137
Hello @marbetschar, we’re aware of it and would like to provide Carthage support, but I am afraid that it’s not something we are planning to actively work on for some time.

[2016-07-13 15:58] mindgraffiti commented on #201
@StevenDiviney thanks for looking at this. I have used: `[ZDKRequests presentRequestCreationWithViewController:<UIViewController>];` previously and thought they were interchangeable. Both result in the UITextView with scrolling disabled.

I'll create a sample app and see if it reproduces there. If not, I'll return and close this issue.

[2016-07-13 15:58] #201 closed

[2016-07-13 20:28] kevinvanderlugt opened #203 "iOS 10 Crash Report: ZDKHelpCenterCategoriesDataSource.m line 61"
We recently implemented the Zendesk SDK for displaying help center articles.   I am getting consistent crashes when viewing the Zendesk SDK for our help center articles via any iOS 10 Device.

We have approximately 100 active users on iOS 10 already and 10 crashes for 5 users in one day (our largest crash in the app).

Taking the logs out of fabric.  If there is a more private place to share a lin